<div class="container" style="max-width: 100%;">
    <!-- <h2 style="margin-left: 2%;font-family:Times New Roman;font-size:20px;color:rgb(53, 138, 163);font-weight:bold;">
        Prepare Payment</h2> -->
        <h2 style="margin-left: 20px;" class="header">
            Prepare Payment
        </h2>
    <hr>
    <div class="col-md-12">
        <form [formGroup]="perpay">
            <div class="row col-md-12">
                <div class="col-md-3">
                    <mat-form-field style="width: 11rem;margin-left: 8px; ">
                        <mat-label>CR NO</mat-label>
                        <input matInput formControlName="crno" autocomplete="off">
                    </mat-form-field>
                </div>


                <div class="col-md-3">
                    <mat-form-field style="width: 11rem; margin-left: 8px;">
                        <mat-label>Invoice Type</mat-label>
                        <mat-select formControlName="invoicetype" >
                                <mat-option *ngFor="let topping of TypeList" (onSelectionChange)="selectionChangeType($event)" [value]="topping">{{topping.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>



                <div class="col-md-3">
                    <mat-form-field  style="width: 11rem; margin-left: 8px;" (click)="getsupplierdd()">

                        <input #suppInput type="text" placeholder="Supplier" aria-label="Supplier"
                            placeholder="Choose Supplier" matInput formControlName="sup"
                            [matAutocomplete]="suppliertype" >
                        <mat-autocomplete #suppliertype="matAutocomplete" 
                            [displayWith]="displayFnsupplier" (opened)="supplierScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let supp of Supplierlist" [value]="supp" matTooltip="{{supp.name}}">
                                    {{supp.name}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field style="width: 11rem;margin-left: 8px; ">
                        <input type="text" placeholder="Branch" aria-label="Branch" matInput [matAutocomplete]="into"
                            formControlName="bar">
                        <mat-autocomplete #into="matAutocomplete" [class]="'blue-bg'">
                            <mat-option *ngFor="let opt of branch" [value]="opt.name">
                                {{ opt.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>


            <div class=" row col-md-12">
                <div class="col-md-2" style="margin-left: 14px;">
                    <mat-form-field style="width: 9rem; ">
                        <mat-label>Invoice Number</mat-label>
                        <input matInput formControlName="invoice_no" autocomplete="off">
                    </mat-form-field>
                </div>

                <div class="col-md-2" style="margin-left: 14px;">
                    <mat-form-field style="width: 9rem; ">
                        <mat-label>Invoice Amount</mat-label>
                        <input matInput formControlName="inmt" type="number"  autocomplete="off">
                    </mat-form-field>
                </div>

                <div class="col-md-2" style="margin-left: 14px;">
                    <mat-form-field style="width: 9rem;">
                        <mat-label>From Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="invoice_from_date" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-md-2" style="margin-left: 14px;">
                    <mat-form-field style="width: 9rem; ">
                        <mat-label>To date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="invoice_to_date" autocomplete="off"
                            [min]="perpay.controls['invoice_from_date'].value">
                        <mat-datepicker-toggle matSuffix [for]="picker1">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>


                <div class="col-md-3" style="margin-left: 30px;">
                    <button mat-fab style="background-color: white;" aria-label="Search" (click)="search()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-fab (click)="cancel()"
                            style="border-radius:40px;margin-left: 15px;background-color: white;color: black;">Clear
                        </button>
                    <!-- <button class="btn btn-outline-primary" style="border-radius:35px;height: 40px;" (click)="search()">
                        Search
                    </button>

                     -->
                </div>

            </div>

        </form>
    </div>
    <div class="table-responsive" style="margin-left: 20px;">
        <table class="table" style="margin-top: 10px;max-width: 100%;" id='commonstyle'>
            <thead class="table_header">
                <tr  style="background-color:#EDF8FA;text-align: center;">
                    <th>S.No</th>
                    <th>CR.No</th>
                    <th>Invoice Type</th>
                    <th>Supplier Name</th>
                    <th>Employee Name</th>
                    <th>Invoice NO</th>
                    <th>Invoice Date</th>
                    <th>Status</th>
                    <th>Invoice Credit Amount</th>
                    <th>Invoice Amount</th>
                    <th>Click</th>
                    <!-- <th>Netting</th> -->

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data;let i=index" style="text-align:center">
                    <td>{{i+1}}</td>
                    <td>{{d.crno}}</td>
                    <td>{{d.invoicetype.text}}</td>
                    <td>{{d.supplier.name}}</td>
                    <td>{{d.raiser_employeename}}</td>
                    <td>{{d.invoice_no}}</td>
                    <td>{{d.invoice_date | date:'dd-MMM-yyyy'}}</td>
                    <td>{{d.status.text}}</td>
                    <td>{{d.apcredit["data"][0]?.amount | number:'1.2-2'}}</td>
                    <td>{{d.apamount | number:'1.2-2'}}</td>
                    <td> <input type="checkbox" (click)="checkbox(i,d,$event)" [checked]="checkboxData[i] == true"
                            class="example-margin"></td>
                    <!-- <td> <input type="checkbox" class="example-margin"></td> -->
                    <!-- [checked]="(checknumb != i)? 'false': 'true'"  -->
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="data?.length==0; else paginationpage" class="NodataAlign">No Records Found...</div>
    <ng-template #paginationpage>
        <div class="row">
            <!-- <button mat-icon-button [disabled]="has_previous === false" color="primary"
                (click)="previousClick()">
                <mat-icon>arrow_back
                </mat-icon>
            </button>
            {{presentpage}}
            <button mat-icon-button [disabled]="has_next === false" color="primary"
                (click)="nextClick()">
                <mat-icon>arrow_forward
                </mat-icon>
            </button> -->
            <div  class="col-sm-3" style="margin-bottom: 5%;font-size: small;text-align:left;right:-225px;">
                <p style="color:black;font-size: 18px;font-weight: 500;margin-left: -220px;">
                    Total Count:{{getcototalcount}}
                </p> 
            </div>
           
            <div class="col-sm-9" style="font-size: small;text-align: right; margin-bottom: 50px;">
                <button type="button" class="btn btn-outline-primary"
                style="border-radius:40px;height: 44px; margin-top: 12px;"
                data-toggle="modal" data-target="#payment" (click)="prepare(absolutedata)">Prepare Payment</button>
                <button mat-icon-button [disabled]="has_previous === false" color="primary"
                    (click)="previousClick()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{presentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary"
                    (click)="nextClick()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </ng-template>
    
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabels" aria-hidden="true"
    id="payment">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background:#21cbe5;color:rgb(31, 29, 29);text-align: center;">
                <h2 class="modal-title" style="text-align:center;margin-left:45%">Payment Data</h2>
                <button class="close" type="button" #payementsubmit data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" class="tablescroll"
                    style="margin-top: 10px;width: 100%;margin-left: 10px;overflow: auto;">
                    <table class="table table scrolltable table-bordered" style="width: 99%; margin-top: 10px;">
                        <thead class="table_header " fixed-header>
                            <tr>
                                <th>S.NO</th>
                                <th>Cr.NO</th>
                                <th>Paymode</th>
                                <th>Invoice Type</th>
                                <th>Supplier Name</th>
                                <th>Employee Name</th>
                                <th>Bank Name</th>
                                <th>Bank Account Number</th>
                                <th>Branch IFSC Code</th>
                                <th>Beneficiary Name</th>
                                <th>Invoice No</th>
                                <th>Invoice Date</th>
                                <th>Invoice Credit Amount</th>
                                <th>Invoice Amount</th>
                                <th>Amount To Pay</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let p of pvlist;let i=index" style="text-align:center">
                            <td>{{i+1}}</td>
                            <td>{{p?.crno}}</td>
                            <td>{{p?.credit_paymode.name}}</td>
                            <td>{{p?.invoicetype.text}}</td>
                            <td>{{p?.supplier.name}}</td>
                            <td>{{p?.raiser_employeename}}</td>
                            <td *ngIf="p.pay_to == 'S'">{{p?.supplierpayment_details['data'][0]?.bank_id?.name}}</td>
                            <td *ngIf="p.pay_to == 'E'">{{p?.employee_accountdtls?.bank_name}}</td>
                            <td *ngIf="p.pay_to == 'S'">{{p?.supplierpayment_details['data'][0]?.account_no}}</td>
                            <td *ngIf="p.pay_to == 'E'">{{p?.employee_accountdtls?.account_number}}</td>
                            <td *ngIf="p.pay_to == 'S'">{{p?.supplierpayment_details['data'][0]?.branch_id?.ifsccode}}</td>
                            <td *ngIf="p.pay_to == 'E'">{{p?.employee_accountdtls?.bankbranch?.ifsccode}}</td>
                            <td *ngIf="p.pay_to == 'S'">{{p?.supplierpayment_details['data'][0]?.beneficiary}}</td>
                            <td *ngIf="p.pay_to == 'E'">{{p?.employee_accountdtls?.beneficiary_name}}</td>
                            <td>{{p?.invoice_no}}</td>
                            <td>{{p?.invoice_date | date:'dd-MMM-yyyy'}}</td>
                            <td>{{p?.apamount | currency:'INR'}}</td>
                            <td>{{p?.invoice_amount | currency:'INR'}}</td>
                            <td>{{p?.apcredit['data'][0]?.amount | currency:'INR'}}</td>
                        </tr>
                    </table>
                    <div class="cen" style="text-align: center;">
                        <!-- <button type="button" class="btn btn-outline-primary" style="margin-right:10px;" >Submit</button>
                <button type="button" class="btn btn-outline-primary" style="margin-right:20px;" >Close</button> -->
                        <button type="button" class="btn btn-outline-primary"
                            style="border-radius:40px;margin-left: 12px;" [disabled]="payementsubmitflage" (click)="paymentsubmitts()">Submit</button>
                        <button type="button" data-dismiss="modal" class="btn btn-outline-primary"
                            style="border-radius:40px;margin-left: 12px;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>