<div class="container" style="margin-left: 20px;">
    <h1 style="font-size: 24px;font-family: 'Times New Roman', Times, serif;color: blue;">Employee Bank Add</h1>
</div>
<hr>
<div class="container">
   
</div>
<div class="container">
   <form [formGroup]="empformadd">
       <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Employee <label style="color:red">*</label></mat-label>
                    <input type="text" matInput formControlName="empcode"  [matAutocomplete]="codeemp" (click)="getcodedata()" #codeinput (keypress)="keypressnodigit($event)">
                    <mat-autocomplete #codeemp="matAutocomplete" [displayWith]="getempcodeinterface" (opened)="autocompleteDeptScrollcode()">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of empcodelist" [value]="d">{{d.code}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Pay Mode<label style="color:red">*</label></mat-label>
                    <input type="text" matInput formControlName="paymode"  maxlength="20" [matAutocomplete]="payemp" (click)="getpayadata()" #payinput (keypress)="keypressnodigit($event)">
                    <mat-autocomplete #payemp="matAutocomplete" [displayWith]="getemppaymodeinterface" (opened)="autocompleteDeptScrollpay()">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of emppaycodelist" [value]="d">{{d.name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Bank Name<label style="color:red">*</label></mat-label>
                    <input type="text" matInput formControlName="bankname" maxlength="60"  [matAutocomplete]="bankemp" (click)="getbankdata()" #bankinput (keypress)="keypressnodigit($event)">
                    <mat-autocomplete #bankemp="matAutocomplete" [displayWith]="getempbanknameinterface" (opened)="autocompleteDeptScrollBank()">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of banknamelist" [value]="d">{{d.name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Branch Name<label style="color:red">*</label></mat-label>
                    <input type="text" matInput formControlName="branchname" maxlength="60"  [matAutocomplete]="branchemp" (click)="getbranchdata()" #branchinput (keypress)="keypressnodigit($event)">
                    <mat-autocomplete #branchemp="matAutocomplete" [displayWith]="getempbranchinterface" (opened)="autocompleteDeptScrollBranch()">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of branchnamelist" [value]="d">{{d.name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
       </div>
       <div class="row">
           <div class="col-md-3">
               <mat-form-field style="width: 250px;">
                   <mat-label>Account No<label style="color:red">*</label></mat-label>
                   <input  matInput formControlName="accountno"  [minlength]="15" [maxlength]="18" (keypress)="keypressd($event)">
               </mat-form-field>

           </div>
           <div class="col-md-4">
               <mat-form-field style="width: 250px;">
                   <mat-label>Beneficiary Name<label style="color:red">*</label></mat-label>
                   <input type="text" matInput maxlength="128" formControlName="benifiencyname" (keypress)="keypressdd($event)" >
               </mat-form-field>
           </div>
           <div class="col-md-2">
               <button type="button" class="btn btn-success" style="border-radius: 40px;" (click)="submitempform()" >Submit</button>
           </div>
           <div class="col-md-2">
                <button type="button" class="btn btn-primary " routerLink="/master/empbank" style="border-radius: 40px;">Cancel</button>
           </div>

       </div>
   </form>
    <br>
    <!-- <table class="table table-bordered">
        <thead class="table_header">
            <tr>
                <th>S.No</th>
                <th>Employee Name</th>
                <th>Employee Code</th>
                <th>PayMode Code</th>
                <th>Bank Name</th>
                <th>Bank Branch</th>
                <th>Bank AC No</th>
                <th> Beneficiary Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of empsummarylist;let i=index">
                <td>{{(presentPage-1)*pageSize+i+1}}</td>
                <td>{{d.employee_full_name}}</td>
                <td>{{d.employee_code}}</td>
                <td>{{d.paymode_name}}</td>
                <td>{{d.bank_name}}</td>
                <td>{{d.bankbranch}}</td>
                <td>{{d.account_number}}</td>
                <td>{{d.beneficiary_name}}</td>
                <td><button mat-icon-button type="button" (click)="empactiveinactivedata(d)" [ngClass]="d.status?'visible':'inactine'">
                    <mat-icon  >wb_sunny</mat-icon>
                </button></td>
            </tr>
            <tr *ngIf="empsummarylist.length==0">
                <td colspan="9">No Records Found</td>
            </tr>
        </tbody>

    </table>
    <div class="text-right">
        <button [disabled]="!has_next" mat-icon-button><mat-icon>arrow_back</mat-icon></button>{{presentPage}}
        <button [disabled]="!has_pre" mat-icon-button><mat-icon>arrow_forward</mat-icon></button>
    </div> -->
    <br>
    <br>
</div>