<div class="container">
    <h2>PPR Head Group</h2>
    <form [formGroup]="head_groupsummary">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field (click)="source_dropdown()">
                        <mat-label>Source Name </mat-label>
                        <input placeholder="Source Name" matInput formControlName="source"
                            [matAutocomplete]="sourceauto">
                        <mat-autocomplete #sourceauto="matAutocomplete" [displayWith]="displayfnsource">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let name_code of source_data" [value]="name_code">
                                    ({{name_code.code}}){{name_code.name}} </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field (click)="headgrp_dropdown()">
                        <mat-label>Head Group Name </mat-label>
                        <input placeholder="Head Group Name" matInput formControlName="headgrp"
                            [matAutocomplete]="headauto">
                        <mat-autocomplete #headauto="matAutocomplete" [displayWith]="displayfnheadgrp">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let head_grp of headgrp_data" [value]="head_grp">
                                    ({{head_grp.code}}){{head_grp.name}} </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <div style="text-align: center;cursor: pointer;">
                        <button class="btn btn-outline-primary" style="border-radius: 40px;"
                            (click)="headgrp_summary_search(head_groupsummary.value)">
                            Search
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-primary" style="border-radius: 40px;" data-toggle="modal" data-target="#headegrpAdd">
                        Add
                        </button>
                </div>
            </div>
        </div>
    </form>

    <!-- summary -->
    <div style="margin-top: 6%;" class="tableFixHead">
        <table class="table table-bordered" id="commonstyle" fixed-header>
            <thead>
                <th>Head Group Name</th>
                <th>Description</th>
                <!-- <th>Source Name</th> -->
                <th>Edit</th>
                <th>View</th>
            </thead>
            <tbody>
                <tr *ngFor="let headgrpsummary of headgrp_summary">
                    <td>({{headgrpsummary.code}}){{headgrpsummary.name}}</td>
                    <td>{{headgrpsummary.description}}</td>
                    <!-- <td>({{headgrpsummary.sourcecode}}){{headgrpsummary.sourcecode}}</td> -->
                    <td class="text-center">
                        <a style="color:#2177e5;cursor: pointer;"  data-toggle="modal" data-target="#headgrpedit"  matTooltip="Edit"  (click)='editview_headgrp(headgrpsummary)'>
                            <mat-icon>edit</mat-icon>
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <a style="color:#2177e5;cursor: pointer;" matTooltip="View" data-toggle="modal" data-target="#headgrpview" (click)='editview_headgrp(headgrpsummary)'>
                            <mat-icon>visibility</mat-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-bottom: 5%;font-size: small;text-align:right;">
            <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick(head_groupsummary.value)">
                <mat-icon>arrow_back</mat-icon>
            </button> {{presentpage}}
            <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClickhead_groupsummary(head_groupsummary.value)">
                <mat-icon>arrow_forward</mat-icon>
            </button>

        </div>
    </div>

      <!--ADD Modal -->
  <div class="modal fade" data-backdrop="static" id="headegrpAdd" tabindex="-1" role="dialog" aria-labelledby="headergrpAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="headergrpAddLabel">Header Group Add</h2>
          <button type="button" class="close" #closepopadd data-dismiss="modal" (click)="clearheadergrp()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
	        <form [formGroup]="headergroup">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Name</mat-label>
                                <input matInput placeholder="Name" autocomplete="off" formControlName="headgrpname">
                            </mat-form-field>                       
                        </div>
                       
                        <div class="col-md-3">
                            <mat-form-field (click)="addsource_dropdown()"  appearance="outline">
                                <mat-label>Source Name </mat-label>
                                <input placeholder="Source Name" matInput formControlName="source"
                                    [matAutocomplete]="addsourceauto">
                                <mat-autocomplete #addsourceauto="matAutocomplete" [displayWith]="displayfnsourceadd">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let namecode of sourcedata" [value]="namecode">
                                            {{namecode.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Description</mat-label>
                                <textarea matInput placeholder="Description" autocomplete="off" formControlName="description"></textarea>
                            </mat-form-field>                       
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clearheadergrp()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save_source(headergroup.value,1)">Submit</button>
        </div>
      </div>
    </div>
  </div>

   <!-- edit -->
   <div class="modal fade" data-backdrop="static" id="headgrpedit" tabindex="-1" role="dialog" aria-labelledby="headergrpeditLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="headergrpeditLabel">PPR Scorce Edit</h2>
          <button type="button" class="close" #closepopedit data-dismiss="modal" (click)="clearheadergrp()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="headergroup">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Name</mat-label>
                                <input matInput placeholder="Name" autocomplete="off" formControlName="headgrpname">
                            </mat-form-field>                       
                        </div>
                       
                        <div class="col-md-3">
                            <mat-form-field (click)="addsource_dropdown()"  appearance="outline">
                                <mat-label>Source Name </mat-label>
                                <input placeholder="Source Name" matInput formControlName="source"
                                    [matAutocomplete]="addsourceauto">
                                <mat-autocomplete #addsourceauto="matAutocomplete" [displayWith]="displayfnsourceadd">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let namecode of sourcedata" [value]="namecode">
                                            {{namecode.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Description</mat-label>
                                <textarea matInput placeholder="Description" autocomplete="off" formControlName="description"></textarea>
                            </mat-form-field>                       
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clearheadergrp()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save_source(headergroup.value,2)">Submit</button>
        </div>
      </div>
    </div>
  </div>

   <!--view  -->
   <div class="modal fade" data-backdrop="static" id="headgrpview" tabindex="-1" role="dialog" aria-labelledby="headergrpviewLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="headergrpviewLabel">PPR Scorce View</h2>
          <button type="button" class="close"  data-dismiss="modal" (click)="clearheadergrp()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
	       
                    <form [formGroup]="headergroup">
        
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Enter The Name</mat-label>
                                        <input matInput placeholder="Name" autocomplete="off" formControlName="headgrpname" readonly>
                                    </mat-form-field>                       
                                </div>
                               
                                <div class="col-md-3">
                                    <mat-form-field (click)="addsource_dropdown()"  appearance="outline">
                                        <mat-label>Source Name </mat-label>
                                        <input placeholder="Source Name" matInput formControlName="source"
                                            [matAutocomplete]="addsourceauto" readonly>
                                        <mat-autocomplete #addsourceauto="matAutocomplete" [displayWith]="displayfnsourceadd">
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let namecode of sourcedata" [value]="namecode">
                                                    {{namecode.name}} </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Enter The Description</mat-label>
                                        <textarea matInput placeholder="Description" autocomplete="off" formControlName="description" readonly></textarea>
                                    </mat-form-field>                       
                                </div>
                            </div>
                        </div>
                    </form>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clearheadergrp()" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>