::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }



::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: x-large;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}