
   <div style="margin-left: 19px;margin-right: 90%;margin-top: 3%; width: 100%;">
    <div>
        <form [formGroup]="kycform">
    
            <table>
               
                <tr>
                    <td>
                        <mat-label>Entity<label style="color:red">*</label></mat-label><br>
                        <mat-form-field style="width: 175px;" class="matformfieldstyle" appearance="outline">

                            <input matInput formControlName="kyc_entity" class="matformfieldinputstyle"
                                type="text"  autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label style="margin-left: 60px;"> {{ keyname }} <label style="color:red">*</label></mat-label><br>
                        <mat-form-field style="width: 175px;margin-left: 60px;" class="matformfieldstyle" appearance="outline">

                            <input matInput formControlName="organization_name" class="matformfieldinputstyle"
                                type="text"  autocomplete="off">
                        </mat-form-field>
                    </td>
                
                    
                    <td *ngIf="(this.orgname != 'Individual' && this.orgname != 'Sole Proprietorship')">
                        <mat-label style="margin-left: 60px;">Authorised Signatories<label style="color:red">*</label></mat-label><br>
                        <mat-form-field style="width: 175px;margin-left: 60px;" class="matformfieldstyle" appearance="outline">

                            <input matInput formControlName="authorised_signatories" class="matformfieldinputstyle"
                                type="text"  autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td *ngIf="(this.orgname != 'Individual' && this.orgname != 'Sole Proprietorship' && this.orgname != 'Public Limited (listed)')">
                        <mat-label style="margin-left: 60px;">Beneficial Owners<label style="color:red">*</label></mat-label><br>
                        <mat-form-field style="width: 175px;margin-left: 60px;" class="matformfieldstyle" appearance="outline">

                            <input matInput formControlName="beneficial_owners" class="matformfieldinputstyle"
                                type="text"  autocomplete="off">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-label>Sanctions Screening<label style="color:red">*</label> </mat-label><br>
                        <mat-form-field class="matformfieldstyle" style="width: 175px;" appearance="outline">
                            <mat-select  class="matformfieldinputstyle" formControlName="sanctions_conducted">
                                <mat-option *ngFor="let san of sanction" [value]="san">{{san.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-label style="margin-left: 60px;">Match Found<label style="color:red">*</label></mat-label><br>
                        <mat-form-field class="matformfieldstyle" style="width: 175px;margin-left: 60px;" appearance="outline">
                            <mat-select  class="matformfieldinputstyle" formControlName="match_found">
                                <mat-option *ngFor="let match of matchfound" [value]="match">{{match.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
               <table>
                <tr>
                <td>
                    <label  style="margin-right: 1em;">
                        <input type="file" class="borderremove" #fileInput accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,
                        .dotx,.dotm,.docb,
                        .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png"
                            multiple="true"  name="images" 
                            (change)="fileChange($event)">
                    </label>
                </td>
                <button  style="border-radius: 40px;" class="btn btn-outline-primary" (click)="addKYC()" >Add</button>
                </tr>
               </table>
                  
            

            <div class="table-responsive" style="width: 97%;margin-top: 10px;overflow-x: hidden;">
            
                <table class="table" id ='commonstyle'>
                <thead class="table_header" >
                    <tr>
                    <th>Sl.no</th>
                    <th>Entity</th>
                    <th *ngIf="this.orgname == 'Individual'">Individual</th>
                    <th *ngIf="this.orgname == 'Sole Proprietorship'">Sole Proprietor</th>
                    <th *ngIf="(this.orgname != 'Individual' && this.orgname != 'Sole Proprietorship')">Directors</th>
                    <th *ngIf="(this.orgname != 'Individual' && this.orgname != 'Sole Proprietorship' && this.orgname != 'Public Limited (listed)')">Beneficial Owners</th>
                    <th *ngIf="(this.orgname != 'Individual' && this.orgname != 'Sole Proprietorship')">Authorised Signatories</th>
                    <th>Sanctions Screening Conducted</th>
                    <th>Match Found</th>
                    <th>Report</th>
                    <th>Action</th>
        
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let display of kycFunctionList; let i = index; ">
                        <td>{{i+1}}</td>
                        <td>{{ display.kyc_entity | titlecase}}</td>
                        <td *ngIf="this.orgname == 'Individual'">{{ display.organization_name | titlecase}}</td>
                        <td *ngIf="this.orgname == 'Sole Proprietorship'">{{ display.organization_name | titlecase}}</td>
                        <td *ngIf="(this.orgname != 'Individual' && this.orgname != 'Sole Proprietorship')">{{ display.organization_name | titlecase}}</td>
                        <td *ngIf="(this.orgname != 'Individual' && this.orgname != 'Sole Proprietorship' && this.orgname != 'Public Limited (listed)')">{{ display.beneficial_owners | titlecase}}</td>
                        <td *ngIf="(this.orgname != 'Individual' && this.orgname != 'Sole Proprietorship')">{{ display.authorised_signatories | titlecase}}</td>
                        <td>{{ display.sanctions_conducted.name }}</td>
                        <td>{{ display.match_found.name }}</td>
                        <td style="font-size: small;width: 150px;cursor: pointer;">
                            <div *ngFor="let file of display.filekey ;index as i;" title="{{file.name }}" class=" btn-link"
                            data-target="#my-modalpreview" data-toggle="modal" (click)="fileview(file)">
                                {{i+1}}.{{file.name }}

                            </div>
                        </td>
                        <td>
                            <mat-icon style="color: gray;cursor: pointer;" (click)="kycListDelete(i)">delete</mat-icon>
                        </td> 
                    </tr>
              </tbody>
            </table>
            </div>


            
            <div style="margin-top:3%;margin-left: 10px;">
                <button type="button" class="btn btn-light"
                style="border-radius: 7px;margin-left: 10px;
                border-color: black;
                background-color: white;"
                (click)="onCancelClick()">Cancel</button>
                <button type="submit" style="border-radius: 10px;margin-left: 10px;
                border-color: #f5c68b;
                background-color: #f5c68b;"
                 class="btn btn-light" (click)="submitForm()" >Submit</button>
               </div> 
            </form>
    </div>
   </div>


   <div *ngIf="showimageHeaderPreviewPDF" id="my-modalpreview" class="modal fade" aria-labelledby="my-modalLabel"
    aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background:#21cbe5;">
                <h2 class="modal-title">PDF View</h2>
            </div>
            <pdf-viewer [src]="pdfurl" [render-text]="true" [original-size]="false"
                style="display: block;width: 800px; height: 800px;"></pdf-viewer>
        </div>
    </div>
</div>
<div *ngIf="showimageHeaderPreview" id="my-modalpreview" class="modal fade" aria-labelledby="my-modalLabel"
    aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" data-dismiss="modal" style="width: 60%;height: 80%;">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{{jpgUrls}}" class="img-responsive" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
   
   <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen] = "true" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>

  
