<div style="background-color: #F6F6F6">
    <mat-card style="margin-top: 13px;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;">
        <div style="margin-left: 10px;margin-top: 1%; width: 100%;">
            <h2 style="font-weight: bold;">
                JV Creation
            </h2>


            <div>
                <form [formGroup]="JVcreationForm" autocomplete="off">
                    <table>
                        <div>
                            <tr>
                                <td>

                                    <mat-label>Type<label style="color:red">*</label></mat-label><br>
                                    <mat-form-field class="matformfieldstyle" appearance="outline" style="width:200px">
                                        <mat-select class="matformfieldinputstyle" placeholder="Type"
                                            formControlName="jetype">
                                            <mat-option *ngFor="let type of TypeList" [value]="type.id" (click)="getheadertype(type)" matTooltip=" {{type.text}}">
                                                {{type.text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td *ngIf="showjv">
                                    <mat-label style="margin-left: 50px;">JV Number</mat-label><br>
                                    <mat-form-field class="matformfieldstyle" style="width: 200px;margin-left: 50px;"
                                        appearance="outline">
                                        <input type="text" matInput formControlName="jerefno" placeholder="JV Number"
                                            autocomplete="off" class="matformfieldinputstyle">
                                    </mat-form-field>

                                    &nbsp;&nbsp;&nbsp;
                                    <button mat-fab style="background-color: blue;margin-left: 5px;color:white"
                                        aria-label="Search" matTooltip="JV Number Search" (click)="searchjvno()" [disabled]="JVcreationForm?.value?.jerefno==''">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </td>

                                <td *ngIf="showjv">
                                    <mat-label style="margin-left: 50px;">CR Number</mat-label><br>
                                    <mat-form-field class="matformfieldstyle" style="width: 200px;margin-left: 50px;"
                                        appearance="outline">
                                        <input type="text" matInput formControlName="jerefno" placeholder="CR Number"
                                            autocomplete="off" class="matformfieldinputstyle">
                                    </mat-form-field>

                                    &nbsp;&nbsp;&nbsp;
                                    <button mat-fab style="background-color: blue;margin-left: 5px;color:white;"
                                        aria-label="Search" matTooltip="CR Number Search" (click)="searchcrno()" [disabled]="JVcreationForm?.value?.jerefno==''">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <mat-label>Transaction Date<label style="color:red">*</label>
                                    </mat-label><br>
                                    <mat-form-field style="width: 185px;" class="matformfieldstyle"
                                        appearance="outline">

                                        <input matInput [matDatepicker]="picker1" class="matformfieldinputstyle"
                                            [max]="today" autocomplete="off" formControlName="jetransactiondate"
                                            placeholder="Transaction Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </td>

                                <td>
                                    <mat-label style="margin-left: 50px">Branch<label style="color:red">*</label>
                                    </mat-label><br>

                                    <mat-form-field class="matformfieldstyle" style="width: 200px;margin-left: 50px; "
                                        appearance="outline" (click)="getbranchdropdown()">

                                        <input #branchInput class="matformfieldinputstyle" matInput
                                            formControlName="jebranch" [matAutocomplete]="branchtyperole"
                                            placeholder="Choose Branch" autocomplete="off">
                                        <mat-icon matSuffix class="maticonsize">unfold_more</mat-icon>
                                        <mat-autocomplete [panelWidth]="400" #branchtyperole="matAutocomplete"
                                            [displayWith]="displayFnbranchrole" (opened)="branchScroll()">
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let branch of Branchlist" [value]="branch" matTooltip="{{branch.code}}-{{branch.name}}">
                                                    {{branch.code}}-{{branch.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                                <td>

                                    <input #fileInputs id="uploadFile" type="file" multiple
                                        style="width: 250px;margin-left: 50px;" (change)="fileupload($event)">

                                    &nbsp;&nbsp;&nbsp;&nbsp;

                                    <button type="button" class="btn btn-outline-primary" matTooltip="Upload data"
                                        (click)="getuploaddata()" style="border-radius:40px;margin-left:15px;" [disabled]="JVcreationForm?.value?.filekeys ==''"><span
                                            class="fa fa-upload" ></span></button>

                                           

                                            <div *ngFor="let upload of uploadList;index as i"  style="margin-left:50px">
                                                <!-- class="btn-link" -->
                                                {{ upload}}
                                                <button mat-icon-button type="button"
                                                  >
                                                    <mat-icon style="color: gray;" aria-label="Edit"
                                                        (click)="deleteUpload(upload, i)">
                                                        delete</mat-icon>
                                                </button>

                                                

                                            </div>
                                            <div>
                                                <h3  (click)="downloadtemplate()" 
                                                style="cursor: pointer;color:blue;font-family: 'Montserrat';margin-left: 50px;" class="btn btn-link" matTooltip="Download">Sample Template</h3>
                                            </div>
                                           
                                          

                                </td>
                            </tr>
                        </div>
                    </table>
                    <br><br>


                    <div class="table-responsive" style="width:100%;margin-top: 1%;">
                        <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
                            <thead class="table_header" style="text-align: left;">
                                <tr>
                                    <th>S.No</th>
                                    <th>Entry Type</th>
                                    <th>Branch</th>
                                    <th>AP Category</th>
                                    <th>AP Subcategory</th>
                                    <th>BS</th>
                                    <th>CC</th>
                                    <th>CBS GL</th>
                                    <th>Description</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let updata of uploadeddata;index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{updata?.EntryType_id}}</td>
                                    <td>{{updata?.Branch?.code}}-{{updata?.Branch?.name}}</td>
                                    <td>{{updata?.Category?.code}}</td>
                                    <td>{{updata?.Subcategory?.code}}</td>
                                    <td>{{updata?.BS?.name}}</td>
                                    <td>{{updata?.CC?.name}}</td>
                                    <td>{{updata?.CBSGL}}</td>
                                    <td>{{updata?.Description}}</td>
                                    <td>{{updata?.Amount}}</td>
                                </tr>

                                <tr>
                                    <th class="totaldisplay" colspan="7" style="text-align: end;">Sum Of
                                        Debits:&nbsp;{{debitsum | currency:'INR'}}</th>
                                    <th class="totaldisplay" colspan="2">Sum Of Credits:&nbsp;{{creditsum |
                                        currency:'INR'}}</th>
                                    <th class="totaldisplay" colspan="8">Total Count:&nbsp;{{totalcount}}</th>



                                </tr>


                            </tbody>
                        </table>

                    </div>

                    <br><br>
                    <tr>
                        <td>
                            <mat-label>Description<label style="color:red">*</label>
                            </mat-label><br>
                            <mat-form-field class="matformfieldstyle" style="width: 400px;" appearance="outline">
                                <textarea  type="text" matInput formControlName="jedescription" autocomplete="off"
                                    class="matformfieldinputstyle" placeholder="Description"  (keypress)="characterandnumberonly($event)"></textarea>
                            </mat-form-field>

                            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;

                            <input #fileInput id="uploadFiles" type="file" multiple style="width: 250px;"
                                (change)="fileuploads($event)">

                                <!-- <div *ngFor="let upload of uploadLists;index as i"  style="margin-left:470px" class="btn-link">
                                    
                                    {{ upload}}
                                    <button mat-icon-button type="button"
                                      >
                                        <mat-icon style="color: gray;" aria-label="Edit"
                                            (click)="deleteUploads(upload, i)">
                                            delete</mat-icon>
                                    </button>

                                </div> -->

                                <div style="margin-left:470px" class="btn-link"
                                *ngFor="let files of JVcreationForm?.value?.filevalue; let index = index">
                                <p (click)="filepreview(files)" data-toggle="modal"
                                    data-target="#my-modalpreview"
                                    style="color: #0000EE;cursor: pointer;">
                                    {{index+1}}.{{files?.name}} 
                                <span (click)="deleteUploads(files,index)"
                                   >
                                    <mat-icon matTooltip="Delete">delete
                                    </mat-icon>
                                </span>

                            </p>

                            </div>

                        </td>
                        &nbsp; &nbsp; &nbsp;




                       

                    </tr>




                </form>
            </div>


            <br><br>
            <tr>
                <td>
                    <button type="submit" style="border-radius:10px;margin-left: 450px;margin-bottom:2%;
            border-color: #f5c68b;
            background-color: #f5c68b;" class="btn btn-light" (click)="submitjv()" [disabled]="JVcreationForm.value.filevalue.length == 0">Save</button>

                    <button type="button" class="btn btn-light" style="border-radius:7px;margin-left:25px;margin-bottom: 10px;
                margin-top :-2px;
                border-color: black; 
                background-color: white;" (click)="goback()">Back</button>

                </td>

            </tr>
        </div>

    </mat-card>
</div>


<div *ngIf="showimageHeaderPreview" id="my-modalpreview" class="modal fade" aria-labelledby="my-modalLabel"
    aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" data-dismiss="modal" style="width: 60%;height: 80%;">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <img src="{{jpgUrls}}" class="img-responsive" style="width: 100%;">

            </div>
        </div>
    </div>
</div>

<div *ngIf="showimageHeaderPreviewPDF" id="my-modalpreview" class="modal fade" aria-labelledby="my-modalLabel"
    aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background:#21cbe5;">
                <h2 class="modal-title"> JV Attachments</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <pdf-viewer [src]="pdfurl" [original-size]="false" [render-text]='false' [show-borders]="true"
                [fit-to-page]="true" [show-all]="true" style="display: block; height: 600px;" [fit-to-page]="true">
            </pdf-viewer>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>