<div style="margin-top: 15px;margin-left: 15px;">
    <div class="row">
        <div class="col-12">
            
                <form [formGroup]="memoSearchForm" (ngSubmit)="searchClick()">
                    <mat-form-field style="width:10rem; margin-left: 20px; margin-left: 7px;">
                        <mat-label>Tour No</mat-label>
                        <input matInput placeholder="Subject" (change)="tourno($event)" formControlName="tourno">
                    </mat-form-field>
                    <mat-form-field style="width:10rem; margin-left: 20px; margin-left: 7px;">
                        <mat-label>Tour Request Date</mat-label>
                        <input matInput readonly [matDatepicker]="picker1" (dateChange)="fromDateSelection($event.value)" 
                                placeholder="Request Date" autocomplete="off" formControlName="requestdate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                 
                    <button mat-fab style="margin-left: 20px;" (click)="tourMakerSearch()" color="primary" aria-label="Search">
                        <mat-icon>search</mat-icon>
                      </button>
                <button mat-fab style="margin-left: 20px;" (click)="canceladd()" color="primary" aria-label="Tour Maker">
                    <mat-icon>add</mat-icon>
                    </button>
                <button class="btn btn-outline-primary" type="clear"(click)="clearclick()" style="border-radius:40px;margin-left: 15px;"
                color="primary">Clear</button>
                <div>
                <mat-radio-group aria-label="Select an option">
                 <mat-radio-button ng-value="green" (click)="tourcancell()" class="my-radio" >Tour</mat-radio-button>
                <mat-radio-button value="2" (click)="advancetour()">Touradvance</mat-radio-button>
            
                </mat-radio-group>
            </div>
                <!-- <div class="custom-control custom-radio">
                <input id="tour" type="radio" class="custom-control-input" value="tour"  ngModel>
                <label class="custom-control-label" for="tour">Tour</label>
                 </div>      -->
              <!-- <div class="custom-control custom-radio">
                <input id="touradvance" type="radio" class="custom-control-input" value="touradvance" ngModel>
                <label class="custom-control-label" for="touradvance">Tour Advance</label>
                </div> -->
            </form>
        </div>
    </div>
    <div *ngIf="tour">
    <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
        <thead class="table_header" style="text-align: left;">
        <tr>
            <th>S.No</th>
            <th>Tour No</th>
            <th>Tour RequestDate</th>
            <th>Employee Name </th>
            <th>Employee Grade</th>
            <th>Cancel Status</th>
            <th>ExpenseDetails</th>
        </tr>
    </thead>
<tbody> 
    <tr *ngFor="let tourcancel of getcancelsummList; index as i">
   <td scope="row"  style="vertical-align: middle;">{{(this.tourcancelsummarypage - 1)*pagesize +i+1 }}</td>
    <td>{{tourcancel.tourgid}}</td>
    <td>{{tourcancel.requestdate| date:'dd-MMM-yyyy'}}</td>
    <td>({{tourcancel.employee_code}}) {{tourcancel.employee_name}}</td>
    <td>{{tourcancel.empgrade}}</td>
    <td>{{tourcancel.tour_cancel_status}}</td>   
    <td><button mat-icon-button matTooltip=" Edit" class="iconbutton" (click)="canceledit(tourcancel)" color="primary">
        <mat-icon style="color: green;" aria-label="Edit">edit</mat-icon>
    </button>
    </td>
        
    </tr>
</tbody>
</table>
<div class="row">
    <div class="col-sm-12" style="font-size: small;text-align:right;margin-bottom: 5%;">
        <button mat-icon-button [disabled]="has_previous === false" color="primary"
        (click)="TourcancelpreviousClick()">
        <mat-icon >arrow_back</mat-icon>
        </button>
        {{tourcancelsummarypage}}
        <button mat-icon-button [disabled]="has_next === false" color="primary"
        (click)="TourcancelnextClick()">
        <mat-icon >arrow_forward</mat-icon>
        </button>
        </div>
</div>
 </div>
    <div *ngIf="advance">
        <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
            <thead class="table_header" style="text-align: left;">
            <tr>
                <th>S.No</th>
                <th>Tour No</th>
                <th>Tour RequestDate</th>
                <th>Employee Name </th>
                <th>Employee Grade</th>
                <th>Cancel Status</th>
                <th>ExpenseDetail</th>
            </tr>
        </thead>
    <tbody> 
        <tr *ngFor="let tourcanceladvnce of getcanceladvanceList; index as i">
       <td scope="row"  style="vertical-align: middle;">{{(this.advancecancelsummarypage - 1)*pagesize +i+1 }}</td>
        <td>{{tourcanceladvnce.tourgid}}</td>
        <td>{{tourcanceladvnce.requestdate| date:'dd-MMM-yyyy'}}</td>
        <td>({{tourcanceladvnce.employee_code}}) {{tourcanceladvnce.employee_name}}</td>
        <td>{{tourcanceladvnce.empgrade}}</td>
        <td>{{tourcanceladvnce.advance_cancel_status}}</td>   
        <td><button mat-icon-button matTooltip=" Edit" class="iconbutton" (click)="canceledit(tourcanceladvnce)" color="primary">
            <mat-icon style="color: green;" aria-label="Edit">edit</mat-icon>
        </button>
        </td>
            
        </tr>
    </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12" style="font-size: small;text-align:right;margin-bottom: 5%;">
            <button mat-icon-button [disabled]="has_previous === false" color="primary"
            (click)="TourcanceladvancepreviousClick()">
            <mat-icon >arrow_back</mat-icon>
            </button>
            {{advancecancelsummarypage}}
            <button mat-icon-button [disabled]="has_next === false" color="primary"
            (click)="TourcanceladvancenextClick()">
            <mat-icon >arrow_forward</mat-icon>
            </button>
            </div>
    </div>
</div>


</div>
