<div style="width: 100%;">
    <h2 style="margin-left: 15px;font-family:Times New Roman;font-size:20px;font-weight:bold;">AP Header Summary (Inward Header No: {{inwardHdrNo}})</h2>
    <div class="col-md-12">
        <pre><span style="font-family:Times New Roman;font-size: 18px;font-weight:bold">  Invoice Count:{{inward_completed}} / {{invoice_count}} </span></pre>
    </div>
    <div *ngIf="inward_completed < invoice_count">
        <td>
            <button type="button" class="btn btn-outline-success"
                matTooltip="Add AP header" style="border-radius:40px;margin-left:5px;"
                (click)="addSection()"><span class="fa fa-plus"></span></button>
        </td>
    </div>

    <div class="table-responsive" class="tablescroll" style="margin-top: 2%;width: 98%;margin-left: 10px;">
        <table class="table table scrolltable table-bordered" style="width: 99%; margin-top: 20px;">
            <thead class="table_header " fixed-header>
                <tr>
                    <th>S.No</th> 
                    <th>ECF No</th>                             
                    <th>ECF Date</th>
                    <th>ECF Amount</th>             
                    <th>ECF Raisor</th> 
                    <th>ECF Approver</th>   
                    <th>Bar Code</th>   
                    <th>Remarks</th>   
                    <th>AP Status</th> 
                    <th>Action</th>                                      
                </tr>
            </thead>
            <tbody>                    
                <tr *ngFor="let value of apHdrSummary; index as i;">
                    <td style="text-align:center;"> {{(presentpage - 1)*identificationSize +i+1 }} </td>
                    <td><p style="cursor: pointer;color: #3684BF;" (click)="appovrout(value.id)">{{value.crno}}</p></td>
                    <td>{{value.apdate| date:'dd-MMM-yyyy'}}</td>
                    <td>{{value.apamount}}</td>
                    <td>{{value.raiser_employeename}}</td>
                    <td>{{value.approvername}}</td>    
                    <td>{{value.rmubarcode}}</td>               
                    <td>{{value.remarks}}</td>    
                    <td>{{value.apinvoicehdr[0].status.text}}</td>  
                         <td *ngIf="value.apinvoicehdr[0].status.id == 1 || value.apinvoicehdr[0].status.id == 4"><a style="cursor: pointer; color: #3684BF;" (click)="invHdrView(value.id, value.apamount)">View</a></td>            
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6" style="align-items: center;">
        <button type="button" class="btn btn-outline-primary" (click)="backform()"
            style="border-radius:40px;height: 44px; margin-top: 12px;">Back
        </button>
    </div>  
    
</div>