<div style="width: 100%;margin-left: 5px;">
    <p style="color: black;font-size: 20px;font-weight: 500px;">
        eClaim Travel Approval Summary
    </p>
    <div style="margin-top: 25px;">
        <div class="table-responsive" style="width:100%;margin-top: 1%;">
            <table class="table" style="margin-top: 10px;width: 100%;" id='commonstyle'>
                <thead class="table_header">
                    <tr>
                        <th class="fixed-header1">S.No</th>
                        <th class="fixed-header2">Travel No</th>
                        <th class="fixed-header3">Travel Requested Date</th>
                        <th class="fixed-header4">From Date</th>
                        <th class="fixed-header5">To Date</th>
                        <th class="fixed-header6"> Maker </th>
                        <!-- <th>Raised By</th> -->
                        <th>Reason</th>
                        <!-- <th>Branch</th>

                    <th>Employee Grade</th> -->
                        <th>Status</th>
                        <th>Air</th>
                        <th>Train</th>
                        <th>Bus</th>
                        <th>Cab</th>
                        <th>Accomodation</th>
                        <th class="lastfixed-header">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tourapprove of gettourapproveList; index as i">
                        <td class="fixed-header1" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{(currentpage - 1)*pagesize +i+1 }} </td>
                        <td class="fixed-header2" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{tourapprove.tourid}}</td>
                        <td class="fixed-header3" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{tourapprove.requestdate | date: 'dd-MMM-yyyy, EEE'}}</td>
                        <td class="fixed-header4" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{tourapprove.startdate | date: 'dd-MMM-yyyy, EEE'}}</td>
                        <td class="fixed-header5" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{tourapprove.enddate | date: 'dd-MMM-yyyy, EEE'}}</td>
                        <td class="fixed-header6" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            ({{tourapprove.employee_code}}) {{tourapprove.employee_name}}</td>

                        <!-- <td>({{tourapprove.onbehalfof.code}}) {{tourapprove.onbehalfof.full_name}}</td> -->

                        <td>{{tourapprove.reason}}</td>
                        <!-- <td>({{tourapprove.branch_code}}) {{tourapprove.branch_name}}</td>

                    <td>{{tourapprove.empgrade}}</td> -->

                        <td *ngIf='tourapprove.tour_status == "PENDING" && tourapprove.apptype =="TOUR"'
                            style="color: #f5af48;">
                            PENDING
                        </td>
                        <td *ngIf='tourapprove.tour_status == "APPROVED" && tourapprove.apptype =="TOUR"'
                            style="color: green;">
                            APPROVED
                        </td>
                        <td *ngIf='tourapprove.tour_status == "REJECTED"&& tourapprove.apptype =="TOUR"'
                            style="color: red;">
                            REJECTED
                        </td>
                        <td *ngIf='tourapprove.tour_status == "RETURNED"&& tourapprove.apptype =="TOUR"'
                            style="color: black;">
                            RETURNED
                        </td>
                        <td *ngIf='tourapprove.tour_status == "FORWARDED"&& tourapprove.apptype =="TOUR"'
                            style="color: black;">
                            FORWARDED
                        </td>

                        <td *ngIf='tourapprove.tour_status == "PENDING" && tourapprove.apptype =="TourCancel"'
                            style="color: #f5af48;">
                            TRAVEL CANCEL PENDING
                        </td>
                        <td *ngIf='tourapprove.tour_status == "APPROVED" && tourapprove.apptype =="TourCancel"'
                            style="color: green;">
                            TRAVEL CANCEL APROVED
                        </td>
                        <td *ngIf='tourapprove.tour_status == "REJECTED" && tourapprove.apptype =="TourCancel"'
                            style="color: red;">
                            TRAVEL CANCEL REJECTED
                        </td>
                        <td *ngIf='tourapprove.tour_status == "RETURNED" && tourapprove.apptype =="TourCancel"'
                            style="color: black;">
                            TRAVEL CANCEL RETURNED
                        </td>
                        <td *ngIf='tourapprove.tour_status == "FORWARDED" && tourapprove.apptype =="TourCancel"'
                            style="color: black;">
                            TRAVEL CANCEL FORWARDED
                        </td>

                        <td *ngIf='tourapprove.air_status_name == "BOOKED"' style="background-color: white;">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.air_count.booked != 0' >Booked : {{tourapprove.air_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.air_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.air_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.air_count["cancelled"] != 0' >Cancelled : {{tourapprove.air_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.air_count["not booked"] != 0' >Not Booked : {{tourapprove.air_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.air_count["rejected"] != 0' >Rejected : {{tourapprove.air_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.air_status_name == "NOT APPLICABLE"' style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourapprove.air_status_name == "CANCELLED"' style="background-color: white;">
                            <!-- Cancelled -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.air_count.booked != 0' >Booked : {{tourapprove.air_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.air_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.air_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.air_count["cancelled"] != 0' >Cancelled : {{tourapprove.air_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.air_count["not booked"] != 0' >Not Booked : {{tourapprove.air_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.air_count["rejected"] != 0' >Rejected : {{tourapprove.air_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.air_status_name == "NOT BOOKED"' style="background-color: white;">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.air_count.booked != 0' >Booked : {{tourapprove.air_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.air_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.air_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.air_count["cancelled"] != 0' >Cancelled : {{tourapprove.air_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.air_count["not booked"] != 0' >Not Booked : {{tourapprove.air_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.air_count["rejected"] != 0' >Rejected : {{tourapprove.air_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.air_status_name == "IN PROGRESS"' style="background-color: white;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.air_count.booked != 0' >Booked : {{tourapprove.air_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.air_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.air_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.air_count["cancelled"] != 0' >Cancelled : {{tourapprove.air_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.air_count["not booked"] != 0' >Not Booked : {{tourapprove.air_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.air_count["rejected"] != 0' >Rejected : {{tourapprove.air_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.train_status_name == "BOOKED"' style="background-color: white
                        ;">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.train_count.booked != 0' >Booked : {{tourapprove.train_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.train_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.train_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.train_count["cancelled"] != 0' >Cancelled : {{tourapprove.train_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.train_count["not booked"] != 0' >Not Booked : {{tourapprove.train_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.train_count["rejected"] != 0' >Rejected : {{tourapprove.train_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.train_status_name == "NOT APPLICABLE"' style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourapprove.train_status_name == "CANCELLED"' style="background-color: white;">
                            <!-- Cancelled -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.train_count.booked != 0' >Booked : {{tourapprove.train_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.train_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.train_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.train_count["cancelled"] != 0' >Cancelled : {{tourapprove.train_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.train_count["not booked"] != 0' >Not Booked : {{tourapprove.train_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.train_count["rejected"] != 0' >Rejected : {{tourapprove.train_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.train_status_name == "NOT BOOKED"' style="background-color: white;">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.train_count.booked != 0' >Booked : {{tourapprove.train_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.train_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.train_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.train_count["cancelled"] != 0' >Cancelled : {{tourapprove.train_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.train_count["not booked"] != 0' >Not Booked : {{tourapprove.train_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.train_count["rejected"] != 0' >Rejected : {{tourapprove.train_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.train_status_name == "IN PROGRESS"' style="background-color: white;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.train_count.booked != 0' >Booked : {{tourapprove.train_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.train_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.train_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.train_count["cancelled"] != 0' >Cancelled : {{tourapprove.train_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.train_count["not booked"] != 0' >Not Booked : {{tourapprove.train_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.train_count["rejected"] != 0' >Rejected : {{tourapprove.train_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.bus_status_name == "BOOKED"' style="background-color: white;">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.bus_count.booked != 0' >Booked : {{tourapprove.bus_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.bus_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.bus_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.bus_count["cancelled"] != 0' >Cancelled : {{tourapprove.bus_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.bus_count["not booked"] != 0' >Not Booked : {{tourapprove.bus_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.bus_count["rejected"] != 0' >Rejected : {{tourapprove.bus_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.bus_status_name == "NOT APPLICABLE"' style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourapprove.bus_status_name == "CANCELLED"' style="background-color: white;">
                            <!-- Cancelled -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.bus_count.booked != 0' >Booked : {{tourapprove.bus_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.bus_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.bus_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.bus_count["cancelled"] != 0' >Cancelled : {{tourapprove.bus_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.bus_count["not booked"] != 0' >Not Booked : {{tourapprove.bus_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.bus_count["rejected"] != 0' >Rejected : {{tourapprove.bus_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.bus_status_name == "NOT BOOKED"' style="background-color: white;">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.bus_count.booked != 0' >Booked : {{tourapprove.bus_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.bus_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.bus_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.bus_count["cancelled"] != 0' >Cancelled : {{tourapprove.bus_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.bus_count["not booked"] != 0' >Not Booked : {{tourapprove.bus_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.bus_count["rejected"] != 0' >Rejected : {{tourapprove.bus_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.bus_status_name == "IN PROGRESS"' style="background-color: white;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.bus_count.booked != 0' >Booked : {{tourapprove.bus_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.bus_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.bus_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.bus_count["cancelled"] != 0' >Cancelled : {{tourapprove.bus_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.bus_count["not booked"] != 0' >Not Booked : {{tourapprove.bus_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.bus_count["rejected"] != 0' >Rejected : {{tourapprove.bus_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.cab_status_name == "BOOKED"' style="background-color: white;">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.cab_count.booked != 0' >Booked : {{tourapprove.cab_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.cab_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.cab_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.cab_count["cancelled"] != 0' >Cancelled : {{tourapprove.cab_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.cab_count["not booked"] != 0' >Not Booked : {{tourapprove.cab_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.cab_count["rejected"] != 0' >Rejected : {{tourapprove.cab_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.cab_status_name == "NOT APPLICABLE"' style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourapprove.cab_status_name == "CANCELLED"' style="background-color: white;">
                            <!-- Cancelled -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.cab_count.booked != 0' >Booked : {{tourapprove.cab_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.cab_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.cab_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.cab_count["cancelled"] != 0' >Cancelled : {{tourapprove.cab_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.cab_count["not booked"] != 0' >Not Booked : {{tourapprove.cab_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.cab_count["rejected"] != 0' >Rejected : {{tourapprove.cab_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.cab_status_name == "NOT BOOKED"' style="background-color:white;">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.cab_count.booked != 0' >Booked : {{tourapprove.cab_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.cab_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.cab_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.cab_count["cancelled"] != 0' >Cancelled : {{tourapprove.cab_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.cab_count["not booked"] != 0' >Not Booked : {{tourapprove.cab_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.cab_count["rejected"] != 0' >Rejected : {{tourapprove.cab_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.cab_status_name == "IN PROGRESS"' style="background-color: white
                        ;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.cab_count.booked != 0' >Booked : {{tourapprove.cab_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.cab_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.cab_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.cab_count["cancelled"] != 0' >Cancelled : {{tourapprove.cab_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.cab_count["not booked"] != 0' >Not Booked : {{tourapprove.cab_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.cab_count["rejected"] != 0' >Rejected : {{tourapprove.cab_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.accomodation_status_name == "BOOKED"' style="background-color: white;">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.accommodation_count.booked != 0' >Booked : {{tourapprove.accommodation_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.accommodation_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.accommodation_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.accommodation_count["cancelled"] != 0' >Cancelled : {{tourapprove.accommodation_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.accommodation_count["not booked"] != 0' >Not Booked : {{tourapprove.accommodation_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.accommodation_count["rejected"] != 0' >Rejected : {{tourapprove.accommodation_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.accomodation_status_name == "NOT APPLICABLE"'
                            style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourapprove.accomodation_status_name == "CANCELLED"'
                            style="background-color: white;">
                            <!-- Cancelled -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.accommodation_count.booked != 0' >Booked : {{tourapprove.accommodation_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.accommodation_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.accommodation_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.accommodation_count["cancelled"] != 0' >Cancelled : {{tourapprove.accommodation_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.accommodation_count["not booked"] != 0' >Not Booked : {{tourapprove.accommodation_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.accommodation_count["rejected"] != 0' >Rejected : {{tourapprove.accommodation_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.accomodation_status_name == "NOT BOOKED"'
                            style="background-color: white;">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.accommodation_count.booked != 0' >Booked : {{tourapprove.accommodation_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.accommodation_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.accommodation_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.accommodation_count["cancelled"] != 0' >Cancelled : {{tourapprove.accommodation_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.accommodation_count["not booked"] != 0' >Not Booked : {{tourapprove.accommodation_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.accommodation_count["rejected"] != 0' >Rejected : {{tourapprove.accommodation_count["rejected"]}}</span></span>
                           
                        </td>
                        <td *ngIf='tourapprove.accomodation_status_name == "IN PROGRESS"'
                            style="background-color: white;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourapprove.accommodation_count.booked != 0' >Booked : {{tourapprove.accommodation_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourapprove.accommodation_count["cancel requested"] != 0' >Cancel Requested : {{tourapprove.accommodation_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourapprove.accommodation_count["cancelled"] != 0' >Cancelled : {{tourapprove.accommodation_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourapprove.accommodation_count["not booked"] != 0' >Not Booked : {{tourapprove.accommodation_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourapprove.accommodation_count["rejected"] != 0' >Rejected : {{tourapprove.accommodation_count["rejected"]}}</span></span>
                           
                        </td>
                        <!-- <div *ngIf="tourapprove.status == 2">PENDING</div>
        <div *ngIf="tourapprove.status == 3">APPROVED</div>
        <div *ngIf="tourapprove.status == 4">REJECTED</div>
        <div *ngIf="tourapprove.status == 5">RETURN TO MAKER</div>
        <div *ngIf="tourapprove.status == 6">FORWARD</div> -->

                        <td class="lastfixed-header"
                            [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            <span class="material-icons" matTooltip="view" (click)="tourview(tourapprove)"
                                style="color:black;">
                                <mat-icon style="color:black;" class="material-icons">
                                    visibility</mat-icon>
                            </span>
                        </td>
                        <!-- <td *ngIf="gettourapproveList ?.length == 0"  colspan="10"> No Records found</td>  -->
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="gettourapproveList ?.length == 0" style="margin-left: 42%;">
            <h3>Sorry data not found!.. </h3>
        </div>
        <div class="row" *ngIf="isTourChecker">
            <div class="col-sm-12" style="font-size: small;text-align:right;margin-bottom: 5%;">
                <button mat-icon-button [disabled]="has_previous === false" color="primary"
                    (click)="TourapprovepreviousClick()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{currentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary"
                    (click)="TourapprovenextClick()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>