<!-- <div class="Container">
    <div class="container ">
        <div class="sg-tabs">
            <div *ngIf="tabGroup.selectedIndex === 0">
                <button mat-stroked-button class="hover-class-primary" style="margin-left: 65%;"
                    [routerLink]='"/templateadd"' skipLocationChange color="primary">
                    <mat-icon>add</mat-icon>
                    Template Add
                </button>
            </div>
            <div *ngIf="tabGroup.selectedIndex === 0">
                <button mat-stroked-button class="hover-class-primary" style="margin-left: 65%;"
                    [routerLink]='"/createAccount"' skipLocationChange color="primary">
                    <mat-icon>add</mat-icon>
                    Account Add
                </button> 
            </div>
            <mat-tab-group #tabGroup>
                <mat-tab label="Template">
                    <div class="table-responsive">
                        <table class="table" id ='commonstyle'>
                            <thead class="table_header">
                                <tr>
                                    <th>S.no</th>
                                    <th>File Type</th>
                                    <th>Template</th>
                                    <th>Action</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let temp of templateList; index as i">
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>{{ temp.file_name }}</td>
                                    <td>{{ temp.template}}</td>
                                    <td>
                                        <button mat-icon-button matTooltip=" Edit" class="iconbutton"
                                            (click)="templateEdit(temp)" color="primary">
                                            <mat-icon style ="color: gray;" aria-label="Edit">edit</mat-icon>
                                        </button>
                                    </td>
                                    <td>
                                        <mat-icon style="color: gray;" (click)="deleteTemplate(temp)">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12" style="font-size: small;text-align: right;">
                            <button mat-icon-button [disabled]="has_previous === false" color="primary"
                                (click)="previousClickTemplate()">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                            {{currentpage}}
                            <button mat-icon-button [disabled]="has_next === false" color="primary"
                                (click)="nextClickTemplate()">
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Account">
                    <div class="table-responsive">
                        <table class="table" id ='commonstyle'>
                            <thead class="table_header">
                                <tr>
                                    <th>S.no</th>
                                    <th>Account Number</th>
                                    <th>Name</th>
                                    <th>Template Name</th>
                                    <th>Action</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let account of accountList;index as i">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ account.account_number }}</td>
                                    <td>{{ account.name }}</td>
                                    <td>{{ account.template_name }}</td>
                                    <td>
                                        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                                            (click)="accountEdit(account)" color="primary">
                                            <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                                        </button>
                                    </td>
                                    <td>
                                        <mat-icon style="color: gray;" (click)="deleteAccount(account)">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12" style="font-size: small;text-align: right;" >
                            <button mat-icon-button  [disabled]="has_previous === false" color="primary" (click)="previousClickAccount()">
                                <mat-icon style="color: black;">arrow_back</mat-icon></button>
                            {{currentpage}}
                            <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClickAccount()">
                                <mat-icon style="color: black;">arrow_forward</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div> -->





<div class="Container" style="margin-left: 40px;">
    <nav>
        <div class="nav nav-tabs " style="margin-top: 1%;">
            <span class="nav-item nav-link" data-toggle="tab" (click)="subModuleData(sub)" role="tab" style="cursor: pointer ;"
                *ngFor="let sub of subModuleList">
                {{sub.name}}
            </span>
        
            <button type="button" class="btn btn-outline-info"  (click)="addForm()"  *ngIf="ismakerCheckerButton"
                style="border-radius: 20px;margin-left: 300px;margin-top: 10px;margin-bottom: 5px;cursor: pointer ;" color="primary"><span
                    class="fa fa-plus"></span>
                {{makerNameBtn}} </button>

        </div>
    </nav>

    <div>
        <span *ngIf="isTemplateForm">
            <app-template-create (onCancel)="tempCancel()" (onSubmit)="tempSubmit()"></app-template-create>
        </span>
    </div>
    <div>
        <span *ngIf="isTemplateEditform">
            <app-template-edit (onCancel)="temEditCancel()" (onSubmit)="tempeditSubmit()"></app-template-edit>
        </span>
    </div>


        
    <div>
        <span *ngIf="isAccountForm">
        
            <app-create-account (onCancel)="acountCancel()" (onSubmit)="acountSubmit()"></app-create-account>
        </span>
    </div>
   
    





    <div *ngIf="isTemplate">
        <div class="table-responsive">
            <table class="table" id ='commonstyle'>
                <thead class="table_header">
                    <tr>
                        <th>S.no</th>
                        <th>File Type</th>
                        <th>Template</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of templateList; index as i">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ temp.file_name }}</td>
                        <td>{{ temp.template}}</td>
                        <td>
                            <button mat-icon-button matTooltip=" Edit" class="iconbutton"
                                (click)="templateEdit(temp)" color="primary">
                                <mat-icon style ="color: gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td>
                            <mat-icon style="color: gray;" (click)="deleteTemplate(temp)">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-12" style="font-size: small;text-align: right;">
                <button mat-icon-button [disabled]="has_previous === false" color="primary"
                    (click)="previousClickTemplate()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{currentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary"
                    (click)="nextClickTemplate()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>


    <div *ngIf="isAccount">
        <div class="table-responsive">
            <table class="table" id ='commonstyle'>
                <thead class="table_header">
                    <tr>
                        <th>S.no</th>
                        <th>Account Number</th>
                        <th>Name</th>
                        <th>Template Name</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accountList;index as i">
                        <td>{{ i+1 }}</td>
                        <td>{{ account.account_number }}</td>
                        <td>{{ account.name }}</td>
                        <td>{{ account.template_name }}</td>
                        <td>
                            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                                (click)="accountEdit(account)" color="primary">
                                <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td>
                            <mat-icon style="color: gray;" (click)="deleteAccount(account)">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12" style="font-size: small;text-align: right;" >
                <button mat-icon-button  [disabled]="has_previous === false" color="primary" (click)="previousClickAccount()">
                    <mat-icon style="color: black;">arrow_back</mat-icon></button>
                {{currentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClickAccount()">
                    <mat-icon style="color: black;">arrow_forward</mat-icon></button>
                </div>
            </div>
        </div>
    </div>

















    

</div>