// .tablescroll{
    // height:400px;
    // width:95%;
    // overflow:auto;
    // overflow: scroll;
    // overflow:visible;
    // display: block;
  // }

  .tableFixHead          { overflow: auto; height: 400px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%;font-size: 13px; }
th, td { padding: 14px 16px;}
th     { background:#DDEFDD; }
.thcolor {background: white;}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}
.example-card {
  max-width: 400px;
}

.main-div{
  height: 85vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.full_modal-dialog {
  width: 98% !important;
  height: 92% !important;
  min-width: 98% !important;
  min-height: 92% !important;
  max-width: 98% !important;
  max-height: 92% !important;
  padding: 0 !important;
}
.matformfieldstyle{
  font-size:7px;
  margin-top: 5px
}
.matformfieldinputstyle{
  font-size:16px ;
}


// ::ng-deep .mat-form-field-outline {
//   color:grey !important;
// }
// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
//   color: red!important;
//   opacity: 0.8!important;
// }

.maticonsize{
  font-size:15px;
}




