#commonstyle{
    border:15px none #f6f6f6

    }

    tr:nth-child(even) {background: #EDF8FA}
    tr:nth-child(odd) {background: #FFF}
    table,th,td{
        text-align: left;
        vertical-align: center;
    }
    .lastfixed-header{
        position: sticky;
        right: 0;
        background-color: white;
    }

    th:nth-child(2){
        position: sticky;
        left: 0px;
        right: 0px;
        z-index: 1;
        background: #FFF; 
    }

    td:nth-child(2){
        position: sticky;
        right: 0px;
        left: 0px;
        z-index: 1;
    }