<h3 style="margin-left:3%;font-size:20px;font-family:Times New Roman;font-weight:bold;color:blue">Asset CP Date Change Maker Summary</h3>
<hr>

<div class="container" style="margin-left: 10px;">
<form [formGroup]="cpdatechange" (ngSubmit)="searchdata()">
<div class="row">
    <div class="col-md-3">
    <mat-form-field style="width:220px">
    <mat-label>Asset Barcode Id</mat-label>
    <input type="text" placeholder="Asset id" formControlName="assetid" matInput style="width:250px" autocomplete="off" #inputid [matAutocomplete]="assetcatid">
    <mat-autocomplete #assetid #assetcatid="matAutocomplete" (opened)="autocompleteassetid()">
        <mat-option *ngIf="isLoading">Loading..</mat-option>
        <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let d of cpdateidlist" [value]="d.barcode" (focusout)="assetids(d)">{{d.barcode}}</mat-option>

        </ng-container>
    </mat-autocomplete>
    </mat-form-field>
    </div>
     <div class="col-md-3">
    <mat-form-field>
    <mat-label>Asset Value</mat-label>
    <input type="text" placeholder="Asset Value" formControlName="assetvalue" matInput autocomplete="off">
    </mat-form-field>
    </div>
     <div class="col-md-3">
    <mat-form-field>
    <mat-label>Old Capitlisation Date</mat-label>
    <input [matDatepicker]="picker" [max]="dts | date:'yyyy-MM-dd'" formControlName="capdate" matInput autocomplete="off">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="date"></mat-datepicker>
    </mat-form-field>
    </div>
     <div class="col-md-3">
    <mat-form-field style="width:180px">
    <mat-label>Asset Sub-Category</mat-label>
    <input type="text" placeholder="Category" formControlName="category" matInput [matAutocomplete]="assetcate" #inputcategory autocomplete="off">
    <mat-autocomplete #assetcate="matAutocomplete" #category (opened)="autocompletecategory()">
    <mat-option *ngIf="isLoading">Loading..</mat-option>
    <ng-container *ngIf="!isLoading">
    <mat-option *ngFor="let d of assetcategorylist" [value]="d.subcatname" (focusout)="categorys(d)">{{d.subcatname}}</mat-option>
    </ng-container>
    </mat-autocomplete>
    </mat-form-field>
    </div>
</div>
<div class="row">
<div class="col-md-2">
<mat-form-field style="width:220px">
<mat-label>Branch Name</mat-label>
<input type="text" autocomplete="off" placeholder="Branch" autocomplete="off" formControlName="branch" #inputbranch matInput [matAutocomplete]="branchc">
<mat-autocomplete #branchc="matAutocomplete" #branch (opened)="autocompletecategorybranch()">
<mat-option *ngIf="isLoading">Loading..</mat-option>
<ng-container *ngIf="!isLoading">
<mat-option *ngFor="let d of branchlist" [value]="d.name" (focusout)="branchs(d)">{{d.name}}
</mat-option>
</ng-container>
</mat-autocomplete>
</mat-form-field>
</div>
<div  style="margin-left:25%">
<button type="submit" mat-fab color="basic" matTooltip="Search" ><mat-icon>search</mat-icon></button>
</div>
<div  style="margin-left:5%">
    <button type="button" mat-fab color="basic" matTooltip="Clear"  (click)="resets()">Clear</button>
    </div>
<div  style="margin-left:20%">
<button type="submit" mat-fab color="basic" matTooltip="Add" style="background-color: rgb(233, 171, 55);" (click)="changecpdate()"><mat-icon>add</mat-icon></button>
</div>

</div>
</form>
</div>
<div class="table-responsive" style="margin-left: 10px;">
<table class="table table-bordered table-hover" style="width:98%;margin-top: 1%;font-size:14px">
<tr class="table_header">
<th>S.No</th>
<th>Asset Barcode ID</th>
<th>Product Name</th>
<th>Asset Sub-Category</th>
<th>Old Capitlisation Date</th>
<th>New Capitlisation Date</th>
<th>Asset Value</th>
<th>Branch Name</th>
<th>Location</th>
<th>Reason</th>
<th>Status</th>
<th>CP Date Change Status</th>
<th>Action</th>
</tr>
<tr *ngFor="let assetcat of cpdatechangelist; index as listIndex">
<td>{{(presentpage -1)*pagesize+listIndex+1}}</td>
<td>{{assetcat.barcode}}</td>
<td>{{assetcat['product_id'].name}}</td>
<td>{{assetcat['product_id']['subcategory_id'].name}}</td>
<td>{{assetcat.capdate | date:'dd-MMM-yyyy'}}</td>
<td>{{assetcat.new_cap_date | date:'dd-MMM-yyyy'}}</td>
<td>{{assetcat.assetdetails_value}}</td>
<td>{{assetcat['branch_id'].name}}</td>
<td>{{assetcat['assetlocation'].name}}</td>
<td style="color:orange" (click)="checkedrreason(assetcat)" class="clickof" ><span [matTooltip]="assetcat.reason" >Reason</span></td>
<td>{{assetcat.assetdetails_status}}</td>
<td>{{assetcat.CP_status}}</td>
<td><button data-toggle="modal" data-target="#data" style="border:none;background:none;color:blue" type="button" (click)="popupdatamodal(assetcat)"><mat-icon>visibility</mat-icon></button></td>
</tr>
<tr *ngIf="cpdatechangelist.length==0">
<td colspan="13">No Records Found..</td>
</tr>
</table>
<div class="row">
    <div class="col-md-10">

    
<div *ngIf="card">
    <mat-card align="center">
    <mat-card-title style="font-size:20px;font-family:Times New Roman;font-weight:bold">Reason: {{reason}}</mat-card-title>
    <mat-card-title style="font-size:20px;font-family:Times New Roman;font-weight:bold">Checked Reason:{{checker_reason}}</mat-card-title>
    <mat-card-title>
      <!--  <button mat-raised-button color="primary" style="border-radius:10px">Approve</button>
        <button mat-raised-button color="warn" style="margin-left:10px;border-radius:10px">Reject</button>-->
    </mat-card-title>
    </mat-card>
    </div>
</div>
<div style="float:right" class="col-md-2">
<button mat-icon-button [disabled]="!has_previoussum" (click)=" buttonprevious()"><mat-icon>arrow_back</mat-icon></button>
{{has_presesendsum}}
<button mat-icon-button [disabled]="!has_nextsum" (click)="buttonnext()"><mat-icon>arrow_forward</mat-icon></button>
</div>
</div>
<button type="button" routerLink="/fa/fa" class="btn btn-outline-success" style="border-radius:30px;height:40px;"><span
    class="fa fa-arrow-left">Go Back</span></button>
<br>
<br>
<div class="modal" id="data">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" >
            <div class="modal-header" style="background-color:blue;color:white">
            <h2 class="modal-title" style="text-align:center;margin-left:35%">Asset Details</h2>
            <button class="close" type="button" data-dismiss="modal">x</button>

            </div>
            <div class="modal-body">
            <table class="table table-bordered table-hover" style="text-align:center">
            <tr >
            <td style="width:300px;height:10px"><b>AssetId</b></td>
            <td style="width:500px">{{popupdata.assetdetails_id}}</td>
            </tr>
             <tr>
            <td><b>Product Name</b></td>
            <td>{{popupdata.product_id}}</td>
            </tr>
             <tr>
            <td><b>Category</b></td>
            <td>{{popupdata['category_id']}}</td>
            </tr>
             <tr>
            <td><b>Old Capitlization date</b></td>
            <td>{{popupdata.capdate | date:'dd-MM-yyyy'}}</td>
            </tr>
             <tr>
            <td><b>New capitilization Date</b></td>
            <td>{{popupdata.new_cap_date | date:'dd-MM-yyyy'}}</td>
            </tr>
             <tr>
            <td><b>Asset value</b></td>
            <td>{{popupdata.assetdetails_value}}</td>
            </tr>
             <tr>
            <td><b>Branch</b></td>
            <td>{{popupdata['branch_id']}}</td>
            </tr>
             <tr>
            <td><b>Location</b></td>
            <td>{{popupdata['assetlocation']}}</td>
            </tr>
             <tr>
            <td><b>Reason</b></td>
            <td>{{popupdata.reason}}</td>
            </tr>
             <tr>
            <td><b>Status</b></td>
            <td>{{popupdata.assetdetails_status}}</td>
            </tr>

            </table>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="text-center">Back</button>
            </div>

        </div>
    </div>

</div>
</div>