<div style="width:100%">
    <mat-card style="margin-top: 13px;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;">
        <div style="margin-left: 10px;margin-top: 1%; width: 100%;">

            <h2 style="font-weight:bold;">Sales Header</h2>
            <div>
                <form [formGroup]="salesheaderForm" style="margin-left:2%;" >
                    <table style="margin-bottom: 2%;">
                        <div>
                            <tr>
                                <td>
                                    <mat-form-field style="width:200px;">
                                        <input matInput placeholder="Sales Type" formControlName="ecftype" 
                                            autocomplete="off" readonly>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field style="width:200px;margin-left: 50px;">
                                        <input matInput placeholder="Customer Type" formControlName="supplier_type" 
                                            autocomplete="off" readonly>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field style="width:200px;margin-left: 50px;">
                                        <input matInput placeholder="Commodity Name" formControlName="commodity_id" 
                                            autocomplete="off" readonly>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field style="width:200px;margin-left: 50px;">
                                        <input matInput placeholder="Sales Date" formControlName="ecfdate" 
                                            autocomplete="off" readonly>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field
                                        style="width:200px;">
                                        <input matInput placeholder="Client Name" formControlName="client_code"
                                            autocomplete="off" readonly> 
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field
                                        style="width:200px;margin-left: 50px;">
                                        <input matInput placeholder="RM Name" formControlName="rmcode"
                                            autocomplete="off" readonly>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field
                                        style="width: 200px;margin-left:50px;">
                                        <input matInput placeholder="Sales Amount" formControlName="ecfamount"
                                            autocomplete="off" readonly>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field
                                        style="width: 200px;margin-left:50px;">
                                        <input matInput placeholder="Purpose" formControlName="remark"
                                            autocomplete="off" readonly>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        
                                        
                                    <h3   data-toggle="modal"
                                    data-target=".bd-example-modal-xl" style="cursor: pointer;color:blue;font-family: 'Montserrat';" class="btn btn-link" matTooltip="View Notes">View Notes</h3>
                                
                            </td>
                              <!-- -------notepad------ -->

                              <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
                              aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-xl">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h2 class="modal-title" id="exampleModalLongTitle">
                                              Note Pad
                                          </h2>
                                      </div>
                                      <br>
                                      <div style="margin-left: 50px;width:90%;height: 70%;">
                                          <div>

                                              <div [ngxSummernote]="config"
                                                  [ngxSummernoteDisabled]="editorDisabled" (blur)="onBlur()"
                                                  (mediaDelete)="onDelete($event)"
                                                  (summernoteInit)="summernoteInit($event)"
                                                  formControlName="notename">
                                              </div>

                                          </div>
                                      </div>
                                      <br>
                                      <div class="modal-footer">
                                          <!-- <button type="button" style="border-radius: 40px;margin-left: 10px;"
                                              class="btn btn-outline-primary"
                                              data-dismiss="modal">Close</button> -->

                                          <button type="button" style="border-radius:10px;margin-left: 10px; border-color: black; 
                                              background-color: white;" class="btn btn-light"
                                              data-dismiss="modal">
                                              Close</button>

                                      </div>
                                  </div>
                              </div>
                          </div>

                            </tr>
                        </div>
                    </table>
                </form>
            </div>
            <!-- ------------------------ -->
            <br>
            <h2 style="margin-left: 1px;font-weight:bold;">Sales Invoice Header</h2>
            <br>
            <div>
                <div>
                <form [formGroup]="InvoiceHeaderForm" autocomplete="off">
                    <table>
                        <div>
                            <tr>
                                <td >
                                    <div style="margin-left: 5px;">
                                        <mat-label>GST Applicable</mat-label>
                                        
                                        <mat-radio-group formControlName="invoicegst">
                                            <mat-radio-button *ngFor="let n of yesorno" [value]="n.value"
                                                style="margin-left: 10px;" 
                                               [disabled] = "disabledtlsave" >
                                                {{n.display}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </td>
                            </tr>
                        </div>
                        </table>
                    </form>
                </div>
               
                 <br>
                    <div class="table-responsive" style="width:100%;margin-top: 1%;">
                        <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
                            <thead class="table_header" style="text-align: left;">
                                <tr>

                                    <th>S.No</th>
                                    <th>Invoice SR.No</th>
                                    <th>Customer Name</th>
                                    <th>Customer GST No</th>
                                    <th>Customer State</th>
                                    <th>Invoice No</th>
                                    <th>Invoice Date</th>
                                    <th>Taxable Amount</th>
                                    <th>Tax Amount</th>
                                    <th>Total Amount</th>
                                    <th>Attached PDF</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dtl of invheaderdata; index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{dtl?.inv_crno}}</td>
                                    <td>{{dtl?.supplier_id?.name}}</td>
                                    <td>{{dtl?.supplier_id?.gstno}}</td>
                                    <td>{{dtl?.supplierstate_id?.name}}</td>
                                    <td>{{dtl?.invoiceno}}</td>
                                    <td>{{dtl?.invoicedate|date:'dd/MM/yyyy'}}</td>
                                    <td>{{dtl?.invoiceamount| currency:'INR'}}</td>
                                    <td>{{dtl?.taxamount| currency:'INR'}}</td>
                                    <td>{{dtl?.totalamount| currency:'INR'}}</td>
                                    <td>
                                <tr *ngFor="let file of dtl.file_data; index as j">
                                    <td>
                                        {{j+1}}
                                    </td>
                                    <td>
                                        <a (click)="data(file)" class="btn btn-link" style="cursor: pointer;color:blue;"
                                            matTooltip="View File"  data-target="#my-modal" data-toggle="modal">{{ file.file_name}}</a>
                                    </td>
                                    <td>
                                        <i class="material-icons" (click)="getfiles(file)" style="cursor:pointer" matTooltip="Download File">
                                            get_app
                                        </i>
                                    </td>
                                </tr>
                                </td>

                            </tr>
                            <tr>
                                <th class="totaldisplay" colspan="9"  style="text-align: end;">
                                    Net Amount:</th>
                                    <td>{{headertotalamt| currency:'INR'}}</td>

                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="invheaderdata ?.length == 0" style="margin-left: 42%;">
                        <h3>Sorry data not found!.. </h3>
                    </div>
                </div><br>


               
                </div>

            <!-- -------------- -->

            <br>
            <h2 style="margin-left: 1px;font-weight:bold;">Sales Invoice Detail</h2>
                <div>

                    <div class="table-responsive" style="width:100%;margin-top: 1%;">
                        <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
                            <thead class="table_header" style="text-align: left;">
                                <tr>
                                    <tr style="white-space: nowrap;">

                                        <th>S.No</th>
                                        <th>Item</th>
                                        <th>Description</th>
                                        <th>HSN Code</th>
                                        <th>HSN %</th>
                                        <th>UOM</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Taxable Amount</th>
                                        <th>CGST</th>
                                        <th>SGST</th>
                                        <th>IGST</th>
                                        <th>Tax Amount</th>
                                        <th>Total Invoice Amount</th>
                                        <!-- <th>Roundoff Amount</th>
                                        <th>Other Adjustment</th> -->
                                        <!-- <th>Action</th> -->
    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let invdtl of detailrecords; index as i" style="white-space: nowrap;">
                                       
    
                                        <td>{{i+1}}</td>
                                        <td>{{invdtl?.productname}}</td>
                                        <td>{{invdtl?.description}}</td>
                                        <td *ngIf="invdtl?.hsn?.code != 'UNEXPECTED_ERROR'">{{invdtl?.hsn?.code}}</td>
                                        <td *ngIf="invdtl?.hsn?.code == 'UNEXPECTED_ERROR'">-</td>
                                        <td>{{invdtl?.hsn_percentage}}</td>
                                        <td>{{invdtl?.uom?.name}}</td>
                                        <td>{{invdtl?.unitprice| currency:'INR'}}</td>
                                        <td>{{invdtl?.quantity}}</td>
                                        <td>{{invdtl?.amount| currency:'INR'}}</td>
                                        <td>{{invdtl?.cgst| currency:'INR'}}</td>
                                        <td>{{invdtl?.sgst| currency:'INR'}}</td>
                                        <td>{{invdtl?.igst| currency:'INR'}}</td>
                                        <td>{{invdtl?.taxamount| currency:'INR'}}</td>
                                        <td>{{invdtl?.totalamount| currency:'INR'}}</td>
                                        <!-- <td>{{invdtl.roundoffamt}}</td>
                                        <td>{{invdtl.otheramount}}</td> -->
                                    </tr>
                                    <!-- <tr>
                                        <th class="totaldisplay" colspan="13"  style="text-align: end;">
                                            Rounding Off:</th>
                                            <td>{{roundoffdata| currency:'INR'}}</td>
    
                                    </tr>
                                    <tr>
                                        <th class="totaldisplay" colspan="13"  style="text-align: end;">
                                            Other Adjustment:</th>
                                            <td>{{otheramountdata| currency:'INR'}}</td>
    
                                    </tr> -->
                                    <tr>
                                        <th class="totaldisplay" colspan="13"  style="text-align: end;">
                                            Net Amount:</th>
                                            <td>{{invdetailtotamt| currency:'INR'}}</td>
            
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="detailrecords ?.length == 0" style="margin-left: 42%;">
                                <h3>Sorry data not found!.. </h3>
                            </div>
                        </div>
                        <br><br>
                        <button type="button" class="btn btn-light" style="border-radius:10px;margin-left:450px;
                              border-color: black; margin-bottom: 50px;
                              background-color: white;" (click)="back()">Back</button>
                    </div>
              
            

            

            </div>
            </mat-card>

</div>



<div *ngIf="showimageHeaderAPI" id="my-modal" class="modal fade" aria-labelledby="my-modalLabel" aria-hidden="true"
    tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" data-dismiss="modal" style="width: 60%;height: 80%;">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <img src="{{jpgUrlsAPI}}" class="img-responsive" style="width: 100%;">

            </div>
        </div>
    </div>
</div>

<div *ngIf="showimagepdf" id="my-modal" class="modal fade" aria-labelledby="my-modalLabel" aria-hidden="true"
    tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background:#21cbe5;">
                <h2 class="modal-title">Sales Invoice Attachments</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <pdf-viewer [src]="pdfurl" [original-size]="false" [render-text]='false' [show-borders]="true"
                [fit-to-page]="true" [show-all]="true" style="display: block; height: 600px;" [fit-to-page]="true">
            </pdf-viewer>
        </div>
    </div>

</div>



<div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"
        id="showattachmentpopup">
        <div class="modal-dialog modal-xl " style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header" style="background: #21cbe5;">
                    <h2 class="modal-title" style="color:black ;text-align: center;font-weight: bold;">Attached File
                    </h2>
                    <button type="button" class="close" data-dismiss="modal" #closedbuttons aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div style="margin-left: 50px;margin-right: 80%;margin-top: 2%; width: 80%;">
                    <div class="container">
                        <div class="row">
                            <div class="table-responsive" style="width:100%;margin-top: 1%;">
                                <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
                                    <thead class="table_header" style="text-align: left;">

                                        <tr>
                                            <th style="text-align: center;">S.No</th>
                                            <th style="text-align: center;">File Name</th>
                                            <th style="text-align: center;">Download File</th>


                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let dtl of filelist; index as i">
                                        <tr *ngFor="let file of dtl.file_data; index as j">
                                            <td style="text-align:center">
                                                {{j+1}}
                                            </td>
                                            <td style="text-align:center">
                                                <a (click)="data(file)" class="btn btn-link"
                                                    style="cursor: pointer;color:blue;" matTooltip="View File"
                                                    data-target="#my-modal" data-toggle="modal">{{ file?.file_name}}</a>
                                            </td>
                                            <td style="text-align:center">
                                                <i class="material-icons" (click)="getfiles(file)" style="cursor:pointer" matTooltip="Download File">
                                                    get_app
                                                </i>
                                            </td>
                                        </tr>
                                        <!-- <td>

                        <button type="button" class="btn btn-light" style="border-radius:7px;margin-left:450px;
                        border-color: black; margin-bottom: 20px;
                        background-color: white;" (click)="debitbacks()">Back</button>

                    </td> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">
                    Note Pad
                </h2>
            </div>
            <br>
            <div style="margin-left: 50px;width:90%;height: 70%;">
                <div>

                    <div [ngxSummernote]="config" [ngxSummernoteDisabled]="editorDisabled" (blur)="onBlur()"
                        (mediaDelete)="onDelete($event)" (summernoteInit)="summernoteInit($event)"
                        formControlName="content">
                    </div>

                </div>
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" style="border-radius: 40px;margin-left: 10px;text-align: center;"
                    class="btn btn-outline-primary" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>







<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>