<div class="container">
    <h2>Sub Groups</h2>
    <form [formGroup]="sub_groupsummary">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field (click)="headgrp_dropdown()">
                        <mat-label>Head Group Name </mat-label>
                        <input placeholder="Head Group Name" matInput formControlName="headgrp" #headgrpinput
                            [matAutocomplete]="headauto">
                        <mat-autocomplete #headauto="matAutocomplete" [displayWith]="displayfnheadgrp" (opened)="autocompleteheadgrpScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let head_grp of headgrp_data" [value]="head_grp">
                                    ({{head_grp.code}}){{head_grp.name}} </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field (click)="subgrp_dropdown()">
                        <mat-label>Sub Group Name </mat-label>
                        <input placeholder="Sub Group Name" matInput formControlName="subgrp" #subgrpinput
                            [matAutocomplete]="subgrpauto">
                        <mat-autocomplete #subgrpauto="matAutocomplete" [displayWith]="displayfnsubgrp" (opened)="autocompletesubgrpScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let sub_grp of subgrp_data" [value]="sub_grp">
                                    ({{sub_grp.code}}){{sub_grp.name}} </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                

               
                <div class="col-md-2">
                    <div style="text-align: center;cursor: pointer;">
                        <button class="btn btn-outline-primary" style="border-radius: 40px;"
                            (click)="subgrp_summary_search(sub_groupsummary.value)">
                            Search
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div style="text-align: center;cursor: pointer;">
                        <button class="btn btn-outline-primary" style="border-radius: 40px;"
                            (click)="subgrp_summary_clear()">
                            Clear
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- <button type="button" class="btn btn-outline-primary" style="border-radius: 40px;" data-toggle="modal" data-target="#subgrpAdd">
                        Add
                        </button> -->
                    <button type="button" class="btn btn-outline-primary" style="border-radius: 40px;" (click)="subgroupnewrowAdd()"> Add  </button>

                </div>
            </div>
        </div>
    </form>

      <!-- summary 
      <div style="margin-top: 6%;" class="tableFixHead">
        <table class="table table-bordered" id="commonstyle" fixed-header>
            <thead>
                <th>Sub Group Name</th>
                <th>Description</th>
                <th>Source Name</th>
                <th>Edit</th>
                <th>View</th>
            </thead>
            <tbody>
                <tr *ngFor="let subgrpsummary of subgrp_summary">
                    <td>({{subgrpsummary.code}}){{subgrpsummary.name}}</td>
                    <td>
                        <div *ngIf="subgrpsummary?.description==null">--</div>
                        <div *ngIf="subgrpsummary?.description!=null">{{subgrpsummary.description}}</div></td>
                    <td>({{headgrpsummary.sourcecode}}){{headgrpsummary.sourcecode}}</td>
                     <td class="text-center">
                        <a style="color:#2177e5;cursor: pointer;"  data-toggle="modal" data-target="#subgrpedit"  matTooltip="Edit"  (click)='editview_subgrp(subgrpsummary)'>
                            <mat-icon>edit</mat-icon>
                        </a>
                    </td>
                   <td style="text-align: center;">
                        <a style="color:#2177e5;cursor: pointer;" matTooltip="View" data-toggle="modal" data-target="#subgrpview" (click)='editview_subgrp(subgrpsummary)'>
                            <mat-icon>visibility</mat-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-bottom: 5%;font-size: small;text-align:right;">
            <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick(sub_groupsummary.value)">
                <mat-icon>arrow_back</mat-icon>
            </button> {{presentpage}}
            <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick(sub_groupsummary.value)">
                <mat-icon>arrow_forward</mat-icon>
            </button>

        </div>
    </div>

   ADD Modal 
  <div class="modal fade" data-backdrop="false" id="subgrpAdd" tabindex="-1" role="dialog" aria-labelledby="subgrpAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="supgrpAddLabel">PPR Sub Group Add</h2>
          <button type="button" class="close" #closepop data-dismiss="modal" (click)="clearsource()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
	        <form [formGroup]="pprsubgrpsource">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Sub Group Name</mat-label>
                                <input matInput placeholder="Sub Group Name" autocomplete="off" formControlName="subgrpname">
                            </mat-form-field>                       
                        </div>
                        <div class="col-md-3">
                            <mat-form-field (click)="headgrpadd_dropdown()" appearance="outline">
                                <mat-label>Head Group Name </mat-label>
                                <input placeholder="Head Group Name" matInput formControlName="headgrp_add" #headgrpinput
                                    [matAutocomplete]="headaddauto">
                                <mat-autocomplete #headaddauto="matAutocomplete" [displayWith]="displayfnheadgrpadd" (opened)="autocompleteheadgrpScrolladd()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let head_grp of headgrpdata" [value]="head_grp">
                                            ({{head_grp.code}}){{head_grp.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Description</mat-label>
                                <textarea matInput placeholder="Description" autocomplete="off" formControlName="description"></textarea>
                            </mat-form-field>                       
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clearsource()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save_subgrp(pprsubgrpsource.value,1)">Submit</button>
        </div>
      </div>
    </div>
  </div>

   edit
   <div class="modal fade" data-backdrop="false" id="subgrpedit" tabindex="-1" role="dialog" aria-labelledby="subgrpeditLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="subgrpeditLabel">PPR Sub Group Edit</h2>
          <button type="button" class="close" #closepopedit data-dismiss="modal" (click)="clearsource()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
	        <form [formGroup]="pprsubgrpsource">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Sub Group Name</mat-label>
                                <input matInput placeholder="Sub Group Name" autocomplete="off" formControlName="subgrpname">
                            </mat-form-field>                       
                        </div>
                        <div class="col-md-3">
                            <mat-form-field (click)="headgrpadd_dropdown()" appearance="outline">
                                <mat-label>Head Group Name </mat-label>
                                <input placeholder="Head Group Name" matInput formControlName="headgrp_add" #headgrpinput
                                    [matAutocomplete]="headaddauto">
                                <mat-autocomplete #headaddauto="matAutocomplete" [displayWith]="displayfnheadgrpadd" (opened)="autocompleteheadgrpScrolladd()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let head_grp of headgrpdata" [value]="head_grp">
                                            ({{head_grp.code}}){{head_grp.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Description</mat-label>
                                <textarea matInput placeholder="Description" autocomplete="off" formControlName="description"></textarea>
                            </mat-form-field>                       
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clearsource()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save_subgrp(pprsubgrpsource.value,2)">Submit</button>
        </div>
      </div>
    </div>
  </div>

   view 
   <div class="modal fade" data-backdrop="false" id="subgrpview" tabindex="-1" role="dialog" aria-labelledby="subgrpeviewLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="subgrpviewLabel">PPR Sub Group View</h2>
          <button type="button" class="close"  data-dismiss="modal" (click)="clearsource()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
	        <form [formGroup]="pprsubgrpsource">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Sub Group Name</mat-label>
                                <input matInput placeholder="Sub Group Name" autocomplete="off" formControlName="subgrpname" readonly>
                            </mat-form-field>                       
                        </div>
                        <div class="col-md-3">
                            <mat-form-field (click)="headgrpadd_dropdown()" appearance="outline">
                                <mat-label>Head Group Name </mat-label>
                                <input placeholder="Head Group Name" matInput formControlName="headgrp_add" #headgrpinput
                                    [matAutocomplete]="headaddauto" readonly>
                                <mat-autocomplete #headaddauto="matAutocomplete" [displayWith]="displayfnheadgrpadd" (opened)="autocompleteheadgrpScrolladd()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let head_grp of headgrpdata" [value]="head_grp">
                                            ({{head_grp.code}}){{head_grp.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter The Description</mat-label>
                                <textarea matInput placeholder="Description" autocomplete="off" formControlName="description" readonly></textarea>
                            </mat-form-field>                       
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clearsource()" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
   </div> -->
  

  <form [formGroup]="subgroup">
    <div style="margin-top: 6%; white-space: nowrap;overflow: auto;" class="tableFixHead" formArrayName="subgroups">
        <table class="table table-bordered" id="commonstyle" fixed-header>
            <thead>
                <th>S.No</th>
                <th>Source</th>
                <th>Head Group</th>
                <th>Sub Group Code</th>
                <th>Sub Group Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
               
                <tr *ngFor="let subgroupval of subgroup.controls.subgroups['controls']; let newindex=index" [formGroupName]="newindex">
                    <td>{{(presentpage - 1)*identificationSize +newindex+1 }}</td>
                    <td>
                        <div *ngIf="subgroupval.value.source!='' || subgroupval.value.source!=null || subgroupval.value.source !=undefined">{{subgroupval.value.source.name}}</div>
                        <div *ngIf="subgroupval.value.source=='' || subgroupval.value.source==null || subgroupval.value.source ==undefined">--</div></td>
                    <td>
                        <div *ngIf="subgroup.get('subgroups').value[newindex].isEditable==true;else headnameelse">
                            <ng-container *ngIf="subgroupval.value.headgrp=='' || subgroupval.value.headgrp== undefined || subgroupval.value.headgrp==null">--</ng-container>
                            <ng-container *ngIf="subgroupval.value.headgrp!='' || subgroupval.value.headgrp!= undefined || subgroupval.value.headgrp!=null">{{subgroupval.value.headgrp.name}}</ng-container>
                        </div>
                        <ng-template #headnameelse>
                        <mat-form-field (click)="subgroup.get('subgroups').value[newindex].isEditable ? '' : headgrpadd_dropdown(newindex)" [appearance]="subgroup.get('subgroups').value[newindex].isEditable ? 'none' : 'outline'">
                            <mat-label [ngStyle]="{'display':subgroup.get('subgroups').value[newindex].isEditable ? 'none' : 'inline'}">Head Group Name </mat-label>
                            <input placeholder="Head Group Name" matInput formControlName="headgrp" #headgrpinput
                                [matAutocomplete]="headaddauto" [readonly]="subgroup.get('subgroups').value[newindex].isEditable" >
                            <mat-autocomplete #headaddauto="matAutocomplete" [displayWith]="displayfnheadgrpadd" (opened)="autocompleteheadgrpScrolladd()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let head_grp of headgrpdata" [value]="head_grp">
                                        ({{head_grp.code}}){{head_grp.name}} </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                       </ng-template>
                    </td>
                    <td>
                        <div *ngIf="subgroupval.value.subgrpcode!='' || subgroupval.value.subgrpcode!=null || subgroupval.value.subgrpcode !=undefined">{{subgroupval.value.subgrpcode}}</div>
                        <div *ngIf="subgroupval.value.subgrpcode=='' || subgroupval.value.subgrpcode==null || subgroupval.value.subgrpcode ==undefined">--</div>
                    </td>
                    <td>
                        <div *ngIf="subgroup.get('subgroups').value[newindex].isEditable==true;else groupnameelse">
                            <ng-container *ngIf="subgroupval.value.subgrpname=='' || subgroupval.value.subgrpname== undefined || subgroupval.value.subgrpname== null">--</ng-container>
                            <ng-container *ngIf="subgroupval.value.subgrpname!='' || subgroupval.value.subgrpname!= undefined || subgroupval.value.subgrpname!= null">{{subgroupval.value.subgrpname}}</ng-container>
                        </div>
                        <ng-template #groupnameelse>
                        <div>
                            <mat-form-field style=" max-height: 45px;" [appearance]="subgroup.get('subgroups').value[newindex].isEditable ? 'none' : 'outline'">
                                <mat-label [ngStyle]="{'display':subgroup.get('subgroups').value[newindex].isEditable ? 'none' : 'inline'}">
                                Enter The Sub Group Name</mat-label>
                                <input  matInput placeholder="Sub Group" autocomplete="off" [readonly]="subgroup.get('subgroups').value[newindex].isEditable" formControlName="subgrpname">
                            </mat-form-field>
                       </div>
                       </ng-template>
                    </td>
                    <td>
                        <div *ngIf="subgroup.get('subgroups').value[newindex].isEditable == true;else description">
                            <ng-container *ngIf="subgroupval.value.subgrpdescription == '' || subgroupval.value.subgrpdescription == undefined || subgroupval.value.subgrpdescription == null">--</ng-container>
                            <ng-container *ngIf="subgroupval.value.subgrpdescription != '' || subgroupval.value.subgrpdescription != undefined || subgroupval.value.subgrpdescription != null">{{subgroupval.value.subgrpdescription}}</ng-container>
                        </div>
                        <ng-template #description>
                            <mat-form-field style="max-height: 45px;" [appearance]="subgroup.get('subgroups').value[newindex].isEditable? 'none' : 'outline'">
                                <mat-label [ngStyle]="{'display':subgroup.get('subgroups').value[newindex].isEditable ? 'none' : 'inline'}">Enter The Description</mat-label>
                                <textarea [readonly]="subgroup.get('subgroups').value[newindex].isEditable" matInput placeholder="Description" autocomplete="off" formControlName="subgrpdescription"></textarea>
                            </mat-form-field>
                        </ng-template>
                        
                    </td>
                    <td>
                        <div *ngIf="subgroupval.value.subgrpstatus==1;else statuselse">Active</div>
                        <ng-template #statuselse><div *ngIf="subgroupval.value.subgrpstatus==0;else status">In-Active</div> </ng-template>
                        <ng-template #status><div>--</div> </ng-template>
                    </td>
                    <td style="font-size: 13px;">
                        <button mat-icon-button class="material-icons app-toolbar-menu save-button" matTooltip="Save Changes"
                         (click)="savesubgrp(subgroup,newindex)"
                          *ngIf="!subgroup.get('subgroups').value[newindex].isEditable" style="color:'#0297ff'">
                          <mat-icon>check_circle</mat-icon>
                        </button>
      
                        <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                          matTooltip="Cancel Changes" color="warn" (click)="Cancelsubgrp(subgroup,newindex)"
                          *ngIf="!subgroup.get('subgroups').value[newindex].isEditable">
                          <mat-icon>cancel</mat-icon>
                        </button>
      
                        <button mat-icon-button class="material-icons app-toolbar-menu save-button" [hidden]="subgroup.get('subgroups').value[newindex].subgrpstatus == 0"
                          *ngIf="subgroup.get('subgroups').value[newindex].isEditable" matTooltip="Edit" style="color:'#0297ff'"
                          (click)="Editsubgrp(subgroup,newindex)">
                          <mat-icon>edit</mat-icon>
                        </button>
      
                        <button mat-icon-button class="material-icons app-toolbar-menu delete-button" (click)="deletesubgroup(subgroupval,newindex)"
                          *ngIf="subgroup.get('subgroups').value[newindex].isEditable" matTooltip="Delete" color="warn" [ngStyle]="{'color':subgroup.get('subgroups').value[newindex].subgrpstatus == 0 ? '#66bb6a' : 'red' }" [matTooltip]="subgroup.get('subgroups').value[newindex].subgrpstatus == 0 ? 'Active' : 'In-Active' ">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<div style="margin-bottom: 5%;font-size: small;text-align:right;">
    <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
        <mat-icon>arrow_back</mat-icon>
    </button> {{presentpage}}
    <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>
</div>