<!-- search -->
<div class="container" style="max-width: 1301px;">
    <div class="col-md-12">
        <h2 style="margin-left: 2%;font-family:Times New Roman;font-size:20px;color:blue;font-weight:bold;">Asset Category Change Maker Add</h2>
        <form [formGroup]="categorychange" (ngSubmit)="getcategorychangeAdd()">
            <!--  -->
            <div class=" row col-md-12">

                <!-- Asset category  -->
                <div class="col-md-3">
                    <mat-form-field (click)="asset_category()" style="width: 220px;">
                        <mat-label>Asset SubCategory</mat-label>
                        <input #categoryInput placeholder="Select Asset Category" matInput formControlName="category"
                            [matAutocomplete]="categoryAutoComplete">

                        <mat-autocomplete #categoryAutoComplete="matAutocomplete" [displayWith]="displayFnAssest"
                            (opened)="autocompleteScrollcategory()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let category of category" [value]="category">
                                    {{category.subcatname}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!--End Asset category  -->

                <!-- Branch Name -->
                <div class="col-md-3">
                    <mat-form-field (click)="Branch()" style="width: 268px;">
                        <mat-label>Branch Name</mat-label>
                        <input #BranchInput placeholder="Select Branch Name" matInput formControlName="branch_name"
                            (focusout)="onFocusOutEvent($event)" [matAutocomplete]="branch">
                        <mat-autocomplete #branch="matAutocomplete" [displayWith]="displayFn"
                            (opened)="autocompleteScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let employee of employeeList" [value]="employee">{{employee.name}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <!-- End Branch Name -->
                <!-- Asset barcode -->
                <div class="col-md-3">
                    <mat-form-field  style="width: 220px;">
                        <!-- (click)="Assetbarcode()" -->
                        <mat-label>Asset Barcode ID</mat-label>
                        <input #AssetInput placeholder="Select Asset Barcode" matInput formControlName="barcode"
                           >
                           <!--  [matAutocomplete]="asset" -->
                        <!-- <mat-autocomplete #asset="matAutocomplete" [displayWith]="displayFnAssestId"
                            (opened)="autocompleteScrollAssetId()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let details of assetDetails" [value]="details">{{details.barcode}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete> -->
                    </mat-form-field>
                </div>
                <!-- End Asset barcode -->
                <!-- cap date -->

                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Capitalisation Date</mat-label>
                        <input matInput [matDatepicker]="excemfrom" formControlName="capdate_Value">
                        <mat-datepicker-toggle matSuffix [for]="excemfrom"></mat-datepicker-toggle>
                        <mat-datepicker #excemfrom disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <!-- end Cap Date -->
                <!-- Asset Value -->
                <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Asset Value</mat-label>
                    <input type="text" formControlName="asset_value" (keypress)="decimalFilter($event)" matInput
                        placeholder="Asset Value">
                </mat-form-field>
                </div>
                <!-- end Asset Value -->
                <div class="col-md-3">
                <button type="submit" mat-fab color="basic" matTooltip="Search"
                    style="margin-top: 12px;">
                   <mat-icon>search</mat-icon>
                </button></div>
                <div class="col-md-3">
                    <button type="button" mat-fab color="basic" matTooltip="Clear" (click)="clearSearch()"
                        style="margin-top: 12px;">Clear
                    </button>
                </div>
                <div class="col-md-3">
                <button type="button" mat-fab color="basic" matTooltip="Back" routerLink="/fa/categorychangesummary"
                    style="margin-top: 12px;">Back</button></div>
            </div>
        </form>
        <!-- table -->

        <div class="table-responsive">
            <table class="table table scrolltable table-bordered" style="width: 99%; margin-top: 20px;">
                <thead class="table_header " fixed-header>
                    <tr>
                        <th>S.No</th> 
                        <th>Asset Barcode ID</th>             
                          <th>Asset Sub-Category</th>
                          
                          <th>Product Name</th>
                          <th>Capitalisation Date</th>
                          <th>Asset Value</th>
                          <th>Product Name</th>
                          <th>Branch Name</th>
                          <th>Location</th>
                          <th>Status</th>
                          <th>Select</th>
                          
                          
                         
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of changesummmary; index as i" >
                        <td style="text-align:center;"> {{(presentpage - 1)*identificationSize +i+1 }} </td>
                <td>{{value.barcode}}</td>
                <td>{{value.assetcat_subcatname}}</td>
                
                <td>{{value.product_name}}</td>
                <!-- <td>{{value.old_categtory}}</td> -->
                <td style="text-align:center;">{{value.capdate| date:'dd-MMM-yyyy ' }}</td>
                <td style="text-align:end;">{{value.assetdetails_value}}</td>
                <td>{{value.product_name}}</td>
                <td>{{value?.branch?.name}}</td>
                <td>{{value?.location?.name}}</td>
                <td>{{value.status}}</td>
                <td><input type="checkbox" [value]="value.id"
                    (change)="onCheckboxChange($event,value,i)"></td>
                       
                    </tr>
                </tbody>
            </table>
            
            <div *ngIf="changesummmary ?.length == 0" style="margin-left: 42%;">
                <h3>Sorry data not found!.. </h3>
            </div>
        </div>
            <div style="margin-bottom: 5%;font-size: small;text-align:right;">
                <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
                    <mat-icon>arrow_back</mat-icon>
                </button> {{presentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
           
        </div>
        <div class=" row col-md-12" style="margin-top: -48px;margin-left: 26px;">
            <div class="row col-md-4">

                <mat-form-field class="example-full-width" style="width: 250px;">
                    <input class="toolbar-search" type="textarea" [(ngModel)]="reasons" matInput autocomplete="off" required>
                    <mat-placeholder>Asset Category Change Reason</mat-placeholder>
                </mat-form-field>
            </div>
            <div class="row col-md-4">
                <mat-form-field class="example-full-width">
                    <mat-label>Asset Category Change Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="date" [max]="today" [min]="min_Date" >
                    <!--  -->
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon (click)="mindatefind()" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- </form> -->
             <!-- Asset Change Checker Summary  -->
             <div class="col-md-4">
                <mat-form-field (click)="changecheck()" style="width: 220px;">
                    <mat-label> Change Category</mat-label>
                    <input #changeCategoryInput placeholder="Select Category" matInput [formControl]="categorychangeval" 
                        [matAutocomplete]="changeCategoryAutoComplete" required>

                    <mat-autocomplete #changeCategoryAutoComplete="matAutocomplete" [displayWith]="displayFnCategoryChange"
                        (opened)="autocompleteScrollcategoryChange()">
                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let category of changeCategoryValue" [value]="category">
                                {{category.subcatname}}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <!--End Asset Change Checker Summary  -->
            <div class="col-md-4">
                <button type="submit" style="border-radius:40px; margin-left: 374px;margin-bottom: 81px;margin-top: 20px" class="btn btn-outline-primary"
                    (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>
<ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
          >
            <p style="font-size: 20px; color: white">Loading...</p>
          </ngx-spinner>