.btn-outline-success{
    margin-left: 10px;
}
.btn-cancel {
    margin-left: 30%;
}

.matformfieldstyle{
    font-size:7px;
    margin-top: 5px
  }
  .matformfieldinputstyle{
    font-size:16px ;
  }