<div class="container" style="max-width: 1301px;">
    <div class="col-md-12">
        <h2 style="margin-left: 2%;font-family:Times New Roman;font-size:20px;color:blue;font-weight:bold;">Asset Sale Maker Add</h2>

<form [formGroup]="salesSummaryAdd" (ngSubmit)="assetsalesadd()">
    <div class=" row col-md-12">

        <!-- Asset category  -->
        <div class="col-md-3">
            <mat-form-field (click)="asset_category()" style="width: 250px;">
                <mat-label>Asset Sub-Category</mat-label>
                <input #categoryInput placeholder="Select Asset Category" matInput formControlName="category"
                    [matAutocomplete]="categoryAutoComplete">
                <!-- <mat-error *ngIf="vendorSearchForm.controls.category.errors?.matchRequired">
                Please select a character from the list.
              </mat-error> -->
                <mat-autocomplete #categoryAutoComplete="matAutocomplete" [displayWith]="displayFnAssest"
                    (opened)="autocompleteScrollcategory()">
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let category of category" [value]="category">
                            {{category.subcatname}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
                <!-- <mat-error *ngIf="vendorSearchForm.controls['category'].hasError('incorrect')">
            Please select a valid project
        </mat-error> -->

            </mat-form-field>
        </div>
        <!--End Asset category  -->

        <!-- Branch Name -->
        <div class="col-md-3">
            <mat-form-field (click)="Branch()" style="width: 250px;">
                <mat-label>Branch Name</mat-label>
                <input #BranchInput placeholder="Select Branch Name" matInput formControlName="branch_name"
                    (focusout)="onFocusOutEvent($event)" [matAutocomplete]="branch">
                <mat-autocomplete #branch="matAutocomplete" [displayWith]="displayFn"
                    (opened)="autocompleteScroll()">
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let employee of employeeList" [value]="employee">{{employee.name}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <!-- End Branch Name -->
        <!-- Asset barcode -->
        <div class="col-md-3">
            <mat-form-field  style="width: 250px;">
                <!-- (click)="Assetbarcode()" -->
                <mat-label>Asset Barcode ID</mat-label>
                <input #AssetInput placeholder="Select Asset Barcode" matInput formControlName="barcode"
                    >
                    <!-- [matAutocomplete]="asset" -->
                <!-- <mat-autocomplete #asset="matAutocomplete" [displayWith]="displayFnAssestId"
                    (opened)="autocompleteScrollAssetId()">
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let details of assetDetails" [value]="details">{{details.barcode}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete> -->
            </mat-form-field>
        </div>
        <!-- End Asset barcode -->
        <!-- cap date -->

        <div class="col-md-3">
            <mat-form-field  style="width: 250px;">
                <mat-label>Capitalisation Date</mat-label>
                <input matInput [matDatepicker]="excemfrom" formControlName="capdate_Value">
                <mat-datepicker-toggle matSuffix [for]="excemfrom"></mat-datepicker-toggle>
                <mat-datepicker #excemfrom disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- end Cap Date -->
        <!-- Asset Value -->
        <div class="col-md-3">
        <mat-form-field style="width: 250px;">
            <mat-label>Asset Value</mat-label>
            <input type="text" formControlName="asset_value" (keypress)="decimalFilter($event)" matInput
                placeholder="Asset Value">
        </mat-form-field>
        </div>
        <!-- end Asset Value -->


        <div class="col-md-3">
        <button type="submit" mat-fab color="basic" matTooltip="Search"
            style="margin-top: 12px;"><mat-icon>search</mat-icon>
        </button>
        </div>
        <div class="col-md-2">
            <button type="button" mat-fab color="basic" (click)="clearSearch()" matTooltip="Clear"
                style="margin-top: 12px;">Clear
            </button>
        </div>

        <div class="col-md-3">
        <button type="button" mat-fab color="basic"  routerLink="/fa/Assetsalesummary" matTooltip="Back"
            style="margin-top: 12px;">Back</button>
            </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table scrolltable table-bordered" style="width: 240%; margin-top: 20px;">
        <thead class="table_header " fixed-header>
            <tr>
                <th>S.No</th>
                <th>Asset Barcode ID</th>
                <th>Product Name</th>
                <th>Asset Sub-Category</th>
                <th>Capitalisation Date</th>
                <th>Asset Value</th>
                <th>Branch Name</th>
                <th>Location</th>
                <th>CB Value</th>
                <th>End Date</th>
                <th>Last Dep Run Date</th>
                <th>HSN Code</th>
                <th>SGST Rate</th>
                <th>CGST Rate</th>
                <th>IGST Rate</th>
                <th>Sale Rate</th>
                <th>Status</th>
                <th>Action</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of assetsalesValue; index as i;" style="padding-left: 84px;">
                <td style="text-align:center;"> {{(presentpage - 1)*identificationSize +i+1 }} </td>
                <td>{{value.assetdtls_id}}</td>
                <!-- <td>{{value.assetcat_subcatname}}</td> -->
                <td>{{value.product_name}}</td>
                <td>{{value.assetcat_subcatname}}</td>
                <td style="text-align:center;">{{value.capdate| date:'dd-MMM-yyyy '}}</td>
                <td style="text-align:end;">{{value.assetvalue}}</td>
                <td>{{value.branch_name}}</td>
                <td>{{value.location}}</td>
                <td style="text-align:end;">{{value.cb_value}}</td>
                <td style="text-align:center;">{{value.end_date| date:'dd-MMM-yyyy '}}</td>
                <td>{{value.last_dep_rundate}}</td>
                <td><input readonly type="number" class="form-control" min="1"  min="1"  [disabled]="chkEnable.checked" name="newvalue-{{i}}"
                    [(ngModel)]="value.hsn_details.code"> </td>
                    <td><input readonly type="number" class="form-control"   min="1"  [disabled]="chkEnable.checked" name="newvalue-{{i}}"
                        [(ngModel)]="value.hsn_details.sgstrate"> </td>
                        <td><input readonly type="number" class="form-control"  min="1"  [disabled]="chkEnable.checked" name="newvalue-{{i}}"
                            [(ngModel)]="value.hsn_details.cgstrate"> </td>
                            <td><input readonly type="number" class="form-control"  min="1"  [disabled]="chkEnable.checked" name="newvalue-{{i}}" 
                                [(ngModel)]="value.hsn_details.igstrate"> </td>
                <!-- <td>{{value.hsn_details.code}}</td>
                <td>{{value.hsn_details.sgstrate}}</td>
                <td>{{value.hsn_details.cgstrate}}</td>
                <td>{{value.hsn_details.igstrate}}</td> -->
                <td><input type="number"  [(ngModel)]="value.sale_rate"  min="1"  [disabled]="chkEnable.checked"></td>
                <td>{{value.assetdetails_status}}</td>
                <td><input type="checkbox" #chkEnable [checked]="value.con" [disabled]="value.sale_rate===undefined || value.sale_rate===null" [value]="value.id"
                    (change)="onCheckboxChange($event,value,i)"></td>

            </tr>
        </tbody>
    </table>

    <div *ngIf="assetsalesValue ?.length == 0" style="margin-left: 42%;">
        <h3>Sorry data not found!.. </h3>
    </div>
</div>
<div style="margin-bottom: 5%;font-size: small;text-align:right;">
    <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
        <mat-icon>arrow_back</mat-icon>
    </button> {{presentpage}}
    <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
        <mat-icon>arrow_forward</mat-icon>
    </button>

</div>

<div>
    
    
    <div class=" row col-md-12" style="margin-top: -48px;margin-left: 43px;">
        <div class="row col-md-3">

            <mat-form-field class="example-full-width">
                <input class="toolbar-search" type="textarea" [(ngModel)]="reasons" matInput autocomplete="off" required>
                <mat-placeholder>Sale Reason</mat-placeholder>
            </mat-form-field>
        </div>
        <div class="col-md-2" style="max-width: 18.66667%;">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="selectedsale" (change)="onChangeSaleValue($event)" style="height: 44px; ">
                <mat-button-toggle [value]="invoice">Invoice</mat-button-toggle>
                <mat-button-toggle [value]="SaleNote">Sale Note</mat-button-toggle>
                
              </mat-button-toggle-group>
            </div>
        <!-- <div class="row col-md-4"> -->
            <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
             <!--add customer  -->
             <div class="col-md-1">
                <!-- <button type="button" class="btn btn-outline-success  text-right" (click)="open(mymodal)"
                skipLocationChange style="border-radius:40px;height: 35px; margin-top: 8px;"><span class="fa fa-plus"></span> -->
                <button type="button" class="btn btn-outline-success  text-right" data-toggle="modal" data-target="#myModal" style="border-radius:40px;height: 35px; margin-top: 8px;"><span class="fa fa-plus"></span></button>
                </div>
              
                <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button> -->
<!-- asset category -->
    <!-- <div class="row col-md-12" > -->
        <div class="col-md-3">
            <mat-form-field (click)="assetCustomer()" style="width: 220px;">
                <mat-label>Customer Name</mat-label>
                <input #CustomerValueInput placeholder="Select Customer Name" matInput [formControl]="CustomerValue" required
                    [matAutocomplete]="CustomerAutoCompleteref">
                <mat-autocomplete #CustomerAutoCompleteref="matAutocomplete" [displayWith]="displayFnCustomerAssest"
                    (opened)="autocompleteScrollCustomerValue()">
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let Customer of CustomerValueDetails" [value]="Customer">
                            {{Customer.name}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <!--End Asset Customer  -->
    
   
            <!--start date -->
            <div class="col-md-3">
                <mat-form-field   class="example-full-width">
                    <mat-label>Sale date</mat-label>
                    <input matInput [matDatepicker]="picker"  [(ngModel)]="date" [max]="today" [min]="min_Date">
                    <mat-datepicker-toggle  matSuffix [for]="picker">
                        <mat-icon (click)="mindatefind()"  matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
          
            <!-- <div class="col-md-4">
                <label *ngFor="let invoice of invoice">
                    <input type="radio" name="options" (click)="model.option = invoice"
                    [checked]="invoice === model.option">{{invoice}}
                  </label>
            </div> -->
            <!-- end date -->
    <!-- <div class="col-md-3" style="width: 166%;"> -->
        <!-- <div
        class="modal"
        tabindex="-1"
        role="dialog"
        [ngStyle]="{'display':displayStyle}"> -->
        <!-- <div class="modal" role="dialog" [class.show]="show"> -->


            <div class="container">
                <!-- <h2>Modal Close</h2> -->
                <!-- Trigger the modal with a button -->
                <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open</button> -->
              
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Customer Create</h4>

                        <button type="button" #closebutton2 (click)="onCancel()" class="close" data-dismiss="modal">&times;</button>
                        
                      </div>
                      <div class="modal-body">
                        <div class=" row col-md-12">  
                            <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Customer Name</mat-label>
                            <input  matInput  [(ngModel)]="customer_Name" 
                                placeholder="Customer Name">
                        </mat-form-field>
                        </div>
                     
                        <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Customer GST No</mat-label>
                            <input  matInput  [(ngModel)]="gstno" pattern="^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$" [maxlength]="15"
                                placeholder="Customer GST No" (keypress)="numberOnly($event)">
                            <mat-error>It must contain 15 character with digits</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label><b>Customer Code</b></mat-label>
                                <input type="number" matInput [(ngModel)]="customercode">
                            </mat-form-field>
                            </div>
                        <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Contact No</mat-label>
                            <input type="number" matInput  [(ngModel)]="contactno"
                                placeholder="Contact No" (keypress)="numberOnlys($event)" [maxlength]="10" >
                        </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>ADHOC</mat-label>
                            <input type="text"  matInput value="ADHOC" readonly>
                        </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Customer Address</mat-label>
                            <input type="text" matInput  [(ngModel)]="customeraddress"
                                placeholder="Customer Address">
                        </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        <mat-form-field (click)="CustomerState()" style="width: 220px;">
                            <mat-label>State</mat-label>
                            <input #CustomerStateInput placeholder="Select State" matInput [formControl]="customerState"
                                [matAutocomplete]="CustomerStateAutoCompleteref">
                            <mat-autocomplete #CustomerStateAutoCompleteref="matAutocomplete" [displayWith]="displayFnState" (opened)="autocompleteScrollCustomerState()"
                                >
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let Customer of CustomerValueState" [value]="Customer">
                                        {{Customer.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
               
                        </div>
                      </div>
                      </div>
                      
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="addCustomer()">save</button>
            
            
                        <button type="button" 
                    class="btn btn-outline-dark" 
                    (click)="onCancel()">
                    Back
                </button>
                       </div> 
                    </div>
                  </div>
                </div>
                
              </div>
        
        <!-- <ng-template #mymodal let-modal style="width: 146%;" >
            <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Customer Create</h4>
            <button type="button" class="close"   aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" >
            <div class=" row col-md-12">  
                <div class="col-md-3">
            <mat-form-field>
                <mat-label>Customer Name</mat-label>
                <input type="text" matInput  [(ngModel)]="customer_Name"
                    placeholder="Customer Name">
            </mat-form-field>
            </div>
         
            <div class="col-md-3">
            <mat-form-field>
                <mat-label>Customer GST No</mat-label>
                <input type="number" matInput  [(ngModel)]="gstno"
                    placeholder="Customer GST No">
            </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label><b>Customer Code</b></mat-label>
                    <input type="number" matInput readonly>
                </mat-form-field>
                </div>
            <div class="col-md-3">
            <mat-form-field>
                <mat-label>Contact No</mat-label>
                <input type="number" matInput  [(ngModel)]="contactno"
                    placeholder="Contact No" >
            </mat-form-field>
            </div>
            <div class="col-md-3">
            <mat-form-field>
                <mat-label>ADHOC</mat-label>
                <input type="text" matInput  
                     readonly>
            </mat-form-field>
            </div>
            <div class="col-md-3">
            <mat-form-field>
                <mat-label>Customer Address</mat-label>
                <input type="text" matInput  [(ngModel)]="customeraddress"
                    placeholder="Customer Address">
            </mat-form-field>
            </div>
            <div class="col-md-3">
            <mat-form-field (click)="CustomerState()" style="width: 220px;">
                <mat-label>State</mat-label>
                <input #CustomerStateInput placeholder="Select State" matInput [formControl]="customerState"
                    [matAutocomplete]="CustomerStateAutoCompleteref">
                <mat-autocomplete #CustomerStateAutoCompleteref="matAutocomplete" [displayWith]="displayFnState"
                    >
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let Customer of CustomerValueState" [value]="Customer">
                            {{Customer.name}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
   
            </div>
          </div>
          </div>
          
          <div class="modal-footer">
          

            <button type="button" class="btn btn-outline-dark" (click)="addCustomer()" (click)="modal.close('save click')" >save</button>
            
            
                <button type="button" 
            class="btn btn-outline-dark" 
            (click)="modal.close('Back click')">
            Back
        </button>
          </div>
          </div>
        </ng-template> -->
    <!-- </div> -->
        <!-- end customer -->
    </div>
</div>
<!-- <button mat-raised-button (click)="openDialog(content)">Pick one</button> -->
</div>
</div>

        <div style="margin-top: 51px;margin-bottom: 52px; margin-left: 632px;">
            <button type="submit" style="border-radius:40px;margin-right: 120px;" class="btn btn-outline-primary"
                (click)="submit()">Submit</button>
        
            
        </div>
       
        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
      >
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>