<div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 100%;">
    <h3 style="font-family: 'Times New Roman', Times, serif;font-size: 23px;color: blue;" >
       Add Permission
    </h3>
    <div>
        <form [formGroup]="permissionForm" (ngSubmit)="submitPermission()">
            <table>
                <tr>
                    <td>
                        <mat-form-field style="width: 175px;">
                            <mat-label>Module</mat-label>
                            <mat-select formControlName="module_id">
                                <mat-option *ngFor="let module of moduleList" (click)="ddModuleChangee(module)"
                                    [value]="module.id">{{module.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td *ngIf="isMaster">
                        <mat-form-field style="width: 175px;margin-left: -427%;">
                            <mat-label>Sub Module</mat-label>
                            <mat-select formControlName="submodule_id">
                                <mat-option *ngFor="let submodule of subMoudleList" [value]="submodule.id">
                                    {{submodule.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field style="width: 175px;margin-top: 20px;">
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="role_id">
                                <mat-option *ngFor="let role of roleList" [value]="role.id">{{role.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field style="width: 1000px;margin-top: 20px;">
                            <mat-label>Employee<label style="color: red;">*</label></mat-label>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let employee of chipSelectedEmployee" [selectable]=true
                                    [removable]=true (removed)="removeEmployee(employee)">
                                    {{employee.full_name}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input #employeeInput [formControl]="employeeControl" [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]=true>
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="employeeSelected($event)">
                                <mat-option *ngFor="let thisEmployee of allEmployeeList" [value]="thisEmployee">
                                    {{thisEmployee.full_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <button type="submit" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-primary"
                [disabled]="permissionForm.invalid">Assign</button>
            <button type="button" (click)="onCancelClick()" style="border-radius: 40px;margin-left: 10px;"
            class="btn btn-outline-primary">Cancel</button>
        </form>
    </div>
</div>



