<div class="Container" style="margin-left: 20px;">
	<nav>
		<div class="nav nav-tabs" style="margin-top: 1%;"> <span class="nav-item nav-link "  data-toggle="tab" role="tab"
				(click)="pprsubModuleData(sub)" *ngFor="let sub of PPRMenuList">
				{{sub.name}}
			</span>
			<!-- <button type="button" class="btn btn-outline-success" *ngIf="ismakerCheckerButton" (click)="addForm()"
                        style="border-radius: 20px;margin-left: 300px;margin-top: 10px;" color="primary"><span
                            class="fa fa-plus"></span>    (click)="subModuleData(sub)"
                        {{addFormBtn}} </button> -->
		</div>
	</nav>
	
</div>
<!-- <div *ngIf="budgetbuilderAdd">
	<app-budget-builder></app-budget-builder>
</div> -->

<div class="container" *ngIf="expense_budget_mgmt">
	<br>
	<h2>Expense Budget Management</h2>
	<form [formGroup]="pprSearchForm">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<!-- <label style="margin-left: 20px;color: blue;">Branch: </label> -->
					<mat-form-field (click)="finyear_dropdown()">
						<mat-label>Fin Year</mat-label>
						<input placeholder="fin_year" matInput formControlName="finyear" #finyearInput
							[matAutocomplete]="fin_year" required> 
						<mat-autocomplete #fin_year="matAutocomplete" [displayWith]="displayfnfinyear"
							(opened)="autocompletefin_yearScroll()">
							<mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
							<ng-container *ngIf="!isLoading">
								<mat-option *ngFor="let finyearname of finyearList" [value]="finyearname">
									{{finyearname.finyer}} </mat-option>
							</ng-container>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<!-- <div class="col-md-3">
                        <mat-form-field class="example-full-width" style="margin-left: 3%;">
                            <input class="toolbar-search" type="text" matInput formControlName='finyear' autocomplete="off">
                            <mat-placeholder>Fin Year</mat-placeholder>
                        </mat-form-field>
                    </div> -->
				<div class="col-md-3">
					<mat-label>Select Quarterly or Monthly</mat-label>
					<br>
					<mat-radio-group aria-label="Select Quarterly or Monthly" formControlName="year_term"
						#group="matRadioGroup">
						<mat-radio-button value="Quarterly">Quarterly</mat-radio-button>&nbsp;&nbsp;&nbsp;
						<mat-radio-button value="Monthly"> Monthly</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="col-md-3">
					<mat-label>Select Amount</mat-label>
					<br>
					<mat-radio-group aria-label="Select Quarterly or Monthly" formControlName="divAmount"
						#group="matRadioGroup">
						<mat-radio-button value="L">In Lakhs</mat-radio-button>&nbsp;&nbsp;&nbsp;
						<mat-radio-button value="T"> In Thousands</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="col-md-3">
					<!-- <label style="margin-left: 20px;color: blue;">Branch: </label> -->
					<mat-form-field (click)="branchname()">
						<mat-label>Branch</mat-label>
						<input #branchInput placeholder="branch" matInput formControlName="branch_id"
							#branchContactInput [matAutocomplete]="branch" >
						<mat-autocomplete #branch="matAutocomplete" [displayWith]="displayfnbranch"
							(opened)="autocompletebranchnameScroll()">
							<mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
							<ng-container *ngIf="!isLoading">
								<mat-option *ngFor="let branch of branchList" [value]="branch">
									{{branch.code}}-{{branch.name}} </mat-option>
							</ng-container>
						</mat-autocomplete>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<!--  <div class="col-md-3">
                        <m at-form-field class="example-full-width" style="margin-left: 3%;">
                            <input class="toolbar-search" type="text" matInput formControlName='sectorname' autocomplete="off">
                            <mat-placeholder>Sector</mat-placeholder>
                        </mat-form-field>
                    </div> -->
				<div class="col-md-3">
					<!-- <label style="margin-left: 20px;color: blue;">Branch: </label> -->
					<mat-form-field (click)="Sector_dropdown()">
						<mat-label>Sector</mat-label>
						<input placeholder="Sector" matInput formControlName="sectorname" #sectornameInput
							[matAutocomplete]="sector_name" required>
						<mat-autocomplete #sector_name="matAutocomplete" [displayWith]="displayfnsectorname"
						(opened)="autocompletesectorScroll()">
							<mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
							<ng-container *ngIf="!isLoading">
								<mat-option *ngFor="let sector of sectorList" [value]="sector"
									(click)="secotralldata_clear()" (focusout)="selectsectorSection(sector)">
									{{sector.name}} </mat-option>
							</ng-container>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<!-- <div class="col-md-3">
                        <mat-form-field class="example-full-width" style="margin-left: 3%;">
                            <input class="toolbar-search" type="text" matInput formControlName='businesscontrol' autocomplete="off">
                            <mat-placeholder>Business</mat-placeholder>
                        </mat-form-field>
                    </div> -->
				<div class="col-md-3">
					<!-- <label style="margin-left: 20px;color: blue;">Branch: </label> -->
					<mat-form-field (click)="Business_dropdown()">
						<mat-label>Business</mat-label>
						<input placeholder="Business" matInput formControlName="businesscontrol" #businessInput
							[matAutocomplete]="business_name">
						<mat-autocomplete #business_name="matAutocomplete" [displayWith]="displayfnbusiness"
							(opened)="autocompletebusinessnameScroll()">
							<mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
							<ng-container *ngIf="!isLoading">
								<mat-option *ngFor="let business of businessList" 
									[value]="business" (focusout)="selectbusinessSection(business)"> {{business.name}}
								</mat-option>
							</ng-container>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<div class="col-md-3">
					<!-- <label style="margin-left: 20px;color: blue;">Branch: </label> -->
					<mat-form-field (click)="bsname_dropdown()">
						<mat-label>BS</mat-label>
						<input placeholder="bs" matInput formControlName="bs_id" #bsInput [matAutocomplete]="bs">
						<mat-autocomplete #bs="matAutocomplete" [displayWith]="displayfnbs"
							(opened)="autocompletebsnameScroll()">
							<mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
							<ng-container *ngIf="!isLoading">
								<mat-option *ngFor="let bs of bsList" [value]="bs" 
									(focusout)="selectbsSection(bs)"> {{bs.name}} </mat-option>
							</ng-container>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<div class="col-md-3">
					<!-- <label style="margin-left: 20px;color: blue;">Branch: </label> -->
					<mat-form-field (click)="ccname_dropdown()">
						<mat-label>CC</mat-label>
						<input #bsclear_nameInput placeholder="cc_name" matInput formControlName="cc_id" #ccInput
							[matAutocomplete]="cc_name">
						<mat-autocomplete #cc_name="matAutocomplete" [displayWith]="displayfncc"
							(opened)="autocompletccnameScroll()">
							<mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
							<ng-container *ngIf="!isLoading">
								<mat-option *ngFor="let cc of ccList" [value]="cc"> {{cc.name}} </mat-option>
							</ng-container>
						</mat-autocomplete>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<!-- <label style="margin-left: 20px;color: blue;">Branch: </label> -->
					<!-- <mat-form-field (click)="Expensegrp_dropdown()">
                                        <mat-label>Expense Group</mat-label>
                                        <input placeholder="Expense" matInput formControlName="expensegrp" #expenseInput
                                            [matAutocomplete]="expense_name">
                                        <mat-autocomplete #expense_name="matAutocomplete" [displayWith]="displayfnexpense"
                                        (opened)="autocompletebsnameScroll()">
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let expense of expensegrpList" [value]="expense">
                                                    {{expense.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                        
                                    </mat-form-field>  -->
					<mat-form-field style="width: 100%;" (click)="Expensegrp_dropdown()">
						<mat-label>Expense Group</mat-label>
						<mat-chip-list #chipListprod>
							<mat-chip *ngFor="let pro of chipSelectedprod" [selectable]=true [removable]=true
								(removed)="removedprod(pro)"> {{pro.name}}
								<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
							<input #expInput [formControl]="expensegrp" [matAutocomplete]="exp"
								[matChipInputFor]="chipListprod" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
								[matChipInputAddOnBlur]=true>
						</mat-chip-list>
						<mat-autocomplete #exp="matAutocomplete" (optionSelected)="prodSelected($event)" (opened)="autocompletexpenseScroll()">
							<mat-option *ngFor="let prod of expenseList" [value]="prod"> {{prod.name}} </mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>

				<div class="col-md-3">

					<section class="example-section">
						<mat-checkbox class="example-margin" formControlName="supplier_check">Supplier</mat-checkbox>
					</section>
					<!-- <br>
					<mat-radio-group aria-label="Select Quarterly or Monthly" formControlName="supplier_check" #group="matRadioGroup">
						<mat-radio-button value="Y">Yes</mat-radio-button>
						<mat-radio-button value="N"> No</mat-radio-button>
					</mat-radio-group> -->
				</div>
				<div class="col-md-3">
					<!-- <div class="example-button-container"> -->
					<button type="submit" (click)="pprsearech_click(this.pprSearchForm.value)"
						style="border-radius: 40px;" class="btn btn-outline-primary">
						Search
					</button>
					<!-- </div> -->
				</div>
				<div class="col-md-3">
					<button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary"
						(click)="clear_budgetdata()">Reset</button>
				</div>
				<!-- <div class="col-md-3">
					<button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary"
						(click)="ppr_mono(counting)">Data Sync</button>
				</div> -->
			</div>
		</div>
	</form> <span style="margin-left: 800px;color: blue;">{{amount_type}}</span>

	<div class="tableFixHead">
		<!-- <table> -->
		<table class="table table-bordered" fixed-header id="commonstyle">
			<thead [hidden]=headercheckone>
				<tr>
					<th>Direct Cost</th>
					<th>{{ Apr}} </th>
					<th>{{ May}}</th>
					<th>{{ Jun}} </th>
					<th>{{ Jul}} </th>
					<th>{{ Aug}} </th>
					<th>{{ Sep}} </th>
					<th>{{ Oct}} </th>
					<th>{{ Nov}}</th>
					<th>{{ Dec}} </th>
					<th>{{ Jan}}</th>
					<th>{{ Feb}} </th>
					<th>{{ Mar}} </th>
					<th>YTD </th>
				</tr>
			</thead>
			<thead [hidden]=headercheck class="table_header">
				<tr>
					<th>Direct Cost</th>
					<th>Quarterly-1 </th>
					<th>Quarterly-2</th>
					<th>Quarterly-3</th>
					<th>Quarterly-4 </th>
					<th>YTD </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let ppr of summarydata; index as i" [hidden]=headercheckone>
					<td [ngStyle]="{'padding':ppr.Padding,'padding-left':ppr.Padding_left}">
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Padding_left!='120px'"> <a style="color: blue;" class="ng-binding"
									(click)="treelevel_click(i,ppr,summarydata)">
									{{ppr.name}}</a></div>
							<div *ngIf="ppr.Padding_left=='120px'">{{ppr.name}}</div>
						</div>
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Padding_left!='100px'"><a style="color: blue;" class="ng-binding"
									(click)="treelevel_click(i,ppr,summarydata)"> {{ppr.name}}</a></div>
							<div *ngIf="ppr.Padding_left=='100px'">{{ppr.name}}</div>
						</div>

						<!-- <div *ngIf="ppr.hasOwnProperty('page')"><a style="color:green;" class="ng-binding" (click)="treelevel_more_click(i,ppr,summarydata)">more</a></div> -->
					</td>
					<td>
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Apr=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Apr}}</div>
							</div>
							<div *ngIf="ppr.Apr!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg"
									(click)="openpopup_fn(ppr,4,'')">
									{{ppr.Apr}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Apr=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Apr}}</div>
							</div>
							<div *ngIf="ppr.Apr!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',4)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Apr}}</a> </div>
						</div>
					</td>
					<td align="right">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.May=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.May}}</div>
							</div>
							<div *ngIf="ppr.May!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,5,'')">
									{{ppr.May}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.May=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.May}}</div>
							</div>
							<div *ngIf="ppr.May!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',5)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.May}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Jun=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Jun}}</div>
							</div>
							<div *ngIf="ppr.Jun!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,6,'')">
									{{ppr.Jun}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Jun=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Jun}}</div>
							</div>
							<div *ngIf="ppr.Jun!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',6)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Jun}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Jul=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Jul}}</div>
							</div>
							<div *ngIf="ppr.Jul!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,7,'')">
									{{ppr.Jul}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Jul=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Jul}}</div>
							</div>
							<div *ngIf="ppr.Jul!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',7)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Jul}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Aug=='0.00'|| ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Aug}}</div>
							</div>
							<div *ngIf="ppr.Aug!='0.00'&& ppr.name!='Total :' &&ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,8,'')">
									{{ppr.Aug}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Aug=='0.00'|| ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Aug}}</div>
							</div>
							<div *ngIf="ppr.Aug!='0.00'&& ppr.name!='Total :' &&ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',8)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Aug}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Sep=='0.00'|| ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Sep}}</div>
							</div>
							<div *ngIf="ppr.Sep!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,9,'')">
									{{ppr.Sep}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Sep=='0.00'|| ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Sep}}</div>
							</div>
							<div *ngIf="ppr.Sep!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',9)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Sep}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Oct=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Oct}}</div>
							</div>
							<div *ngIf="ppr.Oct!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg"
									(click)="openpopup_fn(ppr,10,'')">
									{{ppr.Oct}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Oct=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Oct}}</div>
							</div>
							<div *ngIf="ppr.Oct!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',10)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Oct}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Nov=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Nov}}</div>
							</div>
							<div *ngIf="ppr.Nov!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg"
									(click)="openpopup_fn(ppr,11,'')">
									{{ppr.Nov}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Nov=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Nov}}</div>
							</div>
							<div *ngIf="ppr.Nov!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopup2-modal-lg"
									(click)="ecfgetsupplierdetails(ppr,'',11)">
									{{ppr.Nov}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Dec=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Dec}}</div>
							</div>
							<div *ngIf="ppr.Dec!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg"
									(click)="openpopup_fn(ppr,12,'')">
									{{ppr.Dec}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Dec=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Dec}}</div>
							</div>
							<div *ngIf="ppr.Dec!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',12)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Dec}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Jan=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Jan}}</div>
							</div>
							<div *ngIf="ppr.Jan!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,1,'')">
									{{ppr.Jan}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Jan=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Jan}}</div>
							</div>
							<div *ngIf="ppr.Jan!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',1)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Jan}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Feb=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Feb}}</div>
							</div>
							<div *ngIf="ppr.Feb!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,2,'')">
									{{ppr.Feb}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Feb=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Feb}}</div>
							</div>
							<div *ngIf="ppr.Feb!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',2)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Feb}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Mar=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Mar}}</div>
							</div>
							<div *ngIf="ppr.Mar!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;" data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,3,'')">
									{{ppr.Mar}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Mar=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Mar}}</div>
							</div>
							<div *ngIf="ppr.Mar!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',3)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Mar}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="ppr.YTD=='0.00'">
							<div>{{ppr.YTD}}</div>
						</div>
						<div *ngIf="ppr.YTD!='0.00'">
							<!-- <a href="" class="ng-binding"> -->{{ppr.YTD}}
							<!-- </a> -->
						</div>
					</td>
				</tr>
				<tr *ngFor="let ppr of summarydata; index as i" [hidden]=headercheck>
					<!-- <td align="center"> {{(this.currentpage - 1)*pageSize +i+1 }} </td> -->
					<!-- <td align="center" (click)="view_los_data(los)" style="cursor: pointer;color:blue;"> -->
					<!-- {{los.ApplNo}}</td> -->
					<td [ngStyle]="{'padding':ppr.Padding,'padding-left':ppr.Padding_left}">
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Padding_left!='120px'"> <a style="color: blue;" class="ng-binding"
									(click)="treelevel_click(i,ppr,summarydata)">
									{{ppr.name}}</a></div>
							<div *ngIf="ppr.Padding_left=='120px'">{{ppr.name}}</div>
						</div>
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Padding_left!='100px'"><a style="color: blue;" class="ng-binding"
									(click)="treelevel_click(i,ppr,summarydata)"> {{ppr.name}}</a></div>
							<div *ngIf="ppr.Padding_left=='100px'">{{ppr.name}}</div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Quarterly_1=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Quarterly_1}}</div>
							</div>
							<div *ngIf="ppr.Quarterly_1!='0.00' && ppr.name!='Total' && ppr.Padding_left=='100px'">
								<div> <a style="color: blue;"data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg"
										(click)="openpopup_fn(ppr,'',1)">
										{{ppr.Quarterly_1}}</a></div>
							</div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Quarterly_1=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Quarterly_1}}</div>
							</div>
							<div *ngIf="ppr.Quarterly_1!='0.00' && ppr.name!='Total' && ppr.Padding_left=='120px'">
								<div> <a style="color: blue;" data-toggle="modal"
										(click)="ecfgetsupplierdetails(ppr,'',1)" data-target=".bd-ecfpopup2-modal-lg">
										{{ppr.Quarterly_1}}</a></div>
							</div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Quarterly_2=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Quarterly_2}}</div>
							</div>
							<div *ngIf="ppr.Quarterly_2!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;"data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,'',2)">
									{{ppr.Quarterly_2}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Quarterly_2=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Quarterly_2}}</div>
							</div>
							<div *ngIf="ppr.Quarterly_2!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',2)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Quarterly_2}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Quarterly_3=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Quarterly_3}}</div>
							</div>
							<div *ngIf="ppr.Quarterly_3!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;"data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,'',3)">
									{{ppr.Quarterly_3}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Quarterly_3=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Quarterly_3}}</div>
							</div>
							<div *ngIf="ppr.Quarterly_3!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',3)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Quarterly_3}}</a> </div>
						</div>
					</td>
					<td style="text-align: right;">
						<div *ngIf="supplier_chkval=='N'">
							<div *ngIf="ppr.Quarterly_4=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='100px'">
								<div>{{ppr.Quarterly_4}}</div>
							</div>
							<div *ngIf="ppr.Quarterly_4!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='100px'"> <a
									style="color: blue;"data-toggle="modal" data-target=".bd-ecfpopupsuplier-modal-lg" (click)="openpopup_fn(ppr,'',4)">
									{{ppr.Quarterly_4}}</a> </div>
						</div>
						<div *ngIf="supplier_chkval=='Y'">
							<div *ngIf="ppr.Quarterly_4=='0.00' || ppr.name=='Total :' || ppr.Padding_left!='120px'">
								<div>{{ppr.Quarterly_4}}</div>
							</div>
							<div *ngIf="ppr.Quarterly_4!='0.00' && ppr.name!='Total :' && ppr.Padding_left=='120px'"> <a
									style="color: blue;" data-toggle="modal" (click)="ecfgetsupplierdetails(ppr,'',4)"
									data-target=".bd-ecfpopup2-modal-lg">
									{{ppr.Quarterly_4}}</a> </div>
						</div>
					</td>
					<td align="left">{{ppr.YTD}}</td>
				</tr>
			</tbody>
		</table>
		<div *ngIf="summarydata ?.length == 0" style="margin-left: 42%;">
			<h3>Sorry data not found!.. </h3>
		</div>
		<div class="modal fade bd-ecfpopupsuplier-modal-lg" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabels" aria-hidden="true">
			<div class="modal-dialog modal-lg"
				style="max-width: 100%;max-height: 100%;width: 100%; height: 100%;border-radius: 0;  width: 100%;height: 100%;padding-left: 20px;padding-bottom: -264px; padding-right: 19px;display: block;">
				<div class="modal-content">
					<div class="modal-header">
						<h1 style="color: blue;">Supplier</h1>


						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<nav>
						<div class="nav nav-tabs" style="margin-top: 1%;"> <span class="nav-item nav-link active"
								data-toggle="tab" role="tab" (click)="popuptab_click('supplier')">
								Supplier
							</span> <span class="nav-item nav-link " data-toggle="tab" role="tab"
								(click)="popuptab_click('ccbs')">
								CCBS
							</span> </div>
					</nav>
					<div *ngIf="tabcheck_supplier" style="margin-left: 2%;margin-right: 1%;">
						<div class="tableFixHead"  >
						<table class="table table scrolltable table-bordered" id='commonstyle'>
							<thead class="table_header">
								<tr>
									<th>S.No</th>
									<th>Supplier Name</th>
									<th>Supplier Code</th>
									<th>Supplier Branch</th>
									<th>Supplier GST NO</th>
									<th>Supplier PAN NO</th>
									<th>ECF Count </th>
									<th>Total</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let supplier_obj of supplierList; index as i">
									<td>{{i+1}}</td>
									<td>{{supplier_obj.supplier_name}}</td>
									<td>{{supplier_obj.supplier_code}}</td>
									<td>{{supplier_obj.supplier_branchname}}</td>
									<td>{{supplier_obj.supplier_gstno}}</td>
									<td>{{supplier_obj.supplier_panno}}</td>
									<td style="text-align: right;">{{supplier_obj.ecf_count}}</td>
									<td style="text-align: right;">{{supplier_obj.totamount}}</td>
									<td class="text-center">
										<a style="color: green;" (click)="ecf_show(supplier_obj)" class="ng-binding">
											<mat-icon>send</mat-icon>
										</a>
									</td>
								</tr>
								<tr *ngIf="supplierList ?.length == 0" style="margin-left: 42%;">
									<h3>Sorry data not found!.. </h3>
								</tr>
							</tbody>
						</table>
					
						</div>
						<div style="margin-bottom: 5%;font-size: small;text-align:right;">
							<button mat-icon-button [disabled]="has_previous === false" color="primary"
								(click)="previousClick()">
								<mat-icon>arrow_back
								</mat-icon>
							</button>
							{{presentpage}}
							<button mat-icon-button [disabled]="has_next === false" color="primary"
								(click)="nextClick()">
								<mat-icon>arrow_forward
								</mat-icon>
							</button>
						</div>
						<!-- <div *ngIf="supplierList ?.length == 0" style="margin-left: 42%;">
						<h3>Sorry data not found!.. </h3> -->
					<!-- </div> -->
					
						
						<!-- <button style="border-radius: 40px;margin-left: 10px;"
								class="btn btn-outline-primary" (click)="SaveDelivaryDetails()" >Save</button> -->
						
					</div>
					
					<div class="table-responsive" style="margin-top: 2%;width: 95%;margin-left: 10px;"
						*ngIf="tabcheck_ccbs">
						<table class="table table scrolltable table-bordered" id="commonstyle">
							<thead class="table_header">
								<tr>
									<th>S.No</th>
									<th>Sector Name</th>
									<th>Business Name</th>
									<th>BS Name</th>
									<th>CC Name</th>
									<th>Expense Grp Name</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let ccbs_obj of supplierccbsList; index as i">
									<td>{{i+1}}</td>
									<td>{{ccbs_obj.sectorname}}</td>
									<td>{{ccbs_obj.bizname}}</td>
									<td>{{ccbs_obj.bsname}}</td>
									<td>{{ccbs_obj.ccname}}</td>
									<td>{{ccbs_obj.expensegrpname}}</td>
									<td style="text-align: right;">{{ccbs_obj.totalamount}}</td>
								</tr>
								<!-- <tr>
								<td colspan="6" style="text-align: right;">Total :</td>
								<td 
									style="text-align: right;">
									2.19</td>
							</tr> -->
							</tbody>
						</table>
						<div *ngIf="supplierccbsList ?.length == 0" style="text-align: center;">
							<h3>Sorry data not found!.. </h3>
						</div>
						
					</div>
					<div style="margin-bottom: 5%;font-size: small;text-align:right;">
						<button mat-icon-button [disabled]="has_previous === false" color="primary"
							(click)="previousccbsClick()">
							<mat-icon>arrow_back
							</mat-icon>
						</button>
						{{presentpage}}
						<button mat-icon-button [disabled]="has_next === false" color="primary"
							(click)="nextccbsClick()">
							<mat-icon>arrow_forward
							</mat-icon>
						</button>
					</div>
					<br>
					<br>
					<div class="table-responsive" style="margin-top: 2%;width: 95%;margin-left: 10px;"
						*ngIf="tabcheck_ecf">
						<h2 class="modal-title" id="exampleModalLongTitle" style="color: blue;"
							*ngIf="tabcheck_ecf && !pecfhide">ECF DETAILS</h2>
						<!-- <h2 class="modal-title" id="exampleModalLongTitle" style="color: blue;"
							*ngIf="tabcheck_ecf && pecfhide">ECF DETAILS - FILE VIEW</h2> -->
						<div>
							<div *ngIf="tabcheck_ecf && !pecfhide">
								<span style="font-size: large;"> Supplier Name-{{supplier_name}}</span> &nbsp;
								&nbsp;&nbsp;
								<span style="font-size: large;">
									Branch-({{supplier_code}}){{supplier_branchname}}</span>
							</div>
							
							<div class="tableFixHead">
								
							<table class="table table scrolltable table-bordered" id="commonstyle" *ngIf="pecfhide==false">
								<thead class="table_header">
									<tr>
										<th>S.No</th>
										<th>CR NO</th>
										<th>Branch Code</th>
										<th>Branch Name</th>
										<th>Invoice Date </th>
										<th>Invoice NO</th>
										<th>Invoice Amount</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let ecf_obj of supplierecfList; index as i">
										<td>{{i+1}}</td>
										<td>{{ecf_obj.invoiceheader_crno}}</td>
										<td>{{ecf_obj.branch_code}}</td>
										<td>{{ecf_obj.branch_name}}</td>
										<td>{{ecf_obj.invoiceheader_invoicedate}}</td>
										<td>{{ecf_obj.invoiceheader_invoiceno}}</td>
										<td style="text-align: right;">{{ecf_obj.
											invoiceheader_amount}}</td>
										<td class="text-center">
											<a style="color: blue;" (click)="download(ecf_obj)" data-toggle="modal"
											data-target=".bd-examplepoppdf-modal-lg">
											<mat-icon>visibility</mat-icon>
										</a>
										</td>
									</tr>
									<!-- <tr>
									<td colspan="6" style="text-align: right;">Total :</td>
									<td style="text-align: right;"> 35,400</td>
								</tr> -->
								</tbody>
							</table>
							</div>
						</div>
					</div>
					
					<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" data-dismiss="modal">
					Close
				</button>
			</div>
				</div>
			</div>
		</div>

		<!-- month wise supplier -->

		<!-- <div style="margin-bottom: 5%;font-size: small;text-align:right;">
			<button mat-icon-button color="primary">
				<mat-icon>arrow_back</mat-icon>
			</button> 1
			<button mat-icon-button color="primary">
				<mat-icon>arrow_forward</mat-icon>
			</button>
		</div> -->
	</div>
</div>
<div *ngIf="dssreport">
	<!-- <app-ppr-report></app-ppr-report> -->
	<app-dss-report></app-dss-report>
</div>
<div *ngIf="tabcheck_pprbuilder">
	<app-budget-builder></app-budget-builder>
</div>
<div *ngIf="variance_analysis">
	<app-variance-analysis></app-variance-analysis>
</div>
<div *ngIf="cost_allocation">
	<app-cost-allocation></app-cost-allocation>
</div>
<div *ngIf="budgetreviewer">
	<app-budget-builder-viewer></app-budget-builder-viewer>
</div>
<div *ngIf="budgetapprover">
	<app-budget-builder-approve></app-budget-builder-approve>
</div>
<div *ngIf="emp_bs_mapping">
	<app-employee-business-mapping></app-employee-business-mapping>
	<!-- <h1>reviewer</h1> -->
</div>
<div *ngIf="tabcheck_ppr">
	<!-- <app-ppr-active-client></app-ppr-active-client> -->
	<app-ppr-report></app-ppr-report>
	<!-- <app-ppr-level></app-ppr-level> -->
	<!-- <h1>reviewer</h1> -->
</div>
<div *ngIf="ca_technology">
	<app-cost-transaction></app-cost-transaction>
	<!-- <h1>reviewer</h1> -->
</div>
<div *ngIf="tabcheck_pprchecker">
	<app-budget-builder-checker></app-budget-builder-checker>
	<!-- <h1>reviewer</h1> -->
</div>
<div *ngIf="expgrplevel_mapping">
	<app-expensegrp-level-mapping></app-expensegrp-level-mapping>
	<!-- <h1>reviewer</h1> -->
</div>
<div>

</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise">
	<p style="color: white">Loading... </p>
</ngx-spinner>
<!-- <pre>
                    {{pprSearchForm.value | json}}
                </pre> -->

<div class="modal fade bd-ecfpopup2-modal-lg" data-toggle="modal" data-backdrop="static" data-keyboard="false"
	tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabels">
	<div class="modal-dialog full_modal-dialog" style="max-width: 100%;max-height: 100%;width: 100%; height: 100%;border-radius: 0;  width: 100%;height: 100%;padding-left: 20px;padding-bottom: -264px; padding-right: 19px;display: block;">
		<!--  -->
		<div class="modal-content full_modal-content">
			<div class="modal-header">
				<h2 class="modal-title">ECF DETAILS</h2>
				<button type="button" class="close" #closepop data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="tableFixHead">
		<table class="table table scrolltable table-bordered" fixed-header>
			
				<thead class="table_header">
					<tr>
						<th>S.No</th>
						<th>CR NO</th>
						<th>Branch Code</th>
						<th>Branch Name</th>
						<th>Invoice Date </th>
						<th>Invoice NO</th>
						<th>Invoice Amount</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let ecf_obj of ecfval; index as i">
						<td>{{i+1}}</td>
						<td>{{ecf_obj.invoiceheader_crno}}</td>
						<td>{{ecf_obj.branch_code}}</td>
						<td>{{ecf_obj.branch_name}}</td>
						<td>{{ecf_obj.invoiceheader_invoicedate}}</td>
						<td>{{ecf_obj.invoiceheader_invoiceno}}</td>
						<td style="text-align: right;">{{ecf_obj.
							invoiceheader_amount}}</td>
						<td class="text-center">
							<!-- <a style="color: blue;" (click)="download(ecf_obj)" data-toggle="modal"
									data-target=".bd-examplepoppdf-modal-lg">
									<mat-icon>visibility</mat-icon>
								</a> -->
								<a style="color: green;" (click)="ecfpopup(ecf_obj)">
									<mat-icon>send</mat-icon>
								</a>
						</td>
					</tr>
					<!-- <tr>
											<td colspan="6" style="text-align: right;">Total :</td>
											<td style="text-align: right;"> 35,400</td>
										</tr> -->
				</tbody>
			</table>
			</div>
			<div *ngIf="ecfval ?.length == 0" style="margin-left: 42%;">
				<h3>Sorry data not found!.. </h3>
			</div>


			<div *ngIf="supplierpopup" style="margin-top: 2%;width: 95%;margin-left: 10px;">
				<h2 class="modal-title">ECF DETAILS- FILE DETAILS</h2>

				<table class="table table scrolltable table-bordered">
					<thead class="table_header">
						<tr>
							<th>S.No</th>
							<th>File Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let ecf of ecfdata;index as i">
							<td>{{i+1}}</td>
							<td>{{ecf.file_name}}</td>
							<td>
								<a style="color: blue;" (click)="download(ecf)" data-toggle="modal"
									data-target=".bd-examplepoppdf-modal-lg">
									<mat-icon>visibility</mat-icon>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" data-dismiss="modal">
					Close
				</button>
			</div> -->
		</div>
	</div>
</div>
<div class="modal fade bd-examplepoppdf-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title"> ECF File View  </h2>
				<button type="button" class="close" #close_popup data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- <pdf-viewer src="{{pdfSrc}}" [render-text]="true" type="application/pdf" style="display: block; height:100%">pdf</pdf-viewer> -->

			<pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
				style="display: block;width: 500px; height: 800px;"></pdf-viewer>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>