.modal {
    text-align: center;
   
  }
  
  #commonstyle{
    border:15px none #f6f6f6;
    // height: 400px;
    }
    tr:nth-child(even) {background: #EDF8FA}
    tr:nth-child(odd) {background: #FFF}
  table,th,td{
    text-align: left;
    font-size: 13px;
    // padding: 5px;
  }
th, td { background: #fff; }
