<div class="container" style="max-width: 1267px;">
    <div class="col-md-12">
        <h2  style="margin-left: 2%;font-family:Times New Roman;font-size:20px;color:blue;font-weight:bold;">Asset Value Change Maker Summary</h2>
        <form [formGroup]="valueChangeSearch" (ngSubmit)="getAssetValueChange()">
            <div class=" row col-md-12">

                <!-- Asset category  -->
                <div class="col-md-3">
                    <mat-form-field (click)="asset_category()" style="width: 268px;">
                        <mat-label>Asset SubCategory</mat-label>
                        <input #categoryInput placeholder="Select Asset Category" matInput formControlName="category"
                            [matAutocomplete]="categoryAutoComplete" >
                        <mat-autocomplete #categoryAutoComplete="matAutocomplete" [displayWith]="displayFnAssest"
                            (opened)="autocompleteScrollcategory()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let category of category" [value]="category">
                                    {{category.subcatname}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!--End Asset category  -->

                <!-- Branch Name -->
                <div class="col-md-3">
                    <mat-form-field (click)="Branch()" style="width: 268px;">
                        <mat-label>Branch Name</mat-label>
                            <input #BranchInput placeholder="Select Branch Name" matInput formControlName="branch_name"
                            (focusout)="onFocusOutEvent($event)" [matAutocomplete]="branch">
                       <mat-autocomplete #branch="matAutocomplete" [displayWith]="displayFn"
                            (opened)="autocompleteScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let employee of employeeList" [value]="employee">{{employee.name}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <!-- End Branch Name -->
                <!-- Asset barcode -->
                <div class="col-md-3">
                    <mat-form-field  style="width: 268px;">
                        <!-- (click)="Assetbarcode()" -->
                        <mat-label>Asset Barcode ID</mat-label>
                        <input #AssetInput placeholder="Select Asset Barcode" matInput formControlName="barcode"
                             >
                        <!-- <mat-autocomplete #asset="matAutocomplete" [displayWith]="displayFnAssestId"
                            (opened)="autocompleteScrollAssetId()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let details of assetDetails" [value]="details">{{details.barcode}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete> -->
                    </mat-form-field>
                </div>
                <!-- End Asset barcode -->

                <!-- cap date -->

                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Capitalisation Date</mat-label>
                        <input matInput [matDatepicker]="excemfrom" formControlName="capdate_Value">
                        <mat-datepicker-toggle matSuffix [for]="excemfrom"></mat-datepicker-toggle>
                        <mat-datepicker #excemfrom disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <!-- end Cap Date -->
                <!-- Asset Value -->
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Asset Value</mat-label>
                        <input type="number" formControlName="assetValue" (keypress)="decimalFilter($event)" matInput
                            placeholder="Asset Value">
                    </mat-form-field>
                </div>
                <!-- end Asset Value -->
                <div class="col-md-2">
                <button type="submit" mat-fab color="basic" matTooltip="Search"
                    style=" margin-top: 12px;"><mat-icon>search</mat-icon>
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" (click)="clearSearch()"  mat-fab color="basic" matTooltip="Clear"
                    style=" margin-top: 12px;">Clear
                </button>
            </div>
            <div class="col-md-3">
            <button type="button" mat-fab color="basic" [routerLink]='"/fa/valuechangemakeradd"' matTooltip="Asset Value change Add"
            skipLocationChange style=" margin-right: 103px; margin-top: 12px;background-color: rgb(233, 171, 55);">
            <mat-icon>add</mat-icon>
            </button>
            </div>
            <div class="col-md-2">
                <button type="button"  mat-fab color="basic" matTooltip="Back" routerLink="/fa/fa"
                    style="margin-top: 12px;">Back
                </button>
            </div>
               
            </div>
        </form>

        

        <div class="table-responsive"  class="tablescroll" style="margin-top: 2%;width: 95%;margin-left: 10px;overflow: auto;">
           
                <table class="table table scrolltable table-bordered" style="width: 99%; margin-top: 20px;">

                <thead class="table_header " fixed-header>
                    <tr>
                        <th>S.No</th>
                        <th>Asset Barcode Id</th>
                        <th>Asset SubCategory</th>
                        <th>Capitalisation Date</th>
                        <th>New Asset Value</th>
                        <th>Old Asset Value</th>
                        
                        <th>Branch Name</th>
                        <th>Location</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Value Change Status</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of assetValue; index as i">
                        <td style="text-align:center;"> {{(presentpage - 1)*identificationSize +i+1 }} </td>
                        <td>{{value.barcode}}</td>
                        <td>{{value.assetcat_subcatname}}</td>
                        <td style="text-align:center;">{{value.capdate| date:'dd-MMM-yyyy ' }}</td>
                        <td style="text-align:end;">{{value.newvalue}}</td>
                        <td style="text-align:end;">{{value.oldvalue}}</td>

                        
                        <td>{{value.branch.name}}</td>
                        <td>{{value?.location?.name}}</td>
                        <td class="text-center"><button type="button" (click)="reasonclick(value)" style="background:none;border:none;color:orange"><span [matTooltip]="value.reason">Reason</span></button></td>
                        <td>{{value.assetdetails_status}}</td>
                        <td>{{value.valuechange_status}}</td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="assetValue?.length == 0" style="margin-left: 42%;">
                <h3>Sorry data not found!.. </h3>
            </div>
        </div>
        <div class="row">
        <div class="col-md-10" style="margin-top: 3%;text-align:center;"><b>Reason</b>:{{reasondata}}</div>
        <div class="col-md-2" style="margin-bottom: 5%;font-size: small;text-align:right;">
            <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
                <mat-icon>arrow_back</mat-icon>
            </button> {{presentpage}}
            <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
                <mat-icon>arrow_forward</mat-icon>
            </button>

        </div>
    </div>
    </div>
</div>
<ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
          >
            <p style="font-size: 20px; color: white">Loading...</p>
          </ngx-spinner>