<div style="background-color: #F6F6F6;">
    <mat-card style="margin:20px 12px 20px 20px;" class="mat-elevation-z0" >
    <form [formGroup]="uploadForm" (ngSubmit)="uploadDocument()">
        <div>
            <mat-label>Account</mat-label><br>
            <mat-form-field class="matformfieldstyle" appearance="outline">
                <!-- <mat-label>Account</mat-label> -->
                <mat-select class="matformfieldinputstyle" placeholder="Account">
                    <mat-option *ngFor="let ac of AccountList" [value]="ac.id" (click)="getAccountTemplate(ac)">
                        {{ac.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span>
                {{templateText}}
            </span>
            <label class="btn btn-default btn-file">
                <input type="file" multiple="true" style="width: 75%;" formControlName="images" (change)="fileChange($event)">
            </label>
            <button type="submit" class="btn btn-outline-primary" [disabled]="uploadForm.invalid"
                style="border-radius:40px;margin-left: 50px">Submit</button>
            <button type="button" class="btn btn-outline-primary" style="border-radius:40px;margin-left: 50px"
                (click)="getuploaddata($event)">Get Upload Data</button>
        </div>
        <div class="table-responsive">
            <table class="table scrolltable table-bordered" fixed-header id ='commonstyle'>
                <thead style="font-size: small;">
                    <tr class="table_header" style="background-color: #F6F6F6;" fixed-header>
                        <th>SlNo</th>
                        <th style="width: 100px;">Date</th>
                        <th style="width: 160px;">Description</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>RefNo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of proofingList; let i = index">
                        <td style="font-size: small;">
                            {{ i+1 }}
                        </td>
                        <td style="font-size: small;width: 100px;">{{ temp.date| date:'dd-MMM-yyyy' }}</td>
                        <td style="font-size: small;width: 160px;">{{ temp.description}}</td>
                        <td style="font-size: small;text-align: right;">
                            <div *ngIf=" temp.type=='Debit' ">{{ temp.amount| number}}</div>
                        </td>
                        <td style="font-size: small;text-align: right;">
                            <div *ngIf=" temp.type=='Credit' ">{{ temp.amount| number}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary" style="border-radius:40px;margin-left: 50px"
                (click)="Approve($event)">Approve</button>
            <button type="button" class="btn btn-outline-primary"
                style="border-radius:40px;margin-left: 50px">Reject</button>
        </div>
    </form>
    </mat-card>
</div>