<div style="background-color: #F6F6F6">
    <mat-card style="margin:20px 12px 20px 20px;" class="mat-elevation-z0">
        <nav>
            <div class="nav nav-tabs" style="margin-top: 10px">
                <span #myDiv class="nav-item nav-link" [ngClass]="(i==navcheck())?'active':''" id="subname"
                    data-toggle="tab" (click)="subModuleData(sub,0)" role="tab" *ngFor="let sub of tabs;index as i">
                    {{sub.name}}
                </span>
            </div>
        </nav>


        <div *ngIf="tourset && travel" style="margin-left: 10px; margin-right: 10px;">

            <div style="margin-top:2%">
                <form [formGroup]="tourform">

                    <tr class="table-responsive">
                        <td>
                            <mat-label style="margin-left:7px">Travel No</mat-label><br>
                            <mat-form-field class="matformfieldstyle" appearance="outline"
                                style="width:10rem;margin-left: 7px;">
                                <input class="matformfieldinputstyle" matInput placeholder="Travel No"
                                    formControlName="tourno">
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-label id="adspace">Requested Date</mat-label><br>
                            <mat-form-field id="tadate" style="margin-left:40px;" appearance="outline"
                                class="matformfieldstyle">
                                <input readonly class="matformfieldinputstyle" matInput [matDatepicker]="picker1"
                                    (dateChange)="fromDateSelection($event.value)" formControlName="requestdate"
                                    (dateChange)="datesrch()" placeholder="Request Date" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker1" style="font-size: 13px;">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </td>

                        <td *ngIf="showonbehalf">
                            <mat-label id="adspace">Onbehalf Of</mat-label><br>
                            <mat-form-field style="width:11rem;" id="adspace" appearance="outline"
                                class="matformfieldstyle">
                                <input type="text" class="matformfieldinputstyle" placeholder="Select Employee" matInput
                                    [matAutocomplete]="conoffice" formControlName="onbehalf">
                                <mat-autocomplete #conoffice="matAutocomplete" [displayWith]="permittvalue">
                                    <mat-option *ngFor="let permit of permittedlist" (click)="onbehalfsrch()"
                                        [value]="permit">
                                        {{permit.full_name}} ({{permit.code}})
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>

                        <td *ngIf="tourform.value.action == 2">
                            <mat-label id="adspace">Employee</mat-label><br>
                            <mat-form-field style="width:11rem;" id="adspace" appearance="outline"
                                class="matformfieldstyle">
                                <input type="text" class="matformfieldinputstyle" (keyup)="makeronbhealfsearch($event)"
                                    placeholder="Select Employee" matInput [matAutocomplete]="emponbehalf"
                                    formControlName="emponbehalf">
                                <mat-autocomplete #emponbehalf="matAutocomplete" [displayWith]="empvalue">
                                    <mat-option *ngFor="let permit of onbehalflist" (click)="datesrch()"
                                        [value]="permit">
                                        {{permit.employee_name}} ({{permit.code}})
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-label id="adspace">Action</mat-label><br>
                            <mat-form-field style="width: 270px;" id="adspace" appearance="outline"
                                class="matformfieldstyle">
                                <mat-select class="matformfieldinputstyle" placeholder="Status"
                                    (selectionChange)="enteraction($event.value)" formControlName="action">
                                    <!-- <mat-autocomplete #touraction='matAutocomplete'> -->
                                    <mat-option *ngFor="let action of permisssionlist" [value]="action.index">
                                        {{action.name}}
                                    </mat-option>
                                    <!-- </mat-autocomplete> -->
                                </mat-select>
                            </mat-form-field>
                        </td>

                        <td>
                            <br>
                            <section style="margin-top:-12px">

                                <button (click)="tournosrch()" mat-fab
                                    style="margin-left: 40px;background-color: white;" aria-label="Search">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <button matTooltip="Create New Travel Request" matTooltipHideDelay="left"
                                    *ngIf="addbutton" mat-fab style="margin-left: 40px;background-color: #f5c68b;"
                                    (click)="createtour()" aria-label="Tour Employee">
                                    <mat-icon>add</mat-icon>
                                </button>

                                <button mat-fab type="submit" (click)="clearsearch()"
                                    style="border-radius:40px;margin-left: 40px;background-color: white;color: black;">Clear</button>
                            </section>
                        </td>
                    </tr>

                </form>
                <div>
                    <br>
                    <span *ngIf="istourmakersmry">
                        <app-tourmaker-summary #tourmaker>

                        </app-tourmaker-summary>
                    </span>
                    <span *ngIf="istourapprovesmry">
                        <app-tourapproval-summary #tourchecker></app-tourapproval-summary>
                    </span>

                </div>

            </div>

        </div>

        <div *ngIf="expenseset && expense" style="margin-left: 10px; margin-right: 10px;">
            <div>
                <form [formGroup]="expenseform">

                    <div style="margin-top: 2%;">

                        <tr class="table-responsive">
                            <td>
                                <mat-label style="margin-left:7px">Travel No</mat-label><br>
                                <fieldset
                                    [disabled]="expenseform.value.expaction == 7 || expenseform.value.branch || expenseform.value.employee || expenseform.value.empcode">
                                    <mat-form-field class="matformfieldstyle" appearance="outline"
                                        style="width:10rem;margin-left: 7px;">
                                        <input class="matformfieldinputstyle" #tourno matInput placeholder="Enter No"
                                            formControlName="tourexpno">
                                    </mat-form-field>
                                </fieldset>
                            </td>

                            <td>
                                <mat-label id="expensespace">Requested Date</mat-label><br>
                                <mat-form-field appearance="outline" id="expensespace" class="matformfieldstyle">
                                    <input readonly class="matformfieldinputstyle" datePickerFormat="DD/MM/YYYY"
                                        matInput [matDatepicker]="picker1"
                                        (dateChange)="fromDateSelection($event.value);exptoursrch()"
                                        formControlName="exprequestdate" placeholder="Select Date" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker1" style="font-size: 13px;">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td *ngIf="showonbehalf">
                                <mat-label id="adspace">Onbehalf Of</mat-label><br>
                                <mat-form-field style="width:11rem;" id="adspace" appearance="outline"
                                    class="matformfieldstyle">
                                    <input type="text" class="matformfieldinputstyle" placeholder="Select Employee"
                                        matInput [matAutocomplete]="conoffice" formControlName="onbehalf">
                                    <mat-autocomplete #conoffice="matAutocomplete" [displayWith]="permittvalue">
                                        <mat-option *ngFor="let permit of permittedlist" (click)="exptoursrch()"
                                            [value]="permit">
                                            {{permit.full_name}} ({{permit.code}})
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>

                            <td *ngIf="expenseform.value.expaction == 2">
                                <mat-label id="adspace">Employee</mat-label><br>
                                <mat-form-field style="width:11rem;" id="adspace" appearance="outline"
                                    class="matformfieldstyle">
                                    <input type="text" class="matformfieldinputstyle"
                                        (keyup)="makeronbhealfsearch($event)" placeholder="Select Employee" matInput
                                        [matAutocomplete]="exponbehalf" formControlName="emponbehalf">
                                    <mat-autocomplete #exponbehalf="matAutocomplete" [displayWith]="empvalue">
                                        <mat-option *ngFor="let permit of onbehalflist" (click)="exptoursrch()"
                                            [value]="permit">
                                            {{permit.employee_name}} ({{permit.code}})
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-label id="expensespace">Action</mat-label><br>
                                <mat-form-field id="expensespace" style="width: 270px;" appearance="outline"
                                    class="matformfieldstyle">
                                    <mat-select class="matformfieldinputstyle" placeholder="Status"
                                        (selectionChange)="enterexpaction($event.value)" formControlName="expaction">
                                        <!-- <mat-autocomplete #touraction='matAutocomplete'> -->
                                        <mat-option *ngFor="let action of expactionlist" [value]="action.index">
                                            {{action.name}}
                                        </mat-option>
                                        <!-- </mat-autocomplete> -->
                                    </mat-select>
                                </mat-form-field>
                            </td>

                            <td *ngIf="!(expenseroleshow && expenseform.value.expaction > 2) ">
                                <br>
                                <div style="margin-top: -7px;">
                                    <button (click)="exptoursrch()" mat-fab
                                        style="margin-left: 40px;background-color: white;" aria-label="Search">
                                        <mat-icon>search</mat-icon>
                                    </button>


                                    <button mat-fab type="submit" (click)="expclear()"
                                        style="border-radius:40px;margin-left: 40px;background-color: white;color: black;">Clear</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td *ngIf="expenseroleshow && expenseform.value.expaction > 2 ">
                                <mat-label style="margin-left:7px;">Employee code</mat-label><br>
                                <fieldset
                                    [disabled]="expenseform.value.tourexpno || expenseform.value.employee || expenseform.value.branch">
                                    <mat-form-field style="margin-left:7px;width: 10rem;" class="matformfieldstyle"
                                        appearance="outline">
                                        <input #empcode class="matformfieldinputstyle" matInput placeholder="Enter Code"
                                            formControlName="empcode">
                                    </mat-form-field>
                                </fieldset>
                            </td>

                            <td *ngIf="expenseroleshow && expenseform.value.expaction > 2 ">
                                <mat-label id="expensespace">Employee Name</mat-label><br>
                                <fieldset
                                    [disabled]="expenseform.value.tourexpno || expenseform.value.empcode || expenseform.value.branch">
                                    <mat-form-field id="expensespace" class="matformfieldstyle" style="width:300px"
                                        appearance="outline">
                                        <input #emp class="matformfieldinputstyle" matInput placeholder="Enter Name"
                                            formControlName="employee">
                                    </mat-form-field>
                                </fieldset>
                            </td>

                            <td *ngIf="expenseroleshow && expenseform.value.expaction > 2 ">
                                <mat-label id="expensespace">Employee Branch</mat-label><br>
                                <fieldset
                                    [disabled]="expenseform.value.tourexpno ||expenseform.value.employee || expenseform.value.empcode">
                                    <mat-form-field id="expensespace" class="matformfieldstyle" style="width:300px"
                                        appearance="outline">
                                        <input type="text" #branch class="matformfieldinputstyle"
                                            (keyup)="brsearch($event)" placeholder="Select Branch" matInput
                                            [matAutocomplete]="brch" formControlName="branch">
                                        <mat-autocomplete #brch="matAutocomplete" [displayWith]="brvalue">
                                            <mat-option *ngFor="let branch of branchlist" [value]="branch">
                                                ({{branch.code}}){{branch.branch}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </fieldset>
                            </td>


                            <td *ngIf="expenseroleshow && expenseform.value.expaction > 2 ">
                                <br>
                                <div style="margin-top: -7px;">
                                    <button (click)="exptoursrch()" mat-fab
                                        style="margin-left: 40px;background-color: white;" aria-label="Search">
                                        <mat-icon>search</mat-icon>
                                    </button>


                                    <button mat-fab type="submit" (click)="expclear()"
                                        style="border-radius:40px;margin-left: 40px;background-color: white;color: black;">Clear</button>
                                </div>
                            </td>


                        </tr>

                    </div>


                </form>

            </div>
            <br>

            <div>
                <span *ngIf="isexpmakersmry">
                    <app-expensemaker-summary #expmaker>
                    </app-expensemaker-summary>
                </span>
                <span *ngIf="isexpapprovesmry">
                    <app-expenseapproval-summary #expchecker>
                    </app-expenseapproval-summary>
                </span>

            </div>

        </div>
        <div *ngIf="touradminset && admin" style="margin-left: 10px; margin-right: 10px;">

            <div>
                <form [formGroup]="touradminform">
                    <div style="margin-top: 2%;">

                        <tr class="table-responsive">
                            <td>
                                <mat-label style="margin-left:7px">Travel No</mat-label><br>
                                <fieldset [disabled]="branch.value || emp.value || empcode.value">
                                    <mat-form-field class="matformfieldstyle" appearance="outline"
                                        style="width:12rem;margin-left: 7px;">
                                        <input class="matformfieldinputstyle" #tourno matInput placeholder="Enter No"
                                            formControlName="tourno">
                                    </mat-form-field>
                                </fieldset>
                            </td>

                            <td>
                                <mat-label id="adspace">Employee code</mat-label><br>
                                <fieldset [disabled]="tourno.value || emp.value || branch.value">
                                    <mat-form-field class="matformfieldstyle" appearance="outline" id="adspace">
                                        <input #empcode class="matformfieldinputstyle" matInput placeholder="Enter Code"
                                            formControlName="empcode">
                                    </mat-form-field>
                                </fieldset>
                            </td>

                            <td>
                                <mat-label id="adspace">Employee Name</mat-label><br>
                                <fieldset [disabled]="tourno.value || empcode.value || branch.value">
                                    <mat-form-field class="matformfieldstyle" style="width:300px" appearance="outline"
                                        id="adspace">
                                        <input #emp class="matformfieldinputstyle" matInput placeholder="Enter Name"
                                            formControlName="employee">
                                    </mat-form-field>
                                </fieldset>
                            </td>

                            <td>
                                <mat-label id="adspace">Employee Branch</mat-label><br>
                                <fieldset [disabled]="tourno.value || emp.value || empcode.value">
                                    <mat-form-field id="adspace" class="matformfieldstyle" style="width:300px"
                                        appearance="outline">
                                        <input type="text" #branch class="matformfieldinputstyle"
                                            (keyup)="brsearch($event)" placeholder="Select Branch" matInput
                                            [matAutocomplete]="brch" formControlName="branch">
                                        <mat-autocomplete #brch="matAutocomplete" [displayWith]="brvalue">
                                            <mat-option *ngFor="let branch of branchlist" [value]="branch">
                                                ({{branch.code}}){{branch.branch}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </fieldset>
                            </td>
                            <td>
                                <br>
                                <div>
                                    <button (click)="touradminnosrch()" mat-fab
                                        style="margin-left: 40px;background-color: white;margin-top:-12%"
                                        aria-label="Search">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </div>
                            </td>





                        </tr>

                        <tr class="table-responsive">

                            <td>
                                <mat-label style="margin-left:7px;" id="adspace">Requested Date</mat-label><br>
                                <mat-form-field id="adspace" id="tadate" style="margin-left:7px;" appearance="outline"
                                    class="matformfieldstyle">
                                    <input readonly class="matformfieldinputstyle" datePickerFormat="DD/MM/YYYY"
                                        matInput [matDatepicker]="picker1"
                                        (dateChange)="fromDateSelection($event.value)" formControlName="requestdate"
                                        (dateChange)="dateadminsrch()" placeholder="Select Date" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker1" style="font-size: 13px;">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-label id="adspace">Requirements</mat-label><br>
                                <mat-form-field id="adspace" appearance="outline" class="matformfieldstyle">

                                    <mat-select class="matformfieldinputstyle" (selectionChange)="dateadminsrch()"
                                        formControlName="booking" placeholder="Booking Specs">
                                        <mat-option *ngFor="let transfer of requirementdata" [value]="transfer.value">
                                            {{transfer.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-label style="margin-left:40px">Booking Status</mat-label><br>
                                <mat-form-field style="width: 300px;margin-left: 40px;" appearance="outline"
                                    class="matformfieldstyle">

                                    <mat-select class="matformfieldinputstyle" (selectionChange)="dateadminsrch()"
                                        formControlName="booking_status" placeholder="Status">
                                        <mat-option *ngFor="let transfer of reqstatuslist" [value]="transfer.value">
                                            {{transfer.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-label id="adspace">Travel Status</mat-label><br>
                                <mat-form-field id="adspace" appearance="outline" style="width:300px"
                                    class="matformfieldstyle">

                                    <mat-select class="matformfieldinputstyle" (selectionChange)="dateadminsrch()"
                                        formControlName="travel_status" placeholder="">
                                        <mat-option *ngFor="let transfer of tour_status" [value]="transfer.value">
                                            {{transfer.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>



                            </td>

                            <td>
                                <br>
                                <div>
                                    <button mat-fab type="submit" (click)="clearadminsearch()"
                                        style="border-radius:40px;margin-left: 40px;background-color: white;margin-top:-12%;color: black;">Clear</button>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-responsive">
                            <td *ngIf="touradminform.value.booking == 5">
                                <mat-label style="margin-left:7px">Reference Number</mat-label><br>
                                <fieldset>
                                    <mat-form-field class="matformfieldstyle" appearance="outline"
                                        style="width:12rem;margin-left: 7px;">
                                        <input class="matformfieldinputstyle" #reference_no matInput
                                            placeholder="Enter Ref No" formControlName="reference_no">
                                    </mat-form-field>
                                </fieldset>
                            </td>

                        </tr>


                    </div>

                </form>
                <div>
                    <br>
                    <span *ngIf="istourapprovesmry">
                        <app-traveladmin-summary #tourchecker></app-traveladmin-summary>
                    </span>

                </div>

            </div>

        </div>
        <div *ngIf="tourreport" style="margin-left: 10px; margin-right: 10px;">

            <div>
                <form [formGroup]="tourreportform">
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-md-2">
                            <mat-label style="margin-left:7px">Report Type</mat-label><br>
                            <mat-form-field style="width:11rem;margin-left: 7px;" appearance="outline"
                                class="matformfieldstyle">
                                <mat-select class="matformfieldinputstyle" (selectionChange)="reportrequirementchange()"
                                    formControlName="reportdropdown" placeholder="Choose requirement">
                                    <mat-option *ngFor="let transfer of travelreportdropdown" [value]="transfer.value">
                                        {{transfer.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2" *ngIf="this.tourreportform.value.reportdropdown == 'Requirements'">
                            <mat-label>Requirements</mat-label><br>
                            <mat-form-field style="width:11rem;" appearance="outline" class="matformfieldstyle">
                                <mat-select class="matformfieldinputstyle" (selectionChange)="reportrequirementchange()"
                                    formControlName="requirement" placeholder="Choose requirement">
                                    <mat-option *ngFor="let transfer of reqlist" [value]="transfer.value">
                                        {{transfer.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>




                        <div class="col-md-2">
                            <mat-label>Travel No</mat-label><br>
                            <mat-form-field class="matformfieldstyle" appearance="outline" style="width:11rem;">
                                <input class="matformfieldinputstyle" matInput placeholder="Enter No"
                                    (keyup)="tourreportsearch()" formControlName="tourno">
                            </mat-form-field>
                        </div>

                        <!-- <div class="col-md-2">
                            <mat-label style="margin-left:7px">Requested Date</mat-label><br>
                            <mat-form-field style="width:11rem;margin-left: 7px;" appearance="outline"
                                class="matformfieldstyle">
                                <input readonly class="matformfieldinputstyle" matInput [matDatepicker]="picker1"
                                     formControlName="requestdate"
                                    (dateChange)="reportrequesteddate()" placeholder="Request Date" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker1" style="font-size: 13px;">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div> -->

                        <div class="col-md-2">
                            <mat-label>Start Date</mat-label><br>
                            <mat-form-field style="width:11rem;" appearance="outline" class="matformfieldstyle">
                                <input readonly class="matformfieldinputstyle" matInput [matDatepicker]="picker1"
                                    formControlName="startdate" placeholder="Select Date" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker1" style="font-size: 13px;">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-label>End Date</mat-label><br>
                            <mat-form-field style="width:11rem;" appearance="outline" class="matformfieldstyle">
                                <input readonly class="matformfieldinputstyle" matInput [matDatepicker]="picker2"
                                    [min]="this.tourreportform.value.startdate" formControlName="enddate"
                                    (dateChange)="searchreportsummary()" placeholder="Select Date" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker2" style="font-size: 13px;">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>



                        <div class="col-md-2">
                            <div style="margin-top: 12px;">
                                <button mat-fab style="background-color: white;" (click)="searchreportsummary()"
                                    aria-label="Search">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <button mat-fab type="submit" (click)="clearreportpage()"
                                    style="border-radius:40px;margin-left: 20px;background-color: white;color: black;">Clear</button>
                            </div>
                        </div>
                    </div>

                </form>
                <div>
                    <br>
                    <span *ngIf="tourreport">
                        <app-report-tour-detail #tour_report></app-report-tour-detail>
                    </span>

                </div>

            </div>

        </div>

        <div *ngIf="recentchat" style="margin-left: 10px; margin-right: 10px;">

            <div>
                <!-- <form [formGroup]="tourreportform">
                    <div class="row" style="margin-top: 2%;">

                        <div class="col-md-2">
                            <mat-label style="margin-left:7px">Travel No</mat-label><br>
                            <mat-form-field class="matformfieldstyle" appearance="outline"
                                style="width:10rem;margin-left: 7px;">
                                <input class="matformfieldinputstyle" matInput placeholder="Travel No"
                                    (keyup)="tourreportsearch()" formControlName="tourno">
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-label style="margin-left:7px">Requested Date</mat-label><br>
                            <mat-form-field style="width:11rem;margin-left: 7px;" appearance="outline"
                                class="matformfieldstyle">
                                <input readonly class="matformfieldinputstyle" matInput [matDatepicker]="picker1"
                                    (dateChange)="fromDateSelection($event.value)" formControlName="requestdate"
                                    (dateChange)="dateadminsrch()" placeholder="Request Date" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker1" style="font-size: 13px;">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-md-1">
                            <div style="margin-top: 12px;">
                                <button mat-fab type="submit" (click)="clearreportpage()"
                                    style="border-radius:40px;margin-left: 40px;background-color: white;color: black;">Clear</button>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div style="margin-top: 12px;">
                                <button mat-fab type="submit" (click)="reportexceldownload()"
                                    style="border-radius:40px;margin-left: 40px;background-color: white;color: black;"><mat-icon>file_download</mat-icon></button>
                            </div>
                        </div>
                    </div>

                </form> -->
                <div>
                    <br>
                    <span *ngIf="recentchat">
                        <app-chat #chat_screen></app-chat>
                    </span>

                </div>

            </div>

        </div>
        <span *ngIf="showdaterelaxation">
            <app-date-relaxation-master></app-date-relaxation-master>
        </span>

        <div *ngIf="showinvoiceup" style="margin-left: 10px; margin-right: 10px;">
            <div style="margin-top:2%;">
                <p style="color: black;font-size: 20px;font-weight: 500px;">
                    Updation of Requirements Cost Details

                </p>

                <section>
                    <td>
                        <mat-label>Requirements</mat-label><br>
                        <mat-form-field style="width:200px" appearance="outline" class="matformfieldstyle">
                            <mat-select class="matformfieldinputstyle" (selectionChange)="repreq = $event.value"
                                placeholder="Choose Requirement">
                                <mat-option *ngFor="let transfer of reportreqdata" [value]="transfer.value">
                                    {{transfer.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <br>
                        <input style="border-bottom-style:none;margin-left:30%;margin-top:3%" type="file"
                            accept=".xls, .xlsx, .xlsm, .csv" (change)="invoicechoose($event)">


                    </td>

                </section>
                <br>
                <p>
                    <button type="submit" mat-button style='margin-left:0px' (click)="invoiceupload()" id="primarybtn"
                        class="btn btn-light">Upload
                        <mat-icon style="margin-bottom: 5px;margin-left: 5px;">upload
                        </mat-icon>
                    </button>
                </p>
                <br>
                <p style="color: black;font-size: 20px;font-weight: 500px;">Note</p>
                <mat-list>
                    <mat-list-item>
                        <mat-icon>stars</mat-icon>
                        Click here to download sample invoice format <button class="btn btn-light"
                            matTooltip="Download Example Format" matTooltipPosition="left" type="submit"
                            style="border-radius:40px;margin-left:50px;" color="primary" (click)="reqformatdownload()">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon>stars</mat-icon>
                        All the column header names should be same as the given sample format.
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon>stars</mat-icon>
                        Those requirements code which are not booked will not be updated.
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon>stars</mat-icon>
                        If any integer field contains alphabets/characters/spaces then it will not be updated to those
                        requirements.
                    </mat-list-item>
                </mat-list>



            </div>
        </div>
    </mat-card>
</div>