<div class="Container" style="margin-left: 30px;">

    <div class="table-responsive" style="width:90%;margin-top: 3%;">
    <table class="table">
    <thead class="table_header">
    <tr>
    <th>S.no </th>
    <th>Partner Id</th>
    <th>DocGroup Name</th>
    <!-- <th>Period</th> -->
    <th>Remarks</th>
    <th>Edit</th>
    <th>Delete</th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let document of documentList; index as i">
    <td scope="row">{{ (this.documentpage-1)*pageSize+i+1 }}</td>
    <td>{{ document.partner_id}}</td>
    <td>{{ document.docgroup_id.name }}</td>
    <!-- <td>{{ document.docgroup_id.period}}</td> -->
    <td>{{ document.remarks}}</td>
    <td>
    <button mat-icon-button matTooltip=" Edit" class="iconbutton" color="primary"
    (click)="documentEdit(document)">
    
    <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
</button>
</td>
    
    <td>
         <button mat-icon-button matTooltip="Delete" class="iconbutton"
         (click)="deletedocument(document)"
    color="primary">
    <mat-icon style="color: gray;" aria-label="Delete">delete</mat-icon>
    </button></td>
    </tr>
    </tbody>
    </table>
    <div class="col-sm-12" style="font-size: small;text-align: right;margin-bottom: 5%;">
    <button mat-icon-button [disabled]="has_previous === false" color="primary"
    (click)="previousClick()">
    <mat-icon >arrow_back</mat-icon>
    </button>
    {{documentpage}}
    <button mat-icon-button [disabled]="has_next === false" color="primary" 
    (click)="nextClick()">
    <mat-icon >arrow_forward</mat-icon>
    </button>
    </div>
    </div>
    </div>
    
    