<div class="container">
    <h2>GL Sub Groups</h2>
    <form [formGroup]="gl_sub_groupsummary">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field (click)="gl_subgrb_dropdown()">
                        <mat-label>GL-Sub Group Number </mat-label>
                        <input placeholder="Gl-Sub Group Number" matInput formControlName="gl_subgrp" #gl_subgrpinput
                            [matAutocomplete]="glsubgrpauto">
                        <mat-autocomplete #glsubgrpauto="matAutocomplete" [displayWith]="displayfngl_subgrp" (opened)="autocompletegl_subgrpScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let gl_grp of gl_subgrp_data" [value]="gl_grp">
                                    {{gl_grp.name}} </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field (click)="subgrb_dropdown()">
                        <mat-label>Sub Group Name </mat-label>
                        <input placeholder="Gl-Sub Group Name" matInput formControlName="subgrp" #subgrpinput
                            [matAutocomplete]="subgrpauto">
                        <mat-autocomplete #subgrpauto="matAutocomplete" [displayWith]="displayfnsubgrp" (opened)="autocompletesubgrpScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let subgrp of subgrp_data" [value]="subgrp">
                                    ({{subgrp.code}}){{subgrp.name}} </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <div style="text-align: center;cursor: pointer;">
                        <button class="btn btn-outline-primary" style="border-radius: 40px;"
                            (click)="gl_subgrp_summary_search(gl_sub_groupsummary.value)">
                            Search
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div style="text-align: center;cursor: pointer;">
                        <button class="btn btn-outline-primary" style="border-radius: 40px;"
                            (click)="gl_subgrp_summary_clear()">
                            Clear
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- <button type="button" class="btn btn-outline-primary" style="border-radius: 40px;" data-toggle="modal" data-target="#glsubgrpAdd">
                        Add
                    </button> -->
                    <button type="button" class="btn btn-outline-primary" style="border-radius: 40px;" (click)="gl_subgroupnewrowAdd()"> Add  </button>

                </div>
            </div>
        </div>
    </form>

  <form [formGroup]="gl_subgroup">
    <div style="margin-top: 6%; white-space: nowrap;overflow: auto;" class="tableFixHead" formArrayName="glsubgroups">
        <table class="table table-bordered" id="commonstyle" fixed-header>
            <thead>
                <th>S.No</th>
                <th>Source</th> 
                <th>Head Group</th> 
                <th>Sub Group</th>
                <th>Gl-Sub Group Number</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
               
                <tr *ngFor="let glsubgroup of gl_subgroup.controls.glsubgroups['controls']; let newindex=index" [formGroupName]="newindex">
                    <td>{{(presentpage - 1)*identificationSize +newindex+1 }}</td>
                    <td>
                        <div *ngIf="glsubgroup.value.source=='' || glsubgroup.value.source==null || glsubgroup.value.source == undefined">--</div>
                        <div *ngIf="glsubgroup.value.source !='' || glsubgroup.value.source !=null || glsubgroup.value.source != undefined">{{glsubgroup.value.source}}</div>
                    </td>
                    <td>
                        <div *ngIf="glsubgroup.value.head=='' || glsubgroup.value.head==null || glsubgroup.value.head == undefined">--</div>
                        <div *ngIf="glsubgroup.value.head!='' || glsubgroup.value.head!=null || glsubgroup.value.head != undefined">{{glsubgroup.value.head}}</div>
                    </td>
                    <!-- <td>{{glsubgroup.value.glcode}}</td> -->
                    <td>
                        <div *ngIf="gl_subgroup.get('glsubgroups').value[newindex].isEditable==true;else glname">
                            <ng-container *ngIf="glsubgroup.value.glsubgrp=='' || glsubgroup.value.glsubgrp==null || glsubgroup.value.glsubgrp == undefined">--</ng-container>
                            <ng-container *ngIf="glsubgroup.value.glsubgrp!='' || glsubgroup.value.glsubgrp!=null || glsubgroup.value.glsubgrp != undefined">{{glsubgroup.value.glsubgrp.name}}</ng-container>
                        </div>
                        <ng-template #glname>
                            <mat-form-field (click)="gl_subgroup.get('glsubgroups').value[newindex].isEditable ? '' : glsubgrbdropdown(newindex)" [appearance]="gl_subgroup.get('glsubgroups').value[newindex].isEditable? 'none' : 'outline'">
                                <mat-label [ngStyle]="{'display':gl_subgroup.get('glsubgroups').value[newindex].isEditable ? 'none' : 'inline'}">Sub Group </mat-label>
                                <input placeholder="Head Group" matInput formControlName="glsubgrp" #glsubgrpinput
                                    [matAutocomplete]="gl_subgrpauto" [readonly]="gl_subgroup.get('glsubgroups').value[newindex].isEditable">
                                <mat-autocomplete #gl_subgrpauto="matAutocomplete" [displayWith]="displayfnglsubgrp" (opened)="autocompleteglsubgrpScroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let gl_grp of glsubgrp_data" [value]="gl_grp">
                                            ({{gl_grp.code}}){{gl_grp.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="gl_subgroup.get('glsubgroups').value[newindex].isEditable==true;else glnumber">
                            <ng-container *ngIf="glsubgroup.value.glname != '' || glsubgroup.value.glname != undefined || glsubgroup.value.glname != null">{{glsubgroup.value.glname}}</ng-container>
                            <ng-container *ngIf="glsubgroup.value.glname == '' || glsubgroup.value.glname == undefined || glsubgroup.value.glname == null">--</ng-container>
                        </div>
                        <ng-template #glnumber>
                            <div>
                                <mat-form-field style=" max-height: 45px;" [appearance]="gl_subgroup.get('glsubgroups').value[newindex].isEditable? 'none' : 'outline'">
                                    <mat-label [ngStyle]="{'display':gl_subgroup.get('glsubgroups').value[newindex].isEditable ? 'none' : 'inline'}">
                                    Enter The Gl-Sub Group Number</mat-label>
                                    <input type="number" matInput placeholder="Gl-Sub Group" autocomplete="off" [readonly]="gl_subgroup.get('glsubgroups').value[newindex].isEditable" formControlName="glname">
                                </mat-form-field>
                            </div>                           
                        </ng-template>
                    </td>

                    <td>
                        <div *ngIf="gl_subgroup.get('glsubgroups').value[newindex].isEditable==true;else gldescription">
                            <ng-container *ngIf="glsubgroup.value.gldescription != '' || glsubgroup.value.gldescription != undefined || glsubgroup.value.gldescription != null">{{glsubgroup.value.gldescription}}</ng-container>
                            <ng-container *ngIf="glsubgroup.value.gldescription == '' || glsubgroup.value.gldescription == undefined || glsubgroup.value.gldescription == null">--</ng-container>
                        </div>
                        <ng-template #gldescription>
                        <div>
                            <mat-form-field style="max-height: 45px;" [appearance]="gl_subgroup.get('glsubgroups').value[newindex].isEditable? 'none' : 'outline'">
                                <mat-label [ngStyle]="{'display':gl_subgroup.get('glsubgroups').value[newindex].isEditable ? 'none' : 'inline'}">Enter The Description</mat-label>
                                <textarea [readonly]="gl_subgroup.get('glsubgroups').value[newindex].isEditable" matInput placeholder="Description" autocomplete="off" formControlName="gldescription"></textarea>
                            </mat-form-field>
                        </div>
                        
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="glsubgroup.value.glstatus==1;else statuselseif">Active</div>
                        <ng-template #statuselseif><div *ngIf="glsubgroup.value.glstatus==0;else statuselse">In-Active</div> </ng-template>
                        <ng-template #statuselse><div>--</div> </ng-template>
                    </td>
                    <td style="font-size: 13px;">
                        <button mat-icon-button class="material-icons app-toolbar-menu save-button" matTooltip="Save Changes"
                         (click)="saveglsubgrp(gl_subgroup,newindex)"
                          *ngIf="!gl_subgroup.get('glsubgroups').value[newindex].isEditable" style="color:'#0297ff'">
                          <mat-icon>check_circle</mat-icon>
                        </button>
      
                        <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                          matTooltip="Cancel Changes" color="warn" (click)="Cancelglsubgrp(gl_subgroup,newindex)"
                          *ngIf="!gl_subgroup.get('glsubgroups').value[newindex].isEditable">
                          <mat-icon>cancel</mat-icon>
                        </button>
      
                        <button mat-icon-button class="material-icons app-toolbar-menu save-button" [hidden]="gl_subgroup.get('glsubgroups').value[newindex].glstatus == 0"
                          *ngIf="gl_subgroup.get('glsubgroups').value[newindex].isEditable" matTooltip="Edit" style="color:'#0297ff'"
                          (click)="EditSource(gl_subgroup,newindex)">
                          <mat-icon>edit</mat-icon>
                        </button>
      
                        <button mat-icon-button class="material-icons app-toolbar-menu delete-button" (click)="deleteglsubgrp(glsubgroup,newindex)"
                          *ngIf="gl_subgroup.get('glsubgroups').value[newindex].isEditable" [ngStyle]="{'color':gl_subgroup.get('glsubgroups').value[newindex].glstatus == 0 ? '#66bb6a' : 'red' }" [matTooltip]="gl_subgroup.get('glsubgroups').value[newindex].glstatus == 0 ? 'Active' : 'In-Active' " color="warn">
<!-- {{gl_subgroup.get('glsubgroups').value[newindex].glstatus == 0 ? 'lock':'lock_open'}} -->
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<div style="margin-bottom: 5%;font-size: small;text-align:right;">
    <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
        <mat-icon>arrow_back</mat-icon>
    </button> {{presentpage}}
    <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
        <mat-icon>arrow_forward</mat-icon>
    </button>

</div>
</div>