<div style="background-color: #f6f6f6;">

  <mat-card class="mat-elevation-z0">

    <!-- <div *ngIf="isonbehalf">
  <h3 style="margin-left: 44px;color:rgb(0, 0, 0);font-size: 18px; font-weight: 400;">
    On Behalf Employee - {{onbehalf_empName}}
  </h3>
</div> -->


    <div style="margin-left: 10px;margin-right: 80%;margin-top: 1%; width: 100%;">
      <p style="font-size: 22px;font-weight: 500;">
        Lodging/Homestay Expense
      </p>
      <hr>
      <p style="color:rgb(0, 0, 0);font-size: 18px; font-weight: 500;">
        Travel Details
      </p>
      <div>
        <form [formGroup]="lodgingform">
          <tr>
            <td>
              <mat-label>Travel No</mat-label> <br>
              <mat-form-field appearance="standard">
                <input matInput disabled placeholder="Travel No" [value]="expenceid" autocomplete="off" required>
              </mat-form-field>
            </td>
            <td>
              <mat-label style="margin-left: 50px;">Employee Code </mat-label> <br>
              <mat-form-field style="width: 175px;margin-left: 50px;" appearance="standard">
                <input matInput disabled placeholder="Employee Name" [value]="employeecode" autocomplete="off" required>
              </mat-form-field>
            </td>
            <td>
              <mat-label style="margin-left: 50px;">Employee Name</mat-label> <br>
              <mat-form-field style="width: 300px;margin-left: 50px;" appearance="standard">
                <input matInput disabled placeholder="Employee Name" [value]="employeename" autocomplete="off" required>
              </mat-form-field>
            </td>
            
            <!-- <td>
            <mat-form-field style="width: 175px;margin-left: 50px;">
              <mat-label>Designation</mat-label>
              <input matInput placeholder="Designation" [disabled]="true" [value]="employeedesignation"
                autocomplete="off" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="width: 175px;margin-left: 50px;">
              <mat-label>Employee Grade</mat-label>
              <input matInput placeholder="Emp grade" [disabled]="true" [value]="employeegrade" autocomplete="off"
                required>
            </mat-form-field>
          </td> -->

            <td>
              <br>
              <button type="button" class="btn btn-light" (click)="addSection()" *ngIf="!approver"
                style="margin-left: 50px"><span class="fa fa-plus"></span>
                ADD</button>

            </td>
          </tr>


          <div formArrayName='data' class="table-responsive" style="width:100%;margin-top: 1%;">
            <table class="table table-bordered" fixed-header style="width: 100%;margin-top: 10px;">
              <thead class="table_header" style="text-align: left;">
                <tr>
                  <th>S.No</th>
                  <!-- <th>Accommodation provided by Organizer</th> -->
                  <th>Sub Category<label style="color:red">*</label></th>
                  <!-- <th>Center Classification</th> -->
                  <th>City<label style="color:red">*</label></th>
                  <!-- <th>Place of Actual stay</th> -->
                  <th>Checkin Date and Time <br> (DD-MM-YYYY HH:MM)<label style="color:red">*</label></th>

                  <th>Checkout Date and Time <br>(DD-MM-YYYY HH:MM)<label style="color:red">*</label></th>

                  <!-- <th>Lodge Checkout Date and Time (DD-MM-YYYY HH-MM)</th> -->
                  <!-- <th>No of Days</th> -->

                  <!-- <th>Accommodation Ref No</th> -->
                  <th>Bill Number</th>
                  <th>Total Bill Amount (Excluding Tax)<label style="color:red">*</label></th>
                  <th>Claim Amount (INR) (Including Tax)<label style="color:red">*</label></th>

                  <th>Tax Only(Luxury & Service)<label style="color:red">*</label></th>
                  <th>Remarks</th>

                  <th>Vendor Name</th>
                  <!-- <th *ngIf="approver">Approved Amount(Including Tax)</th> -->
                  <th *ngIf="!approver">Action</th>

                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center;"
                  *ngFor="let dtl of lodgingform.controls.data['controls']|paginate: { itemsPerPage: pageSize, currentPage: p }; index as ind"
                  [formGroupName]="fieldGlobalIndex(ind)">
                  <td scope="row">
                    <p style="font-size: 20px;"> {{((p-1)*pageSize)+ind+1}} </p>
                  </td>

                  <td>

                    <mat-form-field>

                      <mat-select formControlName="Lodge_Homestay" [disabled]="approver" placeholder="Type">
                        <mat-option placeholder="Type" *ngFor="let type of typelist" (click)="calc_eligble(ind)"
                          [value]="type.name">
                          {{type.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>

                  <!-- <td>
                    <mat-form-field>

                      <mat-select placeholder="Center" formControlName="metro_nonmetro"
                        [disabled]="approver || centercheck(((p-1)*pageSize)+ind)">
                        <mat-option *ngFor="let metro_nonmetro of centerlist"
                          [value]="metro_nonmetro.value">
                          {{metro_nonmetro.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td> -->
                  <td>
                    <fieldset [disabled]="approver">

                      <mat-form-field floatLabel="never">


                        <input (keyup)="citysearch($event)" type="text" required #inputassetid placeholder="Select City"
                          matInput (keypress)="omit_special_char($event)" [matAutocomplete]="conoffice" [required]="true"
                          formControlName="city">
                        <mat-autocomplete #assetid #conoffice="matAutocomplete" (opened)="autocompleteid()">

                          <mat-option (click)="getcityValue()" *ngFor="let city of citylist" [value]="city.name"
                            (click)="calc_eligble(ind)">
                            {{city.name}}

                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </fieldset>
                  </td>
                  <!-- <td>
                    <fieldset [disabled]="approver">
                      <mat-form-field floatLabel="never">
                        <input (keypress)="omit_special_char($event)" matInput placeholder="Place of Actual stay"
                          formControlName="placeofactualstay" autocomplete="off" required>
                      </mat-form-field>
                    </fieldset
                  </td> -->
                  <td>
                    <fieldset [disabled]="approver" style="width:310px">
                      <mat-form-field floatLabel="never" id="tadate">

                        <input matInput [matDatepicker]="picker1" readonly [min]="minselect(((p-1)*pageSize)+ind)"
                          (dateChange)="calc_eligble(ind);invaliddatestart(((p-1)*pageSize)+ind)" [max]="maximum" placeholder="Checkin Date" autocomplete="off" [required]="true"
                          formControlName="fromdate">
                        <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field matSuffix id="tatime" style="margin-left:15px">
                        <span matSuffix class="material-icons">watch_later</span>
                        <input (keyup)="timefilter($event)" #time (blur)="timedropdowncheck(time,ind)" (keypress)="numberOnly($event)" formControlName="fromtime" [required]="true"
                          type="text" placeholder="Time" matInput [matAutocomplete]="timefile">
                        <mat-autocomplete #timefile="matAutocomplete">
                          <mat-option (click)="calc_eligble(ind);datechange(ind)" *ngFor="let time of timeclone"
                            [value]="time.name">
                            {{time.name}}

                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </fieldset>
                  </td>

                  <td>

                    <fieldset [disabled]="approver" style="width:310px">
                      <mat-form-field floatLabel="never" id="tadate">
                        <input matInput [matDatepicker]="picker2" readonly [min]="maxselect(((p-1)*pageSize)+ind)"
                          (dateChange)="calc_eligble(ind);datechange(ind)" [max]="maximum" placeholder="Checkout Date"
                          autocomplete="off" formControlName="todate">
                        <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field id="tatime" style="margin-left:15px" >

                        <span matSuffix class="material-icons">watch_later</span>
                        <input required  #totime (change)="totimechange(ind,totime);timedropdowncheck(totime,ind)" (keypress)="numberOnly($event)" formControlName="totime"
                          type="text" placeholder="Time" matInput [matAutocomplete]="timeto">
                        <mat-autocomplete #timeto="matAutocomplete">
                          <mat-option (click)="calc_eligble(ind)" *ngFor="let time of totimes(ind,totime)" [value]="time.name">
                            {{time.name}}

                          </mat-option>
                        </mat-autocomplete>

                      </mat-form-field>
                    </fieldset>


                  </td>

                  <td>
                    <fieldset [disabled]="approver">

                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Bill Number" formControlName="billno" autocomplete="off">
                      </mat-form-field>

                      <!-- <mat-form-field floatLabel="never">
                        <mat-select formControlName="billavailable" [disabled]="approver">
                          <mat-option *ngFor="let yesno of billchecklist" [value]="yesno.value">
                            {{yesno.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="billcheck(((p-1)*pageSize)+ind)" style="border-style: outset;">
                        <input placeholder="Bill No" matInput formControlName="billnumber" style="text-align:left;"
                          (keypress)="omit_special_char($event)" [value]='billnumber' autocomplete="off" required>
                      </div> -->
                    </fieldset>

                  </td>
                  <td>
                    <fieldset [disabled]="approver">
                      <mat-form-field floatLabel="never" id="amountlen">
                        <mat-icon id="rupee" matPrefix>currency_rupee</mat-icon>
                        <input matInput placeholder="Total Bill Amount" #bl (keypress)="numberOnly($event)"
                          formControlName="Billamountexculdingtax" (blur)="decs(bl,ind,$event)" autocomplete="off"
                          required>
                      </mat-form-field>
                    </fieldset>
                  </td>
                  <td>
                    <fieldset [disabled]="approver">
                      <mat-form-field floatLabel="never" id="amountlen">
                        <mat-icon [ngStyle]="{'color':limitcheck(ind) === false ? 'black' : 'red' }" matPrefix
                          id="rupee">
                          currency_rupee</mat-icon>
                        <input [ngStyle]="{'color':limitcheck(ind) === false ? 'black' : 'red' }" matInput #cl
                          (blur)="decs(cl,ind,$event)" placeholder="Claim Amount" (keyup)="exceednot(ind)"
                          (keypress)="numberOnly($event)" formControlName="claimedamount" required>
                      </mat-form-field>
                    </fieldset>
                  </td>

                  <td>
                    <fieldset [disabled]="approver">
                      <mat-form-field floatLabel="never" id="amountlen">
                        <mat-icon id="rupee" matPrefix>currency_rupee</mat-icon>
                        <input matInput placeholder="Tax Only" #tx (keypress)="numberOnly($event)"
                          formControlName="taxonly" (blur)="decs(tx,ind,$event)" autocomplete="off" required>
                      </mat-form-field>
                    </fieldset>
                  </td>
                  <td>
                    <fieldset [disabled]="approver">

                      <mat-form-field *ngIf="limitcheck(ind)===false" floatLabel="never">
                        <textarea matInput rows="1" cols="40" 
                          placeholder="Remarks" formControlName="remarks" autocomplete="off">
                  </textarea>
                      </mat-form-field>
                      <mat-form-field *ngIf="limitcheck(ind)===true" floatLabel="never">
                        <textarea matInput rows="1" cols="40" 
                          placeholder="Remarks*" formControlName="remarks" autocomplete="off" [required]="true">
                  </textarea>
                      </mat-form-field>
                    </fieldset>
                  </td>

                  <td>
                    <fieldset [disabled]="approver">
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Vendor Name" (keypress)="omit_special_char($event)"
                          formControlName="vendorname" autocomplete="off">
                      </mat-form-field>
                    </fieldset>
                  </td>
                  <td *ngIf="!approver"><button mat-icon-button matTooltip="Delete"
                      [disabled]="lodgingform.controls.data['controls'].length == 1" class="iconbutton"
                      (click)="deleteArray(((p-1)*pageSize)+ind)" color="primary">
                      <mat-icon style="color:black;" aria-label="Delete">delete</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th colspan="7">
                    <div class="pagination" style="text-align: center;">
                      <pagination-controls responsive="true" (pageChange)="p = $event"></pagination-controls>
                    </div>
                  </th>
                </tr>
              </tbody>




            </table>
          </div>
          <div class="col-md-12 text-center" style="margin-top: 3%;margin-bottom: 3%;">
            <mat-label>CEO's approval email attachment - is mandatory if Alcohol / Tobacco is included in the bill.
            </mat-label>
            <br>
            <br>
            <!-- <button *ngIf='approver && statusid == 2' type="submit" id="primarybtn"
              style="border-color: black; background-color: green; color: white;" class="btn btn-light"
              (click)="ApproveForm()">Approve</button> -->
            <button *ngIf='!approver' type="submit" style="margin-left: 10px;" id="primarybtn" class="btn btn-light"
              (click)="submitForm()">Submit</button>

            <button type="button" class="btn btn-light" (click)="back()" id="secondarybtn"
              style="margin-left: 10px;">Back</button>
          </div>

        </form>
      </div>
    </div>
    <!-- <pre>
  {{lodgingform.value | json}}
</pre> -->

  </mat-card>
</div>