<div class="row">
  <div class="col-sm-2" style="font-size: small;background-color:darkgray;" >From</div>
  <div class="col-sm-2" style="font-size: small;background-color:darkgray;">To</div>
  <div class="col-sm-2" style="font-size: small;background-color:darkgray;">CC</div>
  <div class="col-sm-2" style="font-size: small;background-color:darkgray;">Approver</div>
  <div class="col-sm-1" style="font-size: small;background-color:darkgray;">Date</div>
  <div class="col-sm-3" style="font-size: small;background-color:darkgray;">Subject</div>
</div>  
<div class="row" *ngFor="let memorow of memolist">
      <div class="col-sm-2" style="font-size: small;">{{memorow.sender.full_name}}</div>
      <div class="col-sm-2" style="font-size: small;">
        <ng-container *ngFor="let to1 of memorow.to_emp">
          {{to1.full_name}}  
      </ng-container>  
      </div>
      <div class="col-sm-2" style="font-size: small;">
        <ng-container *ngFor="let to1 of memorow.cc">
          {{to1.full_name}}  
      </ng-container>  
      </div>
      <div class="col-sm-2" style="font-size: small;">
        <ng-container *ngFor="let to1 of memorow.approver">
          {{to1.full_name}}  
      </ng-container>  
      </div>
      <div class="col-sm-1" style="font-size: small;">{{memorow.created_date | date:'dd-MM-yyyy hh:mm'}}</div>
      <div class="col-sm-3" style="font-size: small;">{{memorow.subject}}</div>
   
</div>
<button (click)="onMemoNext()">Next</button>