.table_header {
  
    text-align: center;
    font-size: 13px;
}

.filter-btn {
    margin-left: 30px;
}
th{
    text-align:center;
    font-size: 14px;
  }
  tbody td {
    padding: 0.5em 0.1em 1.1em;
}