.table {
  // font-family: arial, sans-serif;
border-collapse: collapse;
}

.th {

width: 126px;
height: 56px;
padding: 0px 16px;
text-align: left;
background-color: #F6F6F6;
}

.td {
width: 118px;
min-width: 118px;
max-width: 118px;
height: 56px;
max-height: 56px;
overflow: hidden;
text-align: center;
border-bottom: 2px solid #ddefdd;
}
.pink_color {
background-color: pink;
}

.table_wrapper {
position: relative;
}
.table_scroll {
height: 73vh;
overflow: auto;
}
.table_wrapper table {
width: 100%;
}

.table_wrapper table thead th .text {
position: absolute;
z-index: 2;
}
.tableFixHead
{ 
overflow: auto; height: 63vh; 
}
.tableFixHead thead th 
{ 
  background: #F6F6F6;
position: sticky; top: 0; z-index: 85; 
}
@media only screen and (min-width: 1440px) {
  .table_scroll {
    height: 77vh;
    overflow: auto;
  }
}
// .my-table , .my-table th ,.my-table td {
//   border: 2px solid #bac2cd;
// }


.matformfieldstyle{
  font-size:7px;
  margin-top: 5px
}
.matformfieldinputstyle{
  font-size:16px ;
}


::ng-deep .mat-form-field-outline {
  color:grey !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}

.maticonsize{
  font-size:15px;
}

#commonstyle{
  border:15px none #f6f6f6
  }

  tr:nth-child(even) {background: #EDF8FA}
  tr:nth-child(odd) {background: #FFF}


// new
