<div style="width: 100%;margin-left: 5px;">
    <p style="color: black;font-size: 20px;font-weight: 500px;margin-left: 3px;">
        eClaim Travel Maker Summary
    </p>

    <div>
        <div class="table-responsive" style="width:98%;margin-top: 1%;">
            <table class="table" style="margin-top: 10px;width: 100%;" id='commonstyle'>
                <thead class="table_header">
                    <tr>
                        <th class="fixed-header1">S.No</th>
                        <th class="fixed-header2">Travel No</th>
                        <th class="fixed-header3">Travel Requested Date</th>
                        <th class="fixed-header4">From Date </th>
                        <th class="fixed-header5">To Date</th>
                        <th class="fixed-header6">Reason</th>
                        <th>Maker Branch</th>

                        <th>Approver</th>
                        <th>Status</th>
                        <th>Flight</th>
                        <th>Train</th>
                        <th>Bus</th>
                        <th>Cab</th>
                        <th>Accomodation</th>
                        <th class="lastfixed-header">Action</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let tourmaker of getTourmakerList; index as i">
                        <td class="fixed-header1" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{(currentpage - 1)*pagesize +i+1 }} </td>
                        <td class="fixed-header2" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{tourmaker.id}}</td>
                        <td class="fixed-header3" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{tourmaker.requestdate | date: 'dd-MMM-yyyy, EEE' }}</td>
                        <td class="fixed-header4" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{tourmaker.startdate | date: 'dd-MMM-yyyy, EEE'}}</td>
                        <td class="fixed-header5" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{tourmaker.enddate | date: 'dd-MMM-yyyy, EEE'}}</td>
                        <td class="fixed-header6" [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            {{tourmaker.reason}}</td>
                        <td>({{tourmaker.branch_code}}) {{tourmaker.branch_name}}</td>
                        <td>({{tourmaker.approver_data.code}}) {{tourmaker.approver_data.name}}</td>
                        <td *ngIf='tourmaker.tour_status_id === 2 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 1 '
                            style="color: black;">Travel Request Submitted To RM</td>
                        <td *ngIf='tourmaker.tour_status_id === 3 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 1 '
                            style="color: green;">Travel Request Approved </td>
                        <td *ngIf='tourmaker.tour_status_id === 4 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 1 '
                            style="color: red;">Travel Request Rejected By RM</td>
                        <td *ngIf='tourmaker.tour_status_id === 5 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 1 '
                            style="color: black;">Travel Request Returned From RM</td>
                        <td *ngIf='tourmaker.tour_status_id === 6 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 1 '
                            style="color: black;">Travel Request Forwarded</td>

                        <td *ngIf='tourmaker.tour_status_id === 2 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 2 '
                            style="color: black;">Travel Request Submitted To CEO</td>
                        <td *ngIf='tourmaker.tour_status_id === 3 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 2 '
                            style="color: green;">Travel Request Approved</td>
                        <td *ngIf='tourmaker.tour_status_id === 4 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 2 '
                            style="color: red;">Travel Request Rejected By CEO</td>
                        <td *ngIf='tourmaker.tour_status_id === 5 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 2 '
                            style="color: black;">Travel Request Returned From CEO</td>
                        <td *ngIf='tourmaker.tour_status_id === 6 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 2 '
                            style="color: black;">Travel Request Forwarded</td>

                        <td *ngIf='tourmaker.tour_status_id === 2 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 3 '
                            style="color: black;">Travel Request Submitted To Admin</td>
                        <td *ngIf='tourmaker.tour_status_id === 3 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 3 '
                            style="color: green;">Travel Request Approved </td>
                        <td *ngIf='tourmaker.tour_status_id === 4 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 3 '
                            style="color: red;">Travel Request Rejected By Admin</td>
                        <td *ngIf='tourmaker.tour_status_id === 5 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 3 '
                            style="color: black;">Travel Request Returned From Admin</td>
                        <td *ngIf='tourmaker.tour_status_id === 6 && tourmaker.apptype == "TOUR" && tourmaker.latest_applevel == 3 '
                            style="color: black;">Travel Request Forwarded To Admin</td>

                        <td *ngIf='tourmaker.tour_cancel_status_id === 2 && tourmaker.apptype == "TourCancel"'
                            style="color: black;">Travel Cancel Request Submitted To RM</td>
                        <td *ngIf='tourmaker.tour_cancel_status_id === 3 && tourmaker.apptype == "TourCancel"'
                            style="color: green;">Travel Cancel Request Approved</td>
                        <td *ngIf='tourmaker.tour_cancel_status_id === 4 && tourmaker.apptype == "TourCancel"'
                            style="color: red;">Travel Cancel Request Rejected</td>


                        <td *ngIf='tourmaker.air_status_name == "BOOKED"' style="background-color: white;">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.air_count.booked != 0' >Booked :  {{tourmaker.air_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.air_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.air_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.air_count["cancelled"] != 0' >Cancelled : {{tourmaker.air_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.air_count["not booked"] != 0' >Not Booked : {{tourmaker.air_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.air_count["rejected"] != 0' >Rejected : {{tourmaker.air_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.air_status_name == "NOT APPLICABLE"' style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourmaker.air_status_name == "CANCELLED"' style="background-color: white;">
                            <!-- Cancelled -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.air_count.booked != 0' >Booked :  {{tourmaker.air_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.air_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.air_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.air_count["cancelled"] != 0' >Cancelled : {{tourmaker.air_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.air_count["not booked"] != 0' >Not Booked : {{tourmaker.air_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.air_count["rejected"] != 0' >Rejected : {{tourmaker.air_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.air_status_name == "NOT BOOKED"' style="background-color: white">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.air_count.booked != 0' >Booked :  {{tourmaker.air_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.air_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.air_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.air_count["cancelled"] != 0' >Cancelled : {{tourmaker.air_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.air_count["not booked"] != 0' >Not Booked : {{tourmaker.air_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.air_count["rejected"] != 0' >Rejected : {{tourmaker.air_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.air_status_name == "REJECTED"' style="background-color:white">
                            <!-- <label style="color: red;">Rejected</label> -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.air_count.booked != 0' >Booked :  {{tourmaker.air_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.air_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.air_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.air_count["cancelled"] != 0' >Cancelled : {{tourmaker.air_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.air_count["not booked"] != 0' >Not Booked : {{tourmaker.air_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.air_count["rejected"] != 0' >Rejected : {{tourmaker.air_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.air_status_name == "IN PROGRESS"' style="background-color: white;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.air_count.booked != 0' >Booked :  {{tourmaker.air_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.air_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.air_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.air_count["cancelled"] != 0' >Cancelled : {{tourmaker.air_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.air_count["not booked"] != 0' >Not Booked : {{tourmaker.air_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.air_count["rejected"] != 0' >Rejected : {{tourmaker.air_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.train_status_name == "BOOKED"' style="background-color: white">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.train_count.booked != 0' >Booked :  {{tourmaker.train_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.train_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.train_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.train_count["cancelled"] != 0' >Cancelled : {{tourmaker.train_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.train_count["not booked"] != 0' >Not Booked : {{tourmaker.train_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.train_count["rejected"] != 0' >Rejected : {{tourmaker.train_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.train_status_name == "NOT APPLICABLE"' style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourmaker.train_status_name == "CANCELLED"' style="background-color: white;">
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.train_count.booked != 0' >Booked :  {{tourmaker.train_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.train_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.train_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.train_count["cancelled"] != 0' >Cancelled : {{tourmaker.train_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.train_count["not booked"] != 0' >Not Booked : {{tourmaker.train_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.train_count["rejected"] != 0' >Rejected : {{tourmaker.train_count["rejected"]}}</span></span>
                        
                        </td>
                        <td *ngIf='tourmaker.train_status_name == "NOT BOOKED"' style="background-color:white;">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.train_count.booked != 0' >Booked :  {{tourmaker.train_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.train_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.train_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.train_count["cancelled"] != 0' >Cancelled : {{tourmaker.train_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.train_count["not booked"] != 0' >Not Booked : {{tourmaker.train_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.train_count["rejected"] != 0' >Rejected : {{tourmaker.train_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.train_status_name == "REJECTED"' style="background-color:white">
                            <!-- <label style="color: red;">Rejected</label> -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.train_count.booked != 0' >Booked :  {{tourmaker.train_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.train_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.train_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.train_count["cancelled"] != 0' >Cancelled : {{tourmaker.train_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.train_count["not booked"] != 0' >Not Booked : {{tourmaker.train_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.train_count["rejected"] != 0' >Rejected : {{tourmaker.train_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.train_status_name == "IN PROGRESS"' style="background-color: white;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.train_count.booked != 0' >Booked :  {{tourmaker.train_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.train_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.train_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.train_count["cancelled"] != 0' >Cancelled : {{tourmaker.train_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.train_count["not booked"] != 0' >Not Booked : {{tourmaker.train_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.train_count["rejected"] != 0' >Rejected : {{tourmaker.train_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.bus_status_name == "BOOKED"' style="background-color: white;">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.bus_count.booked != 0' >Booked :  {{tourmaker.bus_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.bus_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.bus_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.bus_count["cancelled"] != 0' >Cancelled : {{tourmaker.bus_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.bus_count["not booked"] != 0' >Not Booked : {{tourmaker.bus_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.bus_count["rejected"] != 0' >Rejected : {{tourmaker.bus_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.bus_status_name == "NOT APPLICABLE"' style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourmaker.bus_status_name == "CANCELLED"' style="background-color: white;">
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.bus_count.booked != 0' >Booked :  {{tourmaker.bus_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.bus_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.bus_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.bus_count["cancelled"] != 0' >Cancelled : {{tourmaker.bus_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.bus_count["not booked"] != 0' >Not Booked : {{tourmaker.bus_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.bus_count["rejected"] != 0' >Rejected : {{tourmaker.bus_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.bus_status_name == "NOT BOOKED"' style="background-color: white;">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.bus_count.booked != 0' >Booked :  {{tourmaker.bus_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.bus_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.bus_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.bus_count["cancelled"] != 0' >Cancelled : {{tourmaker.bus_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.bus_count["not booked"] != 0' >Not Booked : {{tourmaker.bus_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.bus_count["rejected"] != 0' >Rejected : {{tourmaker.bus_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.bus_status_name == "REJECTED"' style="background-color:white">
                            <!-- <label style="color: red;">Rejected</label> -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.bus_count.booked != 0' >Booked :  {{tourmaker.bus_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.bus_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.bus_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.bus_count["cancelled"] != 0' >Cancelled : {{tourmaker.bus_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.bus_count["not booked"] != 0' >Not Booked : {{tourmaker.bus_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.bus_count["rejected"] != 0' >Rejected : {{tourmaker.bus_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.bus_status_name == "IN PROGRESS"' style="background-color: white;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.bus_count.booked != 0' >Booked :  {{tourmaker.bus_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.bus_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.bus_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.bus_count["cancelled"] != 0' >Cancelled : {{tourmaker.bus_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.bus_count["not booked"] != 0' >Not Booked : {{tourmaker.bus_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.bus_count["rejected"] != 0' >Rejected : {{tourmaker.bus_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.cab_status_name == "BOOKED"' style="background-color: white;">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.cab_count.booked != 0' >Booked :  {{tourmaker.cab_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.cab_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.cab_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.cab_count["cancelled"] != 0' >Cancelled : {{tourmaker.cab_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.cab_count["not booked"] != 0' >Not Booked : {{tourmaker.cab_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.cab_count["rejected"] != 0' >Rejected : {{tourmaker.cab_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.cab_status_name == "NOT APPLICABLE"' style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourmaker.cab_status_name == "CANCELLED"' style="background-color: white;">
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.cab_count.booked != 0' >Booked :  {{tourmaker.cab_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.cab_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.cab_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.cab_count["cancelled"] != 0' >Cancelled : {{tourmaker.cab_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.cab_count["not booked"] != 0' >Not Booked : {{tourmaker.cab_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.cab_count["rejected"] != 0' >Rejected : {{tourmaker.cab_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.cab_status_name == "NOT BOOKED"' style="background-color: white;">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.cab_count.booked != 0' >Booked :  {{tourmaker.cab_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.cab_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.cab_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.cab_count["cancelled"] != 0' >Cancelled : {{tourmaker.cab_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.cab_count["not booked"] != 0' >Not Booked : {{tourmaker.cab_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.cab_count["rejected"] != 0' >Rejected : {{tourmaker.cab_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.cab_status_name == "REJECTED"' style="background-color:white">
                            <!-- <label style="color: red;">Rejected</label> -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.cab_count.booked != 0' >Booked :  {{tourmaker.cab_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.cab_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.cab_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.cab_count["cancelled"] != 0' >Cancelled : {{tourmaker.cab_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.cab_count["not booked"] != 0' >Not Booked : {{tourmaker.cab_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.cab_count["rejected"] != 0' >Rejected : {{tourmaker.cab_count["rejected"]}}</span></span>
                        </td>


                        <td *ngIf='tourmaker.cab_status_name == "IN PROGRESS"' style="background-color: white;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.cab_count.booked != 0' >Booked :  {{tourmaker.cab_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.cab_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.cab_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.cab_count["cancelled"] != 0' >Cancelled : {{tourmaker.cab_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.cab_count["not booked"] != 0' >Not Booked : {{tourmaker.cab_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.cab_count["rejected"] != 0' >Rejected : {{tourmaker.cab_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.accomodation_status_name == "BOOKED"' style="background-color: white;">
                            <!-- Booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.accommodation_count.booked != 0' >Booked :  {{tourmaker.accommodation_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.accommodation_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.accommodation_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.accommodation_count["cancelled"] != 0' >Cancelled : {{tourmaker.accommodation_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.accommodation_count["not booked"] != 0' >Not Booked : {{tourmaker.accommodation_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.accommodation_count["rejected"] != 0' >Rejected : {{tourmaker.accommodation_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.accomodation_status_name == "NOT APPLICABLE"'
                            style="background-color: white;">
                            Not applicable
                        </td>
                        <td *ngIf='tourmaker.accomodation_status_name == "CANCELLED"'
                            style="background-color: white;">
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.accommodation_count.booked != 0' >Booked :  {{tourmaker.accommodation_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.accommodation_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.accommodation_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.accommodation_count["cancelled"] != 0' >Cancelled : {{tourmaker.accommodation_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.accommodation_count["not booked"] != 0' >Not Booked : {{tourmaker.accommodation_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.accommodation_count["rejected"] != 0' >Rejected : {{tourmaker.accommodation_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.accomodation_status_name == "NOT BOOKED"'
                            style="background-color: white;">
                            <!-- Not booked -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.accommodation_count.booked != 0' >Booked :  {{tourmaker.accommodation_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.accommodation_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.accommodation_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.accommodation_count["cancelled"] != 0' >Cancelled : {{tourmaker.accommodation_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.accommodation_count["not booked"] != 0' >Not Booked : {{tourmaker.accommodation_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.accommodation_count["rejected"] != 0' >Rejected : {{tourmaker.accommodation_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.accomodation_status_name == "REJECTED"' style="background-color:white">
                            <!-- <label style="color: red;">Rejected</label> -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.accommodation_count.booked != 0' >Booked :  {{tourmaker.accommodation_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.accommodation_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.accommodation_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.accommodation_count["cancelled"] != 0' >Cancelled : {{tourmaker.accommodation_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.accommodation_count["not booked"] != 0' >Not Booked : {{tourmaker.accommodation_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.accommodation_count["rejected"] != 0' >Rejected : {{tourmaker.accommodation_count["rejected"]}}</span></span>
                        </td>
                        <td *ngIf='tourmaker.accomodation_status_name == "IN PROGRESS"'
                            style="background-color: white;">
                            <!-- In Progress -->
                            <span class="badge  bg-success" style="color: white;"><span *ngIf = 'tourmaker.accommodation_count.booked != 0' >Booked :  {{tourmaker.accommodation_count.booked}}</span></span>
                            <span class="badge" style="color: white;background-color:goldenrod;"><span *ngIf = 'tourmaker.accommodation_count["cancel requested"] != 0' >Cancel Requested : {{tourmaker.accommodation_count["cancel requested"]}}</span></span>
                            <span class="badge" style="color: white;background-color:#A0522D;"><span *ngIf = 'tourmaker.accommodation_count["cancelled"] != 0' >Cancelled : {{tourmaker.accommodation_count["cancelled"]}}</span></span>
                            <span class="badge" style="color: white;background-color:red;"><span *ngIf = 'tourmaker.accommodation_count["not booked"] != 0' >Not Booked : {{tourmaker.accommodation_count["not booked"]}}</span></span>
                            <span class="badge" style="color: red;background-color: white;"><span *ngIf = 'tourmaker.accommodation_count["rejected"] != 0' >Rejected : {{tourmaker.accommodation_count["rejected"]}}</span></span>
                        </td>

                        <td class="lastfixed-header"
                            [ngStyle]="{'background':(i%2 != 0) === false ? '#fff' : '#EDF8FA' }">
                            <button mat-icon-button matTooltip=" Edit" class="iconbutton" color="primary"
                                (click)="tourEdit(tourmaker)">

                                <mat-icon style="color: black;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <!-- <td *ngIf="getTourmakerList ?.length == 0"  colspan="10"> No Records found</td> -->
                    </tr>
                </tbody>

            </table>
        </div>
        <div *ngIf="getTourmakerList ?.length == 0" style="margin-left: 42%;">
            <h3>Sorry data not found!.. </h3>
        </div>
        <div class="row" *ngIf="isTourMakerpage">
            <div class="col-sm-12" style="font-size: small;text-align:right;margin-bottom: 1%;">
                <button mat-icon-button [disabled]="has_previous === false" color="primary"
                    (click)="TourmakerpreviousClick()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{currentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="TourmakernextClick()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>

            </div>
            <!-- <pagination-controls id="page" (pageChange)="pagination($event)"></pagination-controls> -->
        </div>
    </div>
</div>