
<div class="container">
<div class="col-md-12 row">
  
  <div class="col-md-3"  *ngFor='let i of menugrid'>
      <mat-card class="example-card" >
          <mat-card-header>
            

            
            <mat-card-title>
                <mat-icon> <i class="{{listicons[i.name]}}"></i></mat-icon> 
                <!-- <span class="material-icons-round">dashboard </span> 
                <i class="fa fa-sitemap"></i>  <i class="{{listicons[i.id]}}"></i>-->
              <!--  <img id="LogoTag1" src="./assets/images/kvb_logo.jpg" width="150px;height:50px;margin-left:0">-->
             
              

            </mat-card-title>
          
          </mat-card-header>
        
          <mat-card-content routerLink="/fa{{i.url}}" skipLocationChange style="cursor: pointer;">
            {{i.name}}
            <!-- <p>
              Karur Vysya Bank is a Scheduled Commercial Bank in India. It has completed 100 years of operation and is one of the leading banks in India, headquartered in Karur in Tamil Nadu. It was set up in 1916 by M. A. Venkatarama Chettiar and Athi Krishna Chettiar.
            </p> -->
          </mat-card-content>
        
      </mat-card>
  
  
  </div>


</div>
</div>
<!-- <table style="margin: auto;">
 <tr>
        <th> <a class="hyperLink" (click)="assetmaker()">Asset Maker</a>  / <a class="hyperLink" (click)="assetchecker()"> Asset Checker</a>  </th>
    </tr>
    <br>
    <tr>
    <th><a class="hyperlink" (click)="cpdatechange()">CP Date Change Summary</a>/<a class="hyperLink" (click)="cpdatechangechecker()">cp date change checker</a></th></tr>
    <br>
    <tr>
        <th> <a class="hyperLink" (click)="valuechangemakersummary()">Value Change Maker</a>  / <a class="hyperLink" (click)="valuechangecheckersummary()"> Value Change Checker</a>  </th>
    </tr>
    <br>
    <tr>
        <th> <a class="hyperLink" (click)="transfermakersummary()">Transfer Maker</a>  / <a class="hyperLink" (click)="transfercheckersummary()"> Transfer Checker</a>  </th>
    </tr>
    <br>
    <tr>
        <th> <a class="hyperLink" (click)="categorychangesummary()">Category Change Maker</a>  / <a class="hyperLink" (click)="categorychangeapprove()"> Category Change Checker</a>  </th>
    </tr>
    <br>
    <tr>
        <th> <a class="hyperLink" (click)="Assetsalesummary()">Asset Sales </a>  /  
            <a class="hyperLink" (click)="assetsaleschecker()"> Asset Sales Checker</a>  </th>
    </tr>
    <br>
    <tr>
        <th> <a class="hyperLink" (click)="assetwriteoffmakerRoute()">Write Off Maker</a>  / <a class="hyperLink" (click)="assetwriteoffcheckerRoute()"> Write Off Checker</a>  </th>
    </tr>
    <br>
    <tr>
        <th> <a class="hyperLink" (click)="assetImpairmentmakerRoute()">Impairment Maker</a> / <a class="hyperLink" (click)="assetImpairmentcheckerRoute()" > Impairment Checker</a>  </th>
    </tr>
    <br>
    <tr>

        <th > <a class="hyperLink" (click)="assetMergemakerRoute()" >Merge Maker</a>  / <a class="hyperLink" (click)="assetMergecheckerRoute()" >  Merge Checker</a>  </th>
    </tr>
    <br>
    <tr>
        <th > <a class="hyperLink" [routerLink]='"/fa/clubsummary"' skipLocationChange>Club Summary</a>  / <a class="hyperLink"  [routerLink]='"/fa/clubmaker"' skipLocationChange>  Club  Maker</a>  </th>
    </tr>
    <br>
    <tr>
        <th> <a class="hyperLink" [routerLink]='"/fa/clubchecker"' skipLocationChange >clubchecker </a>  /  <a class="hyperLink" [routerLink]='"/fa/faquery"' skipLocationChange>  FA   query</a>  </th>
    </tr>
    <br>
    
    <br>
    <tr>
        <th > <a class="hyperLink" [routerLink]='"/fa/fa-pv"' skipLocationChange>pv Maker</a>  / <a class="hyperLink" [routerLink]='"/fa/approver"' skipLocationChange>  Pv Approver</a>  </th>
    </tr>
    <br>
    <tr>
        <th> <a class="hyperLink" (click)="assetSplitmakerRoute()" >Split Maker</a>  /  <a class="hyperLink" (click)="assetSplitcheckerRoute()">  Split Checker</a>  </th>
        <th><a class="hyperLink" [routerLink]='"/fa/fa_depreciation"' skipLocationChange>fa_depreciation</a></th>
    </tr>
    <br>
    <!-- <th><a class="hyperLink" [routerLink]='"/fa/fa_depreciation"' skipLocationChange>fa_depreciation</a></th> -->
    
    
<!-- </table>  -->
