// .tablescroll{
    // height:400px;
    // width:95%;
    // overflow:auto;
    // overflow: scroll;
    // overflow:visible;
    // display: block;
  // }

//   .tableFixHead          { overflow: auto; height: 400px; }
// .tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

// /* Just common table stuff. Really. */
// table  { border-collapse: collapse; width: 100%;font-size: 13px; }
// th, td { padding: 14px 16px; }
// th     { background:#DDEFDD; }

#commonstyle{
  border:15px none #f6f6f6
  }

  tr:nth-child(even) {background: #EDF8FA}
  tr:nth-child(odd) {background: #FFF}
table,th,td{
  text-align: left;
  font-size: 13px;

  // padding: 5px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}
