<div style="background-color: #F6F6F6">
    <mat-card style="margin:20px 12px 20px 20px;" class="mat-elevation-z0">
    <nav>
        <div class="nav nav-tabs" style="margin-top: 10px;">
            <span class="nav-item nav-link" data-toggle="tab" (click)="JVSubModule(sub)" role="tab"
                *ngFor="let sub of JV_Sub_Menu_List">
                {{sub.name}}
            </span>
        </div>
    </nav>

    <!-- -- JV SUMMARY ---->
     
    <div *ngIf="jvsummaryForm">
        
        <div class="col-md-12">
            <form [formGroup]="jvSearchForm">
                <p style="color:black;font-size: 22px;font-weight: 500;margin-top: 20px;">
                    JV Summary Search
                </p>

                <div class="row">
                    <div class="col-md-3">
                        <mat-label>CR Number</mat-label><br>
                        <mat-form-field  class="matformfieldstyle" appearance="outline">
                            <input class="matformfieldinputstyle" type="text" matInput autocomplete="off" placeholder="CR Number" formControlName="crno">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label>Type</mat-label><br>
                        <mat-form-field class="matformfieldstyle" appearance="outline">
                            <mat-select  class="matformfieldinputstyle" placeholder="Type" formControlName="type">
                                <mat-option *ngFor="let type of TypeList" [value]="type.id" matTooltip="{{type.text}}">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label>Ref Number</mat-label><br>
                        <mat-form-field  class="matformfieldstyle" appearance="outline">
                            <input class="matformfieldinputstyle" type="text" matInput autocomplete="off" placeholder="Ref Number" formControlName="refno">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label > Branch
                        </mat-label><br>
                       
                        <mat-form-field class="matformfieldstyle" style="width: 200px; "
                            appearance="outline" (click)="getbranchdropdown()">

                            <input #branchInput class="matformfieldinputstyle" matInput
                                formControlName="branch" [matAutocomplete]="branchtyperole" 
                                placeholder="Choose Branch">
                            <mat-icon matSuffix class="maticonsize">unfold_more</mat-icon>
                            <mat-autocomplete [panelWidth]="400" #branchtyperole="matAutocomplete"
                                [displayWith]="displayFnbranchrole" (opened)="branchScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let branch of Branchlist" [value]="branch" matTooltip=" {{branch.code}}-{{branch.name}}">
                                        {{branch.code}}-{{branch.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label>Raiser</mat-label><br>
                       
                        <mat-form-field class="matformfieldstyle" style="width: 200px; "
                            appearance="outline" (click)="getraiserdropdown()">

                            <input #raiserInput class="matformfieldinputstyle" matInput
                                formControlName="created_by" [matAutocomplete]="raisertyperole" 
                                placeholder="Choose Raiser">
                            <mat-icon matSuffix class="maticonsize">unfold_more</mat-icon>
                            <mat-autocomplete [panelWidth]="400" #raisertyperole="matAutocomplete"
                                [displayWith]="displayFnraiserrole" (opened)="raiserScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let data of Raiserlist" [value]="data" matTooltip = "{{data.full_name}}">
                                        {{data.full_name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <!-- <div class="col-md-3">
                        <mat-label >Txn Date</mat-label><br>
                        <mat-form-field  class="matformfieldstyle"
                            appearance="outline">
            
                            <input matInput [matDatepicker]="picker1" 
                                class="matformfieldinputstyle" autocomplete="off"
                                formControlName="date" placeholder="Txn Date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div> -->

                    <div class="col-md-3">
                        <mat-label>Amount</mat-label><br>
                        <mat-form-field  class="matformfieldstyle" appearance="outline">
                            <input class="matformfieldinputstyle"  matInput autocomplete="off" placeholder="Amount" formControlName="amount"
                            (keypress)="numberOnlyandDot($event)" >
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label>Status</mat-label><br>
                        <mat-form-field class="matformfieldstyle" appearance="outline">
                            <mat-select  class="matformfieldinputstyle" placeholder="Status" formControlName="status">
                                <mat-option *ngFor="let status of StatusList" [value]="status.id" matTooltip=" {{status.text}}">
                                    {{status.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                       
                       
                    </div>

                    <div class="col-md-3">
                        <div style="margin-top: 12px;">
                            <button mat-fab style="background-color: white;margin-left: 5px" aria-label="Search"  (click)="jvsummarysearch()" matTooltip="Search">
                                <mat-icon>search</mat-icon>
                            </button>
                            <button mat-fab type="submit"  (click)="jvreset()"
                            style="border-radius:40px;margin-left: 15px;background-color: white;" matTooltip="Reset">Clear</button>
                            <button mat-fab style="margin-left: 20px;background-color: blue;color: white;" (click)="createjv()"
                            matTooltip="JV Creation">
                                <mat-icon >add</mat-icon>
                            </button>
                            <button mat-fab style="margin-left: 20px;background-color:darkorchid;color: white;" (click)="uploadjv()"
                            matTooltip="JV Bulk Upload">
                                 <mat-icon >add</mat-icon>
                             </button>
                             <!-- top:-59px; right:-220px; -->
                        </div>
                    </div>



                </div>

                </form>
           </div>



           <p style="color:black;font-size: 22px;font-weight: 500;margin-left: 15px;margin-top: 20px;">
            JV Summary
          </p>

          <div style="margin-top: 4%;width: 100%;margin-left: 10px;">
            <table class="table table-responsive padsize" style="text-align:center;" id ='commonstyle'>	
                
                <thead>
                    <tr class="table_header tableset " style="white-space: nowrap;text-align: center;background-color:#EDF8FA;">

          <!-- <div style="margin-left: 15px;">
            <table class="table"style="margin-top: 10px;max-width: 100%;" id ='commonstyle'>
                <thead class="table_header" >
                    <tr style="white-space: nowrap;text-align: center;background-color:#EDF8FA;"> -->
                        <th>S.No</th>
                        <th>CR Number</th>
                        <th>Entry Type</th>
                        <th>Ref Number</th>
                        <th>Raiser Name</th>
                        <th>Branch Name and Code</th>
                        <th>Transaction Date</th>
                        <th>Total Amount</th>
                        <!-- <th>Attachment</th> -->
                        <th>Status</th>
                        <th >Entries</th>
                        <!-- <th>Transaction</th> -->
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of jvList;index as i" style="white-space: nowrap;text-align: center;">
                        <td>{{(jvpresentpage - 1)*jvpagesize +i+1 }}</td>
                        <td>{{data?.jecrno}}</td>
                        <td>{{data?.jetype}}</td>
                        <td>{{data?.jerefno}}</td>
                        <td>{{data?.created_by?.name}}</td>
                        <td>{{data?.jebranch?.name}}-{{data?.jebranch?.code}}</td>
                        <td>{{data?.jetransactiondate | date:'dd/MM/yyyy'}}</td>
                        <td>{{data?.jeamount|currency:'INR'}}</td>
                        <!-- <td  style="text-align:center">
                            <span matTooltip="view Attached File" class=" fa fa-eye create "
                            style="color: black;cursor: pointer;" data-target="#showattachmentpopup" data-toggle="modal"></span>
                        </td> -->
                        <td>{{data?.jestatus}}</td>
                        <td style="text-align:center" *ngIf="data?.jestatus == 'Approved'">
                            <span matTooltip="view Entries" class=" fa fa-eye create "
                            style="color: green;cursor: pointer;" data-target="#showentrydetails" data-toggle="modal" (click)="getjvcrno(data)"></span>
                        </td>
                        <td style="text-align:center" *ngIf="data?.jestatus != 'Approved'">-</td>
                        <!-- <td style="text-align:center">
                            <span matTooltip="view Transaction" class=" fa fa-eye create "
                            style="color: black;cursor: pointer;" data-target="#showtrandetails" data-toggle="modal"></span>
                        </td> -->
                        <td style="text-align: center;">
                            <span matTooltip="view" class=" fa fa-eye create "
                            style="color: green;cursor: pointer;" (click)="showjvsummaryviews(data)" ></span>  
                        </td>
                        <td  *ngIf="data?.jestatus != 'Approved' && data?.jestatus != 'Rejected' && data?.jestatus != 'Deleted'">
                            <button mat-icon-button type="button" matTooltip="Delete" style="margin-top:-15px">
                                <mat-icon style="color: green;" aria-label="Edit" (click)="delete(data.id)"  >
                                    delete</mat-icon>
                            </button>
                        </td>
                        <td  *ngIf="data?.jestatus == 'Approved' || data?.jestatus == 'Rejected' || data?.jestatus == 'Deleted'">
                            <button mat-icon-button type="button" matTooltip="Delete" [disabled]="true" style="margin-top:-15px;">
                                <mat-icon style="color: grey;" aria-label="Edit" >
                                    delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- ----To add paginatrion--- -->
            <div *ngIf="jvList ?.length == 0" style="margin-left: 42%;">
                <h3 >Sorry data not found!.. </h3>
            </div>
            <div class="row" *ngIf="issummarypage">
                <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 50px;">
                    <button mat-icon-button [disabled]="has_pageprevious === false" color="primary"
                        (click)="previousClickjv()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{jvpresentpage}}
                    <button mat-icon-button [disabled]="has_pagenext === false" color="primary"
                        (click)="nextClickjv()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
            </div>

        </div>





    <!-- ---------- -->

    <div *ngIf="jvcreateForm">
        <app-jv-creation (onSubmit)="jvcreatesubmit()" (onCancel)="jvcreatecancel()">
        </app-jv-creation>
    </div>

    <!-- ----------- -->

    <!-- -- JV Approval SUMMARY ---->
     
    <div *ngIf="jvapprovalsummaryForm">
        
        <div class="col-md-12">
            <form [formGroup]="jvapprovalSearchForm">
                <p style="color:black;font-size: 22px;font-weight: 500;margin-top: 20px;">
                    JV Approval Search
                </p>

                <div class="row">
                    <div class="col-md-3">
                        <mat-label>CR Number</mat-label><br>
                        <mat-form-field  class="matformfieldstyle" appearance="outline">
                            <input class="matformfieldinputstyle" type="text" matInput autocomplete="off" placeholder="CR Number" formControlName="crno">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label>Type</mat-label><br>
                        <mat-form-field class="matformfieldstyle" appearance="outline">
                            <mat-select  class="matformfieldinputstyle" placeholder="Type" formControlName="type">
                                <mat-option *ngFor="let type of TypeList" [value]="type.id" matTooltip="{{type.text}}">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label>Ref Number</mat-label><br>
                        <mat-form-field  class="matformfieldstyle" appearance="outline">
                            <input class="matformfieldinputstyle" type="text" matInput autocomplete="off" placeholder="Ref Number" formControlName="refno">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label >Branch</mat-label><br>
                       
                        <mat-form-field class="matformfieldstyle" style="width: 200px; "
                            appearance="outline" (click)="getbranchdropdown()">

                            <input #branchInput class="matformfieldinputstyle" matInput
                                formControlName="branch" [matAutocomplete]="branchtype" 
                                placeholder="Choose Branch">
                            <mat-icon matSuffix class="maticonsize">unfold_more</mat-icon>
                            <mat-autocomplete [panelWidth]="400" #branchtype="matAutocomplete"
                                [displayWith]="displayFnbranch" (opened)="branchScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let branch of Branchlist" [value]="branch" matTooltip="{{branch.code}}-{{branch.name}}">
                                        {{branch.code}}-{{branch.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label>Raiser</mat-label><br>
                       
                        <mat-form-field class="matformfieldstyle" style="width: 200px; "
                            appearance="outline" (click)="getraiserappdropdown()">

                            <input #raiserappInput class="matformfieldinputstyle" matInput
                                formControlName="created_by" [matAutocomplete]="raiserapptyperole" 
                                placeholder="Choose Raiser">
                            <mat-icon matSuffix class="maticonsize">unfold_more</mat-icon>
                            <mat-autocomplete [panelWidth]="400" #raiserapptyperole="matAutocomplete"
                                [displayWith]="displayFnappraiserrole" (opened)="raiserappScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let data of Raiserlist" [value]="data" matTooltip=" {{data.full_name}}">
                                        {{data.full_name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>


                    <!-- <div class="col-md-3">
                        <mat-label >Txn Date</mat-label><br>
                        <mat-form-field  class="matformfieldstyle"
                            appearance="outline">
            
                            <input matInput [matDatepicker]="picker1" 
                                class="matformfieldinputstyle" autocomplete="off"
                                formControlName="date" placeholder="Txn Date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div> -->

                    <div class="col-md-3">
                        <mat-label>Amount</mat-label><br>
                        <mat-form-field  class="matformfieldstyle" appearance="outline">
                            <input class="matformfieldinputstyle"  matInput autocomplete="off" placeholder="Amount" formControlName="amount"
                            (keypress)="numberOnlyandDot($event)" >
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-label>Status</mat-label><br>
                        <mat-form-field class="matformfieldstyle" appearance="outline">
                            <mat-select  class="matformfieldinputstyle" placeholder="Status" formControlName="status">
                                <mat-option *ngFor="let status of StatusList" [value]="status.id" matTooltip=" {{status.text}}">
                                    {{status.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                       
                    </div>

                    <div class="col-md-3">
                        <div style="margin-top: 12px;">
                            <button mat-fab style="background-color: white;margin-left: 5px" aria-label="Search" matTooltip="Search"  
                            (click)="searchjvapprover()">
                                <mat-icon>search</mat-icon>
                            </button>
                            <button mat-fab type="submit"  
                            style="border-radius:40px;margin-left: 15px;background-color: white;color: black;" matTooltip="Reset"
                            (click)="clearjvapprover()">Clear</button>
                          
                        </div>
                    </div>



                </div>

                </form>
           </div>



           <p style="color:black;font-size: 22px;font-weight: 500;margin-left: 15px;margin-top: 20px;">
            JV Approval Summary
          </p>

          <div style="margin-top: 4%;width: 100%;margin-left: 10px;">
            <table class="table table-responsive padsize" style="text-align:center;" id ='commonstyle'>	
                
                <thead>
                    <tr class="table_header tableset " style="white-space: nowrap;text-align: center;background-color:#EDF8FA;">

          <!-- <div style="margin-left: 15px;">
            <table class="table"style="margin-top: 10px;max-width: 100%;" id ='commonstyle'>
                <thead class="table_header" >
                    <tr style="white-space: nowrap;text-align: center;background-color:#EDF8FA;"> -->
                        <th>S.No</th>
                        <th>CR Number</th>
                        <th>Entry Type</th>
                        <th>Ref Number</th>
                        <th>Raiser Name</th>
                        <th>Branch Name and Code</th>
                        <th>Transaction Date</th>
                        <th>Total Amount</th>
                        <!-- <th>Attachment</th> -->
                        <th>Status</th>
                        <!-- <th>Transaction</th> -->
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of jvappList;index as i" style="white-space: nowrap;text-align: center;">
                        <td>{{(jvapppresentpage - 1)*jvapppagesize +i+1 }}</td>
                        <td>{{list?.jecrno}}</td>
                        <td>{{list?.jetype}}</td>
                        <td>{{list?.jerefno}}</td>
                        <td>{{list?.created_by?.name}}</td>
                        <td>{{list?.jebranch?.name}}-{{list?.jebranch?.code}}</td>
                        <td>{{list?.jetransactiondate | date:'dd/MM/yyyy'}}</td>
                        <td>{{list?.jeamount|currency:'INR'}}</td>
                        <td>{{list?.jestatus}}</td>
                       
                    <td style="text-align: center;">
                        <span matTooltip="view" class=" fa fa-eye create "
                        style="color: green;cursor: pointer;" (click)="showjvview(list)"></span>
                    </td>
                </tr>
                </tbody>
            
            </table>
            <!-- ----To add pagination--- -->

            <div *ngIf="jvappList ?.length == 0" style="margin-left: 42%;">
                <h3 >Sorry data not found!.. </h3>
            </div>
            <div class="row" *ngIf="isappsummarypage">
                <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 50px;">
                    <button mat-icon-button [disabled]="has_apppageprevious === false" color="primary"
                        (click)="previousClickjvapp()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{jvapppresentpage}}
                    <button mat-icon-button [disabled]="has_apppagenext === false" color="primary"
                        (click)="nextClickjvapp()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
            </div>

        </div>


    <!-- -------- -->

    <div *ngIf="jvuploadForm">
        <app-jv-upload (onSubmit)="jvcreatesubmit()" (onCancel)="jvcreatecancel()">
        </app-jv-upload>
    </div>

    <!-- ------ -->
    <div *ngIf="showjvapproverview">
        <app-jv-approvalview (onSubmit)="jvapprovesubmit()" (onCancel)="jvapprovecancel()">
        </app-jv-approvalview>
    </div>

    <div *ngIf="showjvsummaryview">
        <app-jvsummary-view (onSubmit)="jvsummarysubmit()" (onCancel)="jvsummarycancel()">
        </app-jvsummary-view>
    </div>




</mat-card>
</div>




<div >
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"
      id="showattachmentpopup">
      <div class="modal-dialog modal-xl " style="width: 70%;">
        <div class="modal-content">
          <div class="modal-header"  style="background: #21cbe5;">
            <h2 class="modal-title" style="color:black ;text-align: center;font-weight: bold;">JV Attachments</h2>
            <button type="button" class="close" data-dismiss="modal" #closedbuttons aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div style="margin-left: 50px;margin-right: 80%;margin-top: 2%; width: 80%;">
            <div class="container">
              <div class="row">
                <div class="table-responsive" style="width:100%;margin-top: 1%;">
                    <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
                        <thead class="table_header" style="text-align: left;">

                      <tr>
                        <th style="text-align: center;">S.No</th>
                        <th style="text-align: center;">File Name</th>
                        <th style="text-align: center;">Download File</th>
                        <th style="text-align: center;">Delete File</th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let attach of filedatas; index as i">
                        <td style="text-align: center;">{{i+1}}</td>
                        <td style="text-align: center;">-</td>
                        
                       
                        <td style="text-align: center;">
                          <button class="btn btn-outline-primary" type="submit"
                           style="border-radius:40px;margin-left: 15px;" color="primary"
                           >
                            <i matTooltip="Download" class="fa fa-download" aria-hidden="true"></i>
                          </button>
                        </td>
                        <td>
                            <mat-icon style="color: black;cursor: pointer;"
                                >delete</mat-icon>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <tr>
                    <td>

                        <button type="button" class="btn btn-light" style="border-radius:7px;margin-left:450px;
                        border-color: black; margin-bottom: 20px;
                        background-color: white;" (click)="fileback()">Back</button>

                    </td>
                </tr>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"
    id="showentrydetails">
    <div class="modal-dialog modal-xl " style="width: 93%;">
        <div class="modal-content">
            <div class="modal-header"  style="background: #21cbe5;">
                <h2 class="modal-title" style="color:black ;text-align: center;font-weight: bold;">Entry Details</h2>
                <button type="button" class="close" data-dismiss="modal" #closeentry aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="margin-left: 50px;margin-right: 80%;margin-top: 2%; width: 90%;">
                <div class="container">
                    <div class="row">
                        <div class="table-responsive" style="width:100%;margin-top: 1%;">
                            <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
                                <thead class="table_header">
                                    <tr>
                                        <td colspan="3"><label style=" font-weight: 900;">CR NO-</label>{{jvcrno}}</td>
                                        <td><label style=" font-weight: 900;">OF Date-</label>{{ofdate | date:'dd/MM/yyyy'}}</td>
                                        <td colspan="3"><label style=" font-weight: 900;">Transaction Date-</label>{{transactiondate |
                                            date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                </thead>
                                
                                <thead class="table_header" style="text-align: left;">


                                    <tr style="text-align:center">

                                        <th style="text-align: center;">S.No</th>
                                        <th style="text-align: center;">Credit/Debit</th>
                                        <th style="text-align: center;">GL No</th>
                                        <th style="text-align: center;">GL Description</th>
                                        <th style="text-align: center;">Remarks</th>
                                        <th style="text-align: center;">Amount</th>
                
                

                                    </tr>
                                </thead>
                                <tbody >
                                    
                                        <tr *ngFor="let detail of entrylist;index as i" style="text-align:center">
                                            <td>{{i+1}}</td>
                                            <td>{{detail.type}}</td>
                                            <td>{{detail.gl}}</td>
                                            <td>{{detail.glnodescription}}</td>
                                            <td>{{detail.glremarks}}</td>
                                            <td>{{detail.amount}}</td>
                  
                                        </tr>
                                        <tr>
                                        <th class="totaldisplay" colspan="4" style="text-align: end;">Total Debit:&nbsp;{{debitsum | currency:'INR'}}</th>
                                        <th class="totaldisplay" colspan="1" style="text-align: end;">Total Credit:&nbsp;{{creditsum | currency:'INR'}}</th>
                                        <th class="totaldisplay" colspan="2" style="text-align: end;">Total Count:&nbsp;{{totalentrycount}}</th>
                                        </tr>
                                  
                                </tbody>
                            </table>
                            <div *ngIf="entrylist ?.length == 0" style="margin-left: 42%;">
                                <h3 >Sorry data not found!.. </h3>
                            </div>
                            
                            
                           
                        </div>
                        <!-- <tr> -->
                            <td>
        
                                <button type="button" class="btn btn-light" style="border-radius:7px;margin-left:450px;
                                border-color: black; margin-bottom: 20px;
                                background-color: white;" (click)="entryback()">Back</button>
        
                            </td>
                        <!-- </tr> -->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>





  <!-- <div >
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"
      id="showentrydetails">
      <div class="modal-dialog modal-xl " style="width: 70%;">
        <div class="modal-content">
          <div class="modal-header"  style="background: #21cbe5;">
            <h2 class="modal-title" style="color:black ;text-align: center;font-weight: bold;">Entry Details</h2>
            <button type="button" class="close" data-dismiss="modal" #closeentry aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div style="margin-left: 50px;margin-right: 80%;margin-top: 2%; width: 90%;">
            <div class="container">
              <div class="row">
                <div class="table-responsive" style="width:100%;margin-top: 1%;">
                    <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
                        <thead class="table_header">
                            <tr>
                                <td colspan="3"><label style=" font-weight: 900;">CR NO-</label>{{jvcrno}}</td>
                                <td><label style=" font-weight: 900;">OF Date-</label>{{ofdate | date:'dd/MM/yyyy'}}</td>
                                <td colspan="3"><label style=" font-weight: 900;">Transaction Date-</label>{{transactiondate |
                                    date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </thead>
                        <thead class="table_header" style="text-align: left;">

                      <tr>
                        <th style="text-align: center;">S.No</th>
                        <th style="text-align: center;">Credit/Debit</th>
                        <th style="text-align: center;">GL No</th>
                        <th style="text-align: center;">GL Description</th>
                        <th style="text-align: center;">Remarks</th>
                        <th style="text-align: center;">Amount</th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let detail of entrylist;index as i">
                          <td>{{i+1}}</td>
                          <td>{{detail.type}}</td>
                          <td>{{detail.gl}}</td>
                          <td>{{detail.glnodescription}}</td>
                          <td>{{detail.glremarks}}</td>
                          <td>{{detail.amount}}</td>

                      </tr>
                    </tbody>
                  </table>

                </div>
                <tr>
                    <td>

                        <button type="button" class="btn btn-light" style="border-radius:7px;margin-left:450px;
                        border-color: black; margin-bottom: 20px;
                        background-color: white;" (click)="entryback()">Back</button>

                    </td>
                </tr>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div> -->





  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"
    id="showtrandetails">
    <div class="modal-dialog modal-xl " style="width: 93%;">
        <div class="modal-content">
            <div class="modal-header" style="background: #21cbe5;">
                <h2 class="modal-title" style="color:black ;text-align: center;">Transaction Details</h2>
                <button type="button" class="close" data-dismiss="modal" #closedbuttons aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="margin-left: 50px;margin-right: 80%;margin-top: 2%; width: 90%;">
                <div class="container">
                    <div class="row">
                        <div class="table-responsive" id="styleScroll"
                            style="margin-top: 2%;width: 95%;margin-left: 5px;">

                            <table class="table scrolltable table-bordered" fixed-header>
                                <thead class="table_header" style='font-family:"Times New Roman";font-size: 14px;'>

                                    <tr>

                                        <th>S.No</th>
                                        <th>Status</th>
                                        <th>From Date</th>
                                        <th>Remarks</th>
                                        <th>Employee Name</th>
                                        <th>Approver Name</th>
                                        <th>Approved By</th>
                                       


                                    </tr>
                                </thead>
                                <tbody style='font-family:"Times New Roman"'>
                                    <tr *ngFor="let dtl of tranrecords; index as i">
                                       
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="tranrecords ?.length == 0" style="margin-left: 42%;">
                                <h3 style="font-family: 'Times New Roman', Times, serif;">Sorry data not found!.. </h3>
                            </div>
                            
                            
                            <div>
                              <tr>
                              <h3 style="color: blue;font-family: 'Times New Roman', Times, serif;">Employee Name : </h3> &nbsp;&nbsp;&nbsp;&nbsp;
                           
                              <h3 style="color: blue;font-family: 'Times New Roman', Times, serif;margin-left: 50px;">Branch Code : </h3>&nbsp;&nbsp;&nbsp;&nbsp;
                            
                              <h3 style="color: blue;font-family: 'Times New Roman', Times, serif;margin-left: 50px;">Designation : </h3>
                            </tr>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>