<div class="container">
    <br>
	<h2>Expense Group Level Mapping</h2>
   
    <form [formGroup]="expencegrp">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline" (click)="Allocationlevel_dropdown()">
                        <mat-label>Expence Group Level</mat-label>
                        <input placeholder="Expence Group Level" matInput formControlName="exp_level" #expinput [matAutocomplete]="explevelauto">
                        <mat-autocomplete #explevelauto="matAutocomplete" [displayWith]="displayfnexpense" (opened)="allocationlevelscroll()" >
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let alevel of AlevelList" [value]="alevel" > {{alevel.name}} </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>           
                </div>
                <div class="col-md-3">
                    <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" (click)="expgrplistmapping_summary(expencegrp.value)">Search</button>
                </div>
                <div class="col-md-3">
                    <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" (click)="expgrplistmapping_clear()">Reset</button>
                </div>
                <div class="col-md-3">
                    <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" (click)="expgrplistappnewrow()">Add</button>
                </div>
            </div>
        </div>
    </form>
    <mat-card>
        <form [formGroup]="expence_level">
            <div style="margin-top: 6%; white-space: nowrap;overflow: auto;" class="tableFixHead" formArrayName="explevel">
                <table class="table table-bordered" id="commonstyle" fixed-header>
                    <thead style="background-color: #7cddec94;">
                        <th>S.No</th>
                        <th>Level</th> 
                        <th>Code</th> 
                        <th>Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </thead>
                    <ng-container *ngIf="expencegrpmapping?.length!=0">
                    <tbody *ngFor="let expencegrp_level of expence_level.controls.explevel['controls']; let ind=index">
                       
                        <tr  [formGroupName]="ind">
                            <td>{{(presentpage - 1)*identificationSize + ind+1 }}</td>
                            <td>
                                <div *ngIf="expencegrp_level.value.isEditable==true;else explevelelse">
                                    {{expencegrp_level.value.exp_Level.name}}
                                </div>
                                <ng-template #explevelelse>
                                    <mat-form-field (click)="Allocationleveldropdown(ind)"  [appearance]="expencegrp_level.value.isEditable ? 'none' : 'outline'">
                                        <mat-label>Expence Group Level</mat-label>
                                        <input placeholder="Expence Group Level" matInput formControlName="exp_Level" #exp_levelinput [matAutocomplete]="explevel_auto">
                                        <mat-autocomplete #explevel_auto="matAutocomplete" [displayWith]="displayfnexpense" (opened)="autocompletexpenselevel()" >
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let exp of expense_levelList" [value]="exp"> {{exp.name}} </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>   
                                </ng-template>
                            </td>
                            <td>
                                <div *ngIf="expencegrp_level.value.exp_code=='' || expencegrp_level.value.exp_code==null || expencegrp_level.value.exp_code==undefined;else expcodeelse ">
                                    --
                                </div>
                                <ng-template #expcodeelse>
                                    {{expencegrp_level.value.exp_code}}
                                </ng-template>
                            </td>
                            <td>
                                <div *ngIf="expencegrp_level.value.isEditable==true;else expnameelse">
                                    {{expencegrp_level.value.exp_name.name}}
                                </div>
                                <ng-template #expnameelse>
                                    <mat-form-field (click)="explevelmapping_dropdown(ind)" [appearance]="expencegrp_level.value.isEditable ? 'none' : 'outline'">
                                        <mat-label>Expence Group Name</mat-label>
                                        <input #explevelinput placeholder="Expence Group Name" matInput formControlName="exp_name" [matAutocomplete]="exp_levelauto">
                                        <mat-autocomplete #exp_levelauto="matAutocomplete" [displayWith]="displayfnexpense" (opened)="autocompletexpenselevelScroll()">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let exp of expense_grpList" [value]="exp">
                                                {{exp.name}} 
                                            </mat-option>
                                        </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>                      
                                </ng-template>
                            </td>
                            <td>
                                <div *ngIf="expencegrp_level.value.exp_status==1;else statuselseif">Active</div>
                                <ng-template #statuselseif><div *ngIf="expencegrp_level.value.exp_status==0;else statuselse">In-Active</div> </ng-template>
                                <ng-template #statuselse><div>--</div> </ng-template>
                            </td>
                            <td style="font-size: 13px;">
                                <button mat-icon-button class="material-icons app-toolbar-menu save-button" matTooltip="Save Changes"
                                 (click)="saveexpgrp_mapping(expencegrp_level,ind)"
                                  *ngIf="!expencegrp_level.value.isEditable" style="color:'#0297ff'">
                                  <mat-icon>check_circle</mat-icon>
                                </button>
              
                                <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                  matTooltip="Cancel Changes" color="warn" (click)="cancelexpgrp_mapping(expencegrp_level,ind)"
                                  *ngIf="!expencegrp_level.value.isEditable">
                                  <mat-icon>cancel</mat-icon>
                                </button>
              
                                <button mat-icon-button class="material-icons app-toolbar-menu save-button" [hidden]="expencegrp_level.value.exp_status == 0"
                                  *ngIf="expencegrp_level.value.isEditable" matTooltip="Edit" style="color:'#0297ff'"
                                  (click)="Editexpgrp_mapping(expencegrp_level,ind)">
                                  <mat-icon>edit</mat-icon>
                                </button>
              
                                <button mat-icon-button class="material-icons app-toolbar-menu delete-button" (click)="deleteexpgrp_mapping(expencegrp_level,ind)"
                                  *ngIf="expencegrp_level.value.isEditable" [ngStyle]="{'color':expencegrp_level.value.exp_status == 0 ? '#66bb6a' : 'red' }" [matTooltip]="expencegrp_level.value.exp_status == 0 ? 'Active' : 'In-Active' " color="warn">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </td>
                        </tr>
                    </tbody>
                    </ng-container>
                    <div *ngIf="expencegrpmapping?.length==0" style="margin-left: 42%;">
						<h3>Sorry data not found!.. </h3>
					</div>
                </table>
            </div>
        </form>
        <div style="margin-bottom: 5%;font-size: small;text-align:right;">
            <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
                <mat-icon>arrow_back</mat-icon>
            </button> {{presentpage}}
            <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        
        </div>
    </mat-card>
</div>