<div class="example-container" style="margin-top: 30px;margin-left: 40px">
    <div class="Container">
        <div class="example-container" style="margin-top: 30px;">
            <form [formGroup]="EmpAddForm" (ngSubmit)="submitForm()">
                <table>
                    <tr>
                        <td>
                            <mat-form-field style="width: 1000px;">
                                <mat-label>Department</mat-label>
                                <mat-chip-list #chipListDept>
                                    <mat-chip *ngFor="let department of chipSelectedDepartment" [selectable]=true
                                        [removable]=true (removed)="removeDepartment(department)">
                                        {{department.name}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                    <input #departmentInput [formControl]="departmentControl" [matAutocomplete]="autoDept"
                                        [matChipInputFor]="chipListDept"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]=true>
                                </mat-chip-list>
                                <mat-autocomplete #autoDept="matAutocomplete" (optionSelected)="departmentSelected($event)"
                                (opened)="autocompleteDepartmentScroll()">
                                    <mat-option *ngFor="let thisDepartment of allDepartmentList" [value]="thisDepartment">
                                        {{thisDepartment.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="isAdminUser">
                        <td>
                            <mat-label>Employee</mat-label>
                        </td>
                    </tr>
                    <tr *ngIf="isAdminUser">
                        <td>
                            <mat-form-field style="width: 1000px;margin-top: 20px;">
                                <mat-label>Employee</mat-label>
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let employee of chipSelectedEmployee" [selectable]=true
                                        [removable]=true (removed)="removeEmployee(employee)">
                                        {{employee.full_name}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                    <input #employeeInput [formControl]="employeeControl" [matAutocomplete]="auto"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]=true>
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="employeeSelected($event)"
                                    (opened)="autocompleteEmployeeScroll()">
                                    <mat-option *ngFor="let thisEmployee of allEmployeeList" [value]="thisEmployee">
                                        {{thisEmployee.full_name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="isAdminUser">
                        <td>
                            <table>
                                <tr>
                                    <td width="25%">
                                        <label class="container"> <input type="checkbox" data-md-icheck [checked]="Admin" 
                                            (change)="Admin = !Admin"/>Admin
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td width="25%">
                                        <label class="container"> <input type="checkbox" data-md-icheck [checked]="Memo" 
                                            (change)="Memo = !Memo"/>Memo
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-outline-primary" *ngIf="isAdminUser"
                    style="border-radius:40px;margin-left:2%;margin-top: 25px;">Assign</button>
                <button type="button" (click)="onCancelClick()"  class="btn btn-outline-primary"
                    style="border-radius:40px;margin-left:2%;margin-top: 25px;">Back</button>
            </form>
        </div>


        <div class="table-responsive" style="margin-top: 2%;width: 80%;">
            <table class="table table-bordered">
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of departmentDataList; index as i">
                        <td scope="row">{{ i+1 }}</td>
                        <td>{{ employee.code}}</td>
                        <td>
                            <div *ngIf="employee.can_create==true">{{ employee.empName}}-MEMO</div>
                            <div *ngIf="employee.isadmin==true">{{ employee.empName}}-ADMIN</div>
                            <div *ngIf="employee.can_create==false">{{ employee.empName}}-NOmemo</div>
                            <div *ngIf="employee.isadmin==false">{{ employee.empName}}-NOadmin</div>
                        </td>
                        <td>
                        <ol>
                            <li (click)="departmentClick(dept)" *ngFor="let dept of employee.deptName; index as i">{{dept.deptName}}</li>
                        </ol>
                       </td>
                       <td>
                        <mat-icon style="color: gray;cursor: pointer;" (click)="deleteEmployee(employee)">delete</mat-icon>
                       </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>