<div style="margin-left: 5px;">
   
   
    <div class="row">
        <div style="margin-top:2%" class="col-12">
            <form [formGroup]="tadaterelaxForm">
                <mat-label>Travel No</mat-label><br>
                <mat-form-field class='matformfieldstyle'appearance="outline">
                    
                    <input class="matformfieldinputstyle" matInput placeholder="Travel No" formControlName="requestno">
                </mat-form-field>

                <button mat-fab style="margin-left: 10%;background-color: white;" (click)="billSearch()"
                    aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-fab type="submit" (click)="reset()"
                    style="border-radius:40px;margin-left: 40px;background-color: white;color: black;">Clear</button>

            </form>
        </div>
    </div>

    <p style="color:black;font-size: 20px;font-weight: 500">
        Travel Date Relaxation
    </p>
    <div class="container col-md-12">
        <div *ngIf="!tableshow">
            <div class="row">
                <div class="table-responsive">
                    <table class="table" id="commonstyle"
                        style="width: 95%;margin-top: 10px;overflow-x: hidden;">
                        <thead  style="text-align: left;">
                            <tr>
                                <th >S.No</th>
                                <th >Travel NO</th>
                                <th >Travel Request Date</th>
                                <th >From Date</th>
                                <th >To Date</th>
                                <th >Reason</th>
                                <th >Employee</th>
                                <th >Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let date of getdaterelaxationList; index as i">
                                <td >{{((presentpage-1)*10)+i+1}}</td>
                                <td >{{date.tour_id}}</td>
                                <td >{{date.request_date}}</td>
                                <td >{{date.from_date}}</td>
                                <td >{{date.to_date}}</td>
                                <td >{{date.reason}}</td>
                                <td >{{date.employee_name}}</td>
                                <td style="text-align: center;color:blue;" *ngIf='date.status === 1'
                                    matTooltip="click to inactive" (click)="activedata(date)">
                                    <span class="fa fa-toggle-on" style="font-size: 24px;" aria-hidden="true"></span>
                                </td>
                                <td style="text-align: center;color:black;" *ngIf='date.status === 0'
                                    matTooltip="click to active" (click)="inactivedata(date)">
                                    <span class="fa fa-toggle-off" style="font-size: 24px;" aria-hidden="true"></span>
                                </td>



                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>
            <div>
                <div *ngIf="getdaterelaxationList?.length ==0; else paginationpage" class="center col-md-12 "
                    >No Records
                    Found...</div>
                <ng-template #paginationpage>
                    <div *ngIf="(getdaterelaxationList?.length > 9)? 'false':'true'" class="cursor"
                        style="font-size: small;text-align:right; margin-bottom:100px;">
                        <button mat-icon-button [disabled]="has_previous === false" color="primary"
                            (click)="firstClick()">
                            <mat-icon>first_page
                            </mat-icon>
                        </button>
                        <button mat-icon-button [disabled]="has_previous === false" color="primary"
                            (click)="previousClick()">
                            <mat-icon>arrow_back
                            </mat-icon>
                        </button>
                        {{presentpage}}
                        <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
                            <mat-icon>arrow_forward
                            </mat-icon>
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>

        <!-- <div *ngIf="gettourreportList?.length==0; else paginationreport" class="NodataAlign">No Records Found...</div>
     <ng-template #paginationreport>
     <div class="cursor" style="font-size: small;text-align:right; margin-bottom:100px;">
        <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
            <mat-icon>arrow_back
            </mat-icon>
        </button> {{presentpage}}
        <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
            <mat-icon>arrow_forward
            </mat-icon>
        </button>
      </div>
      </ng-template>

     </div> -->
        <div *ngIf="tableshow">
                <div class="table-responsive">
                    <table class="table" id="commonstyle"
                        style="width: 95%;margin-top: 10px;overflow-x: hidden;">
                        <thead style="text-align: left;">
                            <tr>
                                <th >S.No</th>
                                <th >Travel NO</th>
                                <th >Travel Request Date</th>
                                <th >From Date</th>
                                <th >To Date</th>
                                <th >Reason</th>
                                <th >Employee</th>
                                <th >Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let date of searchtable_data; index as i">
                                <td >{{((currentpage-1)*10)+i+1}}</td>
                                <td >{{date.tour_id}}</td>
                                <td >{{date.request_date}}</td>
                                <td >{{date.from_date}}</td>
                                <td >{{date.to_date}}</td>
                                <td >{{date.reason}}</td>
                                <td >{{date.employee_name}}</td>
                                <td style="text-align: center;color:blue;" *ngIf='date.status === 1'
                                    matTooltip="click to inactive" (click)="activedata(date)">
                                    <span class="fa fa-toggle-on" style="font-size: 24px;" aria-hidden="true"></span>
                                </td>
                                <td style="text-align: center;color:black;" *ngIf='date.status === 0'
                                    matTooltip="click to active" (click)="inactivedata(date)">
                                    <span class="fa fa-toggle-off" style="font-size: 24px;" aria-hidden="true"></span>
                                </td>



                            </tr>
                        </tbody>
                    </table>
                



            </div>
            <div>
                <div *ngIf="searchtable_data?.length==0; else paginationpage11" class="center col-md-12 "
                    >No Records
                    Found...</div>
                <ng-template #paginationpage11>
                    <div class="cursor" style="font-size: small;text-align:right; margin-bottom:100px;">
                        <button mat-icon-button [disabled]="search_has_previous === false" color="primary"
                            (click)="searchfirstpage()">
                            <mat-icon>first_page
                            </mat-icon>
                        </button>
                        <button mat-icon-button [disabled]="search_has_previous === false" color="primary"
                            (click)="searchpreviouspage()">
                            <mat-icon>arrow_back
                            </mat-icon>
                        </button>
                        {{currentpage}}
                        <button mat-icon-button [disabled]="search_has_next === false" color="primary"
                            (click)="searchnextpage()">
                            <mat-icon>arrow_forward
                            </mat-icon>
                        </button>
                    </div>
                </ng-template>
            </div>

        </div>





    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 1.5)" size="default" type="la-ball-scale-multiple la-3x">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>