#commonstyle{
    border:15px none #f6f6f6;
    // height: 400px;
    }
  table,th{
      background-color: #62e2f5a1;
  }
    tr:nth-child(even) {background: #EDF8FA}
    tr:nth-child(odd) {background: #FFF}
  table,th,td{
   
    font-size: 13px;
    // padding: 5px;
  }
a:hover{
    cursor: pointer;
}
td.tablechange:empty::before{content: '0.00'}
.choose::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #1CB6E0;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}