<div style="margin-left: 50px;margin-right: 80%;margin-top: 1%; width: 100%;">
    <h1 style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;">
         Delmat Maker Form
    </h1><hr>
    <div>
        <form [formGroup]="delmatmakerForm">
            <table>
                <tr> 
                    <td>
                        <mat-form-field style="width: 200px;">
                            <mat-label>Commodity Name</mat-label>
                            <input #comInput placeholder="Select Commodity" matInput formControlName="commodity_id" (keypress)="kyenbdata($event)"
                                [matAutocomplete]="com">
                                <mat-error *ngIf="delmatmakerForm.controls.commodity_id.errors?.incorrectValue ">
                                    {{delmatmakerForm.controls.commodity_id.errors?.incorrectValue}}
                                </mat-error>
                            <mat-autocomplete #com="matAutocomplete" [displayWith]="displayFncom" (opened)="autocompletecomScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let com of commodityList" [value]="com" (click)="findmulti(com);getdelmat(1)">{{com.name}}
                                    </mat-option>
                                    <!-- <mat-option>No more datas</mat-option> -->
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td> 
                    <td style="margin-left: 25px;">
                        <mat-form-field style="width: 200px;margin-left: 20px; ">
                            <mat-label>Employee Name</mat-label>
                            <input #empInput placeholder="Select Employee" matInput formControlName="employee_id" (keypress)="kyenbdata($event)"
                                [matAutocomplete]="emp">
                                <mat-error *ngIf="delmatmakerForm.controls.employee_id.errors?.incorrectValue">
                                    {{delmatmakerForm.controls.employee_id.errors?.incorrectValue}}
                                </mat-error>
                            <mat-autocomplete #emp="matAutocomplete" [displayWith]="displayFnemp" (opened)="autocompleteempScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let emp of employeeList" [value]="emp">{{emp.full_name}}
                                    </mat-option>
                                    
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td> 
                    <td style="margin-left: 25px;">
                        <mat-form-field style="width: 200px;">
                            <mat-label>Delmat Type</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let type of delmattypeList" [value]="type.id" (click)="getdelmat(1)">{{type.text}} 
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td> 
                    <td style="margin-left: 25px;">
                        <mat-label>Multi Level Approver:</mat-label>      
                       {{this.ismultilevelflage}}
                      </td>
                </tr>
                <tr>
                    
                    <td>
                        <mat-form-field style="width: 200px;">
                            <mat-label>Limit <small>(in Rs)</small></mat-label>
                            <input matInput type="text" placeholder=" Limit" maxlength="16" (keypress)="omit_special_num($event)" autocomplete="off" formControlName="limit" required>
                        </mat-form-field>
                    </td>
                    <td *ngIf="ismultilevelflage" style="margin-left: 25px;">
                        <mat-form-field style="width: 200px;margin-left: 20px; ">
                            <mat-label>Aprovel level </mat-label>
                            <input matInput type="text" placeholder="Aprovel level" (keypress)="omit_special_num($event)"
                                autocomplete="off" formControlName="level_of_approver" required>
                        </mat-form-field>
                    </td>
                    <td *ngIf="ismultilevelflage" style="margin-left: 25px;">
                        <mat-label>Final Approver<label style="color:red">*</label></mat-label>

                        <mat-radio-group formControlName="final_approver">
                            <mat-radio-button *ngFor="let n of yesorno" [value]="n.value" style="margin-left: 10px;"
                                (click)="GSTstatus(n)">
                                {{n.display}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td *ngIf="ismultilevelflage" style="margin-left: 25px;">
                        <mat-label style="margin-left: 20px">Final Level</mat-label>
                        {{finallevel}}
                    </td>
                </tr>
                <!-- <tr *ngIf="ismultilevelflage">
                    <td>
                        <mat-form-field style="width: 250px;">
                            <mat-label>Next Level Approver Name</mat-label>
                            <input #empInput placeholder="Select Approver" matInput formControlName="empname" (keypress)="kyenbdata($event)"
                                [matAutocomplete]="emp">
                                <mat-error *ngIf="delmatmakerForm.controls.employee_id.errors?.incorrectValue">
                                    {{delmatmakerForm.controls.employee_id.errors?.incorrectValue}}
                                </mat-error>
                            <mat-autocomplete #emp="matAutocomplete" [displayWith]="displayFnemp" (opened)="autocompleteempScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let emp of employeeList_new" [value]="emp">{{emp.full_name}}
                                    </mat-option>
                                    
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td> 
                </tr> -->
            </table>
                <div style="margin-bottom: 5%; margin-left: 50px;">
                    <button type="button" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-primary" (click)="delmatmakerSubmit()">Submit</button>
                    <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                        style="border-radius: 40px;margin-left: 10px;">Cancel</button>
                </div>
        </form>
        <div class="table-responsive" style="margin-top: 2%;width: 95%; overflow-x: hidden;">
            <table class="table table-bordered">
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Employee Name</th>
                        <th>Commodity Name</th>
                        <th>Delmat Type</th>
                        <th>Limit</th>
                        <th>Level</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Action</th>
                        <!-- <th>Remarks</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let del of delmatList; index as i">
                        <td> {{(presentpagedel - 1)*pageSize +i+1 }} </td>
                        <td>{{ del?.employee_id?.full_name}}</td>
                        <td>{{ del?.commodity_id?.name }}</td>
                        <td>{{ del?.type }}</td>
                        <td>{{ del?.limit| currency:'INR' }}</td>
                        <td style="text-align: center;">{{del?.level_of_approver}}</td>
                        <td class="cursor">
                            {{ del?.delmat_status }}
                        </td>
                        <td class="cursor">
                            <button mat-icon-button [disabled]="del.delmat_status=='REJECTED'" matTooltip=" Edit" class="iconbutton" color="primary" (click)="delmatsingle(del)"
                                title="Edit Delmat" data-toggle="modal"
                                data-target="#ediddelmat">
                                <mat-icon aria-label="assign-product">edit</mat-icon>
                            </button>
                            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabels" aria-hidden="true"
                            id="ediddelmat">
                                <div class="modal-dialog modal-lg" style="width:80%;">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background:#21cbe5;color:rgb(31, 29, 29);text-align:center">
                                            <h2 class="modal-title" style="text-align:center;margin-left:42%">Edit Delmat</h2>
                                        <button class="close" type="button" data-dismiss="modal">x</button>      
                                        </div>
                                        <div>
                                            <form [formGroup]="delmatfor"  >
                                                <div class=" row col-md-12">
                                                    <div class="col-md-1" >
                                                        <mat-form-field style="margin-left: 5%;width:50px" >
                                                            <mat-label >Id</mat-label>
                                                            <input matInput formControlName="id" readonly autocomplete="off" > 
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-5" style="margin-top: 20px;">
                                                        <mat-label style="margin-left: 5%;">Name:</mat-label>      
                                                        {{this.empname}}
                                                    </div>
                                                    <div class="col-md-5" style="margin-top: 20px;">
                                                        <mat-label style="margin-left: 5%;margin-top: 20px;">Commodity:</mat-label>      
                                                        {{this.comname}}
                                                    </div>
                                                </div>
                                                <div class=" row col-md-12">
                    
                                                    <div class="col-md-2" >
                                                        <mat-form-field style="margin-left: 5%;width:80px" >
                                                            <mat-label >Limit</mat-label>
                                                            <input matInput formControlName="limit"  autocomplete="off" > 
                                                        </mat-form-field>   
                                                    </div>
                                                    <div class="col-md-2" *ngIf="ismultilevelflage" >
                                                        <mat-form-field style="margin-left: 5%;width:80px" >
                                                            <mat-label >Level</mat-label>
                                                            <input matInput formControlName="level_of_approver"  autocomplete="off" > 
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3" *ngIf="ismultilevelflage" >
                                                        <!-- <mat-form-field style="margin-left: 5%;width:50px" >
                                                            <mat-label >Final Approver</mat-label>
                                                            <input matInput formControlName="final_approver"  autocomplete="off" > 
                                                        </mat-form-field> -->
                                                        <mat-slide-toggle formControlName="final_approver" style="margin-top: 20px;" >Final Approver</mat-slide-toggle>
                                                    </div>
                                                </div>
                                                    <div class=" row col-md-12"  style="margin-bottom: 10px;margin-left: 40%;">
                                                        
                                                            <button type="submit" class="btn btn-outline-primary" style="border-radius:40px;height: 44px; "(click)="editdel()" data-dismiss="modal" >Submit</button>
                                                            <button type="button" class="btn btn-outline-primary" style="border-radius:40px;height: 44px; margin-left: 10px;" data-dismiss="modal" >Back</button>
                                                        
                                                    </div>
                                                
                                            </form>
                                        </div>
                                        
                                    </div>   
                                    
                                </div>
                            </div>
                        </td>
                        <td class="cursor">
                            <div *ngIf="del?.status === 1 ; else lock">
                                <mat-icon (click)="forInactivedel(del)" style="color: green;" title="Click to Inactive"
                                    aria-label="inactive">wb_sunny</mat-icon>
                            </div>
                            <ng-template #lock>
                                <mat-icon (click)="foractivedel(del)" style="color: rgb(196, 188, 189);" title="Click to Active"
                                    aria-label="inactive">wb_sunny</mat-icon>
                            </ng-template>
                        </td>
                    </tr>
    
                </tbody>
            </table>
            <div *ngIf="delmatList?.length==0; else paginationdel" class="NodataAlign">No Records Found...</div>
            <ng-template #paginationdel>
                <div style="font-size: small;text-align:right; margin-bottom:100px;">
                    <button mat-icon-button [disabled]="has_previousdel === false" color="primary"
                        (click)="previousClickdel()">
                        <mat-icon>arrow_back
                        </mat-icon>
                    </button>
                    {{presentpagedel}}
                    <button mat-icon-button [disabled]="has_nextdel === false" color="primary" (click)="nextClickdel()">
                        <mat-icon>arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<!-- <pre>
    {{ delmatmakerForm.value | json }}
</pre> -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" type="line-scale-party">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>