<div class="container-fluid" style="height: 50px;text-align: center;padding: 20px;background-color:rgb(93, 159, 185);color: snow;font-family: 'Times New Roman', Times, serif;">
<h3>Asset Add For {{supplier_name}}</h3>
</div>
<mat-tab-group  #tabref [(selectedIndex)]="selectIndex" (selectedTabChange)="invoiceBtn(tabref.selectedIndex)" style="margin-left: 2%;">
    <mat-tab label="Invoice" ></mat-tab>
    <mat-tab label="Expense"></mat-tab>
</mat-tab-group>
<!-- <nav >
    <div class="nav nav-tabs" style="margin-left: -5%;">

        <a class="nav-item nav-link active" data-toggle="tab" role="tab" (click)="invoiceBtn()" >Invoice</a>
        <a class="nav-item nav-link" data-toggle="tab" role="tab" (click)="expenseBtn()">Expense</a>

    </div>

</nav> -->
<div *ngIf="isinvoice">

    <form [formGroup]="assetgroupform" (ngSubmit)="finalsubmit()">
        <!-- <table > -->
            <h2 style="color: blueviolet;margin-left: 35px;;">Invoice Details</h2>
            

               
                <div  class="modal fade" id="split" data-backdrop="static" data-keyboard="false"  
                role="dialog" tabindex="-5">
                    <div class="modal-dialog modal-xl " role="document" >
                        <div class="modal-content" >
                            <form [formGroup]="splitquantity" (ngSubmit)="splitsubmit()">
                            
                                <div class="modal-header " style="background-color:rgb(62,178,113)">
                                        <h2 class="modal-title" style="margin-left:32%;"><strong>Split Quantity with Location</strong></h2>
                                        <button #exampleModal type="button" class="close"  data-dismiss="modal">&times;</button>
        
                                </div>
                            <div class="modal-body" style="height:450px;overflow: scroll;" >
                                <div class="col-12 row">
                                    
                                            <div class="col-sm-3">Asset Quantity : {{sp_quantity}}</div>
                                            <div class="col-sm-3">Product Name :</div>
                                            <div class="col-sm-3">Unit Price :&nbsp;&#8377;{{sp_unitprice}}</div>
                                        
                                            <div class="col-sm-1">
                                                <button type="button" class="btn btn-info btn-circle" data-toggle="modal"
                                                data-target="#exampleModals" matTooltip="Location Add"> 
                                                    <mat-icon >location_on</mat-icon>
                                                    
                                                </button>
                                            
                                    </div>
                                     
                                
                                </div>
                                <br>
                                <div formArrayName="listofquantity">
                                 <div *ngFor="let d of splitquantity.controls.listofquantity['controls'];let i=index" [formGroupName]="i"> 
                                <div class="col-12 row" >
                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-label>Adjusted Quantity</mat-label>
                                            <input type="number" matInput placeholder="Ente the Quantity" formControlName="asset_quantity" (keyup)="qty_matched($event,i)">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field style="width:250px">
                                            <mat-label>BranchName</mat-label>
                                            <input type="text" matInput placeholder="Ente the Branch" #branchsInput formControlName='branch' autocomplete="off" [matAutocomplete]="splitbranch" (click)="getbranch(i)">
                                            <mat-autocomplete  #splitbranch="matAutocomplete" #branch (opened)="autocompletecommodityScroll_splitbranch()">
                                                <mat-option *ngIf="isLoading">Loading..</mat-option>
                                                <mat-option *ngFor="let d of split_branch" [value]="d.name" (focusout)="branch_data(d,i)">{{d.name}}

                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field style="width:250px">
                                            <mat-label>Location Name</mat-label>
                                            <input type="text" matInput placeholder="Ente the Location" #locationInput formControlName="location" autocomplete="off" [matAutocomplete]="locationss" (click)="getlocation(i)" [readonly]="splitquantity.value['listofquantity'][i]['branch'] == null">
                                            <mat-autocomplete #locationss="matAutocomplete" #location (opened)="autocompletecommodityScrollsplitlocation()">
                                                <mat-option *ngIf="isLoading">Loading</mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let d of split_location" [value]="d.name" (focusout)="locationdata(d,i)">{{d.name}}</mat-option>
                                            </ng-container>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field style="width:250px">
                                            <mat-label>BS Name</mat-label>
                                            <input type="text" matInput placeholder="Ente the Bs" #bsInput formControlName="bs" autocomplete="off" [matAutocomplete]="splitbss" (click)="getbs(i)" >
                                            <mat-autocomplete #splitbss="matAutocomplete" #bs (opened)="autocompletecommodityScrollbssplit()">
                                                <mat-option *ngIf="isLoading">Loading..</mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let d of split_bs" [value]="d.name" (focusout)="bsdata(d,i)">
                                                        {{d.name}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="col-12 row">
                                    <div class="col-sm-3">
                                        <mat-form-field style="width:250px">
                                            <mat-label>CC Name</mat-label>
                                            <input type="text" matInput placeholder="Ente the cc" formControlName="cc" autocomplete="off" [matAutocomplete]="splitccs" #splitccinput (click)="getcc(i)" [readonly]="splitquantity.value['listofquantity'][i]['bs'] == null">
                                         <mat-autocomplete #splitccs="matAutocomplete" #inputccsplit (opened)="autocompletecommodityScrollsplitcc()">
                                             <mat-option *ngIf="isLoading">
                                                 Loading..
                                             </mat-option>
                                             <ng-container *ngIf="!isLoading">
                                                 <mat-option *ngFor="let d of split_cc" matTooltip="add" [value]="d.name" (focusout)="ccdata(d,i)">{{d.name}}</mat-option>
                                             </ng-container>
                                         </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" style="border:none;background-color: white;" data-toggle="modal" data-target="#split_qty"><mat-icon>call_split</mat-icon></button>
                                    </div>
                                    <div class="col-sm-1" *ngIf="i+1 == split_length">
                                        <button type="button" class="button btn-circle" style="border-radius: 30px;" (click)="removesplitquantuty()" matTooltip="clear"><mat-icon>close</mat-icon></button>
                                    </div>
                                </div>
                                </div>
                                </div>  
                                <div class="row">
                                    <button class="button btn-circle" type="button" style="border-radius: 30px;"  (click)="splitquantityadd()"><mat-icon>add</mat-icon></button>
                                </div>
                            </div>
                            
                            
                            <div class="modal-footer">
                                <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-info custbutton" [disabled]="split_qty_length" matTooltip="Add">ADD</button>
                                <button type="button"  data-dismiss="modal"  class="md-raised btn btn-danger custbutton" matTooltip="Back">Back</button>
                            </div>
                      
                        </div>
                        </form>
                        </div>
        
                    </div>
                </div>
                <div class="modal fade" id="split_qty" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg"  >
                        <div class="modal-content" >
                            <div class="modal-header" style="background-color: steelblue;">
                                <h2 class="modal-title"><strong>Split Quantity with Asset ID</strong></h2>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="col-12 row">
                                    <div class="col-sm-4">Total Quantity :</div>
                                    <div class="col-sm-4">Adjusted Quantity :</div>
                                    <div class="col-sm-4">Product Name :</div>
                                </div>
                                <br>
                                
                                    <table class="table  table-bordered">
                                        <tr class="table_header">
                                            <th>S.No</th>
                                            <th>Asset ID</th>
                                            <th>Select</th>
                                        </tr>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>

                                    </table>

                                

                            </div>
                            <div class="modal-footer">
                                <div class="col-md-12 text-center">
                                <button  class="btn btn-info custbutton" >ADD</button>
                                <button type="button"  data-dismiss="modal" class="md-raised btn btn-danger custbutton">Back</button>
                            </div>
							</div>

                        </div>

                    </div>

                </div>
                <div class="modal fade" id="exampleModals" 
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" >
                        <div class="modal-content" >
                            <form [formGroup]='assetlocation' (ngSubmit)="locationsubmit()">
                            <div class="modal-header" style="background-color:rgb(62,178,113)">
                                <h1 class="modal-title" id="exampleModalLabel" style="font-weight:bold;font-family:Times New Roman;font-size:20px;margin-left:40%;background-color:rgb(62,178,113)">Location Details</h1>
                                <button  #locationsub type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" >
                                <div>
                                    
                                        <table>
                                            <div>
                                                <tr>
                                                    
                                                    <td>
                                                        <mat-form-field style="width: 155px;">
                                                            <mat-label>Branch</mat-label>
                                                            <input matInput placeholder="Branch" autocomplete="off"
                                                             formControlName="branch_id" type="text" name="branch" [matAutocomplete]='autob' #branchidInput >
                                                             <mat-autocomplete #autob="matAutocomplete" #branch_id (opened)="autocompletecommodityScroll_branchid()">
                                                                 <mat-option *ngIf="isLoading">Loading..</mat-option>
                                                                 <mat-option *ngFor="let asset of as_branchname_id" [value]="asset.name" (focusout)="assetgrps_addbranch(asset)">
                                                                     {{asset.name}}
                                                                 </mat-option>
                                                             </mat-autocomplete>
                                                        </mat-form-field>

                                                    </td>
                                                    <td>
                                                        <mat-form-field style="width: 155px;margin-left: 15px;">
                                                            <mat-label>Location Name</mat-label>
                                                            <input matInput placeholder="Location Name"
                                                                autocomplete="off" required formControlName="name" type="text">
                                                                
                                                        </mat-form-field>

                                                    </td>
                                                    <td>
                                                        <mat-form-field style="width: 155px;margin-left: 15px;">
                                                            <mat-label>Floor</mat-label>
                                                            <input matInput placeholder="Floor" autocomplete="off"
                                                                required formControlName="floor" type="text">
                                                        </mat-form-field>

                                                    </td>
                                                    <td>
                                                        <mat-form-field style="width: 155px;margin-left: 15px;">
                                                            <mat-label>Remarks</mat-label>
                                                            <input matInput placeholder="Remarks" autocomplete="off"
                                                                required formControlName="remarks" type="text">
                                                        </mat-form-field>

                                                    </td>
                                                
                                                </tr>
                                            </div>
                                        </table>

                                    
                                
                                </div>
                                </div>
                            
                            <div class="modal-footer" >
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" >Save changes</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    <!-- </div>   -->
                
                </div>

                <div >
                    <!--form-->
                    <div class="jumbotron" style="margin-left: 35px;margin-right: 35px;background:rgb(166, 192, 214);height:min-content;border-bottom: -40px;">
                        <pre
                        style="font-weight: bolder;font-family:verdana;margin-left: 35px;margin-top: -50px;">Total Amount for Captalize:&#8377;{{total_amount_to_capitalize}}        Already Capitalize Amount:&#8377;{{already_capitalize_amount}}         Balance Amount To Capitalize:&#8377;{{balance_amount_to_capitalize}} </pre>
        
                        <!-- <tr> -->
                            <div class="col-12 row">
                            <div class="col-sm-3">
                               
                                <mat-form-field style="width: 200px;margin-left: 35px;">
                                    <mat-label>BS</mat-label>
                                    <input matInput placeholder="BS" formControlName="bs"  required   #commodityInput (click)="getbsdata()" (keyup)="getbsdatas()"
                                     type="text"  [matAutocomplete]="auto">
                                    <mat-autocomplete  #auto="matAutocomplete" #bs (opened)="autocompletecommodityScroll()">
                                       <mat-option class="is-loading" *ngIf='isLoading'>Loading</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let assetgroup of as_bc "
                                                    (focusout)="assetgrps_bs(assetgroup)" [value]="assetgroup.name">
                                                    {{assetgroup.name}}
                                                </mat-option>
                                                
                                            </ng-container>
                                        
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            
                            <!-- </td> -->
                            <!-- <td> -->
                                <div class="col-sm-3">
                                <mat-form-field style="width: 200px;margin-left: 15px;">
                                    <mat-label>CC</mat-label>
                                    <input [readonly]="ccreadonly" matInput placeholder="CC" formControlName="cc"  #ccInput autocomplete="off" required [matAutocomplete]="autocc">
                                    <mat-autocomplete  #autocc="matAutocomplete" #cc  (opened)="autocompletecommodityScroll_cc()">
                                        <mat-option *ngIf="isLoading"  class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let assetgroup of as_cc"  [value]="assetgroup['costcentre_id'].name" (focusout)="assetgrps_cc(assetgroup)">
                                                    
                                                    {{assetgroup['costcentre_id'].name}}
                                                </mat-option>
                                            </ng-container>
                                        
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <!-- </td> -->
                            <!-- <td> -->
                                <div class="col-sm-3">
                                <mat-form-field style="width: 200px;margin-left: 15px;">
                                    <mat-label>Branch Name</mat-label>
                                    <input matInput placeholder="Branch name" formControlName="branchname"  #branchInput (click)="getbranchdata()" (keyup)="getbranchdatas()"
                                        autocomplete="off" required [matAutocomplete]="autobranch">
                                        <mat-autocomplete  #autobranch="matAutocomplete" #branchname (opened)="autocompletecommodityScroll_branch()">
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let assetgroup of as_branchname"
                                                        (focusout)="assetgrps_branch(assetgroup)" [value]="assetgroup.name">
                                                        {{assetgroup.name}}
                                                    </mat-option>
                                                </ng-container>
                                            
                                        </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <!-- </td> -->
                            <!-- <td> -->
                                <div class="col-sm-2">
                                <mat-form-field style="width: 200px;margin-left: 15px;">
                                    <mat-label>Location Name</mat-label>
                                    <input matInput [readonly]="locationreadonly" placeholder="Location  Name" formControlName="locationname"
                                        autocomplete="off" required [matAutocomplete]="autolocation" #inputlocation>
                                        <mat-autocomplete  #autolocation="matAutocomplete" (opened)="autocompletelocation()" #locationname>
                                            <mat-option *ngIf="isLoading" class="is-loading"
                                            >Loading...</mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let assetgroup of as_location"
                                                         [value]="assetgroup.name" (focusout)="assetgrps_location(assetgroup)">
                                                        {{assetgroup.name}}
                                                    </mat-option>
                                                </ng-container>
                                            
                                        </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <!-- </td> -->
                            <!-- <td> -->
                                <div class="col-sm-1">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" matTooltip="Location Add"
                                    data-target="#exampleModals" style="margin-left: 15px;">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!-- </td> -->



                        <!-- </tr> -->
                        </div>
                       

                        <!-- <tr> --><div class="row" *ngIf="isradio">
                            <!-- <td> -->
                                
                                <!-- <div class="col-sm-6"> -->
                            <!-- <td> -->
                                <div class="col-sm-3">
                                <mat-form-field style="width: 200px;margin-left: 35px;">
                                    <mat-label>Subsequent Captilization</mat-label>
                                    <mat-select formControlName="subcaptilization"
                                        (selectionChange)="onSelect($event.value)">
                                        <mat-option *ngFor="let subcaptype of subcaptypelist" [value]="subcaptype.show">
                                            {{subcaptype.show}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            <!-- </td> -->
                        </div>
                            <!-- <td> -->
                                <!-- <div class="col-sm-3">

                                <mat-form-field style="width: 200px;margin-left: 15px;">
                                    <mat-label> Captilization Amt</mat-label>
                                    <input matInput placeholder=" Captilization Amt" formControlName="capitilizationamt"
                                        autocomplete="off" >
                                </mat-form-field>
                            
                        </div>  </td> -->
                    <!-- </div> -->
                
                <!-- <div *ngIf="isin" style="margin-left: 105%;margin-top :-18%" class="col"> -->
                    <!-- <td> -->
                        <div class="col-sm-2" *ngIf="isin">

                        <mat-form-field style="width: 200px;">
                            <mat-label>Asset Group</mat-label>
                            <input placeholder="Select Asset group" matInput formControlName="assetgroup" 
                                [matAutocomplete]="astgrptype" #inputassetgroup>
                            <mat-autocomplete #astgrptype="matAutocomplete"  #assetgroup (opened)="autocompletecommodityassetgroup()">
                                <!-- [displayWith]="displayastgrp" -->
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let assetgroup of apcategoryList"
                                        (focusout)="assetgrps(assetgroup)" [value]="assetgroup.no">
                                        {{assetgroup.no}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    <!-- </td> -->
                </div>
                    <!-- <td> -->
                        <div class="col-sm-3" *ngIf="isin">

                        <mat-form-field style="width: 200px;margin-left: 25px;">
                            <mat-label>Asset Id</mat-label>
                            <input  matInput formControlName="assetid" #inputassetid (input)="increasedataof($event)"
                                [matAutocomplete]="assetidtype">
                                <!-- [displayWith]="displayassetid"  [readonly]="assetidreadonly" (opened)="autocompletecommodityassetgroupid()"-->
                            <mat-autocomplete #assetidtype="matAutocomplete" #assetid >
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let assetid of subcategoryList" [value]="assetid.assetdetails_id" >
                                        {{assetid.assetdetails_id}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    <!-- </td> -->
                </div>
                <div class="col-sm-2">

                    <!-- <mat-form-field style="width: 200px;margin-left: 15px;"> -->
                        <mat-label> <b>Captilization Amt</b></mat-label>
                          <input  type="number" [readonly]= "isreadonly" [(ngModel)]="cap_after_change"  [ngModelOptions]="{standalone: true}" [ngClass]="isreadonly ? 'allowed':'auto'" (keyup)="cpaamount_change($event)"  style="border: 2px solid black;padding: 2px 5px;margin: 0; background-color: white;height: 35px;text-decoration: none;"
                            autocomplete="off" > <!-- </mat-form-field> -->
                
            </div> 

                <!-- </div> formControlName="capitilizationamt" -->
                
            </div>
                <!-- </td> -->






                <!-- </tr> -->
                
                <div class="col-12 row">
                <!-- <td > -->
                    <div class="col-sm-3">
                    <mat-form-field style="width: 200px;margin-left: 35px;">
                        <mat-label>AP Category</mat-label>
                        <input matInput autocomplete="off" (click)="getapcategory()" (keyup)="getapcategorys()" [matAutocomplete]="autoapcategory" formControlName="apcategory" #inputap>
                        <mat-autocomplete #autoapcategory="matAutocomplete" [displayWith]="displayastgrp" #apcategory (opened)="autocompletecommodityScroll_ap()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let assetgroup of as_apcategory"
                                    (focusout)="assetgrps_apcategory(assetgroup)" [value]="assetgroup">
                                    {{assetgroup.name}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                    </div>
                <!-- </td> -->
                <!-- <td> -->
                    <div class="col-sm-3">
                    <mat-form-field style="width: 200px;margin-left: 15px;">
                        <mat-label>AP SubCategory</mat-label>
                        <input matInput [readonly]="subcatreadonly" placeholder="AP SubCategory" autocomplete="off"  [matAutocomplete]="autoapsubcategory" formControlName="apsubcategory" #inputapsub (keyup)="getassetcategorys()">
                        <mat-autocomplete #autoapsubcategory="matAutocomplete" [displayWith]="displayastgrp" #apsubcategory (opened)="autocompletecommodityScroll_apsub()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let assetgroup of as_apsubcategory "
                                    (focusout)="assetgrps_apsubcategory(assetgroup)" [value]="assetgroup">
                                    {{assetgroup.name}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!-- </td> -->
                </div>
                </div>
                <!-- <td>
                    <mat-form-field>
                        <input type="text" matInput formControlName="productname" [matAutocomplete]="product" type="text">
                        <mat-autocomplete #product="matAutocomplete">
                            <mat-option *ngIf="isLoading">Loading..</mat-option>
                            <mat-option *ngFor="let d of as_product" [value]="d.name">{{d.name}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </td> -->

                 <!---->
             
                 <!--/form-->
    
     <!-- </div>  -->

    <div  style="margin-left: 30px;margin-right: 40px;">

         
            <table class="table table-bordered table-responsive" style="text-align: center;font-size:14px">
               
                    <tr  class="table_header" style="height: 30px;">
                        <th scope="col">S.No</th>
                        <!-- <th>Product Classification</th> -->
                        <th scope="col">Product Name</th>
                        <th scope="col">Qty </th>
                        <th  scope="col">Asset value</th>
                        <!-- <th *ngIf="factor">Markup Ratio</th> -->
                        <th *ngIf="checked_auth" scope="col">Markup Ratio</th>
                        <th *ngIf="checked_auth" scope="col">Revised value</th>
                        <th scope="col">Tot Value</th>
                        <th scope="col">Branch</th>
                        <th  scope="col">Asset Category</th>
                        <th  scope="col">Image Upload</th>
                        <th  scope="col">Put To Use Date</th>
                        <th scope="col">Select</th>

                        <th scope="col" *ngIf="data == 'REGULAR'">Apportioned</th>
                        <th *ngIf="data == 'REGULAR'">Expense GL</th>
                    </tr>
                
                
                    <tr  *ngFor="let assetcat of assetcatlist; index as listIndex"   
                    [ngClass]="{ 'strikethrough':assetcat.isChecked_apportion==true,'strikethroughf':assetcat.isExp==true }"
                     style="border-bottom: 1px solid #111;border-collapse: collapse;height: 50px;">
                        <td scope="row" class="text-center">{{ (presentpagebuk-1)*pageSize+listIndex+1 }}</td>
                        <!-- <td>{{ assetcat.deptype}}</td> [ngClass]="assetcat.isChecked_apportion ? 'strikethrough':''" -->
                        <!-- <td>
                        <mat-form-field>
                            <mat-label>[ngStyle]="{'background-color':assetcat.isChecked ?'yellow':'white'}"
                                <input type="text" value="Goods" matInput >
                            </mat-label>
                        </mat-form-field> -->
                        <!-- <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal" (click)="btn(assetcat.id)">
                                View</button>

                        </div> -->
                    <!-- </td> -->
                    <!-- <td>{{ assetcat.product_name}}</td> deptype -->
                        <td style="width: 200px;" formArrayName="productname"  >
                            <!-- <div formArrayName="productname"> [formGroupName]="listIndex"-->
                            <!-- <div *ngIf="data === 'REGULAR' ; else notype" style="cursor: pointer; color: #3684BF;"
                                (click)="assetsplitView(assetcat.lifetime)" name="fieldName" ngDefaultControl>
                                {{assetcat.lifetime}}</div>
                                *ngFor="let d of assetgroupform.controls['productname'].controls;let i=index"
                            <ng-template #notype > {{quantity}}</ng-template>  {{assetcat.product_name}} -->
                            <div  [formGroupName]="listIndex">
                                <mat-form-field style="width: 250px;">
                                <input type="text" #inputproduct matInput formControlName="product" [matAutocomplete]="products">
                                
                                <mat-autocomplete  #products="matAutocomplete" (opened)="autocompletecommodityScroll_product()" #productname >
                                   
                                    <mat-option *ngIf="isLoading">Loading..</mat-option>
                                    <mat-option *ngFor="let d of as_product" [value]="d.name" (focusout)='asset_product_cat(d,listIndex,assetcat)'>{{d.name}}</mat-option>
                                
                                </mat-autocomplete>
                                <button type="button" *ngIf="assetgroupform.get('productname').value[listIndex].product !=''" matSuffix class="close" (click)="removeproduct(listIndex,assetcat)">X</button>
                            </mat-form-field>
                        </div>
                            <!-- </div> -->
                            </td>
                        <td >{{ assetcat.faclringdetails_qty }}<button *ngIf="data == 'REGULAR' " type="button" data-toggle="modal" data-target="#split" style="border: none; background-color: white;" (click)="split_qty_details(assetcat,listIndex)"><mat-icon >call_split</mat-icon></button></td>
                        <td  >
                       <input *ngIf="data == 'REGULAR'" type="number" [readonly]= "isreadonly" value={{assetcat.unit_prices}} style="border: 1px solid bisque;width: 100px;padding: 2px 5px;margin: 0; background-color: white;height: 35px;text-decoration: none;" [ngClass]="isreadonly ? 'allowed':'auto'" >
                       <input *ngIf="data != 'REGULAR'" type="number" [readonly]= "isreadonly" [value]="assetcat.unit_prices" style="border: 1px solid bisque;width: 100px;padding: 2px 5px;margin: 0; background-color: white;height: 35px;text-decoration: none;" [ngClass]="isreadonly ? 'allowed':'auto'" [(ngModel)]="cap_after_change" [ngModelOptions]="{standalone: true}">  
                        </td>                                                                                                           
                        <td *ngIf='checked_auth'>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
                            <div *ngIf="assetcat.isChecked_apportion; else mark_up">
                                
                            </div>                                                                                                                                                                                                                                                                                                                                                                                                

                            
                            <ng-template  #mark_up>
                                <div *ngIf="assetcat.isChecked">
                                <button type="button">{{mark_up_ratio | number:'1.2-2' }}</button>
                            </div>
                            </ng-template>
                        </td>
                        <td *ngIf="checked_auth">
                            <div *ngIf="assetcat.isChecked_apportion; else revised">
                                
                        </div>
                        <ng-template  #revised>
                            <div *ngIf="assetcat.isChecked">
                            <button type="button">{{assetcat.unit_prices * new_mark_up_radio  | number:'1.2-2'}}</button>
                            </div>
                        </ng-template>
                    </td>
                   
                            <td >
                                
                                <div *ngIf="assetcat.isChecked">
                                    <div *ngIf="cap_check;else cap_val">
                                <div *ngIf="mark_up_ratio ==1 ; else no_calculation">
                                    
                                {{((assetcat.unit_prices*assetcat.faclringdetails_qty) )  | number:'1.2-2'}}
                            </div>
                                <ng-template #no_calculation >
                                    {{((assetcat.unit_prices*assetcat.faclringdetails_qty)*new_mark_up_radio ) |  number:'1.2-2'}}
                                </ng-template>
                                </div>
                                <ng-template #cap_val>
                                    {{cap_after_change}}
                                </ng-template>
                                
                            </div>

                        </td>
                        <!-- <td>{{ assetcat.deptype}}</td> -->
                        <!-- <td>{{ assetcat.deptype}}</td> -->
                        <td >{{ assetcat.branch_name}}</td>
                        <!-- <td>{{ assetcat.deptype}}</td> -->
                        <!-- <td *ngIf="factor" ></td>
                        <td *ngIf="factor" ></td> -->
                        <td formArrayName="assetcategory" >
                            
                            <mat-form-field [formGroupName]="listIndex" style="width:250px">
                                
                                
                                    <input  type="text"  matInput autocomplete="off" style="text-align:left;margin-left:1%" formControlName="assetcat" [matAutocomplete]="assetcategory" #inputasset>
                                        <mat-autocomplete #assetcategory="matAutocomplete" (opened)="autocompletecommodityScroll_asset()" #assetcategory>
                                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                                        <mat-option *ngFor="let d of as_assetcat" [value]="d.subcatname" (focusout)="asset_product(d,listIndex)">{{d.subcatname}}</mat-option>
                                    </mat-autocomplete>
                                    
                                    <button type="button" *ngIf="assetgroupform.get('assetcategory').value[listIndex].assetcat !=''" matSuffix class="close" (click)='removeasset(listIndex)' >X</button>
                                
                                </mat-form-field>
                            
                            </td>
                             <td >
                                    
                                        <ng-container>
                                            <input #fileInput type="file" multiple (change)="getFileDetails(listIndex,$event,fileInput.value)"
                                                [disabled]="assetcat.billChecked" style="width: 250px;" >

                                    </ng-container>
                                

                                <div *ngFor="let file of assetcat.files; index as fileIndex">
                                    <div><a data-toggle="modal" data-dismiss="modal" data-target="#exampleModal" (click)="imagess(assetcat['images'][fileIndex])">* {{file}}</a>
                                    <button type="button" (click)="deleteRow(listIndex, fileIndex); fileInput.value = ''"
                                        class="btn btn-primary" style="height:30px">X</button>
                                    </div>
                                </div>
                            
                            </td>

                        <!-- </div> -->
                        <td formArrayName="date">
                            <div [formGroupName]="listIndex">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName='dates' [min]='minDate | date:"yyyy-MM-dd"' [max]='date | date:"yyyy-MM-dd"'  (keypress)="pickonedate($event)" >
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                      
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker [startAt]="date"></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </td>
                        <td >
                            <input type="checkbox"   [checked]='assetcat.isChecked'
                            (click)="noBillChecked(assetcat,$event,listIndex)" [disabled]='assetcat.isCheckedExp '>
                        </td>
                        <td *ngIf="data=='REGULAR'" >
                            <input type="checkbox"  #checkbox [checked]="assetcat.isChecked_apportion"
                                [disabled]='assetcat.isapportionExp' (change)="billChecked(assetcat,$event,listIndex)">
                        </td>
                    
                    <td *ngIf="data == 'REGULAR'">
                        <input type="checkbox" [disabled]="assetcat.isExpn " [checked]="assetcat.isExp " (click)="expdata(assetcat,listIndex,$event)">
                    </td>
                    
                        </tr>
                      <td colspan="13">
                          <div class="text-right">
                              <h3>Amount Capitalized</h3>
                              <div *ngIf="!submit_btn_ena">
                              &#8377;{{select_invoice_amount |  number:'1.2-2'}}
                              </div>
                          </div>

                      </td>
                       
            </table>
            <br>
            <div class="text-center" >
                <button type="submit"  matTooltip="Submit" class="text-center btn-outline-primary" style="border-radius: 30px;border-left: 30px;height: 50px;width: 100px;" [disabled]="submit_btn_ena ">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" (click)="resetsof()" matTooltip="clear" class="text-center btn-outline-primary" style="border-radius: 30px;border-left: 30px;height: 50px;width: 100px;">cancel</button>
            </div> 
            
            
        <!-- </div> -->
    </div>


    </div>
    <!-- </table> -->

    </form>
    <div class="col-12 row">
        <div class="col-sm-12" style="font-size: small;text-align: right;margin-bottom: 100px;">
            <button mat-icon-button [disabled]="!has_previousbuk" color="primary" matTooltip="back"
                (click)=" bukpreviousClick()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            {{presentpagebuk}}
            <button mat-icon-button [disabled]="!has_nextbuk" color="primary" (click)=" buknextClick()" matTooltip="next">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
    <button type="button" class="btn btn-outline-success" style="border-radius:40px;margin-left: 50px;"
        (click)="BackBtn()"><span class="fa fa-arrow-left" matTooltip="Back"></span>Go Back</button>
    <br><br><br>
    </div>
    
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="overflow: initial;">
            <div class="modal-content" style="width: 800px;height: 500px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                  <div class="modal-body" style="width: 750px;height: 400px;">
                    <!--<div *ngFor="let image of images"> -->
                        <img class="modal-image" [src]="images" style="width:700px;height:350">
                    <!-- </div> -->
                    <div *ngIf="!images?.length">No images uploaded yet!</div>
                </div>
               <!--<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>-->
            </div>
        </div>
    <!-- </div> -->
        
        
        
        
        
        
        
   <!-- new-->
    </div>
    <div *ngIf="isexpense">
        <h2 style="color: blueviolet;margin-left: 35px;font-family: 'Times New Roman', Times, serif;">Expense Details</h2>

        <pre
            style="font-weight: bolder;font-family:verdana;margin-left: 35px;">Invoice Total amount:&#8377;{{total_amount_to_capitalizeexp}}   , Balance Amount to capitalize:&#8377;{{balance_amount_to_capitalizeexp}} </pre>
       
            <!-- <td>
                <mat-form-field style="width: 155px;margin-left: 35px;">
                    <mat-label>Invoice expense amount</mat-label>
                    <input matInput placeholder="Invoice expense amount" autocomplete="off" required>
                </mat-form-field>
            </td> -->


        <!-- </tr> -->

        <!-- <tr> -->
        <form [formGroup]="expform">
            <div class="row" style="margin-left: 35px;">
                <div class="col-md-3">
                    <mat-form-field style="width: 250px;">
                        <mat-label>Invoice Category</mat-label>
                        <input matInput formControlName="cat"  autocomplete="off" required [matAutocomplete]="autoapcategoryexp">
                        <mat-autocomplete #autoapcategoryexp="matAutocomplete" [displayWith]="displayastgrp" #apcategory (opened)="autocompletecommodityScroll_apexp()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let assetgroup of as_apcategoryexp"
                                     [value]="assetgroup">
                                    {{assetgroup.name}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field style="width: 250px;">
                        <mat-label>Invoice subcategory</mat-label>
                        <input matInput formControlName="subcat" (click)="assetgrps_apcategory_expsubcat()" placeholder="Invoice subcategory" autocomplete="off" required [matAutocomplete]="autoapsubcategoryexp">
                        <mat-autocomplete #autoapsubcategoryexp="matAutocomplete" [displayWith]="displayastsub" #apsubcategory (opened)="autocompletecommodityScroll_apsubexp()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let assetgroup of as_apsubcategory " (focusout)="getdata(assetgroup)"
                                     [value]="assetgroup">
                                    {{assetgroup.name}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field style="width: 250px;">
                        <mat-label>Expense GL</mat-label>
                        <input matInput formControlName="glno" readonly autocomplete="off"  [value]="expform.value.subcat.glno">
                    </mat-form-field>
                </div>
            </div>
       



        
        <br>
        <br>
            <div class="table-responsive" style="margin-right: 30px;margin-left: 35px;text-align: center;font-size:14px">
                <table class="table table-bordered table-hover" style="width: 98%;">
                    <tr class="table_header">
                        <th>S.No</th>
                    
                        <th>Product Name</th>
                        <th>Expence Amount</th>
                        <th>Branch Name</th>
                        <th>BS</th>
                        <th>CC</th>
                    </tr>
                    <tr *ngFor="let d of expdataList; index as i">
                        <td>{{i+1}}</td>
                        <td>{{d.product_name}}</td>
                        <td>{{d.unit_prices * d.faclringdetails_qty}}</td>
                        <td>{{d.branch_name}}</td>
                        <td formArrayName="bsid">
                            <div [formGroupName]="i">
                                    
                                <mat-form-field style="width: 200px">
                                    <mat-label>BS</mat-label>
                                    <input matInput placeholder="BS" formControlName="bs"  required   #commodityInput (click)="getbsdata_exp()"
                                    type="text"  [matAutocomplete]="autonewbs">
                                    <mat-autocomplete  #autonewbs="matAutocomplete" #bs (opened)="autocompletecommodityScroll()">
                                    <mat-option class="is-loading" *ngIf='isLoading'>Loading</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let assetgroup of as_bc "
                                                    (focusout)="assetgrps_bsexp(assetgroup,i)" [value]="assetgroup.name">
                                                    {{assetgroup.name}}
                                                </mat-option>
                                                
                                            </ng-container>
                                        
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </td>
                        <td formArrayName="ccid">
                            <div [formGroupName]="i">
                                <mat-form-field style="width: 200px;">
                                    <mat-label>CC</mat-label>
                                    <input  matInput placeholder="CC" formControlName="cc"  #ccInput autocomplete="off" required [matAutocomplete]="autoccsnew" (click)="assetexpccdata()">
                                    <mat-autocomplete  #autoccsnew="matAutocomplete" #cc  (opened)="autocompletecommodityScroll_cc()">
                                        <mat-option *ngIf="isLoading"  class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let assetgroup of as_cc"  [value]="assetgroup['costcentre_id'].name" (focusout)="assetgrps_cc_exp(assetgroup,i)">
                                                    
                                                    {{assetgroup['costcentre_id'].name}}
                                                </mat-option>
                                            </ng-container>
                                        
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
                        </td>
                        <!-- <td></td>
                        <td></td>
                        <td></td> -->
                    </tr>
                </table>
                    </div>
        </form>
        <button type="button" class="btn btn-outline-success"
            style="border-radius:40px;margin-left: 50px;margin-bottom: 30%;" (click)="BackBtn()"><span
                class="fa fa-arrow-left"></span>Go Back</button>


    </div>

 <!-- <h1 class="text-center">data</h1>
<div class="text-center">
    <form [formGroup]="assetdata">
        <mat-form-field>
            <mat-label>Enter the Data:</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" formControlName='asset' [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let d of as_bc | async" [value]="d">
                    {{d}}

                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </form>
    
    </div>

    <br> -->
    <!-- data:{{as_bc | async}} -->
     
    <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
   
   
    