<div class="Container" style="margin-left: 40px;">
    <nav>
        <div class="nav nav-tabs" style="margin-top: 1%;">
            <span class="nav-item nav-link " data-toggle="tab" (click)="subModuleData(sub)" role="tab"
                *ngFor="let sub of vendorMasterList">
                {{sub.name}}
            </span>
        </div>
    </nav>
    <div>
        <span *ngIf="isholidaydeim">
            <app-holidaydiem-summary>
            </app-holidaydiem-summary>
        </span>
        <span *ngIf="isgradeeligible">
            <app-gradeeligibility-master>
            </app-gradeeligibility-master>
        </span>
        <span *ngIf="iscommondropdown">
            <app-commondropdown-master>
            </app-commondropdown-master>
        </span>
        <span *ngIf="isdaterelaxation">
            <app-date-relaxation-master>
            </app-date-relaxation-master>
        </span>
        <span *ngIf="isonbehalf">
            <app-onbehalf-master>
            </app-onbehalf-master>
        </span>
        <span *ngIf="isclaimallowance" >
            <app-claim-allowance-master>                
            </app-claim-allowance-master>
        </span>
        <span *ngIf="citymaster" >
            <app-city-master></app-city-master>
        </span>
        <span *ngIf="holidaymaster">
            <app-holidaymaster></app-holidaymaster>
        </span>
        <span *ngIf="travelreasonexpense">
            <app-travelreasonexpense></app-travelreasonexpense>
        </span>
        
    </div>
</div>