<h2 style="margin-left: 2%;font-family:Times New Roman;font-size:20px;color:rgb(53, 138, 163);font-weight:bold;">Maker Summary</h2>
    <hr>
    <div class="col-md-12"> 
        <form [formGroup]="maker">
            <!-- <div style="padding-top: 10px;"> -->
                <table style="width: 100%; text-align: center;">
                    <tr>
                        <td>
                            <mat-form-field style="width: 11rem;margin-left: 8px; ">
                                <mat-label>CR NO</mat-label>
                                <input matInput formControlName="crno" autocomplete="off">
                            </mat-form-field>
                        </td>
                        <!-- <td>
                            <mat-form-field style="width: 14rem;margin-left: 8px; ">
                                <input type="text" placeholder="Invoie type" aria-label="Invoie type" matInput [matAutocomplete]="int"  formControlName="intp">
                                <mat-autocomplete #int="matAutocomplete" [class]="'blue-bg'">
                                  <mat-option *ngFor="let option of intp" [value]="option">
                                    {{ option }}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                        </td> -->
                        <mat-form-field style="width: 11rem;margin-left: 8px; ">
                            <mat-label>Invoie type</mat-label>
                            <mat-select formControlName="intp" multiple>
                              <mat-option *ngFor="let topping of intyp" [value]="topping">{{topping}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                        <td>
                            <mat-form-field style="width: 11rem;margin-left: 8px; ">
                                <mat-label>Suppiler Name</mat-label>
                                <input matInput formControlName="sup" autocomplete="off">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 11rem;margin-left: 8px; ">
                                <input type="text" placeholder="Branch" aria-label="Branch" matInput [matAutocomplete]="into"  formControlName="bar" >
                                <mat-autocomplete #into="matAutocomplete" [class]="'blue-bg'">
                                  <mat-option *ngFor="let opt of branch" [value]="opt.name">
                                    {{ opt.name }}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                        </td> 
                    </tr>
                    <!-- <tr> -->
                        <!-- <td>
                            <mat-form-field style="width: 14rem;margin-left: 8px; ">
                                <mat-label>Invoice Number</mat-label>
                                <input matInput formControlName="invoice_amount" autocomplete="off">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 14rem;margin-left: 8px; ">
                                <mat-label>Invoice Amount</mat-label>
                                <input matInput formControlName="inmt" autocomplete="off">
                            </mat-form-field>
                        </td> -->
<!--                        
                        <td>
                            <mat-form-field style="width: 14rem;margin-left: 8px; ">
                                <input type="text" placeholder="Branch" aria-label="Branch" matInput [matAutocomplete]="into"  formControlName="bar" >
                                <mat-autocomplete #into="matAutocomplete" [class]="'blue-bg'">
                                  <mat-option *ngFor="let opt of branch" [value]="opt.name">
                                    {{ opt.name }}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                        </td> -->
                        <!-- <td>
                            <mat-form-field style="width: 14rem;margin-left: 8px; " (click)="getbranch()">
                                <mat-label>Branch</mat-label>
                                <input #employeeRaisorInput placeholder="Branch" matInput formControlName="bar"
                                    [matAutocomplete]="raisoremp">
                                <mat-autocomplete #raisoremp="matAutocomplete"  >
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let temp of branch" [value]="temp.name">{{temp.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td> -->

                        <!-- <td>
                            <mat-form-field style="width: 14rem;margin-left: 8px; ">
                                <mat-label>From Date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="date1" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 14rem;margin-left: 8px; ">
                                <mat-label>To date</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="date2" autocomplete="off" [min]="maker.controls['date1'].value">
                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
    
                        </td>  -->

                    <!-- </tr> -->
                    <tr>
                        <td>
                            <mat-form-field style="width: 11rem;margin-left: 8px; ">
                                <mat-label>Inward From Date</mat-label>
                                <input matInput [matDatepicker]="picker3" formControlName="invoice_from_date" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker3">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 11rem;margin-left: 8px; ">
                                <mat-label>Inward To date</mat-label>
                                <input matInput [matDatepicker]="picker4" formControlName="invoice_to_date"  [min]="maker.controls['invoice_from_date'].value" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker4">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                            </mat-form-field>
    
                        </td> 
                         <td>
                            <mat-form-field style="width: 11rem;margin-left: 8px; ">
                                <mat-label>Empoloyee</mat-label>
                                <input matInput formControlName="raiser_employeename" autocomplete="off">
                            </mat-form-field>
                        </td> 
                        <!-- <td>
                            <mat-form-field style="width: 14rem;margin-left: 8px; ">
                                <input type="text" placeholder="Empoloyee" aria-label="Empoloyee" matInput [matAutocomplete]="into"  formControlName="raiser_employeename">
                                <mat-autocomplete #into="matAutocomplete" [class]="'blue-bg'">
                                  <mat-option *ngFor="let emp of raiser_employeename" [value]="emp">
                                    {{ emp }}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                        </td> -->
                        <td>
                            <button class="btn btn-outline-primary" style="border-radius:35px;height: 40px;margin-right: 7px;"(click)="search()">
                                search
                            </button>
                        
                            <button class="btn btn-outline-primary" style="border-radius:35px;height: 40px;margin-left: 10px;"(click)="cancel()">
                                Cancel
                            </button>
                        </td>
                    </tr>
                </table>
                <!-- <div class="table-responsive" style="width:90%;margin-top: 1%;"> -->
                    <div class="table-responsive" class="tablescroll" style="margin-top: 10px;width: 100%;margin-left: 10px;overflow: auto;">
                        <table class="table table scrolltable table-bordered" style="width: 99%; margin-top: 10px;">
                            <thead class="table_header " fixed-header>
                            <tr>
                    <th>S.No</th>
                    <th>CR.No</th>
                    <th>Purpose</th>
                    <th>Invoice Type</th>
                    <th>Supplier Name</th>
                    <th>Employee Name</th>
                    <th>Invoice NO</th>
                    <th>Invoice Date</th>
                    <th>Invoice Amount</th>
                    <th>Status</th>
                    <th>Inward Date</th>
                    <th>Due Date</th>
                    <th>Barcode Number</th>
                    <th>Action</th>
                </tr>
            </thead>
                    <tr *ngFor="let d of data;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{d.crno}}</td>
                        <td>0</td>
                        <td>{{d.invoicetype.text}}</td>
                        <td>{{d.supplier.name}}</td>
                        <td>{{d.raiser_employeename}}</td>
                        <td>{{d.invoice_no}}</td>
                        <td>{{d.invoice_date}}</td>
                        <td>{{d.invoice_amount}}</td>
                        <td>{{d.status.text}}</td>
                        <td>{{d.invoice_date}}</td>
                        <td>0</td>
                        <td>{{d.barcode}}</td>
                        <td> <button mat-icon-button style="color: rgb(43, 166, 223);width: 40px ;height: 40px;margin-left: 20px;"(click)="action(d)">
                            <mat-icon>send</mat-icon>
                        </button></td>
                    </tr>
                </table>
                </div>
            </form>
        <div *ngIf="data .length==0; else paginationpage" class="NodataAlign">No Records Found...</div> 
         <ng-template #paginationpage>
            <div class="cursor" style="font-size: small;text-align:right; margin-bottom:100px;float: right;">
                <button mat-icon-button [disabled]="has_previous === false" color="primary"
                    (click)="previousClick()">
                    <mat-icon>arrow_back
                    </mat-icon>
                </button>
                {{presentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary"
                    (click)="nextClick()">
                    <mat-icon>arrow_forward
                    </mat-icon>
                </button>
            </div>
        </ng-template> 
</div>

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple" >
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
             
