<div style="background-color: #F6F6F6">
    <mat-card style="margin:20px 12px 20px 20px;" class="mat-elevation-z0" >
    <!-- <h2 style="margin-left: 2%;font-family:Times New Roman;font-size:20px;color:rgb(53, 138, 163);font-weight:bold;">Payment File</h2> -->
    <h2 style="margin-left: 20px;" class="header">
        Payment File
    </h2>
    <hr>
    <div class="col-md-12"> 
        <form [formGroup]="paymentfile">
            
           <table style="width: 100%; text-align: center;">
                  
               <tr>
                <td>
                    <mat-form-field style="width: 11rem;margin-left: 5px; ">
                        <input type="text" placeholder="Bank" aria-label="Bank" matInput [matAutocomplete]="into"  formControlName="bank" >
                        <mat-autocomplete #into="matAutocomplete" [class]="'blue-bg'">
                          <mat-option *ngFor="let opt of branch" [value]="opt.bankbranch.bank.name" (click)="bank(opt)" >
                            {{ opt.bankbranch.bank.name }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </td>
               
                    <td>
                        <mat-form-field style="width: 11rem;margin-left: 5px; ">
                            <mat-label>PV No</mat-label>
                            <input type="text" matInput formControlName="pvno" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                           <mat-form-field style="width: 11rem;margin-left: 5px; ">
                                <mat-label>Payment Date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="pdte" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                      
                    </td>
                    <td>
                        <mat-form-field style="width: 11rem; margin-left: 5px;">
                            <mat-label>Status</mat-label>
                            <mat-select placeholder="Status" formControlName="status" >
                                <mat-option *ngFor="let sta of statustype" (onSelectionChange)="selectionChangeType($event)" [value]="sta">{{sta.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <button mat-fab style="background-color: white;" aria-label="Search" (click)="search()">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button mat-fab (click)="cancel()"
                            style="border-radius:40px;margin-left: 15px;background-color: white;color: black;">Clear
                        </button>
                    </td>
                    <!-- <td>
                        <button type="button"  class="btn btn-outline-primary" style="border-radius:35px;height: 40px;" (click)="search()">Search</button>
                    </td>
                    <td>
                        <button type="button"  class="btn btn-outline-primary" style="border-radius:35px;height: 40px;" (click)="cancel()">Clear</button>
                    </td> -->
                    </tr>
                </table>
                    <div class=" row col-md-12" style="margin-left: 10px">
                        <div class="col-md-2" style="margin-left: 15px;">   
                            <td>
                                <mat-form-field style="width: 11rem;margin-left: 5px; ">
                                    <mat-label>CR No</mat-label>
                                    <input type="text" matInput formControlName="crno" autocomplete="off">
                                </mat-form-field>
                            </td>  
                        </div>
                        <div class="col-md-2" style="margin-left: 69px;">   
                            <!-- <td>
                                <mat-form-field style="width: 11rem; margin-left: 5px;">
                                    <mat-label>Paymode Type</mat-label>
                                    <mat-select placeholder="Paymode Type" formControlName="paymodetype" >
                                        <mat-option *ngFor="let typ of paymodetype" (onSelectionChange)="paymodeType($event)" [value]="typ">{{typ.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>   -->
                        </div>
                        <div class="col-md-7">
                                <!-- <button mat-icon-button style="background-color: darkcyan;width: 40px ;height: 40px;margin-right: 10px; "(click)="download()">
                                    <mat-icon><span class="material-icons-outlined">
                                        download
                                        </span></mat-icon>
                                </button> -->
                                <button mat-fab type="submit" (click)="download()"
                                    matTooltip="Download"
                                    style="border-radius:40px;margin-left: 40px;background-color: white;color: black;">
                                    <mat-icon>file_download</mat-icon>
                                </button>
                                
                                    <input type="file" style="margin-left: 10px;" (change)="uploaddata($event)" multiple formControlName="file" style="width: 300px; 
                                    margin-left: 20px;">
                            
                            <!-- <button mat-icon-button style="background-color: orangered;width: 40px ;height: 40px;margin-left: 20px;" type="file"  name="myfile" accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,.dotx,.dotm,.docb,
                                .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png"
                                (click)="onFileSelectedBulkUpload()">
                                    <mat-icon>upload</mat-icon>
                            </button> -->
                            <button mat-fab  type="file"  name="myfile" accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,.dotx,.dotm,.docb,
                                    .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png"
                                    (click)="onFileSelectedBulkUpload()"
                                    matTooltip="Upload"
                                    style="border-radius:40px;margin-left: 40px;background-color: white;color: black;">
                                    <mat-icon>file_upload</mat-icon>
                            </button>
                        </div>
                    </div>
                   
          
                


        </form>
        <div class="table-responsive" style="margin-left: 20px;">
            <table class="table" style="margin-top: 10px;max-width: 100%;" id='commonstyle'>
                <thead class="table_header">
                    <tr style="background-color:#EDF8FA;text-align: center;">
        <th>S.No</th>
        <th>CR.NO</th>
        <th>PV No</th>
        <th *ngIf="utrdisplayflage" style="text-align: center">UTR No</th>
        <th>Payment</th>
        <th>Debit Bank Name</th>
        <th>Supplier Branch</th>
        <th>Raiser Name</th>
        <th>PV Date</th>
        <th>PV Amount</th>
        <th>Status</th>
        <th>Download ALL<input  type="checkbox" [checked]="rowselect" (click)="checkselect($event,data)" color="primary"></th>
        </tr>
</thead>
        <tr *ngFor="let d of data;let i=index" style="text-align:center">
            <td>{{i+1}}</td>
            <td>{{d?.crno}}</td>
            <td>{{d?.pvno}}</td>
            <td *ngIf="utrdisplayflage" style="text-align: center">{{d?.utr_refno}}</td>
            <td>{{d?.apcredit['data'][0]?.paymode?.name}}</td>
            <td>{{d?.debit_bankdetails?.bankbranch?.bank.name}}</td>
            <td>{{d?.supplier?.name}}</td>
            <td>{{d?.raiser_employeename}}</td>
            <td>{{d?.pv_date | date:'dd-MMM-yyyy'}}</td>
            <td>{{d?.pv_amount | currency:'INR' }}</td>
            <td>{{d?.status?.text}}</td>
            <td>
                <div *ngIf="d.status.id==6"> 
                                <input  type="checkbox" (click)="checkbox(d,i,$event)" [checked]="rowselect" color="primary" >
                </div>           
                <!-- <div><input  type="checkbox" (click)="checkbox(d,i,$event)" [checked]="rowselect" color="primary" ></div> -->
                <div *ngIf="d.status.id==9">
                    <button mat-icon-button class="btn btn-outline-primary" style="margin-left: 21px;" matTooltip="Click to Pay" (click)="paiddata(d)" data-toggle="modal" data-target="#manualpaid" 
                       >
                        <mat-icon>paid</mat-icon>
                    </button>
                </div>
            </td>
        </tr>
            </table>
    
        </div>
        <div *ngIf="data?.length==0; else paginationpage" class="NodataAlign">No Records Found...</div> 
        <ng-template #paginationpage>
            <div class="row">
                <!-- <button mat-icon-button [disabled]="has_previous === false" color="primary"
                    (click)="previousClick()">
                    <mat-icon>arrow_back
                    </mat-icon>
                </button>
                {{presentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary"
                    (click)="nextClick()">
                    <mat-icon>arrow_forward
                    </mat-icon>
                </button> -->
                <div  class="col-sm-3" style="margin-bottom: 5%;font-size: small;text-align:left;right:-225px;">
                    <p style="color:black;font-size: 18px;font-weight: 500;margin-left: -220px;">
                        Total Count:{{getcototalcount}}
                    </p> 
                </div>
               
                <div class="col-sm-9" style="font-size: small;text-align: right; margin-bottom: 50px;">
                    <button mat-icon-button [disabled]="has_previous === false" color="primary"
                        (click)="previousClick()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{presentpage}}
                    <button mat-icon-button [disabled]="has_next === false" color="primary"
                        (click)="nextClick()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
        </ng-template> 
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="manualpaid">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="font-weight: bold;font-size: 150%">Are You Sure it is Paid ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <mat-form-field style="width: 16rem; margin-left: 8px;">
                    <mat-label>UTR Ref No</mat-label>
                    <input matInput [formControl]="utrno" autocomplete="off" />
                </mat-form-field>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="paidfun()" [disabled]="utrno.invalid==true">Paid</button>
            </div>
          </div>
          <!-- <div *ngIf="!neftflage"  class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="font-weight: bold;font-size: 150%">Are You Sure it is Paid ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="paidfun()">Paid</button>
            </div>
          </div> -->
        </div>
    </div>


    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple" >
    <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
</mat-card>
</div> 