<div>
    <div class="content">
        <form [formGroup]="memoAddForm" (ngSubmit)="Submit()">
            <table>
                <tr>
                    <td>
                        <mat-label>From</mat-label>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <mat-form-field style="width: 250px;margin-left: 10px;" (click)="getSender()">
                                        <input #rmInput placeholder="" matInput formControlName="sender"
                                            [matAutocomplete]="senderValue" required>
                                        <mat-autocomplete #senderValue="matAutocomplete"
                                            [displayWith]="displayFnSender">
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let des of senderList" [value]="des">
                                                    {{des.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr *ngIf="sharedService.Memofrom === 'IOMEMO'">
                    <td>
                        <mat-label>To Department</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="memo-form" style="margin-bottom: -1.25em;">
                            <mat-chip-list #chipListDept>
                                <mat-chip style="font-size: small;"
                                    *ngFor="let employeedept of chipSelectedEmployeeDept" [selectable]=true
                                    [removable]=true (removed)="removeEmployeeDept(employeedept)">
                                    {{employeedept.name}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input #employeeDeptInput [formControl]="employeeDeptControl"
                                    [matAutocomplete]="autodept" [matChipInputFor]="chipListDept"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]=true>
                            </mat-chip-list>
                            <mat-autocomplete #autodept="matAutocomplete"
                                (optionSelected)="employeeDeptSelected($event)" (opened)="autocompleteDeptScroll()">
                                <mat-option *ngFor="let thisEmployeedept of departmentList" [value]="thisEmployeedept">
                                    {{thisEmployeedept.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="sharedService.Memofrom === 'IOMEMO' && this.chipSelectedEmployeeDept.length === 0">
                    <td>
                        <mat-label>To</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="memo-form" style="margin-bottom: -1.25em;">
                            <mat-chip-list #chipListTo>
                                <mat-chip style="font-size: small;" *ngFor="let employeeto of chipSelectedEmployeeTo"
                                    [selectable]=true [removable]=true (removed)="removeEmployeeTo(employeeto)">
                                    {{employeeto.full_name}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input #employeeToInput [formControl]="to_emp" [matAutocomplete]="autoto"
                                    [matChipInputFor]="chipListTo" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]=true>
                            </mat-chip-list>
                            <mat-autocomplete #autoto="matAutocomplete" (optionSelected)="employeeToSelected($event)"
                                (opened)="autocompleteToScroll()">
                                <mat-option *ngFor="let thisEmployee of allEmployeeList" [value]="thisEmployee">
                                    {{thisEmployee.full_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="sharedService.Memofrom === 'IOMEMO'">
                    <td>
                        <mat-label>BTo</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="memo-form" style="margin-bottom: -1.25em;">
                            <mat-chip-list #chipListBTo>
                                <mat-chip style="font-size: small;" *ngFor="let employeebto of chipSelectedEmployeeBTo"
                                    [selectable]=true [removable]=true (removed)="removeEmployeeBTo(employeebto)">
                                    {{employeebto.full_name}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input #employeeBToInput [formControl]="bto_emp" [matAutocomplete]="autobto"
                                    [matChipInputFor]="chipListBTo" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]=true>
                            </mat-chip-list>
                            <mat-autocomplete #autobto="matAutocomplete" (optionSelected)="employeeBToSelected($event)"
                                (opened)="autocompleteBToScroll()">
                                <mat-option *ngFor="let thisEmployee of allEmployeeList" [value]="thisEmployee">
                                    {{thisEmployee.full_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="sharedService.Memofrom === 'IOMEMO'">
                    <td>
                        <mat-label>CC</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="memo-form" style="margin-bottom: -1.25em;">
                            <mat-chip-list #chipList>
                                <mat-chip style="font-size: small;" *ngFor="let employeecc of chipSelectedEmployeeCC"
                                    [selectable]=true [removable]=true (removed)="removeEmployeeCC(employeecc)">
                                    {{employeecc.full_name}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input #employeeccInput [formControl]="employeeccControl" [matAutocomplete]="autocc"
                                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]=true>
                            </mat-chip-list>
                            <mat-autocomplete #autocc="matAutocomplete" (optionSelected)="employeeccSelected($event)"
                                (opened)="autocompleteCCScroll()">
                                <mat-option *ngFor="let thisEmployeeCC of allEmployeeList" [value]="thisEmployeeCC">
                                    {{thisEmployeeCC.full_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td *ngIf="sharedService.Memofrom === 'IOMEMO'">
                        <mat-label>Signee</mat-label>
                    </td>
                    <td *ngIf="sharedService.Memofrom === 'NFA-MEMO'">
                        <mat-label>Approver</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="memo-form" style="margin-bottom: -1.25em;">
                            <mat-chip-list #chipListapprover>
                                <mat-chip style="font-size: small;"
                                    *ngFor="let employeeapprover of chipSelectedEmployeeApprover" [selectable]=true
                                    [removable]=true (removed)="removeEmployeeApprover(employeeapprover)">
                                    {{employeeapprover.full_name}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input #employeeApproverInput [formControl]="employeeApproverControl"
                                    [matAutocomplete]="autoapprover" [matChipInputFor]="chipListapprover"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]=true>
                            </mat-chip-list>
                            <mat-autocomplete #autoapprover="matAutocomplete"
                                (optionSelected)="employeeApproverSelected($event)" (opened)="autocompleteAppScroll()">
                                <mat-option *ngFor="let thisEmployeeCC of allEmployeeList" [value]="thisEmployeeCC">
                                    {{thisEmployeeCC.full_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-label>Recommender</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="memo-form" style="margin-bottom: -1.25em;">
                            <mat-chip-list #chipListrecommender>
                                <mat-chip style="font-size: small;"
                                    *ngFor="let employeerecommender of chipSelectedEmployeeRecommender" [selectable]=true
                                    [removable]=true (removed)="removeEmployeeApprover1(employeerecommender)">
                                    {{employeerecommender.full_name}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input #employeeApproverInput1 [formControl]="employeeRecommenderControl"
                                    [matAutocomplete]="autoapprover1" [matChipInputFor]="chipListrecommender"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]=true>
                            </mat-chip-list>
                            <mat-autocomplete #autoapprover1="matAutocomplete"
                                (optionSelected)="employeeApproverSelected1($event)" (opened)="autocompleteAppScroll()">
                                <mat-option *ngFor="let thisEmployeeCC of allEmployeeList" [value]="thisEmployeeCC">
                                    {{thisEmployeeCC.full_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-label>Subject</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="memo-form" style="margin-bottom: -1.25em;">
                            <input matInput style="font-size: small;" formControlName="subject" required
                                autocomplete="off">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table class="table">
                            <tr>
                                <td width="25%;margin-left:2px">
                                    <mat-form-field style="width:250px !important;height:55px !important">
                                        <input matInput #categoryInput style="font-size: small;"
                                            formControlName="category" placeholder="Category"
                                            [matAutocomplete]="autocategory" (focus)="focusCategory($event)">
                                        <mat-autocomplete #autocategory="matAutocomplete"
                                            [displayWith]="displayCategory">
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option (onSelectionChange)="OnCategoryChange($event)"
                                                    *ngFor="let cat of categoryList" [value]="cat">{{cat.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                                <td width="25%">
                                    <mat-form-field
                                        style="width:250px !important;height:55px !important;margin-left:12px">
                                        <input matInput #subcategoryInput style="font-size: small;"
                                            formControlName="sub_category" placeholder="Sub Category"
                                            [matAutocomplete]="autosubcategory" (focus)="focussubCategory($event)">
                                        <mat-autocomplete #autosubcategory="matAutocomplete"
                                            [displayWith]="displaysubCategory">
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let sub of sub_categoryList" [value]="sub">
                                                    {{sub.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                                <td width="25%;">
                                    <mat-form-field style="width: 100px;margin-left: 10px;" (click)="getPriorityList()">
                                        <input #rmInput placeholder="Priority" matInput formControlName="priority"
                                            [matAutocomplete]="priorityValue" required>
                                        <mat-autocomplete #priorityValue="matAutocomplete"
                                            [displayWith]="displayFnSender">
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let des of priorityList" [value]="des">
                                                    {{des.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                                <td width="25%;margin-left:2px">
                                    <label class="container"> <input type="checkbox" data-md-icheck
                                            [checked]="Confidential"
                                            (change)="Confidential = !Confidential" />Confidential
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td>
                        <label class="container"> <input type="checkbox" data-md-icheck [checked]="Parallel_Delivery"
                                (change)="Parallel_Delivery = !Parallel_Delivery" />Parallel Delivery
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td> Attachment</td>
                    <td>
                        <table class="table">
                            <tr style="width: 80%;">
                                <td>
                                    <div>
                                        <span *ngFor="let selected of documentList;let index = index"
                                            (click)="imagePreview(selected)" data-toggle="modal" data-target="#my-modal"
                                            matTooltip="Images" class="btn-link">
                                            {{selected.file_name}}
                                            <button mat-icon-button type="button">
                                                <mat-icon style="color: blue;" aria-label="Edit"
                                                    (click)="attachmentDelete  (selected.file_name,index)">
                                                    delete</mat-icon>
                                            </button>
                                        </span>
                                        <span *ngFor="let upload of uploadList;index as i" class="btn-link">
                                            {{upload}}
                                            <button mat-icon-button type="button">
                                                <mat-icon style="color: gray;" aria-label="Edit"
                                                    (click)="deleteUpload(upload, i)">
                                                    delete</mat-icon>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-label>Dept Reference No</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="memo-form" style="margin-bottom: -1.25em;">
                            <input matInput style="font-size: small;" formControlName="manual_reference"
                                autocomplete="off">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            <button (click)="enableEditor()" [disabled]="!editorDisabled">Enable</button>
                            <button (click)="disableEditor()" [disabled]="editorDisabled">Disable</button>
                        </div>
                        <div>
                            <div formControlName="html" [ngxSummernote]="config"
                                [ngxSummernoteDisabled]="editorDisabled" (blur)="onBlur()"
                                (mediaDelete)="onDelete($event)" (summernoteInit)="summernoteInit($event)">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    <label class="btn btn-primary" style="margin-right: 2em;">
                                        <input type="file" #takeInput accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,
                                        .dotx,.dotm,.docb,
                                        .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png"
                                            multiple="true" formControlName="images" name="images"
                                            (change)="fileChange($event)">
                                    </label>
                                </td>
                                <td>
                                    <mat-label style="margin-right: 2em;">Watermark Text</mat-label>
                                </td>
                                <td>
                                    <mat-form-field style="margin-bottom: -1.25em;">
                                        <input matInput style="font-size: small;" formControlName="watermarktext"
                                            required autocomplete="off">
                                    </mat-form-field>
                                </td>
                                <td *ngIf="isButtonVisible">
                                    <button type="button" class="btn btn-outline-primary"
                                        style="border-radius:40px;margin-left: 12px;" [routerLink]='"/ememo/memosummary"'
                                        skipLocationChange>Back</button>
                                </td>
                                <td *ngIf="isButtonVisible">
                                    <button type="submit" class="btn btn-outline-primary"
                                        style="border-radius:40px;margin-left: 12px;">Submit</button>
                                </td>
                                <td *ngIf="isButtonVisible">
                                    <button type="button" class="btn btn-outline-primary" (click)="saveDraft()"
                                        style="border-radius:40px;margin-left: 12px;">Save as Draft</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="my-modal" class="modal fade" aria-labelledby="my-modalLabel" aria-hidden="true" tabindex="-1"
        role="dialog">
        <div class="modal-dialog" data-dismiss="modal">
            <div class="modal-content">
                <div class="modal-body" *ngIf="pdfUrls!=='pdf'">
                    <img src="{{jpgUrls}}" class="img-responsive" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div style="padding-top:20px"></div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen] = "true" type="ball-spin-clockwise">
    <p style="color: white">Loading... </p>
</ngx-spinner>