::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
table tr{
    white-space: nowrap !important
  }
  .modal-header{
    background: #ddefdd;
  }
  .loc{
    margin-top: 12px;
  }