<div style="width: 100%;margin-left: 5px;">
    <p style="color:black;font-size: 20px;font-weight: 500;margin-left: 3px;">
        eClaim Expense Request Summary
    </p>
    <!-- <div *ngIf='value === 0'>
    <h3 style="color: black;margin-left: 25px;font-size: 18px;font-weight: 500px;">
        On BeHalf Employee - {{onbehalfname}}
    </h3>
    </div> -->
    <div>
        <!-- <div class="row">
            <div class="col-12">
                <form [formGroup]="memoSearchForm">
    
                    <mat-form-field style="width:10rem; margin-left: 20px; margin-left: 7px;">
                        <mat-label>TravelNo</mat-label>
                        <input matInput placeholder="Subject" (change)="tourno($event)" formControlName="tourno">
                    </mat-form-field>
                    <mat-form-field style="width:10rem; margin-left: 20px; margin-left: 7px;">
                        <mat-label>TravelRequest Date</mat-label>
                        <input matInput readonly [matDatepicker]="picker1" (date | date: 'dd-MMM-yyyy, EEE'Change)="fromDateSelection($event.value)" 
                                placeholder="Request Date" autocomplete="off" formControlName="requestdate | date: 'dd-MMM-yyyy, EEE'">
                                <mat-date | date: 'dd-MMM-yyyy, EEE'picker-toggle matSuffix [for]="picker1"></mat-date | date: 'dd-MMM-yyyy, EEE'picker-toggle>
                                <mat-date | date: 'dd-MMM-yyyy, EEE'picker #picker1></mat-date | date: 'dd-MMM-yyyy, EEE'picker>
                    </mat-form-field>
                    <button mat-fab style="margin-left: 20px;" [disabled]="creatable"  (click)="tourMakerSearch()" color="primary" aria-label="Search">
                        <mat-icon>search</mat-icon>
                      </button>
                   
                    <button class="btn btn-outline-primary" type="clear" [disabled]="creatable" style="border-radius:40px;margin-left: 15px;"
                    color="primary" (click)=reset()>Clear</button>
                </form>
            </div>
        </div> -->
        <table class="table" style="margin-top: 10px;max-width: 100%;" id='commonstyle'>
            <thead class="table_header">
                <tr>
                    <th>S.No</th>
                    <th>Travel No</th>
                    <th>Travel Requested Date</th>
                    <th>Travel Reason</th>
                    <th>Maker Branch </th>
                    <th>Maker</th>
                    <th>Approver</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tourexpence of getexpenceList; index as i">
                    <td>{{(this.tourexpencesummarypage - 1)*pagesize +i+1 }}</td>

                    <td>{{tourexpence.id}}</td>
                    <td>{{tourexpence.requestdate | date: 'dd-MMM-yyyy, EEE'}}</td>
                    <td>{{tourexpence.reason}}</td>
                    <td>({{tourexpence.branch_code}}) {{tourexpence.branch_name}}</td>
                    <td>({{tourexpence.employee_code}}) {{tourexpence.employee_name}}</td>
                    <td *ngIf="tourexpence.approver_code"> ({{tourexpence.approver_code}}) {{tourexpence.approvedby}}
                    </td>
                    <td *ngIf="tourexpence.approver_code == null"></td>
                    <td>
                        <p *ngIf="tourexpence.claim_status_id == 1">
                            Claim Created</p>

                        <p style="color: green;"
                            *ngIf="tourexpence.claim_status_id == 3 && tourexpence.max_applevel== 1">
                            Travel Claim RM Approved</p>

                        <p style="color: red;"
                            *ngIf="tourexpence.claim_status_id == 4  && tourexpence.max_applevel== 1">
                            Travel Claim Rejected from RM</p>

                        <p style="color: #f5af48;"
                            *ngIf="tourexpence.claim_status_id == 2 && tourexpence.max_applevel== 1">
                            Travel Claim Submitted To RM</p>

                        <p *ngIf="tourexpence.claim_status_id == 5 && tourexpence.max_applevel== 1">
                            Travel Claim Returned from RM</p>
                        <p style="color: red;"
                            *ngIf="tourexpence.claim_status_id == 4  && tourexpence.max_applevel== 2">
                            Travel Claim Rejected from FM</p>

                        <p style="color: #f5af48;"
                            *ngIf="tourexpence.claim_status_id == 2 && tourexpence.max_applevel== 2">
                            Travel Claim Submitted To FM</p>

                        <p *ngIf="tourexpence.claim_status_id == 5 && tourexpence.max_applevel== 2">
                            Travel Claim Returned from FM</p>

                        <p style="color: green;"
                            *ngIf="tourexpence.claim_status_id == 3 && tourexpence.max_applevel== 2">
                            Travel Claim FM Approved</p>

                        <p style="color: red;"
                            *ngIf="tourexpence.claim_status_id == 4  && tourexpence.max_applevel== 3">
                            Travel Claim Rejected from Admin</p>

                        <p style="color: #f5af48;"
                            *ngIf="tourexpence.claim_status_id == 2 && tourexpence.max_applevel== 3">
                            Travel Claim Submitted To Admin</p>

                        <p *ngIf="tourexpence.claim_status_id == 5 && tourexpence.max_applevel== 3">
                            Travel Claim Returned from Admin</p>

                        <p style="color: green;"
                            *ngIf="tourexpence.claim_status_id == 3 && tourexpence.max_applevel== 3">
                            Travel Claim Admin Approved</p>

                    </td>
                    <td><button mat-icon-button matTooltip="Edit" class="iconbutton" color="primary"
                            (click)="expenceEdit(tourexpence)">

                            <mat-icon style="color:black;" aria-label="Edit">edit</mat-icon>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="row" *ngIf="isTourMakerpage">
            <div class="col-sm-12" style="font-size: small;text-align:right;margin-bottom: 5%;">
                <button mat-icon-button [disabled]="has_previous === false" color="primary"
                    (click)="TourmakerpreviousClick()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{currentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="TourmakernextClick()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>