

<div *ngIf="isWriteOffAdd">
    <app-writeoffmaker-add (onSubmit)="WriteOffCreateSubmit()" (onCancel)="WriteOffCreateCancel()"></app-writeoffmaker-add>
</div>


<div *ngIf="maker">
    <!-- <a routerLink="/fa/fa" style="margin-left: 50px; font-size: 20px;">FA</a>/ Asset Write Off Maker -->
    <form [formGroup]="writeOffSearchForm">
        <h2 style="margin-left: 3%;font-family:Times New Roman;font-size:20px;color:blue;font-weight:bold;">Asset Write off Maker Summary</h2><hr>
        <table>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" style="margin-left: 50px;">
                        <input class="toolbar-search" type="text" formControlName="assetdetails_id" matInput
                            autocomplete="off">
                        <mat-placeholder>Asset Barcode  Id</mat-placeholder>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" style="margin-left: 50px;">
                        <input class="toolbar-search" type="text" formControlName="asset_value" matInput
                            autocomplete="off">
                        <mat-placeholder>Asset Value</mat-placeholder>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field style="margin-left: 50px;">
                        <mat-label>Cap Date</mat-label>
                        <input matInput readonly [matDatepicker]="picker1" placeholder="Cap Date"
                            formControlName="capdate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- <mat-form-field class="example-full-width" style="margin-left: 50px;">
                        <input class="toolbar-search" type="text" formControlName="assetcat_id" matInput
                            autocomplete="off">
                        <mat-placeholder>Category</mat-placeholder>
                    </mat-form-field> -->

                    <mat-form-field style="width: 200px; margin-left: 50px;" (click)="getCategoryFK()">
                        <mat-label>Asset SubCategory</mat-label>
                        <input #categoryInput placeholder="Select Category Code" matInput formControlName="assetcat_id"
                            [matAutocomplete]="category">
                        <mat-autocomplete #category="matAutocomplete" [displayWith]="displayFncategory.bind(this)"
                            (opened)="autocompletecategoryScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let category of categoryList" [value]="category.id">
                                    {{category.subcatname}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </td>
                <td>
                    <!-- <mat-form-field class="example-full-width" style="margin-left: 50px;">
                        <input class="toolbar-search" type="text" formControlName="branch_id" matInput autocomplete="off">
                        <mat-placeholder>Branch</mat-placeholder>
                    </mat-form-field> -->
                    <mat-form-field style="width: 200px; margin-left: 50px;" (click)="getbranchFK()">
                        <mat-label> Branch Name</mat-label>
                        <input #branchInput placeholder="Select Branch Code" matInput formControlName="branch_id"
                            [matAutocomplete]="branch">
                        <mat-autocomplete #branch="matAutocomplete" [displayWith]="displayFnbranch.bind(this)"
                            (opened)="autocompletebranchScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let branch of branchList" [value]="branch.id">
                                    {{branch.code}}-{{branch.name}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-fab color="basic" type="submit" style="margin-left: 50px;" matTooltip="Search"
                    (click)="getwriteOffsummarySearch()" ><mat-icon>search</mat-icon></button>
                </td>
                <td><button  (click)="resetWriteOff()" mat-fab matTooltip="Clear"
                        style="border-radius:40px;margin-left: 50px;" color="basic">Clear</button></td>
                        <td>
                            <button  style="margin-left: 50px;background-color: rgb(235, 175, 65);"  matTooltip="Asset Writeoff add"
                            type="button" mat-fab color="basic" (click)="addWriteOff()">
                            <mat-icon>add</mat-icon></button></td>
            </tr>
        </table>
    </form>

    <div class="table-responsive" style="margin-top: 1%;width: 94%;margin-left: 50px;">
        <table class="table scrolltable table-bordered" fixed-header>
            <thead>
                <tr class="table_header" fixed-header>
                    <th>S.No</th>
                    <th>Asset Barcode ID</th>
                    <th>Product Name</th>
                    <th>Asset SubCategory</th>
                    <th>Capitalisation date</th>
                    <th>Asset Value</th>
                    <th>Branch Name</th>
                    <th>Location</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Writeoff Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let writeoff of WriteOffMakerlist; index as i">
                    <td>{{ (presentpageWriteoff-1)*pageSize+i+1 }}</td>
                    <td>{{ writeoff.barcode}}</td>
                    <td>{{ writeoff.product_id.name}}</td>
                    <td>{{ writeoff.assetcatchange_id.subcatname}}</td>
                    <td>{{ writeoff.capdate | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{ writeoff.assetdetails_value}}</td>
                    <td>{{ writeoff.branch_id.name}}--{{ writeoff.branch_id.code}}</td>
                    <td>{{ writeoff.assetlocation_id.name}}</td>
                    <td style="color:blue; cursor: pointer;" (click)="ReasonShowOff(writeoff)">Reason</td>
                    <td>{{ writeoff.assetdetails_status}}</td>
                    <td>
                        {{writeoff.writeoff_status}}

                    </td>
                    <td>
                        <span class="material-icons" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="getAssetWriteOffIdData(writeoff)" >
                            visibility
                        </span>
                    </td>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="exampleModalLabel">Asset Details</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table style="width: 100%;">
                                        <tr>
                                            <th>Asset ID</th>
                                            <td>{{barcodeData}}</td>
                                        </tr>
                                        <tr>
                                            <th>Product Name</th>
                                            <td>{{ProductNameData}}</td>
                                        </tr>
                                        <tr>
                                            <th>Catagory</th>
                                            <td>{{CatagoryData}}</td>
                                        </tr>
                                        <tr>
                                            <th>Capitalization Date</th>
                                            <td>{{CapitalizationDate}}</td>
                                        </tr>
                                        <tr>
                                            <th>Asset Value</th>
                                            <td>{{AssetValueData}}</td>
                                        </tr>
                                        <tr>
                                            <th>Branch</th>
                                            <td>{{BranchData}}</td>
                                        </tr>
                                        <tr>
                                            <th>Location</th>
                                            <td>{{LocationData}}</td>
                                        </tr>
                                        <tr>
                                            <th>Reason</th>
                                            <td>{{ReasonData}}</td>
                                        </tr>
                                        <tr>
                                            <th>Status</th>
                                            <td>{{StatusData}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
        
        <div *ngIf="WriteOffMakerlist?.length==0; else paginationWriteOff" class="NodataAlign">No Records Found...</div>
        <div style="text-align: center;margin-bottom:100px;" *ngIf="ReasonWriteOffmaker">
            <h2>Reason: {{ReasonShow}} </h2>
        </div>
        <ng-template #paginationWriteOff>
            <div class="cursor" style="font-size: small;text-align:right; margin-bottom:100px;">
                <button mat-icon-button [disabled]="has_previousWriteoff == false" color="primary"
                    (click)="WriteOffpreviousClick()">
                    <mat-icon> arrow_back </mat-icon>
                </button>
                {{presentpageWriteoff}}
                <button mat-icon-button [disabled]="has_nextWriteoff == false" color="primary"
                    (click)="WriteOffnextClick()">
                    <mat-icon> arrow_forward </mat-icon>
                </button>
            </div>
        </ng-template>
    </div>


</div>



<div *ngIf="checker">
    <!-- <a routerLink="/fa/fa" style="margin-left: 50px; font-size: 20px;">FA</a>/ Asset Write Off Checker -->
    <form [formGroup]="writeOffCheckerSearchForm">
        <h2 style="margin-left: 3%;font-family:Times New Roman;font-size:20px;color:blue;font-weight:bold;">Asset Write off Checker Summary</h2><hr>
        <table>
            <tr>
                    <td>
                        <mat-form-field class="example-full-width" style="margin-left: 50px;">
                            <input class="toolbar-search" type="text" formControlName="assetdetails_id" matInput
                                autocomplete="off">
                            <mat-placeholder>Asset Barcode Id</mat-placeholder>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" style="margin-left: 50px;">
                            <input class="toolbar-search" type="text" formControlName="asset_value" matInput
                                autocomplete="off">
                            <mat-placeholder>Asset Value</mat-placeholder>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="margin-left: 50px;">
                            <mat-label>Cap Date</mat-label>
                            <input matInput readonly [matDatepicker]="picker1" placeholder="Cap Date"
                                formControlName="capdate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- <mat-form-field class="example-full-width" style="margin-left: 50px;">
                            <input class="toolbar-search" type="text" formControlName="assetcat_id" matInput
                                autocomplete="off">
                            <mat-placeholder>Category</mat-placeholder>
                        </mat-form-field> -->
    
                        <mat-form-field style="width: 200px; margin-left: 50px;" (click)="getCategoryFK()">
                            <mat-label>Asset SubCategory</mat-label>
                            <input #categoryInput placeholder="Select Category Code" matInput formControlName="assetcat_id"
                                [matAutocomplete]="category">
                            <mat-autocomplete #category="matAutocomplete" [displayWith]="displayFncategory.bind(this)"
                                (opened)="autocompletecategoryScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let category of categoryList" [value]="category.id">
                                        {{category.subcatname}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                        <!-- <mat-form-field class="example-full-width" style="margin-left: 50px;">
                            <input class="toolbar-search" type="text" formControlName="branch_id" matInput autocomplete="off">
                            <mat-placeholder>Branch</mat-placeholder>
                        </mat-form-field> -->
                        <mat-form-field style="width: 200px; margin-left: 50px;" (click)="getbranchFK()">
                            <mat-label>Branch Name</mat-label>
                            <input #branchInput placeholder="Select Branch Code" matInput formControlName="branch_id"
                                [matAutocomplete]="branch">
                            <mat-autocomplete #branch="matAutocomplete" [displayWith]="displayFnbranch.bind(this)"
                                (opened)="autocompletebranchScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let branch of branchList" [value]="branch.id">
                                        {{branch.code}}-{{branch.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                    <button mat-fab color="basic" type="submit" style="margin-left: 50px;" matTooltip="search"
                        (click)="getwriteOffAppsummarySearch()"><mat-icon>search</mat-icon></button>
                </td>
                <td><button mat-fab color="basic" (click)="resetWriteOffApp()" matTooltip="Clear"
                        style="margin-left: 50px;" >Clear</button></td>
            </tr>
        </table>
    </form>

    <div class="table-responsive" style="margin-top: 1%;width: 94%;margin-left: 50px;">
        <table class="table scrolltable table-bordered" fixed-header>
            <thead>
                <tr class="table_header" fixed-header>
                    <th>Sl.No</th>
                    <th>Asset Barcode ID</th>
                    <th>Product Name</th>
                    <th>Asset SubCategory</th>
                    <th>Capitalization date</th>
                    <th>Asset Value</th>
                    <th>Branch Name</th>
                    <th>Location</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Writeoff Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let writeoff of WriteOffApprovallist; index as i">
                    <td>{{ (presentpageWriteoffApp -1)*pageSize+i+1 }}</td>
                    <td>{{ writeoff.barcode}}</td>
                    <td>{{ writeoff.product_id.name}}</td>
                    <td>{{ writeoff.assetcatchange_id.subcatname}}</td>
                    <td>{{ writeoff.capdate | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{ writeoff.assetdetails_value}}</td>
                    <td>{{ writeoff.branch_id.name}}--{{ writeoff.branch_id.code}}</td>
                    <td>{{ writeoff.assetlocation_id.name}}</td>
                    <td style="color:blue; cursor: pointer;" (click)="ReasonShowOffApp(writeoff)">Reason</td>
                    <td>{{ writeoff.assetdetails_status}}</td>
                    <td>{{ writeoff.writeoff_status}}</td>
                    <td><input type="checkbox" [checked]="writeoff.checkbox == true"
                            (click)="selectedAssetValue(writeoff, $event)" class="checkboxsize" /></td>
                    <!-- <div *ngIf="isValid;else other_content">
                                content here ...
                            </div>
                            
                            <ng-template #other_content>other content here...</ng-template> -->
                </tr>
            </tbody>
        </table>
        
        <div *ngIf="WriteOffApprovallist?.length==0; else paginationWriteOffApp" class="NodataAlign">No Records Found...
        </div>
        <div style="text-align: center;margin-bottom:100px;" *ngIf="ReasonShowApproval">
            <h2>Reason: {{ReasonShowApp}} </h2>
        </div>
        <ng-template #paginationWriteOffApp>
            <div class="cursor" style="font-size: small;text-align:right; margin-bottom:100px;">
                <button mat-icon-button [disabled]="!has_previousWriteoffApp" color="primary"
                    (click)="WriteOffApppreviousClick()">
                    <mat-icon> arrow_back </mat-icon>
                </button>
                {{presentpageWriteoffApp}}
                <button mat-icon-button [disabled]="!has_nextWriteoffApp" color="primary"
                    (click)="WriteOffAppnextClick()">
                    <mat-icon> arrow_forward </mat-icon>
                </button>
            </div>
        </ng-template>
    </div>
    <br>
    <!-- <div *ngIf=ischecks> -->
    <div class="row" style="margin-left: 100px; margin-bottom: 100px;" *ngIf="ReasonShowApprovalSubmit">
        <mat-form-field style="margin-left: 15%;width: 220px;">
            <input #rejectInput placeholder="Rejection Reason" type="text" matInput autocomplete="off">
        </mat-form-field>
        <button (click)="WriteOffChecker('', 1)" class="btn btn-outline-success"
            style="border-radius: 40px;margin-left: 50px;font-size: large;">APPROVE</button>
        <button class="btn btn-outline-danger" style="border-radius: 40px;margin-left: 50px;font-size: large;;"
            (click)="WriteOffChecker(rejectInput.value, 3)">REJECT</button>
    </div>
</div>

<div style="margin-left: 50px; margin-bottom: 100px; ">
    <button type="button"  class="btn btn-outline-primary" routerLink="/fa/fa"
    style="border-radius: 40px;margin-left: 10px;">Back</button>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>