<div class="container" style="margin-left: 20px;">
    <h1 style="font-size: 24px;font-family: 'Times New Roman', Times, serif;color: blue;">Employee Bank Details</h1>
</div>
<hr>
<br>
<div class="container">
    <form [formGroup]="empform">
        <div class="row">
            <!-- <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Employee Name</mat-label>
                    <input matInput type="text"  formControlName="name" [matAutocomplete]="empnames"  required (keypress)="keypressnodigit($event)">
                    <mat-autocomplete #empnames="matAutocomplete">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of empnamelist" [value]="d">{{d.name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div> -->
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Employee Code</mat-label>
                    <input type="text" matInput formControlName="name" required [matAutocomplete]="codeemp" (click)="getcodedata()" #codeinput (keypress)="keypressnodigit($event)">
                    <mat-autocomplete #codeemp="matAutocomplete" [displayWith]="getempcodeinterface" (opened)="autocompleteDeptScrollcode()">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of empnamelist" [value]="d">{{d.code}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <!-- <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Employee Code</mat-label>
                    <input matInput type="text"   formControlName="code" [matAutocomplete]="empcodes"  required (keypress)="keypressnodigit($event)">
                    <mat-autocomplete #empcodes="matAutocomplete">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of empcodelist" [value]="d">{{d.name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>

            </div> -->
            <div class="col-md-2">
                <button type="button"  mat-mini-fab (click)="getsummarysearch_new()" class="btn btn-success" matTooltip="search " style="border-radius: 30px;"><mat-icon>search</mat-icon></button>
            </div>
            <div class="col-md-2">
                <button type="button" color="primary" (click)="resetempaccountdetails()" class="btn btn-success" matTooltip="Reset " style="border-radius: 30px;">Reset</button>
            </div>
            <div class="col-md-1">
                <button type="button" color="primary" mat-mini-fab class="btn btn-primary" matTooltip="add " routerLink="/master/empbankadd" style="border-radius: 40px;"><mat-icon>add</mat-icon></button>
            </div><!--routerLink="/master/empbankadd"-->
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" matTooltip="Cancel " (click)="clicktoback()"  style="border-radius: 40px;">Cancel</button>
            </div>

        </div>
    </form>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead class="table_header">
            <tr>
                <th>S.No</th>
                <th>Employee Name</th>
                <th>Employee Code</th>
                <th>PayMode Code</th>
                <th>Bank Name</th>
                <th>Bank Branch</th>
                <th>IFSC Code</th>
                <th>Bank AC No</th>
                <th> Beneficiary Name</th>
                <th>Action</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of empdatalist;let i=index">
                <td>{{(presentPage-1)*pageSize+i+1}}</td>
                <!-- <td>{{(presentPage-1)*pageSize+i+1}}</td> -->
                <td>{{data.employee_full_name}}</td>
                <td>{{data.employee_code}}</td>
                <td>{{data.paymode_name}}</td>
                <td>{{data.bank_name}}</td>
                <td>{{data.bankbranch}}</td>
                <td>{{data.ifsccode?data.ifsccode:'-'}}</td>
                <td>{{data.account_number}}</td>
                <td>{{data.beneficiary_name}}</td>
                <td><button mat-icon-button type="button" (click)="empactiveinactivedata(data)" [ngClass]="data.status?'visible':'inactine'" [matTooltip]="data.status?'click to inactive':'click to active'">
                    <mat-icon  >wb_sunny</mat-icon>
                </button></td>
            </tr>
            <tr *ngIf="empdatalist.length==0">
                <td colspan="3"> No Records Found</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="text-right">
        <button mat-icon-button color="primary" (click)="has_previous()" [disabled]="!has_pre"><mat-icon>arrow_back</mat-icon></button>{{presentPage}}
        <button mat-icon-button  color="primary" (click)="hasnext()" [disabled]="! has_next"><mat-icon>arrow_forward</mat-icon></button>
    </div>
    <br>
    <br>
</div>