mat-form-field {
    font-size: 8px;
    
  }
  
  mat-menu{
    font-family:"Montserrat";
  }
  
  input,mat-select,textarea{
    font-size: 15px;
  }
  
  .mat-label{
    font-size: 14px;
    
  }
  mat-icon{
    cursor: pointer;
    font-size:30px
  }
  
  
  
  mat-datepicker-toggle{
    font-size: 15px;
  }

  .border{
    border:3px solid #EDF8FA ;
    border-radius: 5px;
    background-color: #EDF8FA;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }

  .lastmessage{
    // border: 1px solid;
    // border-radius: 4px;
    vertical-align: inherit;
    padding: 0px 0px 0px 10px;
    overflow-x: auto;
    // max-height:300px;
    max-width:1110px;
    min-width:250px;
    display: inline-block;
  }

  .loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .divcenter{
    margin-left: auto;
    margin-right: auto;
    width: 8em
  }

  .notification {
    // background-color: #555;
    // color: white;
    text-decoration: underline;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .notification:hover {
    // background: grey;
    color:blue;
    cursor: pointer;
  }
  
  .notification .badge {
    position: absolute;
    top: -0px;
    right: -4px;
    padding: 3px 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  
  .modal-dialog .modal-content1 {
    position: relative;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    width: auto;
    margin-left: -22%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    
  }
  .user-msg[_ngcontent-kyu-c1] {
    float: right;
    // color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    text-align: left;
    // background: #21cbe5;
    border-radius: 10px 10px 0;
    padding: 5px 12px;
    margin: 2px 0px 2px 0px;
    word-break: break-word;
    font-size: 15px;
    min-width: 100px;
    margin-left:100px;
    //resize:horizontal;
    overflow: auto;
  }
  
  .user-msg1[_ngcontent-kyu-c1] {
    float: left;
    // color: white;
    text-align: left;
    // background:  #4A708B;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // margin-right: 100px;
    border-radius: 10px 10px 10px 0;
    padding: 5px 12px;
    margin: 2px 100px 2px 0px;
    word-break: break-word;
    font-size: 15px;
    min-width: 100px;
    max-width: auto;
    // resize:horizontal;
    overflow: auto;
  
  }
  .noselect{
 
    color: black;
    border: none;
    border-color: #F5C68B;
    background-color: #F5C68B;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .loader1 {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  .dot {
    margin:20px auto;
    color:darkblue;
    width:95px;
    height:40px;
    --d:radial-gradient(farthest-side,currentColor 90%,#0000);
    background:var(--d),var(--d),var(--d),var(--d);
    background-size:20px 20px;
    background-repeat:no-repeat;
    animation: m 1s infinite;
  }
  
  @keyframes m {
    0%   {background-position:calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%}
    12.5%{background-position:calc(0*100%/3) 0   , calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%}
    25%  {background-position:calc(0*100%/3) 0   , calc(1*100%/3) 0   , calc(2*100%/3) 100%, calc(3*100%/3) 100%}
    37.5%{background-position:calc(0*100%/3) 0   , calc(1*100%/3) 0   , calc(2*100%/3) 0   , calc(3*100%/3) 100%}
    50%  {background-position:calc(0*100%/3) 0   , calc(1*100%/3) 0   , calc(2*100%/3) 0   , calc(3*100%/3) 0   }
    62.5%{background-position:calc(0*100%/3) 100%, calc(1*100%/3) 0   , calc(2*100%/3) 0   , calc(3*100%/3) 0   }
    75%  {background-position:calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 0   , calc(3*100%/3) 0   }
    87.5%{background-position:calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 0   }
    100% {background-position:calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%}
  }

  #scrollstyle::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  #scrollstyle::-webkit-scrollbar-track {
    background:white;        /* color of the tracking area */
  }
  #scrollstyle::-webkit-scrollbar-thumb {
    border-radius: 20px;      /* roundness of the scroll thumb */ 
    background-color:grey ;    /* color of the scroll thumb */
    border: 2px solid white;

}

.modal-header
{
  cursor: all-scroll; 
}