.ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
// .tablescroll {
//   overflow: auto;
//   max-height: 250px; 
//   /* display: block;  */
// }

// .tablescroll thead th {
//   position: sticky;
//   top: 0;
//   background-color: #9ce3ed;
//   z-index: 1;
// }