<div class="container">
	<br>
    <h2>Cost Allocation Master</h2>
    <div [hidden]="page_changes">
        <div>
            <form [formGroup]="allocation_group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4" >
                            <mat-form-field (click)="get_bscc(empty_value,'summary')" style="width: 220px;">
                                <mat-label>Allocation From</mat-label>
                                <input  (keyup)="bsccDropdown('summary')" #bscc_summary_input placeholder="Business" matInput formControlName="allocation"
                                    [matAutocomplete]="bscc_summary_auto" >
                                <mat-autocomplete #bscc_summary_auto="matAutocomplete" [displayWith]="displaybscc" (opened)="bsccscroll('summary')">
                                    <ng-container>
                                        <mat-option *ngFor="let bscc of bscc_summary" [value]="bscc" (click)="allocation_clear('bscc',0)" >
                                            {{bscc.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div  class="col-md-4">
                            <mat-form-field (click)="allocation_group.value.allocation == '' || allocation_group.value.allocation == null || allocation_group.value.allocation == undefined ? '' : bs_search(empty_value,'summary')" style="width: 220px;">
                                <mat-label>BS</mat-label>
                                <input #bs_summary_input placeholder="BS" matInput formControlName="bs"
                                    [matAutocomplete]="bs_summary_auto" (keyup)="bsDropdown('summary')" [readonly]="allocation_group.value.allocation == '' || allocation_group.value.allocation == null || allocation_group.value.allocation == undefined">
                                <mat-autocomplete #bs_summary_auto="matAutocomplete"  [displayWith]="displaybs"
                                (opened)="bsscroll('summary')" >
                                    <ng-container >
                                        <mat-option *ngFor="let bs of bs_summary" [value]="bs" (click)="allocation_clear('bs',0)">
                                            {{bs.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div  class="col-md-4">
                            <mat-form-field (click)="allocation_group.value.bs == '' || allocation_group.value.bs == null || allocation_group.value.bs == undefined ? '' : get_cc(empty_value,'summary')" style="width: 220px;">
                                <mat-label>CC</mat-label>
                                <input #cc_summary_input placeholder="CC" matInput formControlName="cc"
                                    (keyup)="cc_search('summary')" [matAutocomplete]="cc_summary_auto" [readonly]="allocation_group.value.bs == '' || allocation_group.value.bs == null || allocation_group.value.bs == undefined">
                                <mat-autocomplete #cc_summary_auto="matAutocomplete" [displayWith]="displaycc" (opened)="ccscroll('summary')" >
                                    <ng-container >
                                        <mat-option *ngFor="let cc of cc_summary" [value]="cc">
                                            {{cc.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                        <button type="submit" class="btn btn-outline-primary" (click)="costallocation_summary(allocation_group?.value)"
                            style="border-radius:40px;height: 44px; margin-top: 12px;"><i class="fa fa-search" aria-hidden="true">Search</i>
                        </button>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-outline-primary" (click)="costallocation_clear('summary')"
                                style="border-radius:40px;height: 44px; margin-top: 12px;">Clear
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" style="border-radius: 40px;height: 44px; margin-top: 12px;"
                            class="btn btn-outline-primary"  (click)="allocation_page_changes('add',0)">Add</button>
                        </div>
                    </div> 
                </div>
            </form>
        </div>
        <div>
            <div class="table-responsive" class="tablescroll" style="margin-top: 2%;width: 95%;margin-left: 10px;">
                <table class="table table scrolltable table-bordered">
                    <thead class="table_header" style="text-align: center; background-color: #9ce3ed;">
                        <tr style="white-space: nowrap;">
                            <th>S.No</th>
                            <th>Core BS</th>
                            <th>BS</th>
                            <th>CC</th>
                            <th>Validity From</th>
                            <th>Validity To</th>
                            <th>Ratio &nbsp; &nbsp;(%)</th>
                            <th>Status</th>
                            <th>Views</th>
                            <th>Action</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr *ngFor="let cost_obj of allocationsummary; index as i" >
                            <td>{{(presentpage - 1)*identificationSize +i+1 }}</td>
                            <td>
                                <div *ngIf="cost_obj?.corebscc?.length==0">--</div>
                                <div *ngIf="cost_obj?.corebscc?.length!=0">{{cost_obj?.corebscc[0]?.name}}</div>
                            </td>
                            <td>
                                <div *ngIf="cost_obj?.bs_data?.length==0">--</div>
                                <div *ngIf="cost_obj?.bs_data?.length!=0">{{cost_obj?.bs_data?.name}}</div>
                            </td>
                            <td>
                                <div *ngIf="cost_obj?.cc_data?.length==0">--</div>
                                <div *ngIf="cost_obj?.cc_data?.length!=0">{{cost_obj?.cc_data?.name}}</div>
                            </td>
                            <td>{{cost_obj?.validity_from}}</td>
                            <td>{{cost_obj?.validity_to}}</td>
                            <td>{{cost_obj?.ratio}}</td>
                                
                            <td *ngIf="cost_obj?.status==1">Active</td>
                            <td *ngIf="cost_obj?.status==0">InActive</td>
                            <td class="text-center">
                                <a style="color: #00bacc;cursor: pointer;" matTooltip="View" class="ng-binding" (click)='allocation_page_changes("view",cost_obj.id)'>
                                    <mat-icon>visibility</mat-icon>
                                </a>
                            </td>
                            <td class="text-center" style="white-space: nowrap;">
                                <a style="color: #00bacc;cursor: pointer;" matTooltip="Edit" class="ng-binding" [hidden]="cost_obj.status==0" (click)='allocation_page_changes("edit",cost_obj.id)'>
                                    <mat-icon>edit</mat-icon>
                                </a>	&nbsp;	&nbsp;	&nbsp;
        
                                <a (click) = "status_change(cost_obj.id,cost_obj.status)" >
                                
                                    <i *ngIf="cost_obj.status==1" style="font-size:24px;color: #00bacc;cursor: pointer;" class="fa">&#xf014;</i>&nbsp;&nbsp;
                                                    
                                    <i *ngIf="cost_obj.status==0" style="font-size:24px;color: black;cursor: pointer;" class="fa">&#xf014;</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="allocationsummary?.length == 0 || isSummaryPagination == false" style="margin-left: 42%;">
                    <h3>Sorry data not found!.. </h3> 
                </div>
                <div style="margin-bottom: 5%;font-size: small;text-align:right;">
                    <button mat-icon-button [disabled]="has_previous_summary === false" color="primary" (click)="previousClick()">
                        <mat-icon>arrow_back</mat-icon>
                    </button> {{presentpage}}
                    <button mat-icon-button [disabled]="has_next_summary === false" color="primary" (click)="nextClick()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
        
                </div>
                
            </div>
        </div>
    </div>
    <div [hidden]="!page_changes">
        <div>
            <form [formGroup]="allocation_group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3" >
                            <mat-form-field (click)="view_edit ? '' : get_bscc(empty_value,'add')" style="width: 220px;">
                                <mat-label>Allocation From</mat-label>
                                <input  (keyup)="bsccDropdown('add')" #bscc_summary_input_add placeholder="Business" matInput formControlName="allocation"
                                    [matAutocomplete]="bscc_summary_auto_add" required [readonly]="view_edit">
                                <mat-autocomplete #bscc_summary_auto_add="matAutocomplete" [displayWith]="displaybscc_add" (opened)="bsccscroll('add')">
                                    <ng-container >
                                        <mat-option *ngFor="let bscc of bscc_add" [value]="bscc" (click)="allocation_clear('bscc',0)">
                                            {{bscc.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div  class="col-md-3">
                            <mat-form-field (click)="view_edit || allocation_group.value.allocation == '' || allocation_group.value.allocation == null || allocation_group.value.allocation == undefined ? '' : bs_search(empty_value,'add')" style="width: 220px;">
                                <mat-label>BS</mat-label>
                                <input #bs_summary_input_add placeholder="BS" matInput formControlName="bs"
                                    [matAutocomplete]="bs_summary_auto_add" (keyup)="bsDropdown('add')" [readonly]="view_edit || allocation_group.value.allocation == '' || allocation_group.value.allocation == null || allocation_group.value.allocation == undefined" required>
                                <mat-autocomplete #bs_summary_auto_add="matAutocomplete"  [displayWith]="displaybs_add"
                                (opened)="bsscroll('add')" >
                                    <ng-container >
                                        <mat-option *ngFor="let bs of bs_add" [value]="bs" (click)="allocation_clear('bs',0)">
                                            {{bs.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div  class="col-md-3">
                            <mat-form-field (click)="view_edit || allocation_group.value.bs == '' || allocation_group.value.bs == null || allocation_group.value.bs == undefined ? '' : get_cc(empty_value,'add')" style="width: 220px;">
                                <mat-label>CC</mat-label>
                                <input #cc_summary_input_add placeholder="CC" matInput formControlName="cc"
                                    (keyup)="cc_search('add')" [matAutocomplete]="cc_summary_auto_add" [readonly]="view_edit || allocation_group.value.bs == '' || allocation_group.value.bs == null || allocation_group.value.bs == undefined">
                                <mat-autocomplete #cc_summary_auto_add="matAutocomplete" [displayWith]="displaycc_add" (opened)="ccscroll('add')" >
                                    <ng-container >
                                        <mat-option *ngFor="let cc of cc_add" [value]="cc">
                                            {{cc.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Allocation Level</mat-label>
                                <input matInput  autocomplete="off" type="number" formControlName='level' size="50px" [readonly]="view_edit">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Validity From</mat-label>
                                <input matInput [matDatepicker]="validityfrom" formControlName="validity_from" required readonly>
                                <mat-datepicker-toggle matSuffix [for]="validityfrom" [readonly]="view_edit">
                                    <mat-icon  matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #validityfrom startView="multi-year" ></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Validity To</mat-label>
                                <input matInput [matDatepicker]="validityto" formControlName="validity_to" required readonly>
                                <mat-datepicker-toggle matSuffix [for]="validityto" [readonly]="view_edit" >
                                    <mat-icon  matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #validityto startView="multi-year" ></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <button (click)="new_allocation_row()" class="btn btn-outline-primary" style="border-radius: 132px; margin-right: 103px; margin-top: 12px;height: 44px;" ><span class="fa fa-plus"></span></button> <br> <br>
                        </div>
                    </div> 
                </div>
            </form>
        </div>
        <div>
            <form [formGroup]="allocation_group">
                <div formArrayName="to_allocation">
                    <div class="table-responsive" class="tablescroll" style="margin-top: 2%;width: 95%;margin-left: 10px;overflow: auto;">
                        <table class="table table scrolltable table-bordered" style="width: 99%; margin-top: 20px;">
                            <thead class="table_header"  style="text-align: center;background-color: #9ce3ed;">
                                <tr  style="background-color: #9ce3ed;">
                                    <th>S.No</th>
                                    <th>Core BS</th>
                                    <th>BS Name</th>
                                    <th>CC Name</th>
                                    <th>Ratio &nbsp; &nbsp;(%)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allocation_group?.controls?.to_allocation['controls']; let newindex=index" [formGroupName]="newindex">
                                    <td>{{newindex+1}}</td>
                                    <td>
                                        <div>
                                            <mat-form-field (click)="view_edit ? '' : get_to_bscc(empty_value,newindex)" >
                                                <mat-label>Core BS</mat-label>
                                                <input #to_bscc_input placeholder="Core BS" matInput formControlName="to_bscc"
                                                   (keyup)="to_bscc_droupdown(newindex)" [matAutocomplete]="to_bscc_auto" required [readonly]="view_edit">
                                                <mat-autocomplete #to_bscc_auto="matAutocomplete" [displayWith]="display_to_bscc"
                                                    (opened)="bscc_scroll(newindex)">
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let bscc of to_bscc" [value]="bscc" (click)="allocation_clear('bscc_to',newindex)">
                                                            {{bscc.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <mat-form-field (click)="view_edit || allocation_group.value.to_allocation[newindex].to_bscc=='' || allocation_group.value.to_allocation[newindex].to_bscc==undefined || allocation_group.value.to_allocation[newindex].to_bscc == null ? '' : get_to_bs(empty_value,newindex)" >
                                                <mat-label>BS Name</mat-label>
                                                <input #to_bs_input placeholder="Business" matInput formControlName="to_bs"
                                                    (keyup)="to_bs_dropdown(newindex)" [matAutocomplete]="to_bs_auto" required [readonly]="view_edit || allocation_group.value.to_allocation[newindex].to_bscc=='' || allocation_group.value.to_allocation[newindex].to_bscc==undefined || allocation_group.value.to_allocation[newindex].to_bscc == null">
                                                <mat-autocomplete #to_bs_auto="matAutocomplete" [displayWith]="display_to_bs"
                                                (opened)="bs_scroll(newindex)">
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let bs of to_bs" [value]="bs" (click)="allocation_clear('bs_to',newindex)">
                                                            {{bs.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div> 
                                    </td>
                                    <td>
                                        <div>
                                            <mat-form-field (click)="view_edit || allocation_group.value.to_allocation[newindex].to_bs=='' || allocation_group.value.to_allocation[newindex].to_bs==undefined || allocation_group.value.to_allocation[newindex].to_bs == null ? '' : get_to_cc(empty_value,newindex)" >
                                                <mat-label>CC Name</mat-label>
                                                <input #to_cc_input placeholder="CC Name" matInput formControlName="to_cc"
                                                   (keyup)="to_cc_dropdown(newindex)" [matAutocomplete]="to_cc_auto" [readonly]="view_edit || allocation_group.value.to_allocation[newindex].to_bs=='' || allocation_group.value.to_allocation[newindex].to_bs==undefined || allocation_group.value.to_allocation[newindex].to_bs == null">
                                                <mat-autocomplete #to_cc_auto="matAutocomplete" [displayWith]="display_to_cc"
                                                   (opened)="cc_scroll(newindex)" >
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let cc of to_cc" [value]="cc">
                                                            {{cc.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div> 
                                    </td>
                                    <td>
                                        <div >
                                            <mat-form-field>
                                                <mat-label>Ratio</mat-label>
                                                <input type="number" matInput  min="1"  formControlName="to_ratio" [readonly]="view_edit"
                                                   (keyup)="ration_cal()" placeholder="Ratio"  autocomplete="off" required>
                                            </mat-form-field>
                                        </div>
                                    </td>
                                    <td style="text-align: center;"> 
                                        <i (click) = "deleteRow(newindex)" matTooltip="Delete" style="font-size:24px;color: black;cursor: pointer;" class="fa">&#xf014;</i>
                                    </td>
                                </tr>
                               <tr>
                                    <td colspan="4" style="text-align: end;"><strong>Ratio &nbsp; &nbsp;(%)</strong></td>
                                    <td>{{total_ratio | number:'1.1-2'}}</td>
                               </tr>
                            </tbody>
                        </table>
                        
                        <!-- <div *ngIf="supplierList ?.length == 0" style="margin-left: 42%;">
                            <h3>Sorry data not found!.. </h3> </div> -->
                        <!-- <button style="border-radius: 40px;margin-left: 10px;"
                                class="btn btn-outline-primary" (click)="SaveDelivaryDetails()" >Save</button> -->
                    </div>
                </div>
            </form>
        </div>

        <div> 
            <div class="col-md-12">
                <div class="row" style="margin-left: 400px;margin-bottom: 47px;">
                    <div *ngIf="!view_edit">
                        <button type="submit" style="border-radius: 40px;"
                        class="btn btn-outline-primary" (click)="allocat_value()">Submit</button>
                    </div> 
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <div>
                        <button type="submit" style="border-radius: 40px;"
                        class="btn btn-outline-primary" (click)="costallocation_clear('summary_add')">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>