<div style="margin-left: 50px;margin-top: 3%; width: 100%;" class="col-12">
    <h3 style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;">
        Edit Department
    </h3><hr>
    <div>
        <form [formGroup]="deptEditForm" (ngSubmit)="submitForm()">
            <table>
                <tr>
                    <td>
                        <mat-form-field style="width: 250px;">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" formControlName="name" required>
                        </mat-form-field>
                    </td>
                
                    <td>
                        <mat-form-field style="width: 250pxpx;margin-left: 50px;">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Description" formControlName="description" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 250px;margin-left: 50px;">
                            <mat-label>Short Notation</mat-label>
                            <input matInput placeholder="Short Notation" formControlName="short_notation" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <button type="submit" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-primary" 
                >Submit</button>
            <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
             style="border-radius: 40px;margin-left: 10px;">Cancel</button>
                    </td>
                </tr>
            </table>
            
        </form>
    </div>
    <br>
    <br>
    <div class="container">
        <table class="table table-bordered">
            <thead class="table_header">
                <tr>
                    <th>S.No</th>
                    <th>Department Name</th>
                    <th>Department Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of depsummarylist;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.code}}</td>
                </tr>
            </tbody>
        </table>
    </div>