.btn-outline-success{
    margin-left: 10px;
}
.btn-cancel {
    margin-left: 30%;
}

.sub-from{
    width:300px !important;
    margin-left: 10px;
}
textarea.mat-input-element {
    margin-bottom: -23px;
}