<div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 100%;">

    <h3>
        Edit Priority Form
    </h3>
    <div>
        <form [formGroup]="priorityEditForm" (ngSubmit)="submitForm()">
            <table>
                <tr>
                    <td>
                        <mat-form-field style="width: 175px;">
                            <mat-label>Code</mat-label>
                            <input matInput placeholder="Code" formControlName="code" autocomplete="off" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 175px;margin-left: 50px;">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" formControlName="name" autocomplete="off" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <button type="submit" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-primary"
                [disabled]="priorityEditForm.invalid">Submit</button>
            <button [routerLink]='"/ememo/memoMaster"' skipLocationChange class="btn btn-outline-primary"
            style="border-radius: 40px;margin-left: 10px;">Cancel</button>

        </form>
    </div>
</div>
