<div class="container" style="max-width: 1345px;">
    <div class="col-md-12">
        <h2 style="margin-left: 2%;font-family:Times New Roman;font-size:20px;color:blue;font-weight:bold;">Asset Transfer Maker Summary</h2>
<form [formGroup]="transfermarkersearch" (ngSubmit)="getAssetTransfer()" >
    <div class=" row col-md-12">
        
    <!-- Asset category  -->
    <div class="col-md-3">
        <mat-form-field  (click)="asset_category()" style="width: 230px;">
            <mat-label>Asset Sub-Category</mat-label>
            <input #categoryInput  placeholder="Select Asset Category" matInput formControlName="category"
            [matAutocomplete]="categoryAutoComplete"   >
            <!-- <mat-error *ngIf="vendorSearchForm.controls.category.errors?.matchRequired">
                Please select a character from the list.
              </mat-error> -->
        <mat-autocomplete #categoryAutoComplete="matAutocomplete" [displayWith]="displayFnAssest" (opened)="autocompleteScrollcategory()" >
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option   *ngFor="let category of category" [value]="category">{{category.subcatname}}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
        <!-- <mat-error *ngIf="vendorSearchForm.controls['category'].hasError('incorrect')">
            Please select a valid project
        </mat-error> -->
        
        </mat-form-field>
    </div>
     <!--End Asset category  -->

   <!-- Branch Name -->
   <div class="col-md-3">
            <mat-form-field  (click)="Branch()" style="width: 268px;">
                <mat-label>Branch Name</mat-label>
                <input #BranchInput placeholder="Select Branch Name" matInput formControlName="branch_name" (focusout)="onFocusOutEvent($event)"
                [matAutocomplete]="branch"   >
            <mat-autocomplete #branch="matAutocomplete" [displayWith]="displayFn" (opened)="autocompleteScroll()" >
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option   *ngFor="let employee of employeeList" [value]="employee">{{employee.name}}
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
            </mat-form-field>
        </div>

            <!-- End Branch Name -->           
   <!-- Asset barcode -->
   <div class="col-md-3" >
    <mat-form-field   style="width: 230px;">
        <!-- (click)="Assetbarcode()" -->
        <mat-label > Asset Barcode ID</mat-label>
        <input #AssetInput placeholder="Select Asset Barcode" matInput formControlName="barcode"
         >
         <!-- [matAutocomplete]="asset"   -->
    <!-- <mat-autocomplete #asset="matAutocomplete" [displayWith]="displayFnAssestId" (opened)="autocompleteScrollAssetId()">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading">
            <mat-option   *ngFor="let details of assetDetails" [value]="details">{{details.barcode}}
            </mat-option>
        </ng-container>
    </mat-autocomplete> -->
    </mat-form-field>
</div>
<!-- End Asset barcode -->

<!-- cap date -->

<div class="col-md-3">
    <mat-form-field>
        <mat-label>Capitalisation Date</mat-label>
        <input matInput [matDatepicker]="excemfrom" formControlName="capdate_Value">
        <mat-datepicker-toggle matSuffix [for]="excemfrom"></mat-datepicker-toggle>
        <mat-datepicker #excemfrom disabled="false"></mat-datepicker>
    </mat-form-field>
</div>
<!-- end Cap Date -->
<!-- Asset Value -->
<div class="col-md-2">
<mat-form-field>
    <mat-label>Asset Value</mat-label>
    <input type="number" formControlName="asset_value" (keypress)="decimalFilter($event)" matInput
        placeholder="Asset Value">
</mat-form-field>
</div>
<!-- end Asset Value -->
<div class="col-md-3">
    <mat-form-field style="width: 250px;">
        <mat-label>Employee Name</mat-label>
        <input type="text" matInput formControlName="empname" [matAutocomplete]='emprefs'>
        <mat-autocomplete #emprefs="matAutocomplete"  [displayWith]="empdataintreface"> 
            <mat-option *ngIf="isLoading">Loading..</mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let d of empdrpdwndata" [value]="d">{{d.full_name}}</mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
</div>
<div class="col-md-1">
<button type="submit" mat-fab style="border-radius:40px; margin-top: 12px;" color="basic" matTooltip="Search"><mat-icon>search</mat-icon>
</button></div>
<div class="col-md-1">
    <button type="button" mat-fab class="btn btn-outline-primary" matTooltip="Clear" (click)="clearSearch()" color="basic"
        style=" margin-top: 12px;">Clear
    </button>
</div>
<div class="col-md-2">
    <button type="button" mat-fab style="margin-left: 10px;margin-top:12px;background-color: rgb(233, 171, 55);"
                         matTooltip="Asset Transfer Add"   [routerLink]='"/fa/transfermakeradd"'><mat-icon>add</mat-icon></button>
   <!-- <button type="button" class="btn btn-outline-primary" [routerLink]='"/fa/transfermakeradd"'
        skipLocationChange style="border-radius: 40px; height: 44px;width:100px"><mat-icon>add</mat-icon>
        Add</button>--></div>
       
        <div class="col-md-1">
<button type="button" mat-fab  routerLink="/fa/fa" color="basic" matTooltip="Back"
                    style=" margin-top: 12px;">Back</button></div>
</div>  
</form>




<!-- table -->
<div class="table-responsive" class="tablescroll" style="margin-top: 2%;width: 95%;margin-left: 10px;overflow: auto;">
<table class="table table scrolltable table-bordered" style="width: 99%; margin-top: 20px;">
    <thead class="table_header " fixed-header>
        <tr>
          <th>S.No</th> 
          <th>Asset Barcode ID</th>             
            <th>Asset Sub-Category</th>
            <th>Asset Value</th>
            <th>Capitalisation Date</th>
            <th>Branch From</th>
            <th>Branch To</th>
            <th>Product Name</th>
            <th>Employee Name</th>
            <th>Location</th>
            <th>Reason</th>
            <th>Transfer Status</th>
            <th>Status</th>
            <!-- <th>Action</th> -->
            
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let value of assetTransfer; index as i;">
            <td style="text-align:center;"> {{(presentpage - 1)*identificationSize +i+1 }} </td>
            <td>{{value.barcode}}</td>
            <td>{{value.assetcat_subcatname}}</td>
            <td style="text-align:end;">{{value.assetdetails_value}}</td>
            <td style="text-align:center;">{{value.capdate| date:'dd-MMM-yyyy'}}</td>
            <td>{{value.assetbranch_from}}</td>
            <td>{{value.assetbranch_to}}</td>
            <td>{{value.product_name}}</td>
            <td>{{value.empname?value.empname:'-'}}</td>
            <!-- <td><input type="number" class="form-control" name="newvalue-{{i}}"  [(ngModel)]="value.newvalue"> </td> -->
           
            <td>{{value?.location?.name}}</td>
            <td>{{value.reason}}</td>
            <td>{{value.status}}</td>
            <td>{{value.assetdetails_status}}</td>
            
           <!-- <td><input [disabled]="value.approval_flag.checked"  type="checkbox" [value]="value.id" (change)="onCheckboxChange($event,value)"></td> -->
           
        </tr>
    </tbody>
</table>
<div *ngIf="assetTransfer?.length == 0" style="margin-left: 42%;">
    <h3>Sorry data not found!.. </h3>
</div>
</div>

<div style="margin-bottom: 5%;font-size: small;text-align:right;">
    <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
        <mat-icon>arrow_back</mat-icon>
    </button> {{presentpage}}
    <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
        <mat-icon>arrow_forward</mat-icon>
    </button>

</div>
<!-- <table mat-table  [dataSource]="dataList" class="mat-elevation-z8 table table-bordered mattable" >
    <ng-container matColumnDef="S.No">
      <th mat-header-cell *matHeaderCellDef>S.No </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{(presentpage - 1)*identificationSize +i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="Asset Barcode ID">
      <th mat-header-cell *matHeaderCellDef> Asset Barcode ID </th>
      <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
    </ng-container>
    <ng-container matColumnDef="Asset Sub-Category">
      <th mat-header-cell *matHeaderCellDef> Asset Sub-Category </th>
      <td mat-cell *matCellDef="let element"> {{element.assetcat_subcatname}} </td>
    </ng-container>
    <ng-container matColumnDef="Asset Value">
      <th mat-header-cell *matHeaderCellDef> Asset Value </th>
      <td mat-cell *matCellDef="let element"> {{element.assetdetails_value}} </td>
    </ng-container>
    <ng-container matColumnDef="Capitalisation Date">
      <th mat-header-cell *matHeaderCellDef> Capitalisation Date</th>
      <td mat-cell *matCellDef="let element"> {{element.capdate| date:'dd-MMM-yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="Branch From">
      <th mat-header-cell *matHeaderCellDef> Branch From</th>
      <td mat-cell *matCellDef="let element"> {{element.assetbranch_from}} </td>
    </ng-container>
    <ng-container matColumnDef="Branch To">
      <th mat-header-cell *matHeaderCellDef> Branch To</th>
      <td mat-cell *matCellDef="let element"> {{element.assetbranch_to}} </td>
    </ng-container>
    <ng-container matColumnDef="Product Name">
      <th mat-header-cell *matHeaderCellDef> Product Name</th>
      <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
    </ng-container>
    <ng-container matColumnDef="Employee Name">
      <th mat-header-cell *matHeaderCellDef> Employee Name</th>
      <td mat-cell *matCellDef="let element"> {{element.empname ? element.empname:'-'}} </td>
    </ng-container>
    <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef> Location</th>
      <td mat-cell *matCellDef="let element"> {{element.location ? element.location.name:'-'}} </td>
    </ng-container>
    <ng-container matColumnDef="Reason">
      <th mat-header-cell *matHeaderCellDef> Reason</th>
      <td mat-cell *matCellDef="let element"> {{element.reason ? element.reason:'-'}} </td>
    </ng-container>
    <ng-container matColumnDef="Transfer Status">
      <th mat-header-cell *matHeaderCellDef> Transfer Status</th>
      <td mat-cell *matCellDef="let element"> {{element.assetdetails_status ? element.assetdetails_status:'-'}} </td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status ? element.status:'-'}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="listofcolumns"></tr>
    <tr mat-row *matRowDef="let row; columns: listofcolumns;let i=index"></tr>
  </table> -->
  
  
</div>
</div>
<br>
<br>
<br><br><br>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>