.table_header {
  
    text-align: center;
    font-size: 13px;
}

.filter-btn {
    margin-left: 30px;
}
th{
    text-align:center;
    font-size: 14px;
  }
  tbody td {
    padding: 0.5em 0.1em 1.1em;
}
// .mat-header-cell{
//     background-color:#f6f6f6;
//   color: black;
//   padding-right: 10px;
//   font-weight:500;
// }
// .mattable{
//   font-size: 25px;
//   overflow-y: auto;
// }