
<div >
    
<div style="margin-left: 19px;margin-right: 80%;margin-top: 1%;">
    <!-- <h3>
        Client Edit Form
    </h3> -->
    <div>
        <form [formGroup]="clientEditForm" (ngSubmit)="clientEditForm_()" autocomplete="off">
            <table>
                <div>
                    <tr>
                        <td>
                            <mat-label>Name<label style="color: red;" >*</label></mat-label><br>
                            <mat-form-field class="matformfieldstyle" appearance="outline" style="width: 175px;">
                                
                                <input matInput formControlName="name" class="matformfieldinputstyle" type="text" (keypress)="addressvalidation($event)"  autocomplete="off" required>
                            </mat-form-field>
                        </td>
                    </tr>

                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <h3>Address </h3>
                                    <div [formGroup]="clientEditForm.controls.address">
                        <tr>
                            <td>
                                <mat-label>Address 1<label style="color: red;" >*</label></mat-label><br>
                                <mat-form-field class="matformfieldstyle" appearance="outline" style="width: 175px; ">
                                    
                                    <input matInput formControlName="line1" class="matformfieldinputstyle" type="text" (keypress)="addressvalidation($event)" autocomplete="off" 
                                        required>
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-label  style="margin-left: 30px;" >Address 2<label style="color: red;" >*</label></mat-label><br>
                                <mat-form-field class="matformfieldstyle" appearance="outline" style="width: 175px;margin-left: 30px ">
                                    
                                    <input matInput formControlName="line2" class="matformfieldinputstyle" type="text" (keypress)="addressvalidation($event)" autocomplete="off"
                                        >
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-label style="margin-left: 30px;" >Address 3</mat-label><br>
                                <mat-form-field class="matformfieldstyle" appearance="outline" style="width: 175px;margin-left: 30px ">
                                   
                                    <input matInput  class="matformfieldinputstyle" formControlName="line3"   type="text" (keypress)="addressvalidation($event)" autocomplete="off"
                                       >
                                </mat-form-field>
                            </td>
                        <tr>
                            <td>
                                <mat-label>Pin Code<label style="color: red;" >*</label></mat-label><br>
                                <mat-form-field class="matformfieldstyle" appearance="outline" style="width: 175px; " (click)="pincodename()">
                                    
                                    <input #pinCodeInput  class="matformfieldinputstyle"  matInput maxlength="6"
                                        formControlName="pincode_id" autocomplete="off" [matAutocomplete]="pintype" required>
                                        <mat-icon matSuffix class="maticonsize" >unfold_more</mat-icon>
                                    <mat-autocomplete #pintype="matAutocomplete" [displayWith]="displayFnpin"
                                        (opened)="pinCodeScroll()">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let pin of pinCodeList" (focusout)="pinCode(pin)"
                                                [value]="pin">
                                                {{pin.no}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-label style="margin-left:30px ;" >City<label style="color: red;" >*</label></mat-label><br>
                                <mat-form-field class="matformfieldstyle" appearance="outline" style="width: 175px; margin-left: 30px" (click)="cityname()">
                                    
                                    <input #cityInput matInput class="matformfieldinputstyle"  formControlName="city_id" autocomplete="off" maxlength="6"
                                        [matAutocomplete]="autocit" required>
                                        <mat-icon matSuffix class="maticonsize" >unfold_more</mat-icon>
                                    <mat-autocomplete #autocit="matAutocomplete" [displayWith]="displaycit"
                                        (opened)="cityScroll()">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let city of cityList" (focusout)="citys(city)"
                                                [value]="city">{{city.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-label style="margin-left: 30px;" >District<label style="color: red;" >*</label></mat-label><br>
                                <mat-form-field class="matformfieldstyle" appearance="outline" style="width: 175px; margin-left: 30px" (click)="districtname()">
                                    
                                    <input #districtInput class="matformfieldinputstyle" matInput formControlName="district_id"
                                         autocomplete="off" [matAutocomplete]="autodis" required>
                                         <mat-icon matSuffix class="maticonsize" >unfold_more</mat-icon>
                                    <mat-autocomplete #autodis="matAutocomplete" [displayWith]="displaydis"
                                        (opened)="districtScroll()">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let district of districtList" (focusout)="districts(district)" [value]="district">
                                                {{district.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-label>State<label style="color: red;" >*</label></mat-label><br>
                                <mat-form-field class="matformfieldstyle" appearance="outline" style="width: 175px;" (client)="statename()">
                                   
                                    <input #stateInput class="matformfieldinputstyle" matInput formControlName="state_id"
                                        autocomplete="off" [matAutocomplete]="statetype" required>
                                        <mat-icon matSuffix class="maticonsize" >unfold_more</mat-icon>
                                    <mat-autocomplete #statetype="matAutocomplete" [displayWith]="displayFnstate"
                                        (opened)="stateScroll()">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let state of stateList" (focusout)="states(state)" [value]="state">
                                                {{state.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                        </tr>
    </div>
</div>
</td>
</tr>
</tbody>
</table>
</table>

</form>
</div>
</div>
<div style="margin-left:12px ;margin-top: 3%">
    <button type="button" class="btn btn-light" (click)="onCancelClick()"
    style="border-radius: 7px;margin-left: 10px;
    border-color: black;
    background-color: white;">Cancel</button>
    <button type="submit" style="border-radius: 10px;margin-left: 10px;
    border-color: #f5c68b;
    background-color: #f5c68b;" class="btn btn-light" (click)="clientEditForm_()" >Submit</button>
</div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen] = "true" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>