<mat-card>
    
    <h2 style="color: blueviolet;margin-left: 35px;;">Asset Depreciation Calculation</h2>
    <hr>
    <form [formGroup]="depreciationform" (ngSubmit)="onsubmit()">
        <div class="jumbotron" style="margin-left: 35px;margin-right: 35px;background:rgb(166, 192, 214);height:250px;border-bottom: -40px;">
            <div class="row" style="margin-left: 5px;">
                    <div class="col-md-3" >
                           

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>From Date</mat-label>
                                    <input matInput matStartDate [matDatepicker]="picker" placeholder="Start date" [(ngModel)]="startDate" [max]="latest_date" [formControl]="fromdate" [disabled]="hideFlag" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            
                           
                        </div>
                    <div class="col-md-3">
                        

                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>To Date</mat-label>
                                <!-- [max]="latest_date" -->
                                <input matInput matEndDate [matDatepicker]="picker1" placeholder="End date" [(ngModel)]="endDate" [min]="fromdate.value"  [formControl]="todate" required [disabled]="hideFlag">
                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>

                       
                    </div>
                <div class="col-md-4" >
                    
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button *ngFor="let a of array" [value]="a" checked="Forecasting" (change)="radioChange($event)">
                            {{a}}
                            </mat-radio-button>
                        </mat-radio-group>    
                    
                </div>
                    <div class="col-md-2" >
                        <mat-form-field class="example-full-width" style="width:200px;" appearance="fill" [floatLabel]="floatLabelControl.value">
                            <mat-label>Depreciation Type</mat-label>
                            <input matInput placeholder="Depreciation Type" disabled="disable">
                        </mat-form-field>
                    </div>
            <br>
                    <div class="col-md-3" >
                        <mat-form-field class="example-full-width" style="width:245px;" appearance="fill" [floatLabel]="floatLabelControl.value">
                            <mat-label>GL No</mat-label>
                            <input matInput placeholder="GL No" disabled="disable">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" >
                        <mat-form-field class="example-full-width" style="width:245px;" appearance="fill" [floatLabel]="floatLabelControl.value">
                            <mat-label>GL Ref No</mat-label>
                            <input matInput placeholder="GL Ref No" disabled="disable">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" >
                           

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>IT Calculate Date</mat-label>
                            <input matInput matItDate [matDatepicker]="picker3" placeholder="IT date" [(ngModel)]="itDate" [formControl]="itdate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker3">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    
                   
                </div>
                    <div class="col-md-3" >
                        <button mat-flat-button color="success" [disabled]="!depreciationform.valid" (click)="searchFor()">CALCULATION</button>
                    </div>
                <!-- <div class="col-sm-3" style="margin-top: 10px;">
                    <button mat-flat-button color="success" (click)="tempRegularDownload()">TEMP REGULAR DOWNLOAD</button>
                    <button mat-flat-button color="success" style="margin-top: 10px;" (click)="tempDownload()">TEMP FORECAST DOWNLOAD</button>
                </div> -->
                </div>
        </div>
    
        <br>
        <div class="row" style="margin-left: 30px; margin-left: 18px; margin-top: 10px;">
            <div class="colss1">
                <mat-form-field appearance="fill">
                    <mat-label>Select Month and Year</mat-label>
                    <input matInput [matDatepicker]="dp" formControlName="regdate">
                    <mat-datepicker-toggle matSuffix [for]="dp">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp>
                    </mat-datepicker>
                    <!-- (yearSelected)="chosenYearHandler($event)"
                                    (monthSelected)="chosenMonthHandler($event, dp)"
                                    (dateSelected)="chosenDateHandler($event)" -->
                  </mat-form-field>
                </div>
                <div class="colss2">
                    <button mat-flat-button color="success" (click)=regularPrepare()>PREPARE REGULAR EXCEL</button>
                </div>
                <div class="colss">
                    <button mat-flat-button color="primary" (click)=regularDownload() [disabled]="downloadRegularFlag">REGULAR EXCEL</button>
                </div>
                <div class="colss">
                    <button mat-flat-button color="success" (click)=forecastPrepare()>PREPARE FORECAST EXCEL</button>
                </div>
                <div class="colss">
                    <button mat-flat-button color="primary" (click)=forecastDownload() [disabled]="downloadForecastFlag">FORECAST EXCEL</button>
                </div>
                <div class="colss">
                    <button  type="button" class="btn btn-primary"  (click)="download_file()"  style="border-radius: 40px;height: 40px;">
                        IT Depreciation Download
                            <mat-icon *ngIf="first"><mat-spinner color="accent" diameter="20">
                            </mat-spinner></mat-icon>
                            <mat-icon *ngIf="!first" inline=true style="color:black">download</mat-icon>
                      </button>
                </div>
                </div></form>
            <div class="container col-sm-12">
                   <table class="table table-responsive table-bordered" style="margin-left: -5px;">
                       <thead class="table_header">
                           <tr>
                               <th>S.No</th>
                               <th>Asset ID</th>
                               <th>Asset Tran ID</th>
                               <th>Asset Category</th>
                               <th>Depreciation Fromdate</th>
                               <th>Depreciation Todate</th>
                               <th>CP Date</th>
                               <th>Asset Cost</th>
                               <th>Branch Name</th>
                               <th>Depreciation Method</th>
                               <th>Depreciation ITC</th>
                               <th>Depreciation CA</th>
                               <th>Depreciation MGMT</th>
                               <th>Depreciation GL</th>
                               <th>Depreciation Res GL</th>
                               <th>Depreciation Value</th>
                           </tr>
                       </thead>
                       <tbody>
                        <tr  *ngFor="let assetcat of listcomments; index as listIndex">
                            <th scope="row">{{ (presentpagebuk-1)*pageSize+listIndex+1 }}</th>
                                    <!-- <td>{{ assetcat.id }}</td> -->
                                    <td>{{ assetcat.assetdetails_gid }}</td>
                                    <td>{{ assetcat.assetdetails_id }}</td>
                                    <td>{{ assetcat.assetcat_subcatname }}</td>
                                    <td>{{ assetcat.depreciation_fromdate }}</td>
                                    <td>{{ assetcat.depreciation_todate }}</td>
                                    <td>{{ assetcat.asset_cap_date }}</td>
                                    <td>{{ assetcat.assetdetails_cost }}</td>
                                    <td>{{ assetcat.branch_id }}</td>
                                    <td>{{ assetcat.assetcat_deptype }}</td>
                                    <td>{{ assetcat.depreciation_itcvalue }}</td>
                                    <td>{{ assetcat.depreciation_cavalue }}</td>
                                    <td>{{ assetcat.depreciation_month }}</td>
                                    <td>{{ assetcat.depreciation_gl }}</td>
                                    <td>{{ assetcat.depreciation_resgl }}</td>
                                    <td>{{ assetcat.depreciation_value }}</td>
                        </tr>
                        <tr *ngIf="listcomments ?.length == 0">
                            <td colspan="17">
                                No records
                            </td>
                        </tr>
                       </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6" style="font-size: small;text-align: right;margin-bottom: 100px;">
                                    <button mat-icon-button [disabled]="has_previousbuk === false" color="primary"
                                        (click)=" bukpreviousClick()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                    {{presentpagebuk}}
                                    <button mat-icon-button [disabled]="has_nextbuk === false" color="primary" (click)=" buknextClick()">
                                        <mat-icon>arrow_forward</mat-icon>
                                    </button>
                                    </div>
                                </div>
            </div>
</mat-card>
